<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PamantasanPH</title>
    <!-- <link rel="stylesheet" href="prototype.css"> -->
</head>
<body>
	<!-- City of Malabon University -->
	<div class="container">
		<h2>City of Malabon University</h2>
		<p>Pampano cor., Maya-Maya Sts., Longos City of Malabon</p>
		<div class="status">
		  <i class="status-icon fa fa-circle" id="status-icon"></i>
		  <span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>List of Requirements</h3> <!-- List of Requirements -->
		<h4>FOR GRADUATING SHS STUDENTS</h4>
		<ol>
		  <li>Certified True Copy of Grade 11 SHS Final Report Card</li>
		  <li>CMU Recommendation Form accomplished and signed by the Class Adviser, School Principal, and Guidance Counselor</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background</li>
		</ol>
		<h4>FOR GRADUATES OF PREVIOUS SCHOOL YEARS</h4>
		<ol>
		  <li>Certified True Copy of Grade 11 SHS Final Report Card</li>
		  <li>CMU Recommendation Form accomplished and signed by the Class Adviser, School Principal, and Guidance Counselor</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background</li>
		</ol>
		<h4>PASSERS OF ALS</h4>
		<ol>
		  <li>Certified True Copy of ALS Report Card with 100% percentile rating or better</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background</li>
		</ol>
		<h4>FOR TRANSFEREES/RETURNEES</h4>
		<ol>
		  <li>Photocopy (CTC) of Transcript of Record</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background (Computer generated pictures are not allowed)</li>
		</ol>
		<h4>EXEMPTION FROM UNDERGRAD ADMISSION TEST AND ADMISSION FEE</h4>
		<p>SHS Graduating Honor Students (With Highest Honors) and Student-Athletes are eligible to apply for EXEMPTION from taking the Undergrad Admission Test and paying the admission fee. Such exemptions may be granted upon submission of the following documents:</p>
		<ol>
		  <li>Certified True Copy of Grade 11 SHS Final Report Card</li>
		  <li>CMU Recommendation Form accomplished and signed by the Class Adviser, School Principal, and Guidance Counselor</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background</li>
		  <li>Certification from the School Principal</li>
		</ol>
		<ul>
		  <li>For Honor Students: With Highest Honors</li>
		  <li>For Student-Athletes: Participation in National and International Sports Competitions</li>
		</ul>

		<h3>University Specialization</h3> <!-- University Specialization -->
		<ul>
			<li>Business Administration</li>
			<li>Accountancy</li>
		</ul>

		<h3>University Courses</h3> <!-- University Courses -->
		<ul>
		  <li>Bachelor of Arts in Journalism</li>
		  <li>Bachelor of Arts in Political Science</li>
		  <li>Bachelor of Public Administration</li>
		  <li>Bachelor of Science in Social Work</li>
		  <li>Bachelor of Science in Criminology</li>
		  <!-- <li>Bachelor of Science in Business Administration (B.S.B.A) Major in: </li> -->
		  <!-- <li>Financial Management</li>
		  <li>Human Resource Management</li>
		  <li>Marketing Management</li> -->
		  <li>Bachelor of Science in Accountancy (B.S.A)</li>
		  <li>Bachelor of Science in Management Accounting (B.S.M.A)</li>
		  <li>Bachelor of Science in Information Technology (BSIT)</li>
		  <li>Bachelor in Elementary Education (BEED)</li>
		  <li>Bachelor in Secondary Education (BSE)
			<ul>
				<li>English</li>
				<li>Mathematics</li>
				<li>Social Studies</li>
			  </ul>
		  </li>
		  <li>Bachelor of Early Childhood Education (BECED)</li>
		  <li>Doctor of Educational Management (DEM)</li>
		  <li>Doctor of Business Administration (DBA)</li>
		  <li>Doctor of Public Administration (DPA)</li>
		  <li>Master of Arts in Educational Management (MAEM)</li>
		  <li>Master in Business Administration (MBA)</li>
		  <li>Master in Public Administration (MPA)</li>
		</ul>

		<h3>Application Process</h3> <!-- Application Process -->
		<ul>
			<li>Accomplishment of the Online Admission Application Form</li>
			<li>Pay the admission fee at the Finance Office</li>
			<li>Take the CMU Undergraduate Admission Examination</li>
			<li>Pass the Academic Interview</li>
			<li>Receive the Acceptance Notice</li>
			<li>Sign the scholarship contract and receive the scholarship certificate</li>
			<li>Enroll onsite</li>
		</ul>

		<p>Contact Information:</p> <!-- Contact Information -->
		<ul>
			<li>Email: 
				<ul>
					<li><a href="u.admissions@cityofmalabonuniversity.edu.ph">u.admissions@cityofmalabonuniversity.edu.ph</a></li>
					<li><a href="ro@cityofmalabonuniversity.edu.ph">ro@cityofmalabonuniversity.edu.ph</a></li>
				</ul>
			</li>
			<!-- <li>Telephone: (+632) 5335-1787 or 5335-1777 local 176</li> ???-->
			<li>Website: <a href="https://cityofmalabonuniversity.edu.ph/">https://cityofmalabonuniversity.edu.ph/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/cityofmalabonuniversity">https://www.facebook.com/cityofmalabonuniversity</a></li>
		</ul>
	</div>

	<!-- Dr. Filemon C. Aguilar Memorial College of Las Pinas -->
	<div class="container">
		<h2>Dr. Filemon C. Aguilar Memorial College of Las Pinas</h2>
		<p>Golden Gate Subdivision, Talon III, Las Piñas, 1747 Metro Manila</p>
		<div class="status">
		  <i class="status-icon fa fa-circle" id="status-icon"></i>
		  <span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>List of Requirements</h3> <!-- List of Requirements -->
		<ol>
		  <li>Application to the Dr. Filemon C. Aguilar Memorial College of Las Piñas College Admission Test is done Online Pre-Registration</li>
		  <li>Senior High School graduates currently enrolled in Grade 12 may apply for DFCAMCLP College Admission Test (DCAT)</li>
		  <li>The following are the requirements for the DCAT: a. Preferably must be a graduate of the K-12 Program, specifically:
			<ul>
				<li>Accountancy, Business, and Management (ABM) strands for Business and Accountancy</li>
				<li>Science, Technology, Engineering and Mathematics (STEM) strands for Computer Engineering</li>
				<li>All strands for Information Systems</li>
				<li>Priority will be given to the graduates of Senior High School with no grades lower than 83% in all learning areas</li>
				<li>Must have at least 80% correct answers in the DCAT and/or within the cut-off score set by the Management for Academic Year 2024-2025</li>
			</ul>
		  </li>
		  <li>
			<p>Application Requirements in addition to the foregoing criteria:</p>
			<ol>
				<li>BSA and BSBA College applicants must submit their requirements personally (Onsite) to the Guidance and Counseling Services Office (GCSO) of DFCAMCLP Main Campus, Golden Gate Subdivision, Talon Tres, Las Pinas City.</li>
				<li>BSCPE and BSIS Applicants must submit their requirements to the Guidance and Counseling Services Office at the DFCAMCLP-Satellite Campus.</li>
				<li>LIST OF REQUIREMENTS 
					<p>(Hard copy of requirement in long folder, plastic, and brown envelope):</p>
					<ul>
						<li>Duly accomplished Admission Application Form for College Admission Test (DCAT), can be downloaded through this link: <a href="https://drive.google.com/file/d/1D3UBlu3q1x23zEJua28vDQIJK07BT5yh/view?usp=dirve link">https://drive.google.com/file/d/1D3UBlu3q1x23zEJua28vDQIJK07BT5yh/view?usp=dirve link</a></li>
						<li>Photocopy of Senior High School Report Card Form 138 of Grade 11, AND Grade 12 First Semester.</li>
						<li>Photocopy of Certification of Good Moral Character duly signed by the school principal or guidance counselor with the school's dry seal;</li>
						<li>Photocopy of Birth Certificate (PSA/NSO);</li>
						<li>2 pcs. 2x2 ID Picture with white background and with signature over the printed name;</li>
						<li>Voters ID of applicants (registered voters of Las Piñas)</li>
						<li>Passing the DCAT is not the sole basis for admission to College. The applicants for Bachelor of Science in Accountancy (BSA) program are required to take additional qualifying assessments.</li>
					</ul>
				</li>
			</ol>
		  </li>
		  <li>The following are grounds for disqualification, and forfeiture of slot:
			<ul>
				<li>Misrepresentation of the information entered in the application form; and</li>
				<li>Violation of the application instructions of the College.</li>
			</ul>
		  </li>
		  <li>Application period starts on March 18, 2024 to May 24, 2024.</li>
		  <li>The List of Qualified Applicants with complete requirements will be POSTED thru the Official DFCAMCLP Facebook Page.</li>
		  <li>Applicants are advised to regularly visit the DFCAMCLP Office of the President Facebook Page for announcement and updates. <a href="https://www.facebook.com/officialDFCAMCLPPresident">https://www.facebook.com/officialDFCAMCLPPresident</a></li>
		  <li>Feel free to email us at <a href="guidance.office@dfcamclp.edu.ph">guidance.office@dfcamclp.edu.ph</a> for query and clarifications.</li>
		</ol>

		<h3>University Specialization</h3> <!-- University Specialization -->
		<ul>
			<li>Business Management</li>
		</ul>

		<h3>University Courses</h3> <!-- University Courses -->
		<ul>
		  <li>Bachelor of Science in Accountancy (BA)</li>
		  <li>Bachelor of Science in Business Administration (BSA)</li>
		  <li>Bachelor of Science in Information Systems (BSIS)</li>
		  <li>Bachelor of Science in Business Administration
			<ul>
				<li>Marketing Management (MKT)</li>
				<li>Financial Management (FM)</li>
				<li>Human Resource Management (HRM)</li>
			</ul>
		  </li>
		  <li>Bachelor of Science in Computer Engineering (BSCPE)</li>
		</ul>

		<h3>Application Process</h3> <!-- Application Process -->
		<ul>
			<li>Visit the DFCAMCLP-Office of the President Facebook Page and scan the QR Code for Pre-Admission Registration Form.</li>
			<li>Fill-out the DFCAMCLP College Admission Application Form.</li>
			<li>Submit the complete requirements (onsite) at the Guidance and Counseling Services of Main Campus for BSA and BSBA Applicants (Every Monday & Tuesday).&nbsp;Submit the complete requirements (onsite) at the Guidance and Counseling Services of Satellite Campus for BSCPE and BSIS Applicants (Every Wednesday & Thursday).</li>
			<li>Check the schedule and the list of Qualified Examinees at the Official DFCAMCLP Facebook Page.</li>
			<li>Report to DFCAMCLP-Satellite Campus for the College Admission Test on the scheduled date and time.</li>
			<li>Wait for the announcement of DCAT Passers.</li>
			<li>Proceed to the schedule of enrollment.</li>
		</ul>

		<p>Contact Information:</p> <!-- Contact Information -->
		<ul>
			<li>Email: 
				<ul>
					<li><a href="dfcamclp.sc@gmail.com">dfcamclp.sc@gmail.com</a></li>
					<li><a href="dfcamclp.osa@gmail.com">dfcamclp.osa@gmail.com</a></li>
					<li><a href="guidance.office@dfcamclp.edu.ph">guidance.office@dfcamclp.edu.ph</a></li>
					<li><a href="ocr.main@dfcamclp.edu.ph">ocr.main@dfcamclp.edu.ph</a></li>
				</ul>
			</li>
			<li>Telephone: 282522172</li> 
			<!-- <li>Website: <a href=""></a></li> -->
			<li>University Announcement: <a href="https://www.facebook.com/officialDFCAMCLPPresident">https://www.facebook.com/officialDFCAMCLPPresident</a></li>
		</ul>
	</div>

	<!-- Eulogio "Amang" Rodriguez Institute of Science & Technology -->
	<div class="container">
		<h2>Eulogio "Amang" Rodriguez Institute of Science & Technology</h2>
		<p>Nagtahan St., Sampaloc, Manila 1008, Philippines</p>
		<div class="status">
		  <i class="status-icon fa fa-circle" id="status-icon"></i>
		  <span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>List of Requirements</h3> <!-- List of Requirements -->
		<h4>Graduate Programs</h4>
		<ol>
		  <li>Transcript of Records</li>
		  <li>Qualifying Exam</li>
		  <li>Permit to study, if employed in the government</li>
		  <li>Certificate of employment indicating work schedule, if employed in a private company</li>
		  <li>Transfer credentials and/or TOR with special order, if graduate</li>
		</ol>
		<h4>Bachelor Programs</h4>
		<ol>
		  <li>Applicants to any of the curriculum programs of the institute must:
			<ul>
				<li>be a High School graduate</li>
				<li>have passed the College Admission Test</li>
				<li>have passed the College Personal Interview</li>
				<li>have an average grade of at least 85% in English and Math (for CAS and  CED)</li>
				<li>be physically and mentally fit, as duly certified by the School Physician</li>
			</ul>
		  </li>
		</ol>
		<h4>For Freshmen</h4>
		<ol>
		  <li>High School card (Form 138)</li>
		  <li>Certification of good moral character duly signed by School Principal or Registrar</li>
		  <li>Result of College Admission Test</li>
		  <li>Authenticated Birth Certificate</li>
		</ol>
		<h4>For Transferee Students</h4>
		<ol>
		  <li>Certification of Honorable Dismissal</li>
		  <li>True copies of grades, Transcript of Record from school last attended</li>
		  <li>Result of College Admission Test</li>
		  <li>Certificate of Good Moral Character</li>
		</ol>
		<h4>Old Students</h4>
		<ol>
		  <li>Curriculum checklist properly filled-out with grades in all the subjects taken</li>
		</ol>
		<h4>Qualifications for Short-Term Courses</h4>
		<ol>
		  <li>Can read and write</li>
		  <li>High School graduate with knowledge in basic computer (computer programs)</li>
		</ol>

		<h3>University Specialization</h3> <!-- University Specialization -->
		<ul>
			<li>Baccalaureate College for Liberal Arts</li>
		</ul>

		<h3>University Courses</h3> <!-- University Courses -->
		<h4>Undergraduate Programs</h4>
		<ul>
		  <li>Bachelor of Science in Architecture (BS ARCHI)</li>
		  <li>Bachelor of Science in Interior Design (BSID)</li>
		  <li>Bachelor in Fine Arts (BFA)
			<p>Major in:</p>
			<ul>
				<li>Painting</li>
				<li>Visual Communication</li>
			</ul>
		  </li>
		  <li>Bachelor of Science in Applied Physics with Computer Science Emphasis (BSAP)</li>
		  <li>Bachelor of Science in Computer Science (BSCS)</li>
		  <li>Bachelor of Science in Information Technology (BS INFO TECH)</li>
		  <li>Bachelor of Science in Psychology (BSPSYCH)</li>
		  <li>Bachelor of Science in Mathematics (BSMATH)</li>
		  <li>Bachelor of Science in Business Administration (BSBA)
			<p>Major in:</p>
			<ul>
				<li>Marketing Management</li>
			</ul>
		  </li>
		  <li>Human Resource Development Management (HRDM)</li>
		  <li>Bachelor of Science in Entrepreneurship (BSEM)</li>
		  <li>Bachelor of Science in Office Administration (BSOA)</li>
		  <li>Bachelor in Secondary Education (BSE)
			<p>Major in:</p>
			<ul>
				<li>Science</li>
				<li>Mathematics</li>
				<li>Filipino</li>
			</ul>
		  </li>
		  <li>Bachelor in Special Needs Education (BSNED)</li>
		  <li>Bachelor in Technology and Livelihood Education (BTLE)
			<p>Major in:</p>
			<ul>
				<li>Home Economics</li>
				<li>Industrial Arts</li>
			</ul>
		  </li>
		  <li>Professional Education / Subjects 18 units (TCP)</li>
		  <li>Bachelor of Science in Chemical Engineering (BSCHE)</li>
		  <li>Bachelor of Science in Civil Engineering (BSCE)</li>
		  <li>Bachelor of Science in Electrical Engineering (BSEE)</li>
		  <li>Bachelor of Science in Electronics and Communication Engineering (BSECE)</li>
		  <li>Bachelor of Science in Mechanical Engineering (BSME)</li>
		  <li>Bachelor of Science in Computer Engineering (BSCOE)</li>
		  <li>Bachelor of Science in Tourism Management (BST)</li>
		  <li>Bachelor of Science in Hospitality Management (BSHM)</li>
		  <li>Bachelor of Science in Industrial Technology (BSIT)
			<p>Major in:</p>
			<ul>
				<li>Automotive Technology</li>
				<li>Electrical Technology</li>
				<li>Electronics Technology</li>
				<li>Food Technology</li>
				<li>Fashion and Apparel Technology</li>
				<li>Industrial Chemistry</li>
				<li>Drafting Technology</li>
				<li>Machine Shop Technology</li>
				<li>Refrigeration and Air Conditioning</li>
			</ul>
		  </li>
		  <li>Bachelor in Public Administration (BPA)</li>
		  <li>Bachelor of Science in Criminology (BSCRIM)</li>
		</ul>
		<h4>Doctoral Programs</h4>
		<ol>
			<li>Doctor of Philosophy
				<p>Major in:</p>
				<ul>
					<li>Industrial Psychology</li>
					<li>Doctor of Education</li>
				</ul>
				<p>Major in:</p>
				<ul>
					<li>Educational Management</li>
					<li>Doctor in Business Administration</li>
					<li>Doctor in Public Administration</li>
				</ul>
			</li>
		</ol>
		<h4>Master Programs</h4>
		<ol>
			<li>Master of Science in  Mathematics</li>
			<li>Master of Arts in Industrial Psychology</li>
			<li>Master in Business Administration</li>
			<li>Master in Public Administration</li>
			<li>Master of Arts in Industrial Education
				<p>Major in:</p>
				<ul>
					<li>Hotel Management</li>
					<li>Master of Arts in Education
						<p>Major in:</p>
						<ul>
							<li>Administration and Supervision</li>
							<li>Guidance and Counseling</li>
							<li>Special Education</li>
							<li>Master of Arts in Teaching
								<p>Major in:</p>
								<ul>
									<li>Electronics Technology</li>
									<li>Mathematics</li>
									<li>Science</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ol>

		<h3>Application Process</h3> <!-- Application Process -->
		<ul>
			<li>Online register in the EARIST Pinnacle</li>
			<li>After completing the registration online, Sign in/Login to your account and look for the application form.</li>
			<li>Click the Personal Data Form and Print it in A4 Bond Paper and bring the Original/Certified True copy of Documents.</li>
			<li>Bring the Original Required Documents and Printable Online Admission Form/Personal Data form with Applicant Number to the Registrar's Office for Evaluation/Verification and to Secure ECAT Examination Permit.</li>
		</ul>

		<p>Contact Information:</p> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="earistofficial1945@gmail.com">earistofficial1945@gmail.com</a></li>
			<li>Telephone: (632) 716 - 5059</li> 
			<!-- <li>Fax: (632) 516 - 2426</li> -->
			<!-- <li>Registrar Office: (02) 716-5059</li> -->
			<li>Website: <a href="https://earist.edu.ph/">https://earist.edu.ph/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/EARISTOfficial?mibextid=ZbWKwL">https://www.facebook.com/EARISTOfficial?mibextid=ZbWKwL</a></li>
		</ul>
	</div>

	<!-- Marikina Polytechnic College  -->
	<div class="container">
		<h2>Marikina Polytechnic College</h2>
		<p>#2 Mayor Chanyungco Street, Sta. Elena, Marikina City, Philippines 1800</p>
		<div class="status">
		  <i class="status-icon fa fa-circle" id="status-icon"></i>
		  <span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>List of Requirements</h3> <!-- List of Requirements -->
		<h4>FRESHMEN</h4>
		<ol>
		  <li>Photocopy of latest report card (Form 138)</li>
		  <li>Original and photocopy of certificate of good moral character</li>
		  <li>Three (3) pieces 2x2 ID picture with name tag and white background</li>
		</ol>
		<h4>TRANSFEREE</h4>
		<ol>
		  <li>Photocopy of Transcript of Records/ Certificate of Grades</li>
		  <li>Original and photocopy of certificate of good moral character</li>
		  <li>Photocopy of honorable dismissal certificate or transfer credentials</li>
		  <li>Three (3) pieces 2x2 ID Picture with Name Tag and White Background</li>
		</ol>
		<h4>ALS/PEPT PASSER</h4>
		<ol>
		  <li>Certificate of Rating (COR)</li>
		  <li>Three (3) pieces 2x2 ID Picture with Name Tag and White Background</li>
		</ol>
		<h4>RETURNEES</h4>
		<ol>
		  <li>Please proceed directly to the registrar’s office</li>
		  <li>Bring scanned copy of birth certificat</li>
		</ol>

		<h3>University Specialization</h3> <!-- University Specialization -->
		<ul>
			<li>Education</li>
		</ul>

		<h3>University Courses</h3> <!-- University Courses -->
		<h4>Undergraduate Programs</h4>
		<ul>
		  <li>BACHELOR OF TECHNICAL VOCATIONAL TEACHER EDUCATION
			<p>Major in:</p>
			<ul>
				<li>Automotive Technology</li>
				<li>Civil Technology</li>
				<li>Drafting Technology</li>
				<li>Electrical Technology</li>
				<li>Electronics Technology</li>
				<li>Food and Service Management</li>
				<li>Garments, Fashion and Design</li>
				<li>Heating, Ventilating, Air-Conditioning and Refrigeration Technology</li>
				<li>Mechanical Technology</li>
				<li>Welding and Fabrication Technology</li>
			</ul>
		  </li>
		  <li>BACHELOR OF INDUSTRIAL TECHNOLOGY
			<p>Major in:</p>
			<ul>
				<!-- <li>Automotive Technology</li>
				<li>Civil Technology</li>
				<li>Drafting Technology</li>
				<li>Electrical Technology</li>
				<li>Electronics Technology</li>
				<li>Food and Service Management</li>
				<li>Garments, Fashion and Design</li>
				<li>Heating, Ventilating, Air-Conditioning and Refrigeration Technology</li>
				<li>Mechanical Technology</li>
				<li>Welding and Fabrication Technology</li> -->
			</ul>
		  </li>
		  <li>CERTIFICATE OF TECHNOLOGY (3-Year Program)
			<p>Major in:</p>
			<ul>
				<!-- <li>Automotive Technology</li>
				<li>Civil Technology</li>
				<li>Drafting Technology</li>
				<li>Electrical Technology</li>
				<li>Electronics Technology</li>
				<li>Food and Service Management</li>
				<li>Garments, Fashion and Design</li>
				<li>Heating, Ventilating, Air-Conditioning and Refrigeration Technology</li>
				<li>Mechanical Technology</li>
				<li>Welding and Fabrication Technology</li> -->
			</ul>
		  </li>
		  <li>BACHELOR SCIENCE IN ELECTRONICS ENGINEERING</li>
		  <li>BACHELOR OF SCIENCE IN ENTREPRENEURSHIP</li>
		  <li>CONTINUING PROFESSIONAL EDUCATION (18 UNITS)</li>
		  <li>GRADUATE PROGRAMS
			<ul>
				<li>DOCTOR OF EDUCATION</li>
				<li>MASTER OF EDUCATION</li>
				<li>MASTER OF TECHNICIAN EDUCATION</li>
				<li>MASTER OF ARTS IN TEACHING</li>
			</ul>
		  </li>
		</ul>
		<h3>Application Process</h3> <!-- Application Process -->
		<ul>
			<li>Pre-register first using the Google Form Link in this post.</li>
			<li>Visit us at the admission office to submit your requirements.</li>
		</ul>
		<p>Contact Information:</p> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="earistofficial1945@gmail.com">earistofficial1945@gmail.com</a></li>
			<li>Trunk Line: 8682-0672</li> 
			<!-- <li>Website: <a href=""></a></li> -->
			<li>University Announcement: <a href="https://www.facebook.com/mpceduph">https://www.facebook.com/mpceduph</a></li>
		</ul>
	</div>

	<!-- Navotas Polytechnic College -->
	<div class="container">
		<h2>Navotas Polytechnic College</h2>
		<p>Kapitbahayan Multi-Purpose Hall, North Bay Boulevard South Kaunlaran, Navotas City</p>
		<div class="status">
		  <i class="status-icon fa fa-circle" id="status-icon"></i>
		  <span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>List of Requirements</h3> <!-- List of Requirements -->
		<h4>FRESH GRADUATES</h4>
		<ol>
		  <li> Senior High School Card</li>
		  <li>Certificate of Good Moral Character with dry seal</li>
		  <li>Student’s COMELEC Navotas Voter’s ID/Certification/Registration stub (Parents’ COMELEC Navotas Voter’s ID/Certification/Registration stub are not accepted)</li>
		  <li>PSA/ NSO authenticated birth certificate</li>
		  <li>2 pcs. Passport size photo with white background and name tag</li>
		</ol>
		<h4>TRANSFEREES</h4>
		<ol>
		  <li>Transcript of Record/ Certificate of Grades with dry seal</li>
		  <li>Honorable Dismissal with dry seal</li>
		  <li>Certificate of Good Moral Character with dry seal</li>
		  <li>Student’s COMELEC Navotas Voter’s ID/Certification/Registration stub (Parents’ COMELEC Navotas Voter’s ID/Certification/Registration stub are not accepted)</li>
		  <li>PSA/ NSO authenticated birth certificate</li>
		  <li>2 pcs. Passport size photo with white background and name tag</li>
		</ol>
		<h4>ALS PASSERS</h4>
		<ol>
		  <li>ALS Certification of Rating/Certification of Passing the Accreditation & Equivalency Test (A & E).</li>
		  <li>Certificate of Good Moral Character with dry seal</li>
		  <li>Student’s COMELEC Navotas Voter’s ID/Certification/Registration stub (Parents’ COMELEC Navotas Voter’s ID/Certification/Registration stub are not accepted)</li>
		  <li>PSA/ NSO authenticated birth certificate</li>
		  <li>2 pcs. Passport size photo with white background and name tag</li>
		  <li>ALS Passers of School Year 2019-2020 onward are not qualified. As per DepEd Order No. 013 series of 2019, they should complete the two-year formal Senior High School program (Grades 11 and 12).</li>
		</ol>
		<h4>HIGH SCHOOL GRADUATES OF OLD CURRICULUM</h4>
		<ol>
		  <li>High School Card</li>
		  <li>Certificate of Good Moral Character with dry seal</li>
		  <li>Certification that the Form 137 has not been sent to any other colleges or universities with dry seal. For the sample copy, visit this link: <a href="https://drive.google.com/file/d/1QdAgLmYhyN1j0qrv1mA7U9sDonge85Ff/view?usp=sharing">https://drive.google.com/file/d/1QdAgLmYhyN1j0qrv1mA7U9sDonge85Ff/view?usp=sharing</a></li>
		  <li>Student’s COMELEC Navotas Voter’s ID/Certification/Registration stub (Parents’ COMELEC Navotas Voter’s ID/Certification/Registration stub are not accepted)</li>
		  <li>PSA/ NSO authenticated birth certificate</li>
		  <li>2 pcs. Passport size photo with white background and name tag</li>
		</ol>
	
		<h3>University Specialization</h3> <!-- University Specialization -->
		<ul>
			<li>Education</li>
		</ul>

		<h3>University Courses</h3> <!-- University Courses -->
		<h4>Undergraduate Programs</h4>
		<ul>
		  <li>BS in Entrepreneurship</li>
		  <li>Bachelor of Science in Tourism Management</li>
		  <li>Bachelor in Public Administration</li>
		  <li>Bachelor of Science in Accounting Information System</li>
		  <li>Bachelor in Special Needs Education</li>
		  <li>Bachelor in Technical- Vocational Teacher Education</li>
		  <li>BS in Real Estate Management</li>
		  <li>2-Year Hospitality Management Services</li>
		  <li>Bookkeeping NC III</li>
		  <li>Food and Beverage Services NC II</li>
		  <li>Housekeeping NC II</li>
		</ul>

		<h3>Application Process</h3> <!-- Application Process -->
		<ul>
			<li>Fill out the attached Google link: <a href="https://forms.gle/cTpiX4YmHG66ce4o7">https://forms.gle/cTpiX4YmHG66ce4o7</a></li>
			<!-- <li>Download, fill out, and print the Readmission Form: <a>https://drive.google.com/.../16S7HBwjk6FjvWk4emW1.../view</a>https://drive.google.com/.../16S7HBwjk6FjvWk4emW1.../view</li> -->
			<li>SUBMIT THE READMISSION FORM AND COMELEC VOTER’S ID/ CERTIFICATION AT THE 2ND FLOOR OF THE NAVOTAS KAPITBAHAYAN MULTI-PURPOSE NBBS KAUNLARAN.</li>
			<li>For urgent concerns, please send your message to <a href="npc.registrar@gmail.com"></a>npc.registrar@gmail.com</li>
		</ul>
		<p>Contact Information:</p> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="navotaspolytechniccollege94@gmail.com">navotaspolytechniccollege94@gmail.com</a></li>
			<!-- <li>Telephone: (028) 571 6323</li>  -->
			<!-- <li>Website: <a href=""></a></li> -->
			<li>University Announcement: <a href="https://www.facebook.com/NavotasPolytechnicCollegeOfficial">https://www.facebook.com/NavotasPolytechnicCollegeOfficial</a></li>
		</ul>
	</div>

 	<!-- Pamantasan ng Lungsod ng Marikina -->
 	<!-- Pamantasan ng Lungsod ng Maynila -->
 	<!-- Pamantasan ng Lungsod ng Muntinlupa -->
 	<!-- Pamantasan ng Lungsod ng Pasig -->
 	<!-- Pamantasan ng Valenzuela -->

 	<!-- Paranaque City College -->
 	<!-- Philippine Normal University Manila -->
	<!-- Philippine State College of Aeronautics -->
 	<!-- Polytechnic College of the City of Meycauayan  -->
 	<!-- Polytechnic University of the Philippines -->

<!-- Quezon City University -->
<!-- Taguig City University -->
<!-- Technological University of the Philippines -->
<!-- Universidad de Manila -->
<!-- University of Makati -->
<!-- University of The Philippines  -->

    <!-- <script src="univs.js" defer></script> -->
</body>
</html>