<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/logos/website/logo.png">
    <title>PamantasanPH</title>
    <script src="{{ url_for('static', filename='styles/univs21.css') }}"></script>
</head>

<body>
	<header class="header"> <!--navigation div-->
        <div class="title">
            <img src="static/images/logos/website/logo.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul>
                <li><a id="home" href="{{ url_for('index') }}">Home</a></li>
                <li><a id="univs" href="{{ url_for('universities') }}">Universities</a></li>
                <li><a id="favs" href="{{ url_for('favorites') }}">Favorites</a></li> <!-- WILL FINALIZE -->
            </ul>
        </nav>
    </header>

     <!-- Pamantasan ng Lungsod ng Pasig -->
	 <div class="container">
		<h2>Pamantasan ng Lungsod ng Pasig</h2>
		<p>Address- Alcalde Jose Street, Kapasigan, 1600 Pasig</p>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>Admission Requirements</h3> <!-- Admission Requirements -->
		<h3>Qualifications</h3>  
		  <ol>
			<li>At least 80% General Weighted Average (GWA)</li>
			<li>Graduate of Senior High School or ongoing Grade 12 SHS </li>
			<li>Applicant/Parents or Guardian should be residents of Pasig City for at least five years.</li>
		  </ol>

		<h4>DOCUMENTARY REQUIREMENTS</h4>
		  <ol>
			<li>Completely filled-out Application Form</li>
			<li>CTC Grade 11 Form 138 (for Graduating Senior HS)</li>
			<li>CTC F137 with remarks: For Evaluation Purposes only (for Senior Hs graduates)</li>
			<li>Any Government issued ID/School ID of applicant</li>
			<li>PSA Birth Certificate</li>
			<li>Two pcs. Passport size picture, white background with nameplate </li>
			<li>Any government-issued ID of Parents</li>
			<li>Proof of Income of Parents (ITR, DSWD Case Study, or DSWD Beneficiary ID, etc,)</li>
			<li>Notarized Affidavit of Guardianship (for applicants with guardians only)</li>
		  </ol>

		<h3>Qualifications for Transferees</h3>  
		  <ol>
			<li>Must be incoming 2nd-3rd Year ONLY from any CHED accredited college/university (must have taken at least 36 units)</li>
			<li>Graduated under the K12 Program</li>
			<li>GWA of 2.25 or higher</li>
			<li>No Failing, Dropped or Incomplete Grades</li>
			<li>No Shifting of Program</li>
			<li>Parents/Guardians or Applicants should be residents of Pasig City for at least five years.</li>
		  </ol>

		<h4>DOCUMENTARY REQUIREMENTS/h4>
		  <ol>
			<li>Completely filled-out Application Form</li>
			<li>CTC of TOR with remarks: For Evaluation Purposes only</li>
			<li>Any Government issued ID/School ID of applicant </li>
			<li>PSA Birth Certificate</li>
			<li>Certificate of Good Moral Character</li>
			<li>Two pcs. Passport size picture, white background with nameplate </li>
			<li>Any government-issued ID of Parents</li>
			<li>Proof of Income of Parents (ITR, DSWD Case Study, or DSWD Beneficiary ID, etc,)</li>
			<li>Notarized Affidavit of Guardianship (for applicants with guardians only)</li>
		  </ol>

		<h3>University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>College of Medicine</li>
		</ul>

        <h3>University Courses</h3> <!-- University Courses -->
		<h4>UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li><strong>Arts and Sciences</strong>
			<ul>
			  <li>Bachelor of Science in Mathematics with Computer (BSMATH)</li>
			</ul>
		  </li>
		  <li><strong>Education</strong>
			<ul>
			  <li>Bachelor of Arts in Secondary Education (BSED)
				<p>Major in:</p>
				<ul>
					<li>Englisht</li>
					<li>Filipino</li>
				  </ul>
			  </li>
			  <li>Bachelor of Arts in Elementary Education (BEEd)
				<ul>
					<li>Specialization in Early Childhood Education</li>
				  </ul>
			  </li>
			</ul>
		  </li>
		  <li><strong>Hospitality Management</strong>
			<ul>
			  <li>Bachelor of Science in Hospitality Management (BSHM)</li>
			</ul>
		  </li>
		  <li><strong>Business Administration</strong>
			<ul>
			  <li>Bachelor of Science in Accountancy (BSA)</li>
			  <li>Bachelor of Science in Business Administration (BSBA) major in Entrepreneurship</li>
			  <li>Bachelor of Science in Business Administration (BSBA) major in Marketing Management</li>
			</ul>
		  </li>
		  <li><strong>Computer Studies</strong>
			<ul>
			  <li>Bachelor of Science in Computer Science (BSCS)</li>
			  <li>Bachelor of Science in Information Technology (BSIT)</li>
			</ul>
		  </li>
		  <li><strong>Engineering</strong>
			<ul>
			  <li>Bachelor of Science in Electronics & Communications Engineering (BSECE)</li>
			</ul>
		  </li>
		  <li><strong>Nursing</strong>
			<ul>
			  <li>Bachelor of Science in Nursing (BSN)</li>
			  <li>Master of Arts in Nursing (BSN)</li>
			</ul>
		  </li>
        </ul>

		<h4>GRADUATE PROGRAMS</h4>
		<ul>
		  <li><strong>Nursing</strong>
			<ul>
			  <li>Master of Arts in Nursing (BSN)</li>
			</ul>
		  </li>
		</ul>
		  
        <h3>Application Process</h3> <!-- Application Process -->
		<h4>Admission Requirements and Procedures for Freshmen of Public and Private High Schools of Muntinlupa</h4>
		<ol>
		  <li>Online Application
			<ul>
				<li>Accomplish the Online Registration Application Form via Google Form</li>
			</ul>
		  </li>
		  <li>Email Notification
			<ul>
				<li>An email notification for the submission of documentary requirements will be sent via registered email. (You may visit the PLP Admission Office should you fail to receive an email within 2 weeks from online application)</li>
			</ul>
		  </li>
		  <li>Submission of Requirements
			<ul>
				<li>Submit all the necessary documents on the given schedule for validation and assessment.</li>
			</ul>
		  </li>
		  <li>Entrance Examination
			<ul>
				<li>Examination schedule will be sent via registered email.</li>
			</ul>
		  </li>
		  <li>College Assessment
			<ul>
				<li>College Assessment Schedule will be sent via registered email</li>
			</ul>
		  </li>
		  <li>Posting of Qualifiers
			<ul>
				<li>List of successful qualifiers will be posted in PLP campus and PLP Official Facebook Page.</li>
			</ul>
		  </li>
		  <li>Confirmation Slot
			<ul>
				<li>Qualified applicants are given 2 weeks from the day of posting to confirm their slot.</li>
			  </ul>
		  </li>
		</ol>

		<h3>Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="plmuncomm@plmun.edu.ph">plmuncomm@plmun.edu.ph</a></li>
			<!-- <li>Telephone:</li> WILL FINALIZE --> 
			<li>Website: <a href="https://www.plmun.edu.ph/index.php">https://www.plmun.edu.ph/index.php/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/plmunofficial">https://www.facebook.com/plmunofficial</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div>
                    <a href="https://www.facebook.com/"><img src="images\social\facebook.png" target="_blank" class="social-links" alt="Facebook"></a>
                    <a href=""><img src="" target="_blank" class="social-links" alt="Email"></a> 
                    <a href="https://www.linkedin.com/"><img src="images\social\linkedin.png" target="_blank" class="social-links" alt="LinkedIn"></a>
                </div>
                
                <div class="newsletter"> <!--newsletter--> 
                    <h3>Stay Updated!</h3>
                    <p>Subscribe to our newsletter to receive updates and FAQs about PamantasanPH.</p>
                    <form action="/newsletter" method="POST">
                        <label for="email">Enter your email:</label>
                        <input type="email" id="email" name="email" placeholder="Your email address" required>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <!-- <script src="univs.js" defer></script> -->
</body>
</html>