/* Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styling variables */
:root {
    --maroon: #722828; /* main color */
    --pale-gray: #FBEEEE; /* bg color */
    --white: #FFFFFF; /* nav bg color */
    --dark-blue: #092334; /* secondary color */
    --red: #FF0000; /* accent color_1 */
    --green: #00FF00; /* accent color_2 */
    --gray: #B2BEB5; /* accent color_3 */
    --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* box shadow */
}

/* Body styling */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
    font-family: 'Inter', sans-serif;
    background-color: var(--pale-gray);
}

body {
    line-height: 1.6;
}

/* Header and navigation styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    background-color: var(--white);  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    height: 50px;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    padding: 0 1rem;
}

.logo img {
    height: 100%;
    width: auto;
}

.title {
    display: flex;
    align-items: center;
}

.title p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--maroon);  
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}

.title span {
    color: var(--dark-blue);  
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 3rem;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--maroon); 
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif;
}

nav a:hover {
    color: var(--dark-blue);  
    text-decoration: underline;
} 

/* Page indicator styling */
#favs {
    color: var(--dark-blue);
    text-decoration: underline;
}

#favs:hover {
    color: var(--maroon);
    text-decoration: none;
}

@media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
    }
  
    .title {
      margin-bottom: 1rem;
    }
  
    nav {
      margin-top: 1rem;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin-right: 0;
      margin-bottom: 1rem;
    }
}

/* Heading styles */
.heading-container {
  padding: 20px;  
  height: auto;  
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.dynamic-heading {
  font-size: 3rem;
  color: var(--dark-blue);
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center; 
  margin-top: 100px; 
  padding-bottom: 5px; 
}

.heading-container p {
  text-align: center; 
  padding-bottom: 5px; 
  font-size: 1rem;
  color: var(--dark-blue);
  margin-bottom: 5px;
  font-family: 'Inter', sans-serif;
}

/* Favorites styling */
.favs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
#favsContainer {
    position: relative;
    width: 100%;
    height: 100%; 
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bookmark-container {
    position: relative;
}

.bookmark-content {
    margin-right: 40px;  
}

.unbookmark {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--maroon);
    transition: transform 0.3s ease;
    z-index: 1;
}

/* Background image styling */
.bg-img {
    position: relative;
    height: 200px;
    overflow: hidden;
}
  
.bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}
  
.bg-img:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6); 
    color: var(--white);
    transition: background-color 0.3s; 
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

.overlay p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.overlay p a {
    color: var(--white); 
    text-decoration: none; 
}

.overlay p a:hover {
    text-decoration: underline;
}

/* Footer styling */ 
footer { 
    background-color: var(--maroon);  
    color: var(--white);  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footerBoxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin: 0 20px;
  }
  
  .footerBox {
    flex: 1 1 calc(30% - 40px);
    margin-top: 5px;
    padding: 20px;
    min-width: 250px; 
  }
  
  .footerBox h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif; 
  }
  
  .footerBox p {
    font-size: 0.65rem;
    text-align: justify;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif; 
  }
  
  .social-links {
    color: var(--white); 
    transition: transform 0.3s, font-size 0.3s; 
    display: inline-block; 
    margin: 0 10px; 
    font-size: 24px; 
  }
  
  .social-links:hover {
    transform: scale(1.2) translateY(-5px); 
  }
  
  .splitter {
    width: 95%;
    height: 1px;
    border: 1px solid var(--white);  
    margin: 10px 0;
  }
  
  .copy-right {
    font-size: 0.65rem;
    text-align: center;
    margin-bottom: 0.8rem;
    width: 95%;
    font-family: 'Inter', sans-serif; 
  }
  
  @media (max-width: 768px) {
    .footerBox {
        flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media (max-width: 500px) {
    .footerBox {
        flex: 1 1 100%;
    }
  }
  