/* Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styling variables */
:root {
  --maroon: #722828;  
  --pale-gray: #FBEEEE;  
  --white: #FFFFFF;  
  --dark-blue: #092334;  
  --red: #FF0000;  
  --green: #00FF00;  
  --gray: #B2BEB5;  
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
}

/* Body styling */
body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to right, #192f3f, #94273a);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h1 {
    color: var(--maroon);
    margin-bottom: 24px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: bold var(--dark-blue);
    font-size: 16px;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: transparent;
    color: var(--maroon);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: transparent;
    color: #7a1f2c;
}

input {
    width: 92%;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, #192f3f, #94273a);
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    display: inline-block;  
    margin: 0 auto;  
    margin-right: 8px;
}

.input-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--white);
    text-align: center;
}

.button {
  background: linear-gradient(to right, #192f3f, #94273a);
  color: var(--white);
  padding: 15px 20px;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;  
}

.button:hover {
    background: linear-gradient(to right, #7a1f2c, #94273a);
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    margin-bottom: -5px;
    margin-left: -200px;
    margin-top: 25px; 

}

.checkbox-group input[type="checkbox"] {
    margin-right: -295px;
}

.checkbox-group label {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--dark-blue);
    display: inline;
    margin-right: 115px;
}

.checkbox-group a {
    color: #337ab7;
    text-decoration: underline;
}

.checkbox-group a:hover {
    color: #23527c;
}