/*Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styling variables */
:root {
  --maroon: #722828;  
  --pale-gray: #FBEEEE;  
  --white: #FFFFFF;  
  --dark-blue: #092334;  
  --red: #FF0000;  
  --green: #00FF00;  
  --gray: #B2BEB5;  
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
}

/* Sidebar styling */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, #192f3f, #94273a);
    color: var(--white);
    align-items: center; 
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    font-family: 'Raleway', sans-serif;
}

/* Searhbar styling */
.search {
    display: flex;
    align-items: center;
    flex-grow: 1;  
    justify-content: flex-start;
    position: relative;
}

.search input[type="text"] {
    width: 60%;  
    padding: 15px;  
    border: none;
    border-radius: 5px;
    font-size: 14px; 
}

.search button {
    background: none;
    border: none;
    padding: 15px; 
    cursor: pointer;
    margin-left: 10px;  
}

.search button i {
    color: var(--white);
    font-size: 24px;  
}

.result-box {
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    width: 60%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000; 
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: var(--dark-blue);
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.result-item:last-child {
    border-bottom: none;
}

.user {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.user i.moon-icon {
    color: var(--white);
    margin-right: 15px;
}

.user .gradient-container {
    background-image: linear-gradient(to right, #092334, #1B689A);
    background-size: 100% 100%; 
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.user .gradient-container span {
    font-size: 20px;
    color: var(--white);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.user .gradient-container i.fa-chevron-down {
    color: var(--white);
    margin-left: 10px;
}

aside {
    background: linear-gradient(to right, #192f3f, #94273a);
    color: var(--white);
    padding: 20px;
    width: 250px;
    height: 140vh;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h1 {
    font-size: 24px;
    color: var(--white);
}

.create-item {
    display: flex;
    align-items: center;
    padding: 20px 30px;  
    background-color: var(--white); 
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 80px;  
}

.create-item span {
    margin-right: 10px;
    font-weight: bold;
    color: var(--maroon); 
    font-size: 20px;
}

.create-item i {
    font-size: 40px;
    color: var(--maroon) 
}

.fa-circle-plus:hover {
    color: #94273a; 
    transform: scale(1.2); 
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;  
    border-bottom: 1px solid var(--white);
    transition: background-color 0.3s ease;  
    border-radius: 5px;  
}

.sidebar-item:hover {
    opacity: 0.8;  
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.sidebar-item a {
    color: #333;
    transition: color 0.3s ease;  
}

.sidebar-item i {
    margin-right: 10px; 
    font-size: 18px; 
    color: var(--white);
}

.sidebar-item span {
    font-size: 18px;
    color: var(--white);
}

#regions span::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--white); 
    border-radius: 50%;
    margin-left: 6px;
  }

.subscribe {
    background-color: var(--white);
    color: var(--white);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.subscribe h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--maroon);
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.subscribe p {
    margin-bottom: 10px;
    color: gray;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.subscribe input[type="email"] {
    width: 100%;
    padding: 12px;  
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #CCCCCC;  
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;  
}

.subscribe button {
    background: linear-gradient(to right, #192f3f, #94273a);  
    color: var(--white);  
    border: none;
    padding: 12px 24px;  
    cursor: pointer;
    border-radius: 5px;  
    font-family: 'Inter', sans-serif;
    font-size: 16px;  
    transition: background-color 0.3s ease;  
}

.subscribe button:hover {
    background: linear-gradient(to right, #7a1f2c, #94273a); 
}

.copyright {
    text-align: center;
    font-size: 12px;
    color: var(--white);
    padding: 10px 0;  
    background-color: transparent;
    font-family: 'Inter', sans-serif;
}

/* Main content styling */
.container {
    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
    padding: 20px;
}

.main-content {
    padding: 20px;
    background-color: var(--white);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: calc(100vh - 120px);  
    box-sizing: border-box;
}

.locations {
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    max-width: 1358px;
    width: 100%;
    margin-top: -20px;
    text-align: left;
}

.locations h2 {
    margin-bottom: 20px;
    text-align: left;
    padding-left: 18px;
}

.region-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
    padding: 5px;
    cursor: pointer;
}

.region-card {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s ease;
    height: 175px;
    width: 290px;
}

.region-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.region-card span {
    position: absolute;
    color: var(--dark-blue);
    font-weight: bold;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.region-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    aside {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 15px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .logo span {
        font-size: 18px;
    }

    .search input[type="text"] {
        width: 50%;
    }

    .user {
        margin-left: 10px;
    }

    aside {
        width: 180px;
    }

    .main-content {
        margin-left: 180px;
        margin-top: 140px;
    }

    .region-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .search input[type="text"] {
        width: 40%;
    }

    .main-content {
        margin-left: 0;
        margin-top: 160px;
    }

    .region-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}