/* Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styling variables */
:root { 
    --maroon: #722828; /* main color */
    --pale-gray: #FBEEEE; /* bg color */
    --white: #FFFFFF; /* nav bg color */
    --dark-blue: #092334; /* secondary color */
    --red: #FF0000; /* accent color_1 */
    --green: #00FF00; /* accent color_2 */
    --gray: #B2BEB5; /* accent color_3 */
    --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* box shadow */
}

/* Body styling */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; 
  font-family: 'Inter', sans-serif;
  background-color: var(--pale-gray);
}

body {
  line-height: 1.6;
}

/* Header and navigation styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background-color: var(--white);  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  padding: 0 1rem;
}

.logo img {
  height: 100%;
  width: auto;
}

.title {
  display: flex;
  align-items: center;
}

.title p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--maroon);  
  margin-left: 10px;
}

.title span {
  color: var(--dark-blue);  
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 3rem;
}

nav a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--maroon); 
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  color: var(--dark-blue);  
  text-decoration: underline;
} 

/* Page indicator styling */
#home {
  color: var(--dark-blue);
  text-decoration: underline;
}

#home:hover {
  color: var(--maroon);
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .title {
    margin-bottom: 1rem;
  }

  nav {
    margin-top: 1rem;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

<<<<<<< HEAD
/* Slideshow styling, WILL FINALIZE */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
=======
/* Slideshow styling */
.container {
  display: flex;
  overflow: hidden;  
  width: 100%;
  text-align: center;
  max-height: 650px;
  position: relative;  
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
}

.slides {
  flex: 1;
<<<<<<< HEAD
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slides.active {
  opacity: 1;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
}

.slides-img {
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; 
}

.slides h1,
.slides p {
=======
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;  
}

.slides img {
  width: 100%;
  height: auto;
  max-height: 650px;  
}

.slides .text-content {
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
<<<<<<< HEAD
  width: 100%;
  text-align: center;
}

.slides h1 {
  font-size: 48px;
  font-weight: bold;
  color: var(--maroon);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
}

.slides p {
  font-size: 18px;
  color: var(--dark-blue);
  text-align: left;
  max-width: 500px;
  margin-left: 100px;
}

=======
}

.slides h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.slides p {
  font-size: 22px;
  color: var(--dark-blue);
  max-width: 1000px;
  margin-top: 10px;
  color: white;
  justify-content: center;
  text-align: justify;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: var(--maroon);
  cursor: pointer;
  outline: none;
}

.prev {
  left: 10px;  
}

.next {
  right: 10px;  
}

.slides.slide3 .column {
  display: flex;
  align-items: center;  
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slides.slide3 .column h3 {
  margin-right: 20px;  
  font-size: 50px;
}

.slides.slide3 .column p {
  margin: 0;
}

.slides.slide3 .text-with-border {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

*/

>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 36px;
  color: var(--maroon);
  cursor: pointer;
  outline: none;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 36px;
  color: var(--maroon);
  cursor: pointer;
  outline: none;
}

.prev:hover,
.next:hover {
  color: var(--dark-blue);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.column h1 {
  margin-bottom: 20px;
}

.column p {
  margin-bottom: 20px;
}

.text-with-border {
<<<<<<< HEAD
  border-bottom: 2px solid var(--maroon); /* will modify */
=======
  border-bottom: 2px solid var(--maroon); 
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.prev,
.next {
  background-color: transparent;
  border: none;
  font-size: 36px;
<<<<<<< HEAD
  color: var(--maroon); /* will modify */
=======
  color: white;  
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
<<<<<<< HEAD
  padding: 5px; /* modidfied */
=======
  padding: 5px;  
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
<<<<<<< HEAD
  color: var(--dark-blue); 
  animation: arrowAnimation 0.5s ease; /* apply animation on hover */
=======
  color: var(--pale-gray); 
  animation: arrowAnimation 0.5s ease;  
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
}

.slides.slide-1 {
  opacity: 1;
}

/* Search bar styling */
.search-bar {
  background-color: var(--white); 
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 900px; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 5px;
  overflow: hidden;
}

.search-icon {
  color: var(--white); 
  cursor: pointer;
  padding: 10px;
  background-color: #722828;
}

.search-input {
  border: none;
  flex: 1;
  padding: 10px;
  outline: none;
}

.search-input::placeholder {
  color: var(--gray); 
  font-size: 14px; 
  font-family: 'Inter', sans-serif;
}

.search-button {
  background-color: var(--maroon);
  border: none;
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 15px 20px;  
  border-radius: 0px 5px 5px 0px;  
}

.search-button:hover {
  background-color: #5c2020;
}

result-box {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(236, 221, 221, 0.1);
  padding: 20px;
  display: none;
  z-index: -1;
  padding-top: 20px;
}

.result-item {
  margin-left: 50px;
  margin-bottom: -10px;
  margin-top: 25px;
<<<<<<< HEAD
  color: var(--gray);
=======
  color: var(--dark-blue);
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
}

.result-item:hover {
  color: #092334;
  text-decoration: underline;
  text-decoration-style: solid;
}

<<<<<<< HEAD
.result-item a {
  color: var(--gray);
}

.result-item a:hover {
  color: #0000FF;
  text-decoration: underline;
}

/* Newsletter styling */
.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.clipart img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.newsletter {
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newsletter h2 {
  font-size: 1.5rem;
  color: var(--maroon);
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.newsletter p {
  font-size: 1rem;
  color: var(--dark-blue);
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
}

form {
  display: flex;
  align-items: center;
}

label {
  font-size: 1rem;
  color: 1px solid var(--gray);
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
}

input[type="email"] {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
}

.btn-subscribe {
  padding: 10px 20px;
  background-color: var(--maroon);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-subscribe:hover {
  background-color: #5c2020;
}

/* Footer styling */ 
footer { 
  background-color: var(--maroon);  
  color: var(--white);  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBoxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: 0 20px;
}

.footerBox {
  flex: 1 1 calc(30% - 40px);
  margin-top: 5px;
  padding: 20px;
  min-width: 250px; 
}

.footerBox h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif; 
}

=======
.no-results {
  margin-left: 50px;
  margin-bottom: -10px;
  margin-top: 25px;
  color: var(--dark-blue);
  padding-bottom: 25px;
}

/* Newsletter styling */
.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.clipart img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.newsletter {
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newsletter h2 {
  font-size: 1.5rem;
  color: var(--maroon);
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.newsletter p {
  font-size: 1rem;
  color: var(--dark-blue);
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
}

form {
  display: flex;
  align-items: center;
}

label {
  font-size: 1rem;
  color: 1px solid var(--gray);
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
}

input[type="email"] {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
}

.btn-subscribe {
  padding: 10px 20px;
  background-color: var(--maroon);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-subscribe:hover {
  background-color: #5c2020;
}

/* Footer styling */ 
footer { 
  background-color: var(--maroon);  
  color: var(--white);  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBoxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: 0 20px;
}

.footerBox {
  flex: 1 1 calc(30% - 40px);
  margin-top: 5px;
  padding: 20px;
  min-width: 250px; 
}

.footerBox h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif; 
}

>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
.footerBox p {
  font-size: 0.65rem;
  text-align: justify;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif; 
}

.social-links {
  color: var(--white); 
  transition: transform 0.3s, font-size 0.3s; 
  display: inline-block; 
  margin: 0 10px; 
  font-size: 24px; 
}

.social-links:hover {
  transform: scale(1.2) translateY(-5px); 
}

.splitter {
  width: 95%;
  height: 1px;
  border: 1px solid var(--white);  
  margin: 10px 0;
}

.copy-right {
  font-size: 0.65rem;
  text-align: center;
  margin-bottom: 0.8rem;
  width: 95%;
  font-family: 'Inter', sans-serif; 
}

@media (max-width: 768px) {
  .footerBox {
      flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .footerBox {
      flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .title p {
      font-size: 1.2rem;
  }

  .search-bar {
      padding: 10px;
  }

  .search-input {
      padding: 8px;
  }

  .newsletter-container {
      flex-direction: column;
      text-align: center;
  }

  .clipart img {
      margin-right: 0;
      margin-bottom: 20px;
  }

  .newsletter {
      margin-top: 20px;
  }

  .footerBox {
      flex: 1 1 100%;
  }
}

@media (max-width: 500px) {
  .title p {
      font-size: 1rem;
  }

  h1 {
      font-size: 2rem;
  }

  p {
      font-size: 1rem;
  }

  .search-container {
      border: none;
  }

  .search-input {
      padding: 8px;
      border-radius: 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
  }

  .search-button {
      padding: 8px 16px;
      border-radius: 0;
  }
}