/* Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styling variables */
:root {
    --maroon: #722828; /* main color */
    --pale-gray: #FBEEEE; /* bg color */
    --white: #FFFFFF; /* nav bg color */
    --dark-blue: #092334; /* secondary color */
    --red: #FF0000; /* accent color_1 */
    --green: #00FF00; /* accent color_2 */
    --gray: #B2BEB5; /* accent color_3 */
    --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* box shadow */
}

/* Body styling */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; 
  font-family: 'Inter', sans-serif;
}

body {
<<<<<<< HEAD
    background-color: #FBEEEE;
    line-height: 1.6; /* add */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #222;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
=======
  background-color: var(--pale-gray);
  line-height: 1.6;
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
}

/* Header and navigation styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background-color: var(--white);  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  padding: 0 1rem;
}

.logo img {
  height: 100%;
  width: auto;
}

.title {
  display: flex;
  align-items: center;
}

.title p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--maroon);  
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
}

.title span {
  color: var(--dark-blue);  
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 3rem;
}

nav a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--maroon); 
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
}

nav a:hover {
  color: var(--dark-blue);  
  text-decoration: underline;
} 

/* Page indicator styling */
#univs {
<<<<<<< HEAD
    color: var(--dark-blue);
    text-decoration: underline;
=======
  color: var(--dark-blue);
  text-decoration: underline;
}

#univs:hover {
  color: var(--maroon);
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .title {
    margin-bottom: 1rem;
  }

  nav {
    margin-top: 1rem;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* Navigation styling */
.heading-container {
  padding: 20px;  
  height: auto;  
  background-color: 1px solid var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  margin-top: 90px;
}

#navbar {
  background-color: var(--maroon);
  position: fixed; 
  top: 0;  
  width: 100%;  
  z-index: 1000;  
}

#navbar a {
  background-color: var(--white);
  color: var(--maroon);
  font-family: 'Inter', sans-serif;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #5c2020;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  #navbar a, .dropdown .dropbtn {
      display: none;
  }
  #navbar .dropdown {
      float: none;
  }
  #navbar .dropdown-content {
      position: relative;
  }
  #navbar .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
  }
  #navbar .dropdown-content a {
      text-align: center;
  }
}

/* Dropdown styling */
.dropdown-section {
  margin-top: 20px;
}

.dropdown-header {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

.dropdown-header::before {
  content: '\f107'; 
  font-family: FontAwesome;  
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
}

.dropdown-content {
  display: none;
}

.dropdown-section.active .dropdown-content {
  display: block;
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
}

#univs:hover {
    color: var(--maroon);
    text-decoration: none;
}

/* Container styling */
.container {
<<<<<<< HEAD
    max-width: 960px;
    margin: 40px auto; 
    background-color: var(--white);
    border-radius: 10px; 
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  .highlight {
  background-color: #f7f7f7;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.background-container {
  position: relative;
}

.bg-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

  .container img.univ-logo {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
  }
  
  .container h2,.container h3,.container h4 {      /* WILL FINALIZE */
    text-align: center;
    font-family: 'Raleway';
    color: var(--dark-blue);
    line-height: 2;
    padding: 10px;
  }
  
  .container p,.container ol,.container ul {      /* WILL FINALIZE */
    text-align: justify;
    font-family: 'Inter';
    color: var(--dark-blue);
    line-height: 1.5;
    padding: 10px;
  }
  
  .logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */

.university-info {
  padding: 20px;
}

.status {
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.icon-text:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%; /* To create a circle */
  background-color: #ff0000; /* Red color for the circle */
  margin-right: 5px; /* Spacing between the circle and text */
}

.status-text {
  font-size: 18px;
  color: #666;
}

.content {
  padding: 20px;
}

/*   .status {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .status-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .status-text {
    font-size: 18px;
    font-weight: bold;
  } */

.admission-requirements, .specializations, .courses, .application-process, .contact-info {
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff; /* White text */
  padding: 10px; /* Padding to make the background more visible */
  border-radius: 5px; /* Rounded corners */
}

.admission-requirements h3,
.specializations h3,
.courses h3,
.application-process h3,
.contact-info h3 {
  background-color: #800000; /* Maroon background */
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container li {
  margin-bottom: 10px;
}

.container li:before {
  content: "\2022";
  font-size: 18px;
  color: #666;
  margin-right: 10px;
}
=======
  max-width: 1100px;
  margin: 40px auto; 
  background-color: var(--white);
  border-radius: 10px; 
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}
  
.background-container {
  position: relative;
}
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9

/* Content styling */
h1 {
  text-align: center;
  font-family: 'Raleway';
  color: var(--maroon);
  font-size: 3rem;
}

.address {
  font-family: 'Inter';
  color: var(--maroon);
  font-size: 1rem;
  text-align: center;
}

.heading3 {
  font-family: 'Raleway';
  color: var(--maroon);
  font-size: 2rem; 
  line-height: 1.5; 
  padding: 5px;
  position: relative; 
  margin-bottom: 1px;
}

.dropdown-section.active::after {
  content: "\25BC"; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-left: 5px; 
}

 h4 {     
  text-align: left; 
  font-family: 'Raleway';
  color: var(--maroon);
  line-height: 1.5;
  padding: 5px;
}

.container p, ol, ul {     
  text-align: justify;
  font-family: 'Inter';
  color: var(--dark-blue);
  line-height: 1.5;
  padding: 5px;
  margin-left: 10px;
}

/* Logo styling */
.univ-logo {
  width: 150px;  
  height: auto;  
  margin: 20px auto;  
  display: block;  
  border-radius: 10px;  
}

/* Status styling */
.status {
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#status-icon {
  color: var(--red);
}

#status-text {
  color: var(--red);
}

/* Footer styling */ 
footer { 
  background-color: var(--maroon);  
  color: var(--white);  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBoxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: 0 20px;
}

.footerBox {
  flex: 1 1 calc(30% - 40px);
  margin-top: 5px;
  padding: 20px;
  min-width: 250px; 
}

.footerBox h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif; 
}

.footerBox p {
  font-size: 0.65rem;
  text-align: justify;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif; 
}

.social-links {
  color: var(--white); 
  transition: transform 0.3s, font-size 0.3s; 
  display: inline-block; 
  margin: 0 10px; 
  font-size: 24px; 
}

.social-links:hover {
  transform: scale(1.2) translateY(-5px); 
}

.splitter {
  width: 95%;
  height: 1px;
  border: 1px solid var(--white);  
  margin: 10px 0;
}

.copy-right {
  font-size: 0.65rem;
  text-align: center;
  margin-bottom: 0.8rem;
  width: 95%;
  font-family: 'Inter', sans-serif; 
}

@media (max-width: 768px) {
  .footerBox {
      flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 500px) {
<<<<<<< HEAD
    .footerBox {
        flex: 1 1 100%;
    }
=======
  .footerBox {
      flex: 1 1 100%;
  }
>>>>>>> 32009e5584ac9f93a7bc2c4ad3181539d5d9ffc9
}