<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="{{ url_for('static', filename='images/logos/website/finallogo.png') }}"> -->
    <title>PamantasanPH</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}"
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header> 
        <div class="container">
            <div class="logo">
                <span>PamantasanPH</span>
            </div>
            <div class="search">
                <input type="text" placeholder="Search">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="user">
                <i class="fas fa-moon"></i>
                <span>Username</span>
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <aside>
                <div class="sidebar-item">
                    <span>Create New List</span>
                    <i class="fas fa-plus-circle"></i>
                </div>
                <div class="sidebar-item">
                    <i class="fas fa-box-archive"></i>
                    <span>Dashboard</span>
                </div>
                <div class="sidebar-item">
                    <i class="fas fa-graduation-cap"></i>
                    <span>Universities</span>
                </div>
                <div class="sidebar-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Map</span>
                </div>
                <div class="sidebar-item">
                    <i class="fas fa-code"></i>
                    <span>Compare</span>
                </div>
                <div class="sidebar-item">
                    <i class="fas fa-users"></i>
                    <span>Team</span>
                </div>
                <div class="subscribe">
                    <h3>Subscribe to our Newsletter!</h3>
                    <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                    <input type="email" placeholder="Email">
                    <button>Subscribe</button>
                </div>
                <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
            </aside>

            <section> 
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fas fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li> 
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fas fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fas fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="main-content">
                    <div>
                        <img src="{{ url_for('static', filename='images/logos/universities/USPLogo.png') }}" alt="University of Southeastern Philippines" class="univ-logo">
                        <h1>University of Southeastern Philippines</h1>
                        <h2 class="address">Iñigo St., Bo. Obrero, Davao City, Philippines</h2>
                        <div class="status">
                            <i class="status-icon fas fa-circle" id="status-icon"></i>
                            <span class="close" id="status-text">NOT YET OPENED</span>
                        </div>

                        <h3 id="req" class="heading3">Admission Requirements</h3>
                        <h4>High School Graduates</h4>
                        <ul>
                            <li>Accomplished application form.</li>
                            <li>Form 138 (Report Card).</li>
                            <li>Certificate of Good Moral Character.</li>
                            <li>Birth Certificate (PSA/NSO).</li>
                            <li>2x2 ID photo.</li>
                            <li>USePAT (USeP Admission Test) results.</li>
                        </ul>
                        <h4>Transferees</h4>
                        <ul>
                            <li>Transfer Credential/Honorable Dismissal.</li>
                            <li>Transcript of Records (TOR) for evaluation.</li>
                            <li>Certificate of Good Moral Character.</li>
                            <li>Birth Certificate (PSA/NSO).</li>
                            <li>2x2 ID photo.</li>
                            <li>USePAT results, if applicable.</li>
                        </ul>
                        <h4>Graduate School Applicants</h4>
                        <ul>
                            <li>Accomplished application form.</li>
                            <li>Official Transcript of Records (TOR).</li>
                            <li>Certificate of Employment (if applicable).</li>
                            <li>Recommendation letters from former professors/employers.</li>
                            <li>Birth Certificate (PSA/NSO).</li>
                            <li>2x2 ID photo.</li>
                        </ul>

                        <div class="section">
                            <h3 id="special" class="heading3">University Specializations</h3>
                            <ul>
                                <li>N/A</li>
                            </ul>
                        </div>

                        <h3 id="courses" class="heading3">University Courses</h3>
                        <h4>Undergraduate Programs</h4>
                        <h5>College of Arts and Sciences</h5>
                        <ul>
                            <li>Bachelor of Arts in English Language</li>
                            <li>Bachelor of Arts in Literature</li>
                            <li>Bachelor of Science in Biology (Majors: Animal Biology, Plant Biology)</li>
                            <li>Bachelor of Science in Mathematics</li>
                            <li>Bachelor of Science in Statistics</li>
                        </ul>
                        <h5>College of Education</h5>
                        <ul>
                            <li>Bachelor of Secondary Education (Majors: English, MAPEH)</li>
                            <li>Bachelor of Elementary Education (Majors: General Education, Special Education)</li>
                        </ul>
                        <h5>College of Engineering</h5>
                        <ul>
                            <li>Bachelor of Science in Civil Engineering</li>
                            <li>Bachelor of Science in Electrical Engineering</li>
                            <li>Bachelor of Science in Electronics Engineering</li>
                            <li>Bachelor of Science in Mechanical Engineering</li>
                            <li>Bachelor of Science in Geodetic Engineering</li>
                            <li>Bachelor of Science in Mining Engineering</li>
                        </ul>
                        <h5>College of Governance and Business</h5>
                        <ul>
                            <li>Bachelor of Science in Business Administration (Major: Financial Management)</li>
                            <li>Bachelor of Science in Entrepreneurship</li>
                            <li>Bachelor of Science in Economics (Majors: Development Economics, Natural Resource Economics)</li>
                            <li>Bachelor of Science in Public Administration</li>
                            <li>Bachelor of Science in Accountancy</li>
                            <li>Bachelor of Science in Hospitality Management</li>
                        </ul>
                        <h5>College of Information Technology</h5>
                        <ul>
                            <li>Bachelor of Science in Information Technology</li>
                            <li>Bachelor of Science in Computer Science</li>
                            <li>Bachelor of Science in Information Systems</li>
                        </ul>
                        <h5>College of Nursing</h5>
                        <ul>
                            <li>Bachelor of Science in Nursing</li>
                        </ul>
                        <h5>College of Technology</h5>
                        <ul>
                            <li>Bachelor of Science in Agribusiness</li>
                            <li>Bachelor of Science in Agroforestry</li>
                            <li>Bachelor of Science in Agriculture (Majors: Crop Science, Animal Science)</li>
                        </ul>
                        <h5>College of Tourism and Hotel Management</h5>
                        <ul>
                            <li>Bachelor of Science in Hotel and Restaurant Management</li>
                            <li>Bachelor of Science in Tourism Management</li>
                        </ul>

                        <div class="section">
                            <h3 id="contacts" class="heading3">Contacts</h3>
                            <h4>University Contacts</h4>
                            <ul>
                                <li>Telephone: (082) 221-4959</li>
                                <li>Email: usep@usep.edu.ph</li>
                                <li>Website: <a href="https://www.usep.edu.ph/" target="_blank">www.usep.edu.ph</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!--<script src="script.js"></script>-->
</body>
</html>
