<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section>
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#freshmen">Freshmen</a>
                                    <a href="#transferee">Transferee</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#grad">Graduate Programs</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                 <!-- START -->
                <!-- Agusan del Sur State College of Agriculture and Technology -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/PUPLogo.png') }}" alt="Agusan del Sur State College of Agriculture and Technology" class="univ-logo">
                    <h1>Agusan del Sur State College of Agriculture and Technology</h1>
                    <h2 class="address">P-24 Narra Avenue, Poblacion, Bayugan City</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
                    <h3 id="freshmen" class="heading3">Freshmen Requirements</h3>
                    <ul>
                        <li>
                            Long Brown Envelope containing the following:
                            <ul>
                                <li>Photocopy of the Philippine Statistics Authority (PSA) Authenticated Copy of Birth Certificate (Original copy must be presented for comparison purpose only)</li>
                                <li>If the entries are not readable, please secure a duly accomplished Local Civil Registrar Form 1A from the Civil Registrar’s Office where one's birth was registered.</li>
                                <li>If the PSA issues certification that the birth was not registered, please secure a copy of the said certification of Negative Birth Registry and the Local Birth Certificate acknowledged by the Local Civil Registrar. Photocopy of the Philippine Statistics Authority (PSA) Authenticated Copy of Marriage Contract, for married students only.</li>
                                <li>Original copy of any of the aforesaid must be presented for comparison purpose only.</li>
                                <li>Duly Accomplished Student Personal Record (SPR)</li>
                                <li>Original copy of the Duly Accomplished Department of Education (DepEd) Form 138-A (High School Card)</li>
                                <li>Original copy of the Certificate of Good Moral Character from School Last Attended</li>
                                <li>1 pc 2x2 ID picture (recent with white background)</li>
                                <li>Photocopy of Parents Income Tax or Certificate from BIR</li>
                                <li>Medical Certificate with Chest X-ray result (not yet required due to MECQ but must be accomplished once the MECQ is lifted)</li>
                                <li>Freshmen Checklist and Authorization which is downloadable at Registrar FB Page: <a href="https://www.facebook.com/CSUOAS" target="_blank">https://www.facebook.com/CSUOAS</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h3 id="transferee" class="heading3">Transferee Requirements</h3>
                    <ul>
                        <li>
                            Long Brown Envelope containing the following:
                            <ul>
                                <li>Photocopy of the Philippine Statistics Authority (PSA) Authenticated Copy of Birth Certificate (Original copy must be presented for comparison purpose only)</li>
                                <li>If the entries are not readable, please secure a duly accomplished Local Civil Registrar Form 1A from the Civil Registrar’s Office where one's birth was registered.</li>
                                <li>If the PSA issues certification that the birth was not registered, please secure a copy of the said certification of Negative Birth Registry and the Local Birth Certificate acknowledged by the Local Civil Registrar. Photocopy of the Philippine Statistics Authority (PSA) Authenticated Copy of Marriage Contract, for married students only.</li>
                                <li>Original copy of any of the aforesaid must be presented for comparison purpose only.</li>
                                <li>Duly Accomplished Student Personal Record (SPR)</li>
                                <li>Original copy of the Certificate of Transfer Credentials/Honorable Dismissal with attached Transcript of Records (TOR) with remarks “for evaluation purposes only issued by the School Last Attended. (This is required for “Incoming Graduate Program Students for other School”, “Transferee” and “Unit Earner” students only)</li>
                                <li>Photocopy of CSU TOR (This is required for “Incoming Graduate Program Students who are graduate from CSU student only).</li>
                                <li>Original copy of the Certificate of Good Moral Character from School Last Attended</li>
                                <li id="special">1 pc 2x2 ID picture (recent with white background)</li>
                                <li>Photocopy of Parents Income Tax or Certificate from BIR</li>
                                <li>Medical Certificate with Chest X-ray result (not yet required due to MECQ but must be accomplished once the MECQ is lifted)</li>
                                <li>Transferee Checklist and Authorization which is downloadable at Registrar FB Page: <a href="https://www.facebook.com/CSUOAS" target="_blank">https://www.facebook.com/CSUOAS</a></li>
                            </ul>
                        </li>
                    </ul>
                    <h3 class="heading3">University Specializations</h3>
                    <ul>
                        <li>Engineering and Information Sciences</li>
                    </ul>
                    
                    <h3 id="grad " class="heading3">Graduate Programs</h3>
                    <ul>
                        <li>
                            <h4>Doctoral Degree Programs</h4>
                            <ul>
                                <li>Doctor of Education in Educational Management (Ed.D)</li>
                                <li>Doctor of Philosophy in Mathematics (Ph.D.-Math)</li>
                                <li>Doctor of Philosophy in Mathematics Education (Ph.D.-MathEd)</li>
                                <li>Doctor of Philosophy in Science Education (Ph.D.-SciEd)</li>
                                <ul>
                                    <li>Ph.D.-SciEd (Biology)</li>
                                    <li>Ph.D.-SciEd (Physics)</li>
                                </ul>
                            </ul>
                            <h4>Master’s Degree Programs</h4>
                            <ul>
                                <li>Master of Arts in Education (MAED)</li>
                                <ul>
                                    <li>MAED - English Language Teaching (ELT)</li>
                                    <li>MAED - Educational Management (EM)</li>
                                    <li>MAED - Guidance & Counseling (GC)</li>
                                    <li>MAED - Teaching, Reading and Literature (TRL)</li>
                                    <li>MAED - Health Education (HE)</li>
                                </ul>
                                <li>Master of Arts in Guidance and Counseling (MA GC)</li>
                                <li>Master of Science in Environmental Management (MEM)</li>
                                <li>Master of Science in Biology (MSBio)</li>
                                <ul>
                                    <li>MSBio - Morphology</li>
                                    <li>MSBio - Ecology</li>
                                    <li>MSBio - Taxonomy</li>
                                    <li>MSBio - Genetics</li>
                                    <li>MSBio - Physiology</li>
                                </ul>
                                <li>Master of Science Education (MSciED)</li>
                                <ul>
                                    <li>MSciED - Biological Sciences</li>
                                    <li>MSciED - Physical Sciences</li>
                                    <li>MSciED - Elementary Sciences</li>
                                </ul>
                                <li>Master of Science in Crop Science (MSCS)</li>
                                <ul>
                                    <li>MSCS - Horticulture</li>
                                    <li>MSCS - Agronomy</li>
                                </ul>
                                <li>Master of Science in Information Technology (MSIT)</li>
                                <li>Master of Science in Mathematics (MSMATH)</li>
                                <li>Master of Science in Mathematics Education (MSMathEd)</li>
                                <li>Master in Public Administration (MPA)</li>
                            </ul>
                        </li>
                    </ul>
                    <h3 id="undergrad" class="heading3">Undergraduate Programs</h3>
                    <ul>
                        <li>
                            <h4>College of Humanities and Social Sciences</h4>
                            <ul>
                                <li>Bachelor of Science in Social Work</li>
                                <li>Bachelor of Science in Psychology</li>
                                <li>Bachelor of Arts in Sociology</li>
                            </ul>
                            <h4>College of Mathematics and Natural Sciences</h4>
                            <ul>
                                <li>Bachelor of Science in Biology</li>
                                <li>Bachelor of Science in Chemistry</li>
                                <li>Bachelor of Science in Physics</li>
                                <li>Bachelor of Science in Mathematics</li>
                                <li>Bachelor of Science in Applied Mathematics</li>
                            </ul>
                            <h4>College of Computing and Information Sciences</h4>
                            <ul>
                                <li>Bachelor of Science in Computer Science</li>
                                <li>Bachelor of Science in Information System</li>
                                <li>Bachelor of Science in Information Technology</li>
                            </ul>
                            <h4>College of Forestry and Environment Science</h4>
                            <ul>
                                <li>Bachelor of Science in Environmental Science</li>
                                <li>Bachelor of Science in Agroforestry</li>
                                <li>Bachelor of Science in Forestry</li>
                            </ul>
                            <h4>College of Education</h4>
                            <ul>
                                <li>Bachelor of Elementary Education</li>
                                <li>Bachelor of Secondary Education Major in English</li>
                                <li>Bachelor of Secondary Education Major in Filipino</li>
                                <li>Bachelor of Secondary Education Major in Science</li>
                                <li>Bachelor of Secondary Education Major in Mathematics</li>
                            </ul>
                            <h4>College of Agriculture and Agri-Industries</h4>
                            <ul>
                                <li>Bachelor of Agricultural Technology</li>
                                <li>Bachelor of Science in Agriculture</li>
                                <li>Bachelor of Science in Agriculture, Major in Agricultural Economics</li>
                                <li>Bachelor of Science in Agriculture, Major in Agronomy</li>
                                <li>Bachelor of Science in Agriculture, Major in Crop Protection</li>
                                <li>Bachelor of Science in Agriculture, Major in Soil Science</li>
                                <li>Bachelor of Science in Agriculture, Major in Agribusiness Management</li>
                                <li>Bachelor of Science in Agriculture, Major in Animal Science</li>
                                <li>Bachelor of Science in Agriculture, Major in Horticulture</li>
                            </ul>
                            <h4>College of Engineering and Geosciences</h4>
                            <ul>
                                <li>Bachelor of Science in Agricultural and Biosystems Engineering</li>
                                <li>Bachelor of Science in Civil Engineering</li>
                                <li>Bachelor of Science in Electronics Engineering</li>
                                <li>Bachelor of Science in Geodetic Engineering</li>
                                <li>Bachelor of Science in Mining Engineering</li>
                                <li>Bachelor of Science in Geology</li>
                            </ul>
                        </li>
                    </ul>
                    
                    <<h3 id="application" class="heading3">Application Process</h3>
                    <h4>For Freshmen:</h4>
                    <ol>
                        <li>Register online at <a href="https://myschool.carsu.edu.ph/index.php" target="_blank">https://myschool.carsu.edu.ph/index.php</a> by filling out the application for admission form.</li>
                        <li>Click save and take note of the Application Number.</li>
                        <li>Double-check the information you have entered. OAS will not make changes to the information you have provided, which will appear on your Student Personal Record.</li>
                    </ol>
                    <h4>For Transferees and Returnees:</h4>
                    <ol>
                        <li>Secure a Slots Availability Form at the Office of Admission and Scholarship.</li>
                        <li>Proceed to the Department and bring your Transcript of Records for evaluation.</li>
                        <li>Register online at <a href="https://myschool.carsu.edu.ph/index.php" target="_blank">https://myschool.carsu.edu.ph/index.php</a> by filling out the application for admission form. Click save and take note of the Application Number.</li>
                        <li>Set an appointment at <a href="https://admission.carsu.edu.ph/sites/online_appointment/" target="_blank">https://admission.carsu.edu.ph/sites/online_appointment/</a></li>
                        <li>Click SIGN IN. Use your application number as your username and your date of birth (YYYY-MM-DD) as the password to Sign In at the Online Appointment page. (Example: Username: 2023-00001 | Password: 2009-01-29)</li>
                        <li>Show up on your Appointment date (Examination Date).</li>
                        <li>Show up on your appointment date and bring the following requirements:</li>
                    </ol>
                    <ul>
                        <li>1 pc. Passport Size ID Picture with white background (dress code: formal/proper) (No Picture, NO EXAM)</li>
                        <li>Valid ID, any of the following: (School ID, Voter's ID, Voter's Certification, Driver's License, Postal ID, Passport, Police Clearance, or any Government issued ID; (NO ID, NO EXAM))</li>
                        <li>Application Number</li>
                        <li>Pencil (number 2, any brand)</li>
                        <li>Ballpen</li>
                        <li>Face mask</li>
                        <li>Alcohol/hand sanitizer.</li>
                    </ul>
                    <p>Your room assignment will be posted a day before your confirmed appointment. For your confirmed room assignment, please visit the Office of Admission and Scholarship Facebook page at: <a href="https://www.facebook.com/CSUOAS/" target="_blank">https://www.facebook.com/CSUOAS/</a></p>
                    <p><strong>Reminder:</strong></p>
                    <ul>
                        <li>NO COMPLETE REQUIREMENTS, NO EXAM.</li>
                        <li>WALK-IN APPLICANTS ARE NOT ALLOWED. ONLY SCHEDULED APPLICANTS MAY TAKE THE ADMISSION TEST.</li>
                        <li>APPLICANTS CAN ONLY TAKE THE TEST ONCE.</li>
                    </ul>
                    <p>In line with the safety protocols declared by the DEPARTMENT OF HEALTH (DOH), IF YOU HAVE FEVER, COUGH AND/OR COLDS PLEASE DO NOT SHOW UP ON YOUR EXAMINATION DATE AND CALL OUR OFFICE to inform about your situation.</p>
            
                    <h3 id="contacts" class="heading3">Contact Information</h3>
                    <ul>
                        <li>Email: adsco1966@gmail.com</li>
                        <li>Website: <a href="https://agusandelsurcollege.com" target="_blank">https://agusandelsurcollege.com</a></li>
                        <li>Phone: (085) 231-2150</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
