<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#grad">Graduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                    <a href="#online">Online</a>
                                    <a href="#mobile">Mobile SMS</a>
                                    <a href="#walk-in">Walk-in</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Apayao State College -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/ASCLogo.jpeg') }}" alt="Apayao State College" class="univ-logo">
                    <h1>Apayao State College</h1>
                    <h2 class="address">Pinukpuk Road, Conner, Apayao</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ol>
                        <li> Report Card (Form 138)</li>
                        <li>Certificate of Good Moral Character</li>
                        <li>Two (2) copies of 2x2 ID Picture with white background and name tag</li>
                        <li>Photocopy Philippine Statistic Authority (PSA) Birth Certificate</li>
                        <li>Certificate of Indigency (if applicable)</li>
                        <li>Barangay Clearance</li>
                        <li>Police Clearance; and</li>
                        <li>Long Brown Envelope</li>
                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li>Agriculture</li>
                        <li>Environment</li>
                        <li>Forestry</li>
                        <li>Industrial Technology</li>
                        <li>Education</li>
                        <li>Art and Sciences</li>
                    </ul>
            
                    <h3 id="grad" class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                            <h4>UNDERGRADUATE PROGRAMS</h4>
                            <ul>
                                <li>Bachelor of Secondary Education
                                    <p>Major in:</p>
                                    <ul>
                                        <li>English</li>
                                        <li>Math</li>
                                        <li>Social Science</li>
                                        <li>Filipino</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Elementary Education</li>
                                <li>Bachelor in Information Technology</li>
                                <li>Bachelor in Industrial Technology
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Auto.Tech.</li>
                                        <li>Elec’cs Tech.</li>
                                        <li>Garments Tech.</li>
                                        <li>Food Tech.</li></li>
                                    </ul>
                                </li>
                                <li id="application">Bachelor of Technical Teacher Education</li>
                                <li>Bachelor of Science in Civil Engineering</li>
                                <li>Bachelor of Science in Hotel & Restaurant Mgmt.</li>
                                <li>Bachelor of Science in Agriculture</li>
                                <li>Bachelor of Science in Business Administration</li>
                                <li>Bachelor of Science in Tourism</li>
                                <li>Bachelor of Science in Criminology</li>

                            </ul>
                        </li>

                        <li>
                            <h4 id="online">GRADUATE PROGRAMS</h4>
                            <ul>
                                <li>PhD in Education major in Educational Leadership & Management</li>
                                <li>Educational Management (MAED)</li>
                                <li>Program Development & Administration (MPA)</li>
                            </ul>
                        </li>
                    </ul>

            
                    <h3 id="mobile" class="heading3">Application Process</h3> <!--Application Process-->
                    <ol>
                        <li>Online</li>
                           <p>Access the google forms available in the College</p>
                              <ul>
                                <li>Website: <a href="asc.edu.ph">asc.edu.ph</a></li>
                                <li>College Official Facebook Page: <a href="www.facebook.com/asceduofficial">www.facebook.com/asceduofficial</a></li>
                              </ul>
                            <p>Downloadable Forms</p>
                              <ul>
                                <li>You may download the pre-registration form at the College's Website (<a href="www.asc.edu.ph">www.asc.edu.ph</a>)</li>
                                <li>Scan the accomplished form and email it to the Department where you intend to enroll (Refer to the contacts and email attachments in PDF):</li>
                                <li>Copy of Form 138(For incoming First Years)</li>
                                <li>Copy of Philippine Statistics Authority</li>
                                <li>Honorable dismissal (For transferees)</li>
                                <li>Authenticated Birth Certificate (For incoming First Years)</li>
                                <li>Indicate your:</li>
                                   <ul>
                                    <li>Age</li>
                                    <li>Permanent Home Address</li>
                                    <li>School last attended</li>
                                    <li>Course you intend to enroll</li>
                                   </ul>
                              </ul>

                        <li id="walk-in">Mobile SMS</li>
                          <ul>
                            <li>You can call or text the numbers indicated below.</li>
                            <li>Please indicate the data needed:</li>
                               <ul>
                                <li>Name</li>
                                <li>Age</li>
                                <li>Birthday</li>
                                <li>Birthplace</li>
                                <li>Father's Name & Mother's Name</li>
                                <li>Permanent Home Address</li>
                                <li>School last attended</li>
                                <li>General Weighted Average (per Form 138) (For incoming First Years)</li>
                                <li>Course you intend to enroll</li>
                               </ul>
                          </ul>

                        <li id="contacts">Walk-in</li>
                          <p>By appointment</p>
                            <ul>
                                <li>Get an appointment by calling or texting the numbers indicated below</li>
                                <li>Physical presence in the campus COMPLYING ALL PROTOCOLS AND RULES OF INTER-AGENCY TASK FORCE FOR INFECTIOUS DISEASE and the College.</li>
                            </ul>

                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto:op_asc@yahoo.com">op_asc@yahoo.com</a></li>
                        <li>Telephone: 09566755743 or 09057528129</li>
                        <li>Website: <a href="https://asc.edu.ph">https://asc.edu.ph</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>