<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Branches</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#main">Main Campus</a>
                                    <a href="#bangued">Bangued Campus</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                    <a href="#part">Part-time Students</a>
                                    <a href="#old">Returnees</a>
                                    <a href="#cross">Cross Enrolees</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Polytechnic University of the Philippines -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/ASISTLogo.png) }}" alt="Polytechnic University of the Philippines" class="univ-logo">
                    <h1>Abra State Institute Of Science and Technology</h1>
                    <h2 class="address">Lagangilang 2802, Cordillera Administrative Region, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="part" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <h5>GENERAL REQUIREMENTS</h5>
                       <ol>
                           <li>Form 138 or High School report card (For High School Graduates only)</li>
                           <li>Birth Certificate/Certificate of Live Birth from NSO</li>
                           <li>Honorable Dismissal (for transferees)</li>
                           <li>Transcript of Records (for transferees)</li>
                           <li>Certificate of Good Moral Character</li>
                           <li>Two copies of ID picture (1x1); two copies 2x2 ID picture</li>
                           <li>Certificate of Class Rank (for recipients of ASIST Scholarship Award only)</li>
                       </ol>

                    <h5 id="old">FOR SPECIAL/PART-TIME STUDENTS</h5>
                       <ol>
                        <li>Transcript of Records</li>
                        <li>Certificate of Good Moral Character</li>
                        <li>Two copies of ID picture (1x1); two copies 2x2 ID picture</li>
                       </ol>

                    <h5 id="cross">FOR OLD-RETURNEES</h5>
                       <ol>
                        <li>Seek re-admission certificate from the Admission Office before they are allowed to re-enroll.</li>
                       </ol>

                    <h5 id="special">FOR CROSS ENROLEES</h5>
                       <ol>
                        <li>A student registered in any institution may be admitted to the college provided he/she presents a written permit 
                            from the Dean or Registrar of the school last attended setting forth the courses and the total number of units in which the student 
                            will be registered.
                        </li>
                       </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="main">Agriculture</li>
                        <li>Forestry</li>
                        <li>Home Technology</li>
                    </ul>
            
                    <h3 id="bangued" class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                          <h4>UNDERGRADUATE PROGRAMS</h4>
                          <ul>
                            <li>Main Campus
                              <ul>
                                <li>Bachelor of Secondary Education (BSED)
                                   <p>Major in:</p>
                                   <ul>
                                     <li>English</li>
                                     <li>Filipino</li>
                                     <li>Mathematics</li>
                                     <li>Science</li>
                                   </ul
                                </li>
                                <li>Bachelor of Physical Education (BPE)</li>
                                <li>Bachelor of Science in Home Technology (BSHT)</li>
                                <li>Bachelor in Technology and Livelihood Education (BTLED)
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Home Economics</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Early Childhood Education (BCED)</li>
                                <li>MBachelor of Science in Biology (BSBIO)</li>
                                <li>Bachelor of Science in Mathematics (BSMATH)</li>
                                <li>Bachelor of Science in Environmental Science (BSES)</li>
                                <li>Bachelor of Science in Information Technology (BSIT)
                                    <p>Major in:</p>
                                    <ul>
                                        <li>System Administration and Maintenance</li>
                                        <li>Web Technologies and Management</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Science in Agriculture (BSA)</li>
                                <li>Bachelor of Science in Agribusiness (BSAB)</li>
                                <li>Bachelor in Cooperative Management (BSM)</li>
                                <li>Bachelor in Agricultural Technology (BAT)
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Crop Production</li>
                                        <li>Animal Production</li>
                                        <li>Farm Mechanization</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Science in Forestry (BSF)</li>
                                <li>Bachelor of Science in Agroforestry (BSAF)</li>
                              </ul>
                            </li>
            
                            <li>Bangued Campus
                              <ul>
                                <li>Bachelor of Elementary Education (BEED)</li>
                                <li>Bachelor of Secondary Education (BSED)                                
                                    <p>Major in:</p>
                                    <ul>
                                        <li>English</li>
                                        <li>Filipino</li>
                                        <li>Mathematics</li>
                                        <li>Biological Science</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Science in Home Technology (BSHT)</li>
                                <li>Bachelor in Technology and Livelihood Education (BTLED)
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Industrial Arts</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Early Childhood Education (BCED)</li>
                                <li>Bachelor of Technical Vocational Teacher Education (BTVTED)
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Food and Service Management</li>
                                        <li>Electronics</li>
                                        <li>Garments and Fashion Design</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Arts in English Language (ABEL)</li>   
                                <li>Bachelor of Science in Civil Engineering (BSCE) </li>
                                <li id="doctoral">Bachelor of Science in Electrical Engineering (BSEE)</li>
                                <li>Bachelor of Science in Mechanical Engineering (BSME)</li>
                                <li>Bachelor in Industrial Technology (BIT)      
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Apprel and Fashion Technology</li>
                                        <li>Automotive Technology</li>
                                        <li>Cosmetology Management</li>
                                        <li>Culinary Management</li>
                                        <li>Drafting Technology</li>
                                        <li>Electrical Technology</li>
                                        <li>Electronics Technology</li>
                                    </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
            
                        <li>
                            <h4 id="masters">DOCTORAL PROGRAMS</h4>
                            <ul>
                                <li>PhD in Language</li>
                                <li>PhD in Agricultural Science (Majors in Crop and Animal Science)</li>
                                <li>EdD in Teaching Science</li>
                                <li>EdD in Administration cum Management</li>
                            </ul>
                        </li>
            
                        <li>
                            <h4 id="application">MASTER PROGRAMS</h4>
                            <ul>
                                <li>Master of Arts in Mathematics</li>
                                <li>Master of Arts in General Science</li>
                                <li>Master of Arts in English</li>
                                <li>Master of Arts in Filipino</li>
                                <li>Master of Arts in Education (Major in Educational Management)</li>
                            </ul>
                        </li>
            
                        
                    <h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>When applying for admission to Abra State Institute of Sciences and Technology or ASIST in the Philippines you should prepare all required documents</li>
                        <li>Request a list of necessary documents directly from a university, as it may vary for different countries. Using our live chat, you can also ask for sample documents:</li>
                            <ul>
                                <li>Birth Certificate</li>
                                <li>Photographs</li>
                                <li>Declaration for financial support</li>
                                <li>Proof of fee payment</li>
                                <li>Student visa</li>
                                <li>Application fee</li>
                                <li>Motivation Letter</li>
                                <li>Family Details</li>
                                <li>Online Application form</li>
                                <li>Passport</li>
                                <li>Health and Life Insurance</li>
                            </ul>
                        
                        </li>
                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Telephone: +63 (74) 752 8171</li>
                        <li>Website: <a href="www.asist.edu.ph">www.asist.edu.ph</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>