<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/regionsU.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/regionsU.css') }}" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header> <!-- Navigation -->
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
           </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                {% if current_user.is_authenticated %}
                    <span>{{ current_user.username }}</span>
                {% else %}
                    <span>Guest</span>
                {% endif %}
                <i class="fa-solid fa-chevron-down"></i>
              </div>
        </div>
    </header>

    <div class="container"> <!-- Main Container -->
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <div class="univs">
                <section>
                    <h2>BANGSAMORO REGION</h2>
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='amsc') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/amscBG.JPG') }}" alt="Adiong Memorial State College">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Adiong Memorial State College</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='bts') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/btsBG.jpg') }}" alt="Balabagan Trade School">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Balabagan Trade School</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='bsc') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/bscBG.JPG') }}" alt="Basilan State College">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Basilan State College</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='csu') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/csuBG.jpg') }}" alt="Cotabato State University">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Cotabato State University</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='hbsat') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/hbsatBG.jpg') }}" alt="Hadji Butu School of Arts and Trades">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Hadji Butu School of Arts and Trades</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>    
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='lac') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/lac2BG.jpg') }}" alt="Lanao Agricultural College">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Lanao Agricultural College</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>    
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='las') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/lasBG.jpg') }}" alt="Lapak Agricultural School">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Lapak Agricultural School</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>    
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='msu') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/msuBG.jpg') }}" alt="Mindanao State University">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Mindanao State University</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>    
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='rema') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/remaBG.jpg') }}" alt="Regional Madrasah Graduate Academy">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Regional Madrasah Graduate Academy</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>    
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='ssc') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/sscBG.JPG') }}" alt="Sulu State College">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Sulu State College</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>    
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='trac') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/tracBG.JPG') }}" alt="Tawi-tawi Regional Agricultural College">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Tawi-tawi Regional Agricultural College</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>    
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='umnas') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/umnasBG.PNG') }}" alt="Unda Memorial National Agricultural School">
                            </div>
                            <div class="overlay">
                                <span class="school-name">Unda Memorial National Agricultural School</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>    
                    <div class="university-card">
                        <a href="{{ url_for('universityDeets', university_id='usm') }}">
                            <div class="bg-img">
                                <img src="{{ url_for('static', filename='images/logos/bg_img/usmBG.jpeg') }}" alt="University of Southern Mindanao">
                            </div>
                            <div class="overlay">
                                <span class="school-name">University of Southern Mindanao</span>
                            </div>
                        </a>
                        <button class="bookmark-btn">
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>                   
                </section>
            </div>
        </main>
        
        <script src="{{ url_for('static', filename='js/regionsU.js') }}"></script>
    </div>
</body>
</html>
