<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> 
                <!-- Navigation -->
                    <nav>
                        <ul>                                                                                                                                                              
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content"><ul>
                                    <li><a href="#old">Old Students</a>
                                    <li><a href="#new">New Students</a></li>
                                    </li>
                                    </ul>
                                </div>
                            </li>
                            
                            
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                  
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#app">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                                          
                
                
                <!-- Baco Community College -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/BCCLogo.jpeg') }}" alt="Baco Community College" class="univ-logo">
                    <h1>Baco Community College</h1>
                    <h2 class="address">Brgy. Pulantubig, Baco, Oriental Mindoro</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="req" class="heading3">Admission Requirements</h3> 
                    <!-- Admission Requirements -->
                    <div id="old">
             	 <h4><em>For Old Students</em></h4>
                    <ol>
                        <li>Class cards</li>
                        <li>Clearance and Permit</li>
                        </ol>
                        </div>
                        
                        <div id="new">
                        <h4><em>For New Students</em></h4>
                        <ol>
                        
                        <li>PSA Birth Certificate</li>
                        <li>Certificate of Indigency/Residency</li>
                        <li>2x2 ID Pictures white background (2 pcs)</li>
                        <li>Form 138/ Transcript of Records (TOR) (for TRANSFERREE STUDENT/S)</li>
                        <li>Good Moral Certificate / Honorable Dismissal (for TRANSFEREE STUDENT/S)</li>
                        <li>Form 137</li>
                        <li>Long Brown Envelope</li>
                    </ol>
         	   </div>
         	   
                    <h3 id="special" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="openuni">Arts and Sciences</li>
                        <li>Education</li>               
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    
                    <div id="undergrad">
                          <h4>UNDERGRADUATE PROGRAMS</h4>
                          </div>
                            <h4><ins>Arts and Sciences</ins></h4>
                              <ul>
                                <li>Bachelor of Arts in History (ABH)</li>
                                <li>Bachelor of Public Administration(BPA)</li>
                                </ul>                            
                                
                              <h4><ins>Education</ins></h4><ul><li>Bachelor in Technical-Vocational Teacher Education (BTVTED)</li></ul>
            
                            
            
                    <h3 id="app" class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li><i>Visit the Website</i></br>
Visit the site, and you will see the menu icon, and find the Enroll button.
</li>
                        <li><i>Create account | Account Registration</i></br>
In registration of account, you need to fill-out all the fields. After registration, you will recieve an email notification to verify your account. After verification, you will be able to log in.
</li>

                        <li><i>Submit Credentials</i></br>After logging in, you will be redirected to this section, you need to submit given credential in order for you to be eligible to enroll</li>
                        </ol>
                                        
    <h3 id="contacts" class="heading 3">Contact Information</h3>
        <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto: bccregistrar1@gmail.com">bccregistrar1@gmail.com</a></li>
                        <li>Phone:+63 995 (462) 318</li>
                        <li>Website: <a href="https://bccwebportal.com">https://bccwebportal.com</a></li>
               	</ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>


