<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Branches</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#openuni">Open University</a>
                                    <a href="#main">Main Campus</a>
                                    <a href="#bokod">Bokod Campus</a>
                                    <a href="#buguias">Buguias Caampus</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                    <a href="#shs">SHS Graduate</a>
                                    <a href="#transferees">Transferees</a>
                                    <a href="#shift">Shifters</a>
                                    <a href="#grad">Graduate School</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Benguet State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/BENGUETLogo.png) }}" alt="Benguet State University" class="univ-logo">
                    <h1>Benguet State University</h1>
                    <h2 class="address">La Trinidad, Benguet, 2601 Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="shs" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <h4 id="transferees">FOR SHS GRADUATES</h4>
                      <ol>
                        <li>Must be a high school graduate</li>
                        <li>Must have a GWA in high school of 85% or better</li>
                        <li>Must be physically and mentally fit</li>
                        <li>Must be of good moral character</li>
                        <li>Must have an at least average qualitative interpretation of CQE</li>
                      </ol>

                    <h4 id="shift">FOR TRANSFEREES</h4>
                      <ol>
                        <li>Must be physically and mentally fit</li>
                       <li>Must be of good moral character</li>
                       <li>Must have an at least average qualitative interpretation of CQE</li>
                       <li>Note: Transferees are not accepted during the 2nd Semester.</li>
                      </ol>

                    <h4 id="grad">FOR SHIFTERS</h4>
                      <ol>
                        <li>Must submit application letter 1 month before the scheduled 1st day of enrollment</li>
                        <li>Must have at least GWA of 2.65</li>
                        <li>Note: Acceptance of students will be based on rank or quota system</li>
                        <li>IF QUALIFIED, submit the following during enrollment:</li>
                           <ul>
                            <li>Medical Slip</li>
                            <li>Form 138</li>
                            <li>Certificate of Good moral Character</li>
                            <li>Transfer credential and True - Copy of grades (for transferees only)</li>
                           </ul>
                      </ol>

                    <h4 id="special">FOR GRADUATE SCHOOL</h4>
                      <ol>
                        <li>Must submit Application for Admission</li>
                        <li>Must submit transfer credential and Transcript of Records (OTR) from last school attended, OTR only if BSU graduate (GPA=2.50 or better)</li>
                        <li>Two (2) letters or recommendations from previous instructors</li>
                        <li>Study program/thesis topic</li>
                        <li>Application Fee</li>
                        <li>Study Permit: for foreign students:</li>
                        <li>IF QUALIFIED, submit the following during enrollment:</li>
                          <ul>
                            <li>Medical Slip</li>
                            <li>Transfer credential from last school attended or a photocopy of Official Transcript of Records, if BSU graduate</li>
                          </ul>
                      </ol>


                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="main">Arts</li>
                        <li>Sciences</li>
                        <li>Education</li>
                        <li>Forestry</li>
                        <li>Agriculture</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                            <h4 id="doctoral">UNDERGRADUATE PROGRAMS</h4>
                            <ul>
                                <li>Main University</li>
                                <ul>
                                    <li><strong>College of Agriculture</strong>
                                        <ul>
                                            <li>Bachelor of Science in Agriculture
                                                <p>Major in:</p>
                                                <ul>
                                                    <li>Agronomy</li>
                                                    <li>Entomology</li>
                                                    <li>Agricultural Economics</li>
                                                    <li>Extension Education</li>
                                                    <li>Agroforestry</li>
                                                    <li>Horticulture</li>
                                                    <li>Animal Science</li>
                                                    <li>Organic Agriculture</li>
                                                  </ul>
                                            </li>
                                            <li>Bachelor of Science in Agribusiness
                                                <p>Major in:</p>
                                                  <ul>
                                                   <li>Enterprise Management</li>
                                                   <li>Cooperative Management</li>
                                                  </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li><strong>College of Teacher Education</strong>
                                        <ul>
                                            <li>Bachelor of Science in Secondary Education
                                                 <p>Major in:</p>
                                                 <ul>
                                                     <li>Biological Science</li>
                                                     <li>Social Studies</li>
                                                     <li>English</li>
                                                     <li>Mathematics</li>
                                                     <li>Filipino</li>
                                                     <li>Physical Science</li>
                                                     <li>Values Education</li>
                                                     <li>Physical Education, Health, Music and Arts</li>
                                                 </ul>
                                            </li>
                                            <li>Bachelor of Science in Elementary Education
                                                 <p>Major in:</p>
                                                 <ul>
                                                     <li>General</li>
                                                     <li>Pre-elementary</li>
         
                                            </li>
                                            <li>Bachelor of Early Childhood Education</li>
                                             <li>Bachelor of Technology and Livelihood Education</li>
                                        </ul>
                                    </li>

                                    <li><strong>College of Arts and Humanities</strong>
                                        <ul>
                                            <li>Bachelor of Arts in Communication</li>
                                            <li>Bachelor of Arts in English Language</li>
                                            <li>Bachelor of Arts in Filipino Language</li>
                                        </ul>
                                    </li>

                                    <li><strong>College of Natural Sciences</strong>
                                        <ul>
                                            <li>Bachelor of Science in Biology</li>
                                            <li>Bachelor of Science in Environmental Science</li>
                                            <li>Bachelor of Science in Chemistry</li>
                                        </ul>
                                    </li>

                                    <li><strong>College of Numeracy and Applied Sciences</strong>
                                        <ul>
                                            <li>Bachelor of Science in Mathematics</li>
                                            <li>Bachelor of Science in Statistics</li>
                                        </ul>
                                    </li>

                                    <li><strong>College of Social Sciences</strong>
                                        <ul>
                                            <li>Bachelor of Arts in History</li>
                                            <li>Bachelor of Arts in Psychology</li>
                                        </ul>
                                    </li>

                                    <li><strong>College of Home Economics and Technology</strong>
                                        <ul>
                                             <li>Bachelor of Science in Hospitality Management</li>
                                             <li>Bachelor of Science in Food Technology</li>
                                             <li>Bachelor of Science in Nutrition and Dietics</li>
                                             <li>Bachelor of Science in Tourism Management</li>
                                             <li>Bachelor of Science in Entrepreneurship Specialized in Apparel and Fashion Enterprise</li>
                                             <li>Bachelor of Science in Entrepreneurship Specialized in Food Enterprise</li>
                                        </ul>
                                    </li>

                                    <li><strong>College of Public Administration and Governance</strong>
                                        <ul>
                                            <li>Bachelor in Public Administration</li>
                                            <li>Diploma in Public Administration</li>
                                            <li>Certificate in Public Administration</li>
                                        </ul>
                                    </li>

                                    <li><strong>College of Human Kinetics</strong>
                                        <ul>
                                            <li>Bachelor of Science in Exercise and Sports Science</li>
                                            <li>Bachelor of Science in Physical Education</li>
                                        </ul>
                                    </li>

                                    <li><strong>College of Engineering</strong>
                                        <ul>
                                             <li>Bachelor of Science in Agricultural and Biosystems Engineering</li>
                                             <li>Bachelor of Science in Civil Engineering</li>
                                             <li>Bachelor of Science in Industrial Engineering</li>
                                             <li>Bachelor of Science in Electrical Engineering</li>

                                        </ul>
                                    </li>

                                    <li><strong>College of Information Sciences</strong>
                                        <ul>
                                            <li>Bachelor of Science in Information Sciences</li>
                                            <li>Bachelor of Science in Information Technology</li>
                                            <li>Bachelor of Science in Development Communication
                                                <p>Major in:</p>
                                                <ul>
                                                     <li>Community Broadcasting</li>
                                                     <li>Development Journalism</li>
                                                     <li>Educational Communication</li>
                                                     <li>Science Communication</li>
                                                </ul>
                                            </li>
                                             <li>Bachelor of Science in Forestry</li>
                                             <li>Bachelor of Science in Nursing</li>
                                             <li>Bachelor of Science in Veterinary Medicine</li>
                                        </ul>
                                    </li>

                                </ul>
                            </ul>
                        </li>

                        <li>
                            <h4 id="masters">DOCTORAL PROGRAMS</h4>
                            <li><strong>College of Agriculture</strong>
                                <ul>
                                    <li>Doctor of Philosophy in Agronomy</li>
                                     <li>Doctor of Philosophy in Rural Development</li>
                                     <li>Doctor of Philosophy in Horticulture</li>
                                </ul>
                            </li>

                            <li><strong>College of Arts and Humanites</strong>
                                <ul>
                                    <li>Doctor of Philosophy in Language
                                        <p>Major in:</p>
                                        <ul>
                                            <li>English Language</li>
                                            <li>Filipino Language</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><strong>College of Teacher Education</strong>
                                <ul>
                                    <li>Doctor of Philosophy in Education major in Education Management</li>
                                </ul>
                            </li>

                            <li><strong>College of Natural Sciences</strong>
                                <ul>
                                    <li>Doctor of Philosophy in Science Education major in Biology</li>
                                </ul>
                            </li>
                        </li>

                        <li>
                            <h4 id="openuni">MASTERAL PROGRAMS</h4>

                            <li><strong>College of Agriculture</strong>
                                <ul>
                                     <li>Master of Science in Agribusiness Management</li>
                                     <li>Master of Science in Soil Science</li>
                                     <li>Master of Science in Agricultural Economics</li>
                                     <li>Master of Science in Agronomy</li>
                                     <li>Master of Science in Animal Science</li>
                                     <li>Master of Science in Entomology</li>
                                     <li>Master of Science in Horticulture</li>
                                     <li>Master of Science in Plant Pathology</li>
                                     <li>Master of Science in Rural Development</li>
                                </ul>
                            </li>

                            <li><strong>College of Teacher Education</strong>
                                <ul>
                                     <li>Master of Arts in Education major in Early Childhood Education</li>
                                     <li>Master of Arts in Educational Administration and Supervision</li>
                                     <li>Master of Arts in Elementary Education</li>
                                     <li>Master of Arts in Guidance</li>
                                </ul>
                            </li>

                            <li><strong>College of Arts and Humanities</strong>
                                <ul>
                                    <li>Master of Arts in English as a Second Language</li>
                                    <li>Master of Arts in Filipino</li>
                                </ul>
                            </li>

                            <li><strong>College of Natural Sciences</strong>
                                <ul>
                                     <li>Master of Science in Biology</li>
                                     <li>Master of Science in Environmental Science</li>
                                     <li>Master of Science in Chemistry</li>
                                </ul>
                            </li>

                            <li><strong>College of Numeracy and Applied Sciences</strong>
                                <ul>
                                     <li>Master of Arts in Applied Statistics</li>
                                     <li>Master of Arts in Mathematics</li>
                                     <li>Master of Science in General Science</li>
                                     <li>Master of Arts in Physics</li>
                                </ul>
                            </li>

                            <li><strong>College of Social Sciences</strong>
                                <ul>
                                    <li>Master of Arts in Social Studies</li>
                                </ul>
                            </li>

                            <li><strong>College of Home Economics and Technology</strong>
                                <ul>
                                    <li>Master of Arts in Home Economics</li>
                                    <li>Master of Arts in Technical and Vocational Studies (formerly MA Technology & Home Economics)</li>
                                </ul>
                            </li>

                            <li><strong>College of Public Administration and Governance</strong>
                                <ul>
                                    <li>Master in Public Administration</li>
                                </ul>
                            </li>

                            <li><strong>College of Human Kinetics</strong>
                                <ul>
                                    <li>Master of Science in Physical Education</li>
                                    <li>Diploma in Physical Education</li>
                                </ul>
                            </li>

                            <li><strong>College of Information Sciences</strong>
                                <ul>
                                    <li>Master in Library and Information Science</li>
                                </ul>
                            </li>

                            <li><strong>College of Forestry</strong>
                                <ul>
                                    <li>Master of Science in Forestry</li>
                                </ul>
                            </li>
                        </li>

                            <li id="bokod"><strong>Open University</strong>
                                <ul>
                                    <li>MASTERAL PROGRAMS
                                    <ul>
                                        <li>Master in Human Resource Management</li>
                                        <li>Master in Community Development</li>
                                        <li>Master in Development Communication</li>
                                        <li>Master in Urban Management</li>
                                        <li>Master in Non-Formal Education</li>
                                        <li>Master in Community Health Development</li>
                                        <li>Master in Cooperative Management</li>
                                    </ul>
                                    </li>
                                    <li>POST-BACCALAUREATE
                                        <ul>
                                            <li>Diploma in Training Management</li>
                                            <li>Diploma in Community Health Development</li>
                                            <li>Certificate in Organic Agriculture</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li id="buguias"><strong>Bokod Campus</strong>
                                <ul>
                                     <li>Bachelor of Elementary Education</li>
                                     <li>Bachelor of Technical-Vocational Teacher Education</li>
                                     <li>Bachelor in Industrial Engineering</li>
                                     <li>Bachelor of Science in Entrepreneurship</li>
                                </ul>
                            </li>

                            <li id="application"><strong>Buguias Campus</strong>
                                <ul>
                                    <li>Bachelor of Elementary Education (BEEd)</li>
                                     <li>Bachelor of Secondary Education (BSEd)</li>
                                     <li>Bachelor of Agricultural Technology</li>
                                     <li>Bachelor of Physical Education</li>
                                     <li>Bachelor of Education</li>
                                     <li>Bachelor of Science in Criminology</li>
                                     <li>Bachelor of Technical-Vocational Teacher</li>
                                </ul>
                            </li>
                    </ul>


                    <h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>Read the Advisory on the new admission policy of BSU which was earlier posted.</li>
                        <li>Read the Advisory on the opening of available slots for admission for Second Semester, S.Y. 2021-2022, likewise, earlier posted.</li>
                        <li>Apply to a degree program with available slot and to which you are qualified.</li>
                        <li>Only applications with correct and complete requirements will be received and processed.</li>
                        <li>Posting of the result of application for admission shall be made on or before the first day of enrollment, which is January 4, 2022through the Facebook page of the Admissions-BSU, BSU Website and or social media of the University.</li>
                        <li>Application is not on a first-come-first-serve basis. A screening process shall be conducted.</li>
                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Telephone: 074.422.2127-2402</li>
                        <li>Website: <a href="https://www.bsu.edu.ph">https://www.bsu.edu.ph</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>