<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li> 
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Batangas State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/bsuLOGO.png) }}" alt="Batangas State University" class="univ-logo">
                    <h1>Batangas State University</h1>
                    <h2 class="address">Rizal Avenue, Batangas City</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ul>
                        <li>Applicants must have completed high school in a recognized school, or must be enrolled in Senior High School, if not yet completed.</li>
                        <li>Applicants must submit the following:</li>
                        <ul>
                            <li>E-copy of Filled–out Application Form</li>
                            <li>E-copy of one (1) recent 2”x2” ID picture with white or plain background</li>
                            <li>Certified e-copy of final grades in Grades 10, and 11 in Math, English and Science</li>
                            <li>Grades Form 1 (for Regular Admission) / Grades Form 2 (for ALS)</li>
                            <li>Junior High School and Senior High School Form 137</li>
                            <li>Certification of completion of SHS and respective strand or enrolment therein, if not completed</li>
                            <li>The original hard copy of requirements will be submitted upon request of the Testing and Admission Office, the University Registrar, and/or College.</li>
                        </ul>
                    </ul>
                
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <h4>UNDERGRADUATE PROGRAMS</h4>
                        <li><strong>COLLEGE OF ACCOUNTANCY, BUSINESS & ECONOMICS, AND INTERNATIONAL HOSPITALITY MANAGEMENT</strong>
                            <ul>
                                <li>BS Accountancy</li>
                                <li>BS Accounting Management</li>
                                <li>BS Applied Economics</li>
                                <li>BS Business Administration</li>
                                <p>Major in: </p>
                                <ul>
                                    <li>Business Economics</li>
                                    <li>Financial Management</li>
                                    <li>Human Resource Development Management</li>
                                    <li>Marketing Management</li>
                                    <li>Operations Management</li>
                                    <li>Associate in Accounting</li>
                                    <li>Associate in Management</li>
                                </ul>
                                <li>BS Hotel and Restaurant Management</li>
                                <li>BS Tourism Management</li>
                                <li>Associate in Hotel and Restaurant Management</li>
                                <li>Associate in Tourism Management</li>
                                <li>BA Public Administration</li>
                                <li>BS Customs Administration</li>
                                <li>BS Entrepreneurship</li>
                            </ul>
                        </li>
                        <li><strong>COLLEGE OF INDUSTRIAL TECHNOLOGY</strong>
                            <ul>
                                <li>Ladderized – Dual Training System Application</li>
                                <li>1 – year Vocational Course</li>
                                <li>2 – years Technical Course</li>
                                <li>3 – years Technician Course</li>
                                <p>Major in: </p>
                                <ul>
                                    <li>Automotive Technology</li>
                                    <li>Civil Technology</li>
                                    <li>Computer Technology</li>
                                    <li>Drafting Technology</li>
                                    <li>Electrical Technology</li>
                                    <li>Electronics Technology</li>
                                    <li>Food Technology</li>
                                    <li>Instrumentation and Control Technology</li>
                                    <li>Mechanical Technology</li>
                                    <li>Mechatronics Technology</li>
                                    <li>Welding and Fabrication Technology</li>
                                </ul>
                            </ul>
                        </li>
                        <li><strong>COLLEGE OF NURSING AND ALLIED HEALTH SCIENCES</strong>
                            <ul>
                                <li>BS Nursing</li>
                                <li>BS Nutrition & Dietetics</li>
                                <li>Diploma in Midwifery (2 years)</li>
                            </ul>
                        </li>
                        <li><strong>COLLEGE OF AGRICULTURE AND FORESTRY</strong>
                            <ul>
                                <li>BS Agriculture</li>
                                <li>BS Forestry</li>
                                <li>Certificate in Agricultural Science</li>
                            </ul>
                        </li>
                        <li><strong>INSTITUTE OF MARITIME TRANSPORTATION</strong>
                            <ul>
                                <li>One- year Seafarer’s Rating Certificate – Stewarding (SRC)</li>
                                <li>Bachelor of Elementary Education</li>
                                <p>Major in: </p>
                                <ul>
                                    <li>General Curriculum</li>
                                </ul>
                                <li>Bachelor of Secondary Education</li>
                                <p>Major in: </p>
                                <ul>
                                    <li>English</li>
                                    <li>Mathematics</li>
                                </ul>
                            </ul>
                        </li>
                    </ul>
            
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>Fill out the BatStateU College Application form at the <a href="https://dione.batstateu.edu.ph/tao/#/application">https://dione.batstateu.edu.ph/tao/#/application</a>.</li>
                        <li>Upload the scanned copy of Certification of Grades of applicant for the following subjects for each grade level</li>
                        <ul>
                            <li>Grade 10 - Mathematics, Science, English</li>
                            <li>Grade 11, 1st semester (non-STEM) – General Mathematics, Earth Science and Oral Communication</li>
                            <li>Grade 11, 2nd semester (non-STEM) - Statistics and Probability, Physical Science and Reading & Writing</li>
                            <li>Grade 11, 1st semester (STEM) – Pre-Calculus, Earth Science, Oral Communication</li>
                            <li>Grade 11, 2nd semester (STEM) – Basic Calculus, General Chemistry I, and Reading & Writing</li>
                            <li>In case of unavailability of the aforementioned priority subjects, the following alternative subjects may be considered:</li>
                            <li>STEM strand</li>
                            <ul>
                                <li>English: English for Academic Purposes</li>
                                <li>Mathematics: General Mathematics, Statistics and Probability</li>
                                <li>Science: General Chemistry II, General Physics I, General Biology I, Disaster Readiness & Risk Reduction</li>
                            </ul>
                            <li>NON-STEM strand</li>
                            <ul>
                                <li>English: English for Academic Purposes</li>
                                <li>Mathematics: Business Mathematics (for ABM strand)</li>
                                <li>Science: Disaster Readiness & Risk Reduction</li>
                            </ul>
                            <li>The Certification must be signed and certified correct by the Principal/ School Registrar, or equivalent school officer.</li>
                        </ul>
                        <li>Wait for the confirmation from Testing and Admission Office (TAO); visit frequently the application tracker: <a href="https://dione.batstateu.edu.ph/tao/#/application">https://dione.batstateu.edu.ph/tao/#/application</a>.</li>
                        <li>Once the application is approved, Examination Permit will be issued.</li>
                        <li>Take the BATSTATEUCAT.</li>
                        <li>Wait for the release of the BatStateU College Admission test result; scheduled date of release shall be given by TAO</li>
                        <li>For qualifiers, a Notice of Admission will be posted in the BatStateUCAT link: <a href="https://dione.batstateu.edu.ph/tao/#/application">https://dione.batstateu.edu.ph/tao/#/application</a></li>
                        <li>Wait for the enrollment schedule.</li>
                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto:tao@g.batstate-u.edu.ph">tao@g.batstate-u.edu.ph</a></li>
                        <li>Telephone Number: 980 0385 loc. 1148 </li>
                        <li>Mobile Number: +63961 939 6381</li>
                        <li>University Announcement: <a href="https://www.facebook.com/BatStateUTheNEU">https://www.facebook.com/BatStateUTheNEU</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
