<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\ALY\Downloads\PamantasanPH_LOGO.png">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/changePassword.css"> -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='styles/changePassword.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body> 
    <div class="container">
        <a href="#" class="back-btn"> <!-- Back button -->
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <h1>Change Password</h1> <!-- Header -->
        <p class="sub-header">Please choose a new password that is different from any of your previously used passwords.</p>

        <div class="input-group"> <!-- New Password -->
            <i class="fa-solid fa-lock"></i>
            <input type="password" id="password" placeholder="New Password">
            <i></i>
        </div>

        <div class="input-group"> <!-- Confirm Password -->
            <i class="fa-solid fa-lock"></i>
            <input type="password" id="confirmPassword" placeholder="Confirm Password">
            <i></i>
        </div>

        <button>Send</button> <!-- Send Button-->
    </div>

    <!-- <script src="changePassword.js"></script> -->
</body>
</html>