<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Carlos Hilado Memorial State University - Main -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/CHMSULogo.png) }}" alt="Carlos Hilado Memorial State University - Main" class="univ-logo">
                    <h1>Carlos Hilado Memorial State University - Main</h1>
                    <h2 class="address">Mabini Street, Talisay, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">CLOSED</span>
                    </div>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ol>
                        <li><b>New Student and Transfeere</b></li>
                        <p>
                            <ul>
                                <li>Duly accomplished Application Form (CHMSUETAF)</li>
                                <li>Original Report Card (for High School graduates)</li>
                                <li>Original Certificate of Transfer Credentials with photocopy of Transcript of Records for evaluation(transferee)</li>
                                <li>Birth Certificate, NSO if possible (Clear Photocopy)</li>
                                <li>Original Certificate of Good Moral Character</li>
                                <li>3 pcs. 2x2 ID picture ( 1 registrar, 2 NSTP)</li>
                                <li>2 pcs. 1x1 ID picture ( for the library)</li>
                                <li>Photocopy of Medical Certificate (for the clinic)</li>
                                <li>NCAE result (photocopy) - if available</li>
                                <li>Brown envelope with label (FAMILY NAME, FIRST NAME, MIDDLE NAME)</li>
                            </ul>
                        </p>
                        <li><b>Graduate Studies</b></li>
                        <p>
                            <ul>
                                <li>Transfer Credential (Original)</li>
                                <li>Transcript of Records (Photocopy)</li>
                                <li>NSO Birth Certificate (Photocopy)</li>
                                <li>2x2 ID Picture</li>
                                <li>Marriage Contract (for married female applicant)</li>
                            </ul>
                        </p>
                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="openuni">Civil Engineering</li>
                        <li>Educational Management</li>
                        <li>Technology Management</li>
                        <li>Fisheries</li>
                        <li>Business Administration</li>
                        <li>Accountancy</li>
                        <li>Industrial Technology</li>
                        <li>Criminology</li>
                        <li>Public Administration</li>
                        <li>Teacher Education</li>
                        <li>Information Technology</li>
                        <li>Electronics Engineering</li>
                        <li>Computer Engineering</li>
                        <li>Information Systems</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                          <h4>UNDERGRADUATE PROGRAMS</h4>
                          <ul>
                            <li><b>College of Education</b>
                                <ul>
                                    <li>Bachelor of Elementary Education</li>
                                    <li>Bachelor of Early Childhood Education</li>
                                    <li>Bachelor of Physical Education</li>
                                    <li>Bachelor of Special Needs Education</li>
                                    <li>Bachelor of Technical Vocational Teacher Education Electrical Technology</li>
                                    <li>Bachelor of Technical Vocational Teacher Education Electronics Technology</li>
                                    <li>Bachelor of Technology and Livelihood Education</li>
                                    <p>Major in:</p>
                                        <ul>
                                            <li>Home Economics</li>
                                            <li>Industrial Arts</li>
                                        </ul>
                                    <li>Bachelor of Secondary Education</li>
                                    <p>Major in:</p>
                                        <ul>
                                            <li>English</li>
                                            <li>Mathematics</li>
                                            <li>Science</li>
                                            <li>Filipino</li>
                                        </ul>
                                </ul>
                            </li>

                            <li><b>College of Business Management and Accountancy</b>
                                <ul>
                                    <li>Bachelor of Science in Accountancy</li>
                                    <li>Bachelor of Science in Entrepreneurship</li>
                                    <li>Bachelor of Science in Business Administration major in Financial Management</li>
                                    <li>Bachelor of Science in Hospitality Management</li>
                                    <li>Bachelor of Science in Management Accounting</li>
                                    <li>Bachelor of Science in Office Administration</li>
                                </ul>
                            </li>

                            <li><b>College of Computer Studies</b>
                                <ul>
                                    <li>Bachelor of Science in Information Systems</li>
                                    <li>Bachelor of Science in Information Technology</li>
                                </ul>
                            </li>

                            <li><b>College of Criminal Justice</b>
                                <ul>
                                    <li>Bachelor of Science in Criminology</li>
                                </ul>
                            </li>

                            <li><b>College of Fisheries</b>
                                <ul>
                                    <li>Bachelor of Science in Fisheries</li>
                                </ul>
                            </li>

                            <li><b>College of Engineering</b>
                                <ul>
                                    <li>Bachelor of Science in Civil Engineering</li>
                                    <li>Bachelor of Science in Computer Engineering</li>
                                    <li>Bachelor of Science in Electronics Engineering</li>
                                </ul>
                            </li>

                            <li><b>College of Industrial Technology</b>
                                <ul>
                                    <li>Bachelor of Science in Industrial Technology</li>
                                    <p>Major in:</p>
                                        <ul>
                                            <li>Architectural Drafting</li>
                                            <li>Automotive Technology</li>
                                            <li>Computer Technology</li>
                                            <li>Electrical Technology</li>
                                            <li>Electronics Technology</li>
                                            <li>Fashion and Apparel Technology</li>
                                            <li>Food Trades Technology</li>
                                            <li>Mechanical Technology</li>
                                            <li>Refrigeration and Air-conditioning Technology</li>
                                        </ul>
                                </ul>
                            </li>
                          </ul>
                        </li>

                        <li>
                            <h4 id="doctoral">DOCTORAL PROGRAMS</h4>
                            <ul>
                                <li>Doctor of Philosophy in Technology Management</li>
                                <li>Doctor of Education in Educational Management</li>
                            </ul>
                        </li>
            
                        <li>
                            <h4 id="masters">MASTER PROGRAMS</h4>
                            <ul>
                                <li>Master in Public Administration</li>
                                <p>Specialization:</p>
                                    <ul>
                                        <li>Urban Planning</li>
                                        <li>Human Resource Management</li>
                                    </ul>
                                <li>Master in Public Administration</li>
                                <li>Master in Business Administration</li>
                                <li>Master of Arts in Education</li>
                                <p>Major in:</p>
                                    <ul>
                                        <li>Educational Management</li>
                                        <li>English</li>
                                        <li>General Science</li>
                                        <li>Mathematics</li>
                                        <li>Physical Education</li>
                                        <li>Technology and Livelihood Education</li>
                                    </ul>
                                <li>Masters in Technology Management</li>
                            </ul>
                        </li>
                    </ul>

                    <h3 id="application" class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>An applicant seeking admission shall take and pass both the written entrance examination and personal interview.</li>
                        <li>In the College of Education, an applicant seeking admission should also pass the Standardized Aptitude Test (SATT) to be qualified for the interview.</li>
                        <li>Admission of the students shall be decided upon by the dean/head of the college/department concerned.</li>
                        <li>Admission of transferees and returnees shall be decided upon by the dean/head of the college/department concerned, provided that they shall meet the admission requirements prescribed by the College.</li>
                        <p>Note: All submitted documents shall become the property of CHMSC; hence these are not to be returned to the students.</p>
                    </ol>
            
                    <h3 id="contacts" class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto:cier@chmsu.edu.ph">cier@chmsu.edu.ph</a></li>
                        <li>Telephone: (034) 454 0529</li>
                        <li>Website: <a href="https://chmsu.edu.ph/">https://chmsu.edu.ph/</a></li>
                        <li>University Announcement: <a href="https://www.facebook.com/share/p/YhMdYD5kd5Tog829/">https://www.facebook.com/share/p/YhMdYD5kd5Tog829/</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
