<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Central Luzon State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/CLSULogo.png) }}" alt="Central Luzon State University" class="univ-logo">
                    <h1>Central Luzon State University</h1>
                    <h2 class="address">Central Luzon State University, Science City of Muñoz, Nueva Ecija, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ol>
                        <li>Requirements
                            <li>Must qualify in the College Admission Test (CLSU-CAT).
                                <li>Must have complete and valid credentials such as Grade 12 report card or its equivalent. Copy of Philippine Statistics Authority (PSA) birth certificate and One “2×2” colored ID picture with name tag following the format: Last Name, First Name, Middle Initial. Computer-generated picture will not be accepted.
                                    <li>Must qualify in the physical or health examination conducted by the University physician.
                                        <li>Must submit a duly accomplished enrollment form.
                                            <li>Others, as prescribed by the concerned College.
                            </li>
                            
                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="openuni">NONE</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                          <h4>UNDERGRADUATE PROGRAMS</h4>
                          <ul>
                            <li>Open Uni
                              <ul>
                                <li>Teacher Education
                                    <li>Bachelor of Elementary Education
                                        <li>major in:
                                            <li>Early Childhood Education 
                                                <li>Bachelor of Secondary Education
                                                    <li>major in:
                                                        <li>Biology 
                                                            <li>English 
                                                                <li>Filipino 
                                                                    <li>Mathematics 
                                                                        <li>Music, Arts, Physical Education and Health 
                                                                            <li>Physical Science 
                                                                                <li>Social Studies 
                                                                                    <li>Technology and Livelihood Education 
                                                                                        <li>Values Education 
                                                                                            <li>BS in Home Economics 
                                </ul>
                                <li>Agriculture
                                    <li>BS in Agribusiness Management 
                                        <li>BS in Agricultural Engineering
                                            <li>major in:
                                                <li>Agricultural Structures & Environmental Sanitation 
                                                    <li>Farm Power and Machinery 
                                                        <li>Crop Processing 
                                                            <li>Soil and Water Management 
                                                                <li>BS in Agriculture
                                                                    <li>major in:
                                                                        <li>Agricultural Economics 
                                                                            <li>Animal Science 
                                                                                <li>Crop Science 
                                                                                    <li>Pest Management 
                                                                                        <li>Soil Science 
                                                                                            <li>BS in Fisheries 
                                </ul>
                                <li>Engineering
                                    <li>BS in Agricultural Engineering
                                        <li>major in:
                                            <li>Agricultural Structures & Environmental Sanitation 
                                                <li>Farm Power and Machinery 
                                                    <li>Crop Processing 
                                                        <li>Soil and Water Management 
                                                            <li>BS in Civil Engineering 
                                </ul>
                                <li>Business
                                    <li>BS in Accountancy
                                        <li>BS in Accounting Technology 
                                            <li>BS in Business Administration
                                                <li>major in:
                                                    <li>Business Economics 
                                                        <li>Human Resource Development Management 
                                                            <li>Marketing Management 
                                                                <li>Science
                                                                    <li>BS in Biology 
                                                                        <li>BS in Chemistry 
                                                                            <li>BS in Statistics 
                                                                                <li>Professional & Technical Courses
                                                                                    <li>BS in Food Technology 
                                                                                        <li>BS in Textile and Garment Technology 
                                </ul>
                                <li>Social Science
                                    <li>AB in Psychology 
                                        <li>AB in Social Science 
                                </ul>
                                <li>Communication & Information Science
                                    <li>AB in Development Communication 
                                </ul>
                                <li>IT, Computer Science & Programming
                                    <li>BS in Information Technology
                                    </li>                                    
                                </ul>
                            </li>
                      </ul>
            
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>

                           <li>ENROLLMENT PROCEDURE FOR INCOMING FIRST YEAR 

                            <li><a href= "https://ctec.clsu2.edu.ph/clsucat/REPORT">https://ctec.clsu2.edu.ph/clsucat/REPORT</a> on your enrollment schedule.
                            <li>Kindly report to the Office of Admissions (OAd) on the schedule assigned to your program. Please note that failure to attend on the scheduled date without prior notice will result in your slot being forfeited. For rescheduling, please email your request to new_resched@clsu2.edu.ph.
                            <li>(Follow our Facebook page at <a href= "https://www.facebook.com/CLSUofficeofadmissions">https://www.facebook.com/CLSUofficeofadmissions</a> for updates and announcement)
                            <li>PRESENT your entrance credentials.
                            <li>Grade 12 SF 9 or Form 138 (Original copy)*
                            <li>OAD Enrollment Form (parent/guardian signed)
                            <li>OSA Individual Record Form (applicant signed)
                            <li>PSA/NSO Birth Certificate (Original copy)*
                            <li> 2"x2" color photo (3 pcs. recent with white background and name tag with the following format: SURNAME, FIRST NAME, MIDDLE INITIAL.)
                            <li>Grade 12 SF 10 or Form 137 (Original copy) (Request letters will be given during enrollment.)
                            <li>*Note: If you are unable to provide any required credentials, a promissory note must be presented. A template for this promissory note is included in our email regarding the enrollment procedure.
                            <li>Here's the step on how to update and download your OAD Enrollment Form and OSA Individual Form
                            <li>Log in to your CTEC portal with this link: <a href= "https://ctec.clsu2.edu.ph/clsucat/">https://ctec.clsu2.edu.ph/clsucat/</a>"
                            <li>Below the admission letter you can see 4 tabs then Click the Download
                            <li>Print the following:
                            <li>Enrollment Form - A4 paper, colored
                            <li>OSA Form - 8.5 "*13" Colored, Back to back
                            <li>Medical and Dental Form - A4, Colored
                            <li>Download, print, then sign the Individual Record Form and Enrollment Form by your parent (EITHER your father or your mother) or guardian. An SF 10/Form 137 request letter will be provided by Office of Admissions during enrollment in case Form 137 is not available.
                            <li>Admission Slip will be given to Applicants with approved credentials:
                            <li>Apply for a lodging permit (c/o Student Housing Unit at CLIRDEC)
                            <li>Report for your health/medical record (The medical and dental forms are available for download in your CTEC portal.) (c/o CLSU Infirmary at CLIRDEC).
                            <li>Submit your completed admission slip (c/o CLSU OAD).
                            <li>Deadline for submission of promised Entrance Credential and Withdrawal of Enrollment is on July 22, 2024. Note: Non-submission of all documents will result to "unofficially enrolled" status.
                            </li>                            
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li><a href= "mailto:op@clsu.edu.ph">op@clsu.edu.ph</a>
                            <li>+6344-456-0688
                            </li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>