<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\ALY\Downloads\PamantasanPH_LOGO.png">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/compare.css">-->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='styles/compare.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header> <!-- Navigation -->
        <div class="logo">
            <!--<img src="C:\Users\ALY\Downloads\PamantasanPH_LOGO.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>Username</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>
    <div class="container">
        <aside> <!-- Sidebar -->
            <div class="create-item">
                <span>Create New List</span>
                <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="sidebar-item">
                <!--<a href="dashboard.html">-->
                <a href="{{ url_for('dashboard') }}">
                    <i class="fa-solid fa-box-archive"></i>
                    <span>Dashboard</span>
                </a>
            </div>
            <div class="sidebar-item">
                <!--<a href="regions.html">-->
                <a href="{{ url_for('universities') }}">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <span>Universities</span>
                </a>
            </div>
            <div class="sidebar-item">
                <!--<a href="map.html">-->
                <a href="{{ url_for('map') }}">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <span>Map</span>
                </a>
            </div>
            <div id="compare" class="sidebar-item">
                <!--<a href="compare.html">-->
                <a href="{{ url_for('compare') }}">
                    <i class="fa-solid fa-code-compare"></i>
                    <span>Compare</span>
                </a>
            </div>
            <div class="sidebar-item">
                <!--<a href="teams.html">-->
                <a href="{{ url_for('teams') }}">
                    <i class="fa-solid fa-users-rectangle"></i>
                    <span>Team</span>
                </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <input type="email" placeholder="Email">
                <button>Subscribe</button>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
        </aside>

        <main class="comparison-container"> <!-- Comparison Content -->
            <div class="input-wrapper">
                <div class="input-container">
                    <input type="text" placeholder="Enter University 1" onfocus="showDropdown(this)" oninput="filterDropdown(this)">
                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                    <div class="dropdown-content">
                        <!-- NCR (NATIONAL CAPITAL REGION) -->
                        <a href="#" onclick="selectUniversity(this, '1')">City of Malabon University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Dr. Filemon C. Aguilar Memorial College of Las Piñas</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Eulogio "Amang" Rodriguez Institute of Science & Technology (EARIST)</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Marikina Polytechnic College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Navotas Polytechnic College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Pamantasan ng Lungsod ng Marikina</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Pamantasan ng Lungsod ng Maynila</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Pamantasan ng Lungsod ng Muntinlupa</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Pamantasan ng Lungsod ng Pasig</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Pamantasan ng Valenzuela</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Parañaque City College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Philippine Normal University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Philippine State College of Aeronautics</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Polytechnic College of the City of Meycauayan</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Polytechnic University of the Philippines</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Quezon City University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Taguig City University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Technological University of the Philippines</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Universidad de Manila</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Makati</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of the Philippines</a>

                        <!-- BANGSAMORO REGION -->
                        <a href="#" onclick="selectUniversity(this, '1')">Adiong Memorial State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Balabagan Trade School</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Basilan State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Cotabato Foundation College of Science and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Cotabato State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Hadji Butu School of Arts and Trades</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Lanao Agricultural College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Lapak Agricultural School</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Mindanao State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Regional Madrasah Graduate Academy</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Sulu State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Tawi-tawi Regional Agricultural College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Unda Memorial National Agricultural School</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Southern Mindanao</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Upi Agricultural School</a>
                    
                        <!-- CORDILLERA REGION -->
                        <a href="#" onclick="selectUniversity(this, '1')">Abra State Institute of Science and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Apayao State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Benguet State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Ifugao State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Kalinga State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Mountain Province State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Philippine Military Academy</a>
                    
                        <!-- ILOCOS REGION (REGION 1) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Binalatongan Community College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Don Mariano Marcos Memorial State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Ilocos Sur Polytechnic State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Mariano Marcos State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Pangasinan State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Northern Philippines</a>
                    
                        <!-- CAGAYAN VALLEY (REGION 2) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Batanes State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Cagayan State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Isabela State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Nueva Vizcaya State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Quirino State University</a>
                    
                        <!-- CENTRAL LUZON (REGION 3) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Bulacan Agricultural State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Bulacan State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Central Luzon State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Don Honorio Ventura State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Nueva Ecija University of Science and Technology</a>
                    
                        <!-- CALABARZON (REGION 4-A) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Batangas State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Cavite State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Laguna State Polytechnic University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Southern Luzon State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Rizal System</a>
                    
                        <!-- MIMAROPA REGION (REGION 4-B) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Baco Community College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">City College of Calapan</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Marinduque State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Mindoro State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Occidental Mindoro State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Palawan State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Pola Community College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Romblon State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Western Philippines University</a>
                    
                        <!-- BICOL REGION (REGION 5) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Bicol State College of Applied Sciences and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Bicol University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Catanduanes State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Central Bicol State University of Agriculture</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Partido State University</a>
                    
                        <!-- WESTERN VISAYAS (REGION 6) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Bago City College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Carlos Hilado Memorial State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">La Carlota City College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Philippine Normal University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">West Visayas State University</a>
                    
                        <!-- CENTRAL VISAYAS (REGION 7) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Bohol Island State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Cebu Normal University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Cebu Technological University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Negros Oriental State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Siquijor State College</a>
                    
                        <!-- EASTERN VISAYAS (REGION 8) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Eastern Samar State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Eastern Visayas State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Leyte Normal University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Palompon Institute of Technology</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Eastern Philippines</a>
                    
                        <!-- ZAMBOANGA PENINSULA (REGION 9) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Basilan State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">JH Cerilles State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Jose Rizal Memorial State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Western Mindanao State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Zamboanga State College of Marine Sciences and Technology</a>
                    
                        <!-- NORTHERN MINDANAO (REGION 10) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Bukidnon State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Central Mindanao University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Camiguin Polytechnic State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Northern Mindanao State College of Science and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Science and Technology of Southern Philippines</a>
                    
                        <!-- DAVAO REGION (REGION 11) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Davao del Norte State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Davao del Sur State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Davao Oriental State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Southern Philippines Agri-Business and Marine and Aquatic School of Technology</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Southern Philippines</a>
                    
                        <!-- SOCCSKSARGEN (REGION 12) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Cotabato Foundation College of Science and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '1')">South Cotabato State College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Sultan Kudarat State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Southern Mindanao</a>
                    
                        <!-- CARAGA (REGION 13) -->
                        <a href="#" onclick="selectUniversity(this, '1')">Agusan del Sur State College of Agriculture and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '1')">CARAGA State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Hinatuan Southern College</a>
                        <a href="#" onclick="selectUniversity(this, '1')">North Eastern Mindanao State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">Surigao del Norte State University</a>
                        <a href="#" onclick="selectUniversity(this, '1')">University of Southeastern Philippines</a>
                    </div>                    
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Enter University 2" onfocus="showDropdown(this)" oninput="filterDropdown(this)">
                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                    <div class="dropdown-content">
                        <!-- NCR (NATIONAL CAPITAL REGION) -->
                        <a href="#" onclick="selectUniversity(this, '2')">City of Malabon University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Dr. Filemon C. Aguilar Memorial College of Las Piñas</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Eulogio "Amang" Rodriguez Institute of Science & Technology (EARIST)</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Marikina Polytechnic College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Navotas Polytechnic College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Pamantasan ng Lungsod ng Marikina</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Pamantasan ng Lungsod ng Maynila</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Pamantasan ng Lungsod ng Muntinlupa</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Pamantasan ng Lungsod ng Pasig</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Pamantasan ng Valenzuela</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Parañaque City College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Philippine Normal University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Philippine State College of Aeronautics</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Polytechnic College of the City of Meycauayan</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Polytechnic University of the Philippines</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Quezon City University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Taguig City University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Technological University of the Philippines</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Universidad de Manila</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Makati</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of the Philippines</a>

                        <!-- BANGSAMORO REGION -->
                        <a href="#" onclick="selectUniversity(this, '2')">Adiong Memorial State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Balabagan Trade School</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Basilan State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Cotabato Foundation College of Science and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Cotabato State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Hadji Butu School of Arts and Trades</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Lanao Agricultural College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Lapak Agricultural School</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Mindanao State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Regional Madrasah Graduate Academy</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Sulu State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Tawi-tawi Regional Agricultural College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Unda Memorial National Agricultural School</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Southern Mindanao</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Upi Agricultural School</a>
                    
                        <!-- CORDILLERA REGION -->
                        <a href="#" onclick="selectUniversity(this, '2')">Abra State Institute of Science and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Apayao State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Benguet State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Ifugao State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Kalinga State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Mountain Province State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Philippine Military Academy</a>
                    
                        <!-- ILOCOS REGION (REGION 1) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Binalatongan Community College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Don Mariano Marcos Memorial State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Ilocos Sur Polytechnic State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Mariano Marcos State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Pangasinan State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Northern Philippines</a>
                    
                        <!-- CAGAYAN VALLEY (REGION 2) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Batanes State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Cagayan State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Isabela State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Nueva Vizcaya State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Quirino State University</a>
                    
                        <!-- CENTRAL LUZON (REGION 3) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Bulacan Agricultural State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Bulacan State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Central Luzon State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Don Honorio Ventura State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Nueva Ecija University of Science and Technology</a>
                    
                        <!-- CALABARZON (REGION 4-A) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Batangas State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Cavite State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Laguna State Polytechnic University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Southern Luzon State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Rizal System</a>
                    
                        <!-- MIMAROPA REGION (REGION 4-B) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Baco Community College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">City College of Calapan</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Marinduque State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Mindoro State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Occidental Mindoro State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Palawan State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Pola Community College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Romblon State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Western Philippines University</a>
                    
                        <!-- BICOL REGION (REGION 5) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Bicol State College of Applied Sciences and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Bicol University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Catanduanes State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Central Bicol State University of Agriculture</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Partido State University</a>
                    
                        <!-- WESTERN VISAYAS (REGION 6) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Bago City College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Carlos Hilado Memorial State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">La Carlota City College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Philippine Normal University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">West Visayas State University</a>
                    
                        <!-- CENTRAL VISAYAS (REGION 7) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Bohol Island State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Cebu Normal University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Cebu Technological University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Negros Oriental State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Siquijor State College</a>
                    
                        <!-- EASTERN VISAYAS (REGION 8) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Eastern Samar State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Eastern Visayas State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Leyte Normal University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Palompon Institute of Technology</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Eastern Philippines</a>
                    
                        <!-- ZAMBOANGA PENINSULA (REGION 9) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Basilan State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">JH Cerilles State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Jose Rizal Memorial State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Western Mindanao State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Zamboanga State College of Marine Sciences and Technology</a>
                    
                        <!-- NORTHERN MINDANAO (REGION 10) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Bukidnon State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Central Mindanao University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Camiguin Polytechnic State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Northern Mindanao State College of Science and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Science and Technology of Southern Philippines</a>
                    
                        <!-- DAVAO REGION (REGION 11) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Davao del Norte State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Davao del Sur State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Davao Oriental State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Southern Philippines Agri-Business and Marine and Aquatic School of Technology</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Southern Philippines</a>
                    
                        <!-- SOCCSKSARGEN (REGION 12) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Cotabato Foundation College of Science and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '2')">South Cotabato State College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Sultan Kudarat State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Southern Mindanao</a>
                    
                        <!-- CARAGA (REGION 13) -->
                        <a href="#" onclick="selectUniversity(this, '2')">Agusan del Sur State College of Agriculture and Technology</a>
                        <a href="#" onclick="selectUniversity(this, '2')">CARAGA State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Hinatuan Southern College</a>
                        <a href="#" onclick="selectUniversity(this, '2')">North Eastern Mindanao State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">Surigao del Norte State University</a>
                        <a href="#" onclick="selectUniversity(this, '2')">University of Southeastern Philippines</a>
                    </div>                    
                </div>
            </div>
            <div class="comparison-column" id="university-details-1"></div>
            <div class="comparison-column" id="university-details-2"></div>
        </main>
    </div>
    
    <!-- <script src="../static/scripts/compare.js"></script> -->
</body>
</html>
