<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li> 
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Cebu Technological University - Main -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/ctuLOGO.png') }}" alt="Cebu Technological University - Main" class="univ-logo">
                    <h1>Cebu Technological University - Main</h1>
                    <h2 class="address">M J Cuenco Avenue, Cebu City, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">ADMISSIONS OPEN</span>
                    </div>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Requirements -->
                    <ul>
                        <h4>Senior High School Graduates/ Graduating Students</h4>
                        <ul>
                            <li>Senior High School Report Card (Grade 12) as of 1st Semester AY 2020-2021 signed by the School Principal for Senior High School graduating students</li>
                            <li>Senior High School Report Card (Grade 12) signed by the School Principal for Senior High School graduates</li>
                            <li>Grade 11 Report Card for Math, Science and English (Board Programs only)</li>
                            <li>Certificate of Good Moral Character</li>
                            <li>Close-Up selfie picture with a name tag (JPEG format)</li>
                        </ul>
                        <h4>Alternative Learning System (ALS) Graduates</h4>
                        <ul>
                            <li>ALS Examination Rating</li>
                            <li>Certificate of Eligibility to College</li>
                            <li>Certificate of Good Moral Character</li>
                            <li>Close-Up selfie picture with a name tag (JPEG format)</li>
                        </ul>
                    </ul>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- Specializations -->
                    <p>Technology and Engineering</p>
            
                    <h3 class="heading3">University Courses</h3> <!-- Courses -->
                    <ul>
                        <h4>College of Arts and Sciences</h4>
                        <ul>
                            <li>Bachelor of Science in Development Communication</li>
                            <li>Bachelor of Arts in English Language Studies</li>
                            <li>Bachelor of Art in Literature major in Cultural Studies</li>
                            <li>BAF (Batsilyer ng Sining sa Filipino)</li>
                            <li>Bachelor of Science in Psychology</li>
                            <li>Bachelor of Science in Mathematics</li>
                            <li>Bachelor of Science in Statistics</li>
                            <li>Bachelor of Science in Nursing</li>
                        </ul>
                        <h4>College of Computer, Information and Communications Technology</h4>
                        <ul>
                            <li>Bachelor of Science in Information Technology</li>
                            <li>Bachelor in Industrial Technology – Computer Technology</li>
                        </ul>
                        <h4>College of Management and Entrepreneurship</h4>
                        <ul>
                            <li>Bachelor in Business Administration</li>
                            <li>Bachelor in Public Administration</li>
                            <li>Bachelor in Hotel Management</li>
                            <li>Bachelor of Science in Tourism Management</li>
                        </ul>
                        <h4>College of Engineering</h4>
                        <ul>
                            <li>Bachelor of Science in Computer Engineering</li>
                            <li>Bachelor of Science in Electronics Engineering</li>
                            <li>Bachelor of Science in Electrical Engineering</li>
                            <li>Bachelor of Science in Civil Engineering</li>
                            <li>Bachelor of Science in Industrial Engineering</li>
                            <li>Bachelor of Science in Mechanical Engineering</li>
                        </ul>
                        <h4>College of Education</h4>
                        <ul>
                            <li>Bachelor in Elementary Education</li>
                            <li>Bachelor in Early Childhood Education</li>
                            <li>Bachelor in Special Need Education</li>
                            <li>Bachelor in Secondary Education major in Mathematics</li>
                            <li>Bachelor in Secondary Education major in Science</li>
                            <li>Bachelor in Secondary Education major in Social Studies</li>
                            <li>Bachelor in Secondary Education major in Values Education</li>
                            <li>Bachelor in Secondary Education major in English</li>
                            <li>Bachelor in Secondary Education major in Filipino</li>
                            <li>Bachelor in Technology and Livelihood Education major in Industrial Arts</li>
                            <li>Bachelor in Technical and Vocational Teacher Education major in Architectural Drafting</li>
                        </ul>
                        <h4>College of Technology</h4>
                        <ul>
                            <li>Bachelor of Science in Technology Management</li>
                            <li>Bachelor of Science in Graphics and Design</li>
                            <li>Bachelor of Science in Mechatronics</li>
                            <li>Bachelor of Industrial Technology major in Automotive Technology</li>
                            <li>Bachelor of Industrial Technology major in Civil Technology</li>
                            <li>Bachelor of Industrial Technology major in Drafting Technology</li>
                            <li>Bachelor of Industrial Technology major in Electrical Technology</li>
                            <li>Bachelor of Industrial Technology major in Electronics Technology</li>
                            <li>Bachelor of Industrial Technology major in Food Preparation and Servicing Technology</li>
                            <li>Bachelor of Industrial Technology major in Furniture and Cabinet Making Technology</li>
                            <li>Bachelor of Industrial Technology major in Garments Technology</li>
                            <li>Bachelor of Industrial Technology major in Interior Design Technology</li>
                            <li>Bachelor of Industrial Technology major in Machine Shop Technology</li>
                            <li>Bachelor of Industrial Technology major in Power Plant Technology</li>
                            <li>Bachelor of Industrial Technology major in Refrigeration and Air-conditioning Technology</li>
                            <li>Bachelor of Industrial Technology major in Welding and Fabrication Technology</li>
                        </ul>
                    </ul>
            
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <p>The Admission Office caters to student-applicants who are interested in applying in Cebu Technological University (CTU) Cebu City Mountain (CCM) only. The application must be made online through the admissions portal at <a href="ordir.ctu.edu.ph/admission/application-form">ordir.ctu.edu.ph/admission/application-form</a>. All queries about admissions will be catered through the official FB Pages, e-mail, and contact number.</p>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href = "information@ctu.edu.ph">information@ctu.edu.ph</a>/li>
                        <li>Contact Number: (032) 402 4060</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>

