<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li> 
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 

    <div class="main-content">
        <div>
            <img src="{{ url_for('static', filename='images/logos/website/universities/ctuLOGO.png') }}" alt="Davao del Norte State College" class="univ-logo">
            <h2>Davao del Norte State College</h2>
            <p>Brgy. New Visayas, Panabo City, Davao del Norte, Philippines</p>
            <div class="status">
            <i class="status-icon fa fa-circle" id="status-icon"></i>
            <span class="close" id="status-text">NOT YET OPENED</span>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Admission Requirements</h3>
            <ul>
                <li class="sub-section-title">UNDERGRADUATE PROGRAMS</li>
                <ul>
                    <li class="sub-section-title">A. FRESHMEN</li>
                    <ul>
                        <li>Report Card</li>
                        <li>Birth Certificate – PSA authenticated</li>
                        <li>NSO – Marriage Certificate (if married)</li>
                        <li>Certificate of Good Moral Character</li>
                        <li>Self-Certification Form</li>
                    </ul>
                    <li class="sub-section-title">B. TRANSFEREES</li>
                    <ul>
                        <li>Certificate of Honorable Dismissal (CHD)</li>
                        <li>Transcript of Records (for evaluation purposes)</li>
                        <li>Birth Certificate – PSA authenticated</li>
                        <li>NSO – Marriage Certificate (if married)</li>
                        <li>Self-Certification Form</li>
                    </ul>
                    <li class="sub-section-title">C. RETURNING STUDENTS</li>
                    <ul>
                        <li>Student’s Clearance</li>
                        <li>Certificate of Rating/Grades or Evaluation Sheet from the Registrar’s Office or thru IAIMS</li>
                        <li>Written Permission of Enrollment (Issued by the dean or Program Chairperson)</li>
                        <li>Approved Leave of Absence (LOA), if applicable</li>
                        <li>Self-Certification Form</li>
                    </ul>
                </ul>
                <p>NOTE: Scan or take a photo of each document to be uploaded in the registration process. The maximum file size for each copy should not be more than 2MB.</p>
                <li class="sub-section-title">GRADUATE PROGRAMS</li>
                <ul>
                    <li class="sub-section-title">MINIMUM REQUIREMENTS</li>
                    <ul>
                        <li>A bachelor’s or master’s degree from a recognized institution is required for admission to a master’s program or doctoral program, respectively.</li>
                        <li>For an applicant to a master’s program, he/she must be a graduate of a 4-year course from a CHED recognized college or university with a minimum Grade Point Average (GPA) of 2.5 or better, and for an applicant to a doctoral program, an applicant should have at least a GPA of 1.75 or better in the master’s program in a CHED’s recognized college or university.</li>
                    </ul>
                    <li class="sub-section-title">EVIDENCE OF SUITABLE BACKGROUND OR ITS EQUIVALENT IN THE DEGREE SOUGHT.</li>
                    <ul>
                        <li>Original Copy of Transcript of Records</li>
                        <li>Honorable Dismissal</li>
                        <li>Accomplished Admission Form</li>
                        <li>Admission Fee</li>
                        <li>2 pcs. each 2×2 ID-colored picture</li>
                        <li>Marriage Contract (for married enrollees)</li>
                        <li>NSO/PSA Birth Certificate</li>
                        <li>Self-Certification Form</li>
                        <li>2 pcs. long brown envelope</li>
                        <li>Photocopy of Requirements</li>
                    </ul>
                </ul>
            </ul>
        </div>

        <div class="section">
            <h4>UNDERGRADUATE PROGRAMS</h4>
            <p>N/A</p>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">University Courses</h3>
            <ul>
                <li class="sub-section-title">Institute of Teacher Education (ITED)</li>
                <ul>
                    <li class="sub-section-title">Graduate Programs:</li>
                    <ul>
                        <li>Doctor of Philosophy in Educational Management*</li>
                        <li>Master of Arts in Educational Management</li>
                        <li>Master in Science Teaching Math, Biology, Physical Sciences</li>
                        <li>Master of Arts in Basic Education English</li>
                        <li>Master of Arts in Basic Education Mathematics</li>
                        <li>Master of Arts in Basic Education Biological Science</li>
                        <li>Certificate in Pre-School Education (in consortium with DOSCST)</li>
                        <li>Certificate in Physical Education</li>
                    </ul>
                    <li class="sub-section-title">Undergraduate Programs:</li>
                    <ul>
                        <li>Bachelor of Arts in Communication</li>
                        <li>Bachelor in Secondary Education (BSEd) - majors in: Science, English, Mathematics</li>
                        <li>Bachelor of Technology and Livelihood Education</li>
                    </ul>
                </ul>
                <li class="sub-section-title">Institute of Aquatic and Applied Sciences (IAAS)</li>
                <ul>
                    <li class="sub-section-title">Graduate Programs:</li>
                    <ul>
                        <li>Master in Fisheries Management Majors in Fish Processing, Aquaculture</li>
                        <li>Master of Science in Marine Biodiversity</li>
                    </ul>
                    <li class="sub-section-title">Undergraduate Programs:</li>
                    <ul>
                        <li>Bachelor of Fisheries and Aquatic Science</li>
                        <li>Bachelor of Science in Marine Biology (BSMB)</li>
                        <li>Bachelor of Science in Food Technology (BSFT)</li>
                    </ul>
                </ul>
                <li class="sub-section-title">Institute of Computing (IC)</li>
                <ul>
                    <li class="sub-section-title">Undergraduate Programs:</li>
                    <ul>
                        <li>Bachelor of Science in Information Technology* (Ladderized)</li>
                        <li>Bachelor of Science in Information Systems (BSIS)</li>
                    </ul>
                </ul>
                <li class="sub-section-title">Institute of Leadership, Entrepreneurship and Good Governance (ILEGG)</li>
                <ul>
                    <li class="sub-section-title">Graduate Programs:</li>
                    <ul>
                        <li>Master in Public Administration (in consortium with Mindanao University of Science and Technology)</li>
                    </ul>
                    <li class="sub-section-title">Undergraduate Programs:</li>
                    <ul>
                        <li>Bachelor in Public Administration (BPA)</li>
                        <li>Bachelor of Science in Social Work (BSSW)</li>
                        <li>Bachelor of Science in Entrepreneurship (BSE)</li>
                        <li>Bachelor of Science in Tourism Management (BSTM)</li>
                        <li>Bachelor of Science in Disaster Resiliency and Management (BSDRM)</li>
                    </ul>
                </ul>
            </ul>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Application Process</h3>
            <p><b>ONLINE REGISTRATION & ENTRANCE EXAM SCHEDULING PROCESS</b></p>
            <ul>
                <li>Take a front-facing photo of yourself for your Applicant ID photo. Observe a proper dress code and appropriate pose. Avoid heavy makeup.</li>
                <li>Check and make sure that you have a valid and active email address.</li>
                <li>Make sure to open this page in Google Chrome or any browser except Facebook Browser.</li>
                <li>Click this link: <a href="#">https://iaims.dnsc.edu.ph/iaims/applicants/index.php</a></li>
                <li>Click ‘Online Application’.</li>
                <li>Click the ‘Apply Here’ button.</li>
                <li>Input the required information in the space provided and click the ‘Apply’ button.</li>
                <li>The system will send an Applicant Profile Verification code to your email.</li>
                <li>Type the code in the text box and click ‘Verify’.</li>
                <li>Read the Data Privacy Consent and click the tick box that applies to you. Click the ‘Agree and Continue’ button to proceed.</li>
                <li>Click the ‘Continue Application’ button to proceed. If you can’t proceed, try to log out and log in again using the credentials. If it does not work, send an email to tssu@dnsc.edu.ph.</li>
                <li>Select the Department Type that applies to you: (College for BS programs, Doctorate, Masters).</li>
                <li>Select three (3) preferred courses. The first option is your most preferred course. Click the ‘Save and Continue’ button.</li>
                <li>Input all the required information in the provided fields of the application form.</li>
                <li>Click the ‘Save and Continue’ button to proceed to the next tab. Complete all the necessary information in each tab. Input ‘NA’ in the email for parents if there is none.</li>
                <li>Click ‘Applicant Photo’ to upload your photo.</li>
                <li>Disregard the ‘Upload required documents’ section. You will upload your documents during the Admission Period.</li>
                <li>Click ‘Submit Application’ once you’re done with the editing of your details and uploading of Applicant Photo.</li>
                <li>A dialog box will appear containing your Applicant’s account details. This will also be emailed to you.</li>
                <li>Click ‘Continue’.</li>
                <li>If the system requires you to change your password, do so.</li>
                <li>Click the ‘Admission Test Schedule’.</li>
                <li>In the drop-down box, select your preferred entrance examination schedule and click ‘Save’.</li>
                <li>Click the ‘Sign-out’ button once you are done. Always do this to avoid log-in problems.</li>
            </ul>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Contact Information</h3>
            <ul>
                <li>Email Address(es): president@dnsc.edu.ph, tssu@dnsc.edu.ph</li>
                <li>Website(s): <a href="https://dnsc.edu.ph/">https://dnsc.edu.ph/</a>, <a href="https://www.facebook.com/davnorstatecollege/">https://www.facebook.com/davnorstatecollege/</a>, <a href="https://www.facebook.com/davaodelnortestatecollege/">https://www.facebook.com/davaodelnortestatecollege/</a></li>
                <li>Phone / Landline Number: (084) 628 4301</li>
            </ul>
        </div>
    </div>
</body>
</html>