<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li> 
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 

    <div class="main-content">
        <div>
            <h2>Davao del Sur State College-Main</h2>
            <p>Brgy. Matti, Digos City, Davao del Sur , Digos, Philippines</p>
            <div class="status">
                <i class="status-icon fa fa-circle" id="status-icon"></i>
                <span class="close" id="status-text">NOT YET OPENED</span>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Admission Requirements</h3>
            <ul>
                <li class="sub-section-title">ADMISSION CREDENTIALS</li>
                <ul>
                    <li class="sub-section-title">INCOMING FIRST-YEAR STUDENT</li>
                    <ul>
                        <li>Senior High School Report Card (Form 138) or its equivalent from the school last attended with the eligibility certificate indicated and signed by the authorized school official</li>
                        <li>Certificate of Good Moral Character from the last school attended</li>
                        <li>Birth Certificate authenticated by PSA (photocopy)</li>
                        <li>DSSC Admission Test result</li>
                        <li>Four (4) pieces of passport size picture with white background and handwritten nametag with signature</li>
                        <li>Medical Certificate</li>
                        <li>Drug Test Result (CMO No. 18 s. 2018)</li>
                        <li>One (1) long brown folder and envelope</li>
                    </ul>
                    <li class="sub-section-title">TRANSFERRING STUDENT (TRANSFEREE)</li>
                    <ul>
                        <li>Honorable dismissal with Informative copy of Transcript of Records</li>
                        <li>Certificate of Good Moral Character from the last school attended</li>
                        <li>Birth Certificate authenticated by PSA (photocopy)</li>
                        <li>DSSC Admission Test result</li>
                        <li>Four (4) pieces of passport size picture with white background and handwritten nametag with signature</li>
                        <li>Medical Certificate</li>
                        <li>Drug Test Result (CMO No. 18 s. 2018)</li>
                        <li>One (1) long brown folder and envelope</li>
                    </ul>
                    <li>Where a student is unable to present the required Form 138 or its equivalent or the prescribed transfer credential, a certificate issued by the Chairman of the Commission or duly authorized representative will be required.</li>
                    <li class="sub-section-title">RETURNING STUDENT</li>
                    <ul>
                        <li>Returning students (returnees) shall be considered for readmission depending on their previous scholastic performance and must have complied with all other requirements for readmission</li>
                        <li>Written permission to enroll in the program they were last enrolled</li>
                        <li>Certification or Evaluation of Grades duly signed by the College Registrar</li>
                        <li>A readmitted student who stopped schooling for three (3) years will be evaluated based on the new curriculum of the student’s course especially when a curriculum has superseded the old one. Crediting of courses will be based on the new implemented courses.</li>
                        <li>A student who has attended another institution after attending DSSC shall qualify on the same basis as the transferee.</li>
                    </ul>
                    <li class="sub-section-title">FOREIGN STUDENT</li>
                    <ul>
                        <li>A foreign-student applicant must be eligible to enroll in the college and shall comply with the requirements for admission by submitting the following documents (IACFS Joint Memo. Order No. 1 s. 2017 p. 2):</li>
                        <ul>
                            <li>A notarized affidavit of support including bank statements or notarized notice of grant for institutional scholars to cover expenses for the accommodation and subsistence, as well as the school dues and other incidental expenses</li>
                            <li>Scholastic records duly authenticated by the Philippine Foreign Service Post located in the student applicant’s country of origin or legal residence</li>
                            <li>Photocopy of data page of the student’s passport showing the date and place of birth, and birth certificate or its equivalent duly authenticated by the Philippine Foreign Service Post located in the student applicant’s country of origin or legal residence (Sec. 1, B, par. 5, p3, EO 285)</li>
                            <li>Police Clearance/Report</li>
                        </ul>
                    </ul>
                    <li class="sub-section-title">REFRESHER COURSE STUDENT</li>
                    <ul>
                        <li>A refresher course student may be admitted to the College at any time during the semester for audit purposes without earning credits, subject to such requirements and conditions. At the discretion of the faculty handling the subject, a refresher course student may be exempted from the class assignment and examinations (Art. XVIII Sec. 89. CMO 40 s. 2008).</li>
                    </ul>
                </ul>
            </ul>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">University Specializations</h3>
            <p>N/A</p>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">University Courses</h3>
            <ul>
                <li class="sub-section-title">DEGREE PROGRAMS</li>
                <ul>
                    <li>BSIT - Bachelor of Science in Information Technology</li>
                    <li>BSIS - Bachelor of Science in Information System</li>
                    <li>BSAB - Bachelor of Science in Agri-Business</li>
                    <li>BEED - Bachelor of Elementary Education</li>
                    <li>BSED-English - Bachelor of Secondary Education - major in: English</li>
                    <li>BSED-Math - Bachelor of Secondary Education-Major in Mathematics</li>
                    <li>BSED-Science - Bachelor of Secondary Education - major in: General Science</li>
                    <li>BSED-Filipino - Bachelor of Secondary Education - major in: Filipino</li>
                    <li>BTLED-HE - Bachelor in Technology and Livelihood Education - major in: in Home Economics</li>
                    <li>BSA-ANSCI - Bachelor of Science in Agriculture - Major in Animal Science</li>
                    <li>BSA-CP - Bachelor of Science in Agriculture - major in: Crop Protection</li>
                    <li>BSA-HORT - Bachelor of Science in Agriculture - major in: Horticulture</li>
                    <li>BSAF - Bachelor of Science in Agroforestry</li>
                    <li>BSAIS - Bachelor of Science in Accounting Information System</li>
                    <li>BSDevCom - Bachelor of Science in Development Communication</li>
                    <li>BSABE - Bachelor of Science in Agricultural Biosystem Engineering</li>
                    <li>BSAE - Bachelor of Science in Agricultural Engineering</li>
                    <li>BPA - Bachelor of Public Administration</li>
                    <li>BIT - Bachelor of Industrial Technology - major in: Electrical Technology</li>
                    <li>BSBIO - Bachelor of Science in Biology - major in: Biodiversity or Medical Biology</li>
                    <li>BSES - Bachelor of Science in Environmental Science</li>
                    <li>BSFT - Bachelor of Science in Food Technology</li>
                    <li>BSMath - Bachelor of Science in Mathematics</li>
                    <li>BSVetTech - Bachelor of Science in Veterinary Technology</li>
                    <li>DIT - Diploma in Information Technology - 3 years</li>
                    <li>DAS - Diploma in Arts and Sciences - 3 years</li>
                    <li>ACT - Associate in Computer Technology - 2 years</li>
                    <li>CAS - Certificate in Agricultural Sciences - 2 years</li>
                </ul>
                <li class="sub-section-title">GRADUATE PROGRAMS</li>
                <ul>
                    <li>PhD - Doctor of Philosophy Major in Educational Management</li>
                    <li>MAED-ED - Master of Arts in Education - major in: Educational Management</li>
                    <li>MAED-MT - Master of Arts in Education - major in: Mathematics Teaching</li>
                    <li>MAED-LT - Master of Arts in Education - major in: Language Teaching</li>
                    <li>MAED-ST - Master of Arts in Education - major in: Science Teaching</li>
                    <li>MBA - Master in Business Administration - major in: Entrepreneurship</li>
                </ul>
            </ul>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Application Process</h3>
            <ul>
                <li class="sub-section-title">PRE-REGISTRATION FOR ENTRANCE EXAMINATION (S.Y. 2024 – 2025)</li>
                <ul>
                    <li>STEP 1 - GO TO THE BROWSER AND COPY THE LINK BELOW OR SCAN A QR CODE PROVIDED BY THEM.</li>
                    <ul>
                        <li>LINK: <a href="http://dsscsystem.net:4455/login">http://dsscsystem.net:4455/login</a> OR <a href="http://studentportal.dssc.edu.ph:4455/login">http://studentportal.dssc.edu.ph:4455/login</a></li>
                    </ul>
                    <li>STEP 2 - SIGN IN / SIGN UP</li>
                    <ul>
                        <li>1 – Select: Type of Student – Incoming Student (For New Student(s))</li>
                        <li>2 – Click “Sign-up” Button</li>
                    </ul>
                    <li>STEP 3 – ACCT. CREATION</li>
                    <ul>
                        <li>1 - Select: Type of Student – New Student-Incoming First Year (If Incoming First Year) or Transferee (if Transferee)</li>
                        <li>2 - Select Student Level – College Level (Incoming First Year / Transferee) or Graduate School (for Masteral)</li>
                        <li>3 – Full Name</li>
                        <li>4 – Active Email Address</li>
                        <li>5 – Password</li>
                        <li>6 - Click “Register” Button</li>
                    </ul>
                    <li>STEP 4 – EMAIL ADDRESS VERIFICATION</li>
                    <ul>
                        <li>1 – Open your Email and check your “Inbox”</li>
                        <li>2 – Hit “Verify Email Address”</li>
                    </ul>
                    <li>STEP 5 – SET YP YOUR ACCT.</li>
                    <ul>
                        <li>1 – Fill in all the required information</li>
                        <ul>
                            <li>Personal Info</li>
                            <li>Academic Background</li>
                            <li>Address</li>
                            <li>Courses / Programs</li>
                        </ul>
                        <li>2 – Click “Save” Button when you’re done.</li>
                        <li>3 – Click “Yes, proceed” to proceed to the Scheduling System</li>
                    </ul>
                    <li>STEP 6 – APPOINTMENT / SCHEDULE DATE</li>
                    <ul>
                        <li>1 - Select / Choose your date</li>
                        <ul>
                            <li>Date – Morning / Afternoon</li>
                        </ul>
                        <li>2 – Select / Choose your time</li>
                        <ul>
                            <li>Location and Time</li>
                        </ul>
                        <li>3 – Click the time / location and click “Yes, proceed”.</li>
                    </ul>
                    <li>STEP 7- NOTICE OF SCHEDULE</li>
                    <ul>
                        <li>1 - Check the details</li>
                        <ul>
                            <li>Date / Time / Location</li>
                        </ul>
                        <li>2 – Requirements</li>
                        <ul>
                            <li>Photocopy of Grade 11 & 12 Report Card(s) (Incoming Freshmen)</li>
                            <li>Photocopy of Transcript of Records (Transferee)</li>
                            <li>2 pcs Passport Size Picture(s) w/ White Background</li>
                            <li>1 Long Brown Envelope</li>
                        </ul>
                        <li>3 – Reminders</li>
                        <ul>
                            <li>Bring a ballpen and a pencil</li>
                            <li>Kindly wear a White Shirt during the exam.</li>
                        </ul>
                        <li>4 – Click “Save this Notice” to download the file</li>
                        <ul>
                            <li>Press “Keep” to continue download.</li>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Contact Information</h3>
            <ul>
                <li>Email Address(es): president@dssc.edu.ph, admission@dssc.edu.ph</li>
                <li>Website(s): <a href="https://www.dssc.edu.ph/">https://www.dssc.edu.ph/</a>, <a href="https://www.facebook.com/DSSCOfficial/">https://www.facebook.com/DSSCOfficial/</a>, <a href="https://www.facebook.com/dsscadmission/">https://www.facebook.com/dsscadmission/</a></li>
                <li>Phone / Landline Number:</li>
                <ul>
                    <li>(082) 293 – 9136</li>
                    <li>0966 844 1338</li>
                </ul>
            </ul>
        </div>
    </div>
</body>
</html>s