<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Don Honorio Ventura State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/dhvsuLOGO.png') }}" alt="Don Honorio Ventura State University" class="univ-logo">
                    <h1>Don Honorio Ventura State University</h1>
                    <h2 class="address">Cabambangan, Bacolor, Pampanga, Philippines, 2001</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ol>
                        <li>ONLINE ADMISSION APPLICATION REQUIREMENTS
                        </ul>
                            <li>Student applicants must upload the following documents to the online admission portal during their application for the desired program. Applicants with incomplete/invalid submitted requirements will not be processed.
                                <li>A. College First Year
                                    <li>Certified True Copy of Senior High School (SHS) Form 137/Form 138 from Grade 11 to 2nd quarter of Grade 12;
                                        <li>Certificate of Grade weighted average:
                                            <li>Parents/Guardians' latest Income Tax Return (ITR) or Certification of Tax Exemption (for Low Income Family); and
                                                <li>Certificate of Good Moral Character;
                                                    <li>Original PSA/NSO Birth Certificate or Marriage Certificate for female married applicant;
                                                        <li>Two (2) pcs 2x2 size color picture, white background with nametag:
                                                            <li>Completely accomplished College profiling via online admission portal.
                                                                <li>Additional requirements for BSN qualifiers:
                                                                    <li>Psychometric assessment
                                                                        <li>Physical fitness certified by government physician with laboratory results (Chest x-ray, CBC, Urinalysis)
                            </li>
                            
                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="openuni">NONE</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                          <h4>UNDERGRADUATE PROGRAMS</h4>
                          <ul>
                            <li>Open Uni
                              <ul>
                                <li>COLLEGE OF ENGINEERING AND ARCHITECTURE
                                    <li>Bachelor of Science in Architecture
                                        <li>Bachelor of Science in Civil Engineering
                                            <li>Bachelor of Science in Mechanical Engineering
                                                <li>Bachelor of Science in Electrical Engineering
                                                    <li>Bachelor of Science in Electronics Engineering
                                                        <li>Bachelor of Science in Industrial Engineering
                                                            <li>Bachelor of Science in Computer Engineering
                                </ul>
                                <li>COLLEGE OF BUSINESS STUDIES
                                    <li>Bachelor of Science in Business Administration
                                        <li>Major in Marketing
                                            <li>Major in Business Economics
                                                <li>Major in Economics
                                                    <li>Bachelor of Science in Entrepreneurship
                                                        <li>Bachelor of Science in Accountancy
                                                            <li>Bachelor of Science in Accounting Information Systems
                                                                <li>Bachelor in Public Administration
                                </ul>
                                <li>COLLEGE OF ARTS AND SCIENCES
                                    <li>Bachelor of Science in Environmental Science
                                        <li>Bachelor of Science in Biology
                                </ul>
                                <li>COLLEGE OF HOSPITALITY MANAGEMENT
                                    <li>Bachelor of Science in Hotel and Restaurant Management (4th year only)
                                        <li>Bachelor of Science in Hospitality Management
                                            <li>Bachelor of Science in Tourism Management
                                </ul>
                                <li>COLLEGE OF SOCIAL SCIENCES AND PHILOSOPHY
                                    <li>Bachelor of Science in Social Work
                                        <li>Bachelor of Science in Psychology
                                            <li>Bachelor of Science in Sociology
                                </ul>
                                <li>COLLEGE OF EDUCATION
                                    <li>Bachelor of Elementary Education
                                        <li>Major in General Education
                                            <li>Bachelor of Secondary Education
                                                <li>Major in Mathematics
                                                    <li>Major in Filipino
                                                        <li>Major in English
                                                            <li>Bachelor in Physical Education
                                                                <li>Bachelor in Technical and Livelihood Education 
                                                                    <li>Major in Home Economics
                                                                        <li>Major in Industrial Arts
                                                                            <li>Bachelor in Technical-Vocational Teacher Education
                                                                                <li>Major in Food and Service Management
                                </ul>
                                <li>COLLEGE OF COMPUTING STUDIES
                                    <li>Bachelor of Science in Information Technology
                                        <li>Bachelor of Science in Computer Science
                                            <li>Bachelor of Science in Information Systems
                                                <li>Associate in Computer Technology
                                </ul>
                                <li>COLLEGE OF INDUSTRIAL TECHNOLOGY
                                    <li>Bachelor of Science in Industrial Technology (Ladderized)
                                        <li>Major in Automotive Technology
                                            <li>Major in Electrical Technology
                                                <li>Major in Graphics Technology
                                                    <li>Major in Mechanical Technology
                                                        <li>Major in Beauty Care and Wellness
                                                            <li>Major in Electronics Techology
                                                                <li>Major in Food & Service Management
                                                                    <li>Major in Garments and Fashion Design
                                                                        <li>Major in Welding Technology
                                    </li>                                    
                                </ul>
                            </li>
                      </ul>
            
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>

                           <li>COLLEGE ADMISSION PROCESS
                        </ul>
                        <li>Obtain Application Form through the authorized school representative or directly from the DHVSU Office of the Admission and Testing.
                            <li>Carefully read the information and instructions then fill out the Application Form.
                                <li>Register at the DHVSU Online Admission Portal , fill out the required information and submit all the requirements.
                            </li>                            
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li><a href= "mailto:info@dhvsu.edu.ph">E-Mail: info@dhvsu.edu.ph</a>
                            <li>Telephone Number: +63 (045) 649 8050
                                <li>office Fax: <under maintenance>
                                    <li>facebook24 Facebook: <a href= "https://www.facebook.com/dhvsuofficial/">https://www.facebook.com/dhvsuofficial/</a>
                            </li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>