<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Don Mariano Marcos Memorial State University  -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/dmmmsuLOGO.jpeg') }}" alt="Don Mariano Marcos Memorial State University" class="univ-logo">
                    <h1>Don Mariano Marcos Memorial State University </h1>
                    <h2 class="address">Sapilang, Bacnotan, La Union</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ol>
                        <li>a.1 Students shall be accepted regardless of age, sex, nationality, religious beliefs, socio-economic status, or political affiliations.</li>
                        <li>a.2. Students must have graduated from government recognized secondary schools/Alternative Learning System.</li>
                        <li>a.3. Students must meet all the following admission requirements:</li>
                        <li>i. DMMMSU College Admission Test</li>
                        <li>ii. Form 138 or ALS Rating</li>
                        <li>iii. Certificate of Good Moral Character</li>
                        <li>iv. Three (3) pcs. 2" x 2" and 1 pc. 1" x 1" colored pictures with white background</li>
                        <li>v. Copy of Birth Certificate from the National Statistics Office</li>
                        <li>vi. Qualify in the interview</li>
                        <li>vii. Qualify in the physical/medical examination conducted by DMMMSU or any government physician.</li>
                            </li>
                            
                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="openuni">NONE</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                          <h4>UNDERGRADUATE PROGRAMS</h4>
                          <ul>
                            <li>Open Uni
                              <ul>
                                <li>COLLEGE OF AGRICULTURE</li>
                                <li>BS Agriculture</li>
                                    <li>Majors: Animal Science</li>
                                    <li>Crop Science (Agronomy)</li>
                                    <li>Crop Science (Horticulture)</li>
                                    <li>Crop Protection</li>
                                    <li>Soil Science</li>
                                    <li>Apiculture</li>
                                </ul>
                                <li>INSTITUTE OF AGRICULTURAL & BIOSYSTEMS ENGINEERING</li>
                                    <li>BS Agricultural and Biosystems Engineering</li>
                                </ul>
                                <li>INSTITUTE OF AGRIBUSINESS MANAGEMENT</li>
                                    <li>BS Agribusiness Management</li>
                                        <li>Majors: Entrepreneurship</li>
                                            <li>Cooperative</li>
                                </ul>
                                <li>COLLEGE OF EDUCATION</li>
                                    <li>Bachelor of Elementary Education</li>
                                    <li>Bachelor of Early Childhood Education</li>
                                    <li>Bachelor of Secondary Education</li>
                                    <li>Majors: Science</li>
                                    <li>English</li>
                                    <li>Mathematics</li>
                                    <li>Filipino</li>
                                    <li>Bachelor of Technology and Livelihood Education</li>
                                    <li>Bachelor in Physical Education</li>
                                </ul>
                                <li>INSTITUTE OF ENVIRONMENTAL STUDIES</li>
                                    <li>BS Environmental Science</li>
                                </ul>
                                <li>COLLEGE OF INFORMATION SYSTEMS</li>
                                    <li>BS Information Systems</li>
                                    <li>With specialized tracks in Service Management and Business Analytics</li>
                                </ul>
                                <li>COLLEGE OF AGROFORESTRY & FORESTRY</li>
                                    <li>BS Forestry</li>
                                        <li>BS Agroforestry major in Watershed Management</li>
                                </ul>
                                <li>COLLEGE OF VETERINARY MEDICINE</li>
                                    <li>Doctor of Veterinary Medicine</li>
                                </ul>
                                <li>COLLEGE OF ARTS AND SCIENCES</li>
                                    <li>BS Biology</li>
                                    <li>AB English Language</li>                                    
                                </ul>
                            </li>
                      </ul>
            
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>Please use the online enrollment process below as a reference:</li>
                        </ul>
                        <li>1. Online Registration</li>
                            <li>Qualified New Students</li>                                                       
                            <li>Before completing the online registration system, download, print and fill out the Free Higher Education (FHE) Form. Prepare a scanned copy of your PSA birth certificate, Senior High School Card and 2X2 picture with a name tag (you may use your smart phones to capture these requirements if there are no available scanners).</li>                            
                            <li>Wait for your code numbers to be sent to you by your program chairperson via text, call, or email. This will serve as your password to access our Online Registration System. The link of the Online Registration will be uploaded soon.</li>                            
                            <li>Old Students</li>                            
                            <li>Download, print,fill out, and scan (you may use your smart phones to capture these requirements if there are no available scanners) the FHE form.</li>                            
                            <li>Use your last name as your username and your ID Number as your password.</li>                            
                            <li>For new students and old and regular students, you are not required to undertake the succeeding steps. The designated faculty member in your college will do it for you. Wait for the confirmation of your enrollment.</li>
                        </ul>
                        <li>2. Subject Loading</li>
                        <li>The chairperson will encode your subjects into the enrollment system.</li>
                        </ul>
                        <li>3. Enlistment and Assessment</li>
                        <li>The in-charge faculty member will enlist and assess your subjects in the system.</li>
                            <li>For irregular (old) students, visit your respective colleges during the scheduled date of enrollment to personally identify and choose your preferred subjects to be enrolled in.</li>
                        </ul>
                        <li>4. Payment</li>
                            <li>For new students, no fees (tuition fee and miscellaneous fees) will be collected as long as you have availed of the Free Higher Education Scholarship. However, if there are fees (mostly for old students) which are not included in the FHE, the student must settle their account balances via our campus remittance partner or campus Landbank account or at the cashiers office observing minimum health standards before proceeding to the next step.</li>
                        </ul>
                        <li>5. Validation</li>
                        <li>The registrars office will validate your assessment certificates as officially enrolled.</li>
                        </ul>
                        <li>6. ID Application</li>
                        <li>New students and transferees will proceed to the MIS Office to apply for a school ID. The schedule of ID applications will be announced during the first face-to-face meeting.</li>
                        </ul>
                        <li>7. Student Portal</li>
                        <li>For new students and transferees, proceed to the library or other identified locations to register for their student portal. The schedule of Student Portal Enrollment will be announced during the first face-to-face meeting.</li>
                            </li>                            
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Institutional Telephone (include Area Code) : (072) 687-0634</li>
                            <li>Institutional Heads Telephone ( include Area Code) : +63 926 900 4670</li>
                                <li><a href= "mailto:chancellor.nluc@dmmmsu.edu.ph">Institutional E-mail Address : chancellor.nluc@dmmmsu.edu.ph</a></li>
                                <li><a href= "www.dmmmsu.edu.ph">Institutional Web Site : www.dmmmsu.edu.ph</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>