<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#shs">For SHS</a>
						<a href="#transferees">For Transferees</a>
						<a href="#oldStu">For Old Students</a>
						<a href="#bachelor">For Bachelor Programs</a>
                        <a href="#grads">For Graduates</a>
                        <a href="#shortTerm">For Short-Term Courses</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#undergrad">Undergraduate Programs</a>
						<a href="#doctoral">Doctoral Programs</a>
						<a href="#master">Master Programs</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Eulogio "Amang" Rodriguez Institute of Science & Technology -->
	<div id="shs" class="container">
		<img src="{{ url_for('static', filename='images/logos/universities/EARISTLogo.png') }}" alt="Eulogio "Amang" Rodriguez Institute of Science & Technology" class="univ-logo">
		<h1>Eulogio "Amang" Rodriguez Institute of Science & Technology</h1>
		<h2 class="address">Nagtahan St., Sampaloc, Manila 1008, Philippines</h2>
		<div class="status">
		  <i class="status-icon fa fa-circle" id="status-icon"></i>
		  <span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 id="transferees" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
		<h4>FOR GRADUATING SHS STUDENTS</h4>
		<ol>
		  <li>High School card (Form 138)</li>
		  <li>Certification of good moral character duly signed by School Principal or Registrar</li>
		  <li>Result of College Admission Test</li>
		  <li>Authenticated Birth Certificate</li>
		</ol>

		<h4 id="oldStu">FOR TRANSFEREES</h4>
		<ol>
		  <li>Certification of Honorable Dismissal</li>
		  <li>True copies of grades, Transcript of Record from school last attended</li>
		  <li id="bachelor">Result of College Admission Test</li>
		  <li>Certificate of Good Moral Character</li>
		</ol>

		<h4>FOR OLD STUDENTS</h4>
		<ol>
		  <li>Curriculum checklist properly filled-out with grades in all the subjects taken</li>
		</ol>

		<h4 id="grads">BACHELOR PROGRAMS</h4>
		<p>Applicants to any of the curriculum programs of the institute must:</p>
		<ol>
			<li>be a High School graduate</li>
			<li>have passed the College Admission Test</li>
			<li>have passed the College Personal Interview</li>
			<li>have an average grade of at least 85% in English and Math (for CAS and  CED)</li>
			<li>be physically and mentally fit, as duly certified by the School Physician</li>
		</ol>

		<h4 id="shortTerm">GRADUATE PROGRAMS</h4>
		<ol>
		  <li>Transcript of Records</li>
		  <li>Qualifying Exam</li>
		  <li id="special">Permit to study, if employed in the government</li>
		  <li>Certificate of employment indicating work schedule, if employed in a private company</li>
		  <li>Transfer credentials and/or TOR with special order, if graduate</li>
		</ol>

		<h4>QUALIFICATIONS FOR SHORT-TERM COURSES</h4> 
		<ol>
		  <li id="undergrad">Can read and write</li>
		  <li>High School graduate with knowledge in basic computer (computer programs)</li>
		</ol>

		<h3 class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>Baccalaureate College for Liberal Arts</li>
		</ul>

		<h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<h4>UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li>Bachelor of Science in Architecture (BS ARCHI)</li>
		  <li>Bachelor of Science in Interior Design (BSID)</li>
		  <li>Bachelor in Fine Arts (BFA)
			<p>Major in:</p>
			<ul>
				<li>Painting</li>
				<li>Visual Communication</li>
			</ul>
		  </li>
		  <li>Bachelor of Science in Applied Physics with Computer Science Emphasis (BSAP)</li>
		  <li>Bachelor of Science in Computer Science (BSCS)</li>
		  <li>Bachelor of Science in Information Technology (BS INFO TECH)</li>
		  <li>Bachelor of Science in Psychology (BSPSYCH)</li>
		  <li>Bachelor of Science in Mathematics (BSMATH)</li>
		  <li>Bachelor of Science in Business Administration (BSBA)
			<p>Major in:</p>
			<ul>
				<li>Marketing Management</li>
			</ul>
		  </li>
		  <li>Human Resource Development Management (HRDM)</li>
		  <li>Bachelor of Science in Entrepreneurship (BSEM)</li>
		  <li>Bachelor of Science in Office Administration (BSOA)</li>
		  <li>Bachelor in Secondary Education (BSE)
			<p>Major in:</p>
			<ul>
				<li>Science</li>
				<li>Mathematics</li>
				<li>Filipino</li>
			</ul>
		  </li>
		  <li>Bachelor in Special Needs Education (BSNED)</li>
		  <li>Bachelor in Technology and Livelihood Education (BTLE)
			<p>Major in:</p>
			<ul>
				<li>Home Economics</li>
				<li>Industrial Arts</li>
			</ul>
		  </li>
		  <li>Professional Education / Subjects 18 units (TCP)</li>
		  <li>Bachelor of Science in Chemical Engineering (BSCHE)</li>
		  <li>Bachelor of Science in Civil Engineering (BSCE)</li>
		  <li>Bachelor of Science in Electrical Engineering (BSEE)</li>
		  <li>Bachelor of Science in Electronics and Communication Engineering (BSECE)</li>
		  <li>Bachelor of Science in Mechanical Engineering (BSME)</li>
		  <li>Bachelor of Science in Computer Engineering (BSCOE)</li>
		  <li>Bachelor of Science in Tourism Management (BST)</li>
		  <li>Bachelor of Science in Hospitality Management (BSHM)</li>
		  <li>Bachelor of Science in Industrial Technology (BSIT)
			<p>Major in:</p>
			<ul>
				<li>Automotive Technology</li>
				<li>Electrical Technology</li>
				<li>Electronics Technology</li>
				<li>Food Technology</li>
				<li id="doctoral">Fashion and Apparel Technology</li>
				<li>Industrial Chemistry</li>
				<li>Drafting Technology</li>
				<li>Machine Shop Technology</li>
				<li>Refrigeration and Air Conditioning</li>
			</ul>
		  </li>
		  <li>Bachelor in Public Administration (BPA)</li>
		  <li>Bachelor of Science in Criminology (BSCRIM)</li>
		</ul>

		<h4>DOCTORAL PROGRAMS</h4>
		<ul>
			<li>Doctor of Philosophy
				<p>Major in:</p>
				<ul>
					<li id="master">Industrial Psychology</li>
					<li>Doctor of Education</li>
				</ul>
				<p>Major in:</p>
				<ul>
					<li>Educational Management</li>
					<li>Doctor in Business Administration</li>
					<li>Doctor in Public Administration</li>
				</ul>
			</li>
		</ul>

		<h4>MASTER PROGRAMS</h4>
		<ul>
			<li>Master of Science in  Mathematics</li>
			<li>Master of Arts in Industrial Psychology</li>
			<li>Master in Business Administration</li>
			<li>Master in Public Administration</li>
			<li>Master of Arts in Industrial Education
				<p>Major in:</p>
				<ul>
					<li>Hotel Management</li>
					<li>Master of Arts in Education
						<p>Major in:</p>
						<ul>
							<li>Administration and Supervision</li>
							<li>Guidance and Counseling</li>
							<li>Special Education</li>
							<li>Master of Arts in Teaching
								<p>Major in:</p>
								<ul>
									<li id="application">Electronics Technology</li>
									<li>Mathematics</li>
									<li>Science</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>

		<h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
		<ol>
			<li>Online register in the EARIST Pinnacle</li>
			<li>After completing the registration online, Sign in/Login to your account and look for the application form.</li>
			<li>Click the Personal Data Form and Print it in A4 Bond Paper and bring the Original/Certified True copy of Documents.</li>
			<li>Bring the Original Required Documents and Printable Online Admission Form/Personal Data form with Applicant Number to the Registrar's Office for Evaluation/Verification and to Secure ECAT Examination Permit.</li>
		</ol>

		<h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="earistofficial1945@gmail.com">earistofficial1945@gmail.com</a></li>
			<li>Telephone: (632) 716 - 5059</li> 
			<li>Fax: (632) 516 - 2426</li>  
			<li>Registrar Office: (02) 716-5059</li>  
			<li>Website: <a href="https://earist.edu.ph/">https://earist.edu.ph/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/EARISTOfficial?mibextid=ZbWKwL">https://www.facebook.com/EARISTOfficial?mibextid=ZbWKwL</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>