<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Eastern Samar State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/essu.png') }}" alt="Eastern Samar State University" class="univ-logo">
                    <h1>Eastern Samar State University</h1>
                    <h2 class="address">Brgy. Maypangdan, Borongan, Philippines</h2>
            
                    <h3 id="special" class="heading3">Requirements</h3> <!-- Requirements -->
                    <ul>
                        <li>Accomplished Entrance Examination Application Form</li>
                        <li>1 Photocopy of Certificate of Good Moral Character</li>
                        <li>2 pcs. Passport-size ID picture in white background</li>
                    </ul>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Additional Requirements -->
                    <p><strong>For Incoming First Year:</strong></p>
                    <ul>
                        <li>1 photocopy of form 138</li>
                    </ul>
                    <p><strong>For Transfer Student:</strong></p>
                    <ul>
                        <li>1 photocopy of transcript of records or information copy of grades</li>
                        <li>Honorable dismissal</li>
                    </ul>
            
                    <h3 id="undergrad" class="heading3 ">University Specializations</h3> <!-- University Specializations -->
                    <p>Education, and Animal Science</p>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>Bachelor of Science in Civil Engineering</li>
                        <li>Bachelor of Science in Electrical Engineering</li>
                        <li>Bachelor of Science in Computer Engineering</li>
                        <li>Bachelor of Science in Computer Science</li>
                        <li>Bachelor of Science in Information Technology</li>
                        <li>Bachelor of Science in Business Administration</li>
                            <ul>
                                <li>Major in:</li>
                                <ul>
                                    <li>Financial Management</li>
                                    <li>Marketing Management</li>
                                    <li>Human Resource Development Management</li>
                                    <li>Business Economics</li>
                                </ul>
                            </ul>
                        <li>Bachelor of Science in Accountancy</li>
                        <li>Bachelor of Science in Tourism Management</li>
                        <li>Bachelor of Science in Hospitality Management</li>
                        <li>Bachelor of Science in Entrepreneurship</li>
                        <li>Bachelor in Elementary Education</li>
                        <li>Bachelor in Secondary Education</li>
                            <ul>
                                <li>Major in:</li>
                                <ul>
                                    <li>Social Studies</li>
                                    <li>Mathematics</li>
                                    <li>Science</li>
                                    <li>English</li>
                                    <li>Filipino</li>
                                </ul>
                            </ul>
                        <li>Bachelor of Science in Environmental Science</li>
                        <li>Bachelor of Science in Agriculture</li>
                            <ul>
                                <li>Major in:</li>
                                <ul>
                                    <li>Animal Science</li>
                                    <li>Agronomy</li>
                                    <li>Horticulture</li>
                                </ul>
                            </ul>
                        <li>Bachelor of Science in Fisheries</li>
                        <li>Bachelor in Agricultural Technology</li>
                        <li>Bachelor of Arts in Communication</li>
                        <li>Bachelor of Arts in Political Science</li>
                        <li>Bachelor of Science in Biology</li>
                        <li>Bachelor of Science in Social Work</li>
                        <li>Bachelor of Science in Nursing</li>
                        <li>Diploma in Midwifery leading to BS Midwifery</li>
                        <li>Bachelor of Science in Criminology</li>
                        <li>Bachelor of Science in Industrial Technology</li>
                            <ul>
                                <li>Major in:</li>
                                <ul>
                                    <li>Automotive Technology</li>
                                    <li>Electronics Technology</li>
                                    <li>Electrical Technology</li>
                                    <li>Drafting Technology</li>
                                </ul>
                            </ul>
                    </ul>
            
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <p>Applicants shall proceed to the Admissions Office on the 1st Floor of the ICTC Building (behind the Central Library), ESSU-Borongan to secure an application form and submit their requirements.</p>
                    <p><strong>Dates of Examination in ESSU-Borongan:</strong></p>
                    <ul>
                        <li>May 17, 24, 31, 2024</li>
                        <li>June 10, 11, 13, 14, 17-21, 2024</li>
                    </ul>
                    <p>Entrance Examination will also be conducted at ESSU-Balangiga Extension Campus on May 10, 2024 and ESSU-Arteche Extension Campus on April 26, 2024.</p>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href = "info@essu.edu.ph">info@essu.edu.ph</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>


