<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logos/website/logo.png">
    <title>PamantasanPH</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/favs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header class="header"> <!--navigation div-->
        <div class="title">
            <img src="../static/images/logos/website/logo.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul id="navigation">
                <li><a id="home" href="index.html">Home</a></li>
                <li><a id="univs" href="univs.html">Universities</a></li>
                <li><a id="favs" href="favs.html">Favorites</a></li>
            </ul>
        </nav>
    </header>

    <h1>My Favorites</h1>
    <hr class="list">
    <div class="favs">
        <!-- here goes the appended container once it was bookmarked -->
        <!-- sample appended container -->
        <div class="bg-container">  
            <div class="unbookmark-icon">
                <i class="fas fa-bookmark"></i>
            </div>
            <div class="bg-img">  
                <img src="../static/images/logos/bg_img/cmu-standard-scale-2_00x-gigapixel.jpg" alt="City of Malabon University">  
                <div class="overlay">
                    <p><a href="../templates/univs/cmu.html">City of Malabon University</a></p>
                </div>
            </div>
        </div>

        <div class="bg-container">
            <div class="unbookmark-icon">
                <i class="fas fa-bookmark"></i>
            </div>
            <div class="bg-img">  
                <img src="../static/images/logos/bg_img/dr.fil-gigapixel-standard-height-1080px.jpg" alt="Dr. Filemon C. Aguilar Memorial College of Las Pinas">  
                <div class="overlay">
                    <p><a href="../templates/univs/dr.fil.html">Dr. Filemon C. Aguilar Memorial College of Las Pinas</a></p>
                </div>
            </div>
        </div>

        <div class="bg-container">  
            <div class="unbookmark-icon">
                <i class="fas fa-bookmark"></i>
            </div>
            <div class="bg-img">  
                <img src="../static/images/logos/bg_img/earist-gigapixel-standard-height-1080px.jpg" alt="Eulogio "Amang" Rodriguez Institute of Science & Technology">  
                <div class="overlay">
                    <p><a href="../templates/univs/earist.html">Eulogio "Amang" Rodriguez Institute of Science & Technology</a></p>
                </div>
            </div>
        </div>

        <div class="bg-container">  
            <div class="unbookmark-icon">
                <i class="fas fa-bookmark"></i>
            </div>
            <div class="bg-img"> 
                <img src="../static/images/logos/bg_img/mpc-gigapixel-standard-height-1080px.jpg" alt="Marikina Polytechnic College"> 
                <div class="overlay">
                    <p><a href="../templates/univs/mpc.html">Marikina Polytechnic College</a></p>
                </div>
            </div>
        </div>
    </div>

	<footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures stirct confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div> 
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <!-- <script src="{{ url_for('static', filename='js/favs.js') }}"></script> -->
</body>
</html>