<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logos/website/finallogo.png') }}">
    <title>PamantasanPH - Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/forgotPassword.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body> 
    <div class="container">
        <a href="{{ url_for('login') }}" class="back-btn">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <h1>Forgot Password</h1> 
        <p class="sub-header">Please Enter Your Email To Receive a Verification Code</p>

        <!-- WTForms integration -->
        <form action="{{ url_for('forgot_password') }}" method="POST">
            {{ form.hidden_tag() }} <!-- Include hidden fields for CSRF protection -->
            <div class="input-group"> 
                <i class="fa-solid fa-envelope"></i>
                {{ form.email(class_="form-control", placeholder="Email") }} <!-- Render email field with placeholder -->
            </div>

            <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button> <!-- Render submit button -->
        </form>
        <!-- End WTForms integration -->
    </div>

    <!-- <script src="forgotPassword.js"></script> -->
</body>
</html>
