<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Branches</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#main">Nayon Lamut, Ifugao</a>
                                    <a href="#lagawe">Lagawe, Ifugao</a>
                                    <a href="#potia">Alfonso Lista, Ifugao</a>
                                    <a href="#hapao">Hungduan, Ifugao</a>
                                    <a href="#aguinaldo">Aguinaldo, Ifugao</a>
                                    <a href="#tinoc">Tinoc, Ifugao</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#diploma">Diploma Courses</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Ifugao State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/IFSULogo.png') }}" alt="Ifugao State University" class="univ-logo">
                    <h1>Ifugao State University</h1>
                    <h2 class="address">Nayon Lamut Ifugao 3605, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="shs" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ol>
                        <li>PSA/ NSO issued Birth Certificate (Photocopy)</li>
                        <li>Marriage Certificate for Married Women</li>
                        <li>4 Passport Size ID Pictures</li>
                        <li>1 1x1 ID Picture</li>
                        <li>1 Long White Folder</li>
                    </ol>

                    <h4 id="transferees">FOR SHS GRADUATES</h4>
                    <ul>
                        <li>SHS Report Card</li>
                        <li>SHS Certificate of Good Moral Character</li>
                    </ul>

                    <h4 id="others">FOR TRANSFEREES</h4>
                    <ul>
                        <li>Transfer Credentials of Honorable Dismissal</li>
                        <li>True Copy of Grades</li>
                        <li>Certificate of Good Moral Character from Last School Attended</li>
                    </ul>

                    <h4 id="special">FOR ALL GRADUATE STUDENTS</h4>
                    <ul>
                        <li>Transfer Credential or Honorable Dismissal</li>
                        <li>True Copy of Grades of all College/ Master's/ Doctoral Studies</li>
                    </ul>

            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="main">Agriculture</li>
                        <li>Forestry</li>
                        <li>Nursing</li>
                        <li>Social Sciences</li>
                        <li>Criminology</li>
                        <li>Teacher Education</li>
                        <li>Business Administration</li>
                        <li>Public Administration</li>
                        <li>Information Technology</li>
                        <li>Food Science</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                            <h4 id="diploma">UNDERGRADUATE PROGRAMS</h4>
                            <ul>
                                <li><strong>Main University</strong>
                                    <ul>
                                        <li>Bachelor of Science in Agriculture
                                            <p>Major in:</p>
                                            <ul>
                                                <li>Agricultural Extension Animal Science</li>
                                                <li>Agricultural Extension Crop Science</li>
                                            </ul>
                                        </li>
                                        <li>Bachelor in Agricultural Technology
                                            <p>Major in:</p>
                                            <ul>
                                                <li>Animal Technology</li>
                                                 <li>Crop Technology</li>
                                            </ul>
                                        </li>
                                        <li>Bachelor of Science in Forestry</li>
                                        <li>Bachelor of Science in Home Technology 
                                            <p>Major in:</p>
                                            <ul>
                                                <li>Clothing Foods</li>
                                            </ul>
                                        </li>
                                        <li>Bachelor of Arts in Political Science</li>
                                        <li>Bachelor of Science in Psychology</li>
                                        <li>Bachelor of Science in Tourism Management</li>
                                        <li>Bachelor of Science in Social Work</li>
                                        <li>Bachelor of Science in Criminology</li>
                                        <li>Bachelor of Science in Information Technology</li>
                                        <li>Bachelor of Elementary Education</li>
                                        <li>Bachelor of Secondary Education
                                            <p>Major in:</p>
                                            <ul>
                                                 <li>English</li>
                                                 <li>Filipino</li>
                                                 <li>Mathematics</li>
                                                 <li>Social Studies</li>
                                            </ul>
                                        </li>
                                        <li>Bachelor of Physical Education</li>
                                        <li>Bachelor in Early Childhood Education</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li>DIPLOMA COURSES
                            <ul>
                                <li>Diploma in Agricultural Technology</li>
                                <li>Associate in Computer Technology</li>
                                <li>Diploma in Teacher Education</li>
                            </ul>
                        </li>

                        <li id="doctoral">MASTERAL PROGRAMS
                            <ul>
                                <li>Master  in Public Administration</li>
                                <li>Master of Arts in Educational Management</li>
                                <li>Master of Arts in Special Education</li>
                                <li>Master of Arts in Nursing
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Nursing Services Administration</li>
                                        <li>Maternal and Child Health</li>
                                    </ul>
                                </li>
                                <li>Master of Arts in Early Childhood Education</li>
                                <li>Master of Arts in Teaching
                                    <p>Major in:</p>
                                    <ul>
                                        <li>English</li>
                                        <li>Filipino</li>
                                        <li>Mathematics</li>
                                        <li>Science</li>
                                    </ul>
                                </li>
                                <li>Master of Arts in Criminal Justice with Specialization in Criminology</li>
                            </ul>
                        </li>

                        <li id="lagawe">DOCTORAL PROGRAMS
                            <ul>
                                <li>Doctor of Philosophy in Education Management (PhDEM)</li>
                                <li>Doctor of Philosophy in Management (PhDM)</li>
                            </ul>
                        </li>

                        <li id="potia"><strong>Lagawe Campus</strong>
                            <ul>
                                <li>Bachelor of Science in Business Administration
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Financial Management</li>
                                        <li>Marketing Management</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Science in Tourism Management</li>
                                <li>Bachelor of Science in Hospitality Management</li>
                                <li>Bachelor of Science in Civil Engineering</li>
                                <li>Bachelor of Science in Computer Engineering</li>
                                <li>Bachelor of Science in Industrial Technology, majors: Automotive Technology, Civil Technology, & Garment
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Automotive Technology</li>
                                        <li>Civil Technology</li>
                                        <li>Garment</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Science in Electrical Engineering</li>
                                <li>Bachelor of Science in Mechanical Engineering</li>
                                <li>Bachelor of Elementary Education</li>
                                <li>Bachelor of Secondary Education major in English</li>
                                <li>Bachelor of Technology & Livelihood Education</li>
                                <li>Bachelor of Technical Vocational Teacher Education
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Garment and Fashion Design</li>
                                        <li>Electrical Technology</li>
                                        <li>Welding & Fabrication Technology</li>
                                    </ul>
                                </li>
                                <li>Diploma in Teacher Education</li>
                                <li>Master in Business Administration</li>
                                <li>Master of Arts in Technology and Livelihood Education
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Home Economics</li>
                                        <li>Industrial Arts Technology</li>
                                        <li>Information and Communications Technology</li>
                                    </ul>
                                </li>
                                <li>Doctor of Business Administration</li>
                            </ul>
                        </li>

                        <li id="aguinaldo"><strong>Potia Campus</strong>
                            <ul>
                                <li>Bachelor of Elementary Education</li>
                                <li>Bachelor of Secondary Education, majors: English, Filipino, Mathematics, and Science</li>
                                <li>Bachelor of Technology & Livelihood Education</li>
                                <li>Bachelor of Early Childhood Education</li>
                                <li>Bachelor of Physical Education</li>
                                <li>Bachelor of Science in Agriculture, majors: Animal Science & Crop Science</li>
                                <li>Bachelor of Science in Forestry</li>
                                <li>Bachelor of Science in Information Technology</li>
                                <li>Bachelor of Science in Computer Engineering</li>
                                <li>Bachelor of Science in Criminology</li>
                                <li>Bachelor of Science in Entrepreneurship</li>
                                <li>Bachelor of Science in Hospitality Management</li>
                                <li>Diploma in Midwifery</li>
                                <li>Seafarer Rating Course</li>
                                <li>Master  in Public Administration</li>
                                <li>Master of Arts in Educational Management</li>
                                <li>Master of Arts in Teaching Science</li>
                                <li>Master of Arts in Teaching Filipino</li>
                                <li>Master of Arts in Teaching Mathematics</li>
                                <li>Master of Arts in Teaching Science</li>
                                <li>Master of Arts in Technology and Livelihood Education major in Agritech and Fishery Arts</li>
                                <li>Master of Arts in Technology and Livelihood Education major in Home Economics</li>
                                <li>Master of Arts in Technology and Livelihood Education major in Industrial Arts Technology</li>
                                <li>Master of Arts in Technology and Livelihood Education major Information and Communication Technology</li>
                                <li>Master of Science in Agriculture, major in Animal Science</li>
                                <li>Master of Science in Agriculture, major in Crop Science</li>

                            </ul>
                        </li>

                        <li id="hapao"><strong>Aguinaldo Campus</strong>
                            <ul>
                                <li>Bachelor of Secondary Education, major in Filipino</li>
                                <li>Bachelor of Science in Information Technology</li>
                                <li>Diploma in Agricultural Technology</li>
                            </ul>
                        </li>

                        <li id="tinoc"><strong>Hapao Campus</strong>
                            <ul>
                                <li>Bachelor in Agricultural Technology</li>
                                <li>Diploma in Agricultural Technology</li>
                            </ul>
                        </li>

                        <li id="application"><strong>Tinoc Campus</strong>
                            <ul>
                                <li>Bachelor of Elementary Education</li>
                                <li>Bachelor in Agricultural Technology</li>
                                <li>Diploma in Midwifery</li>
                            </ul>
                        </li>
                    </ul>

            
                    <h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>Application</li>
                        <ul>
                            <li>Applicant must fill out the online registration form. Please enter correct and honest information being required to minimize the chances of your application being rejected.(Uploading of necessary and required documents needed for the admission such as Form 137, Good Moral Certificate,PSA/NSO Birth Certicate and others can be done after submitting your application for admission. If submitted successfuly, you will be able to login on the student portal (<a href="https://aims.ifsu.edu.ph/guest_admission_schedule">visit login page here</a>) and start submitting required documents by uploading digital copies. All documents to be uploaded must be in PDF or JPEG format.)</li>
                            <li>Note: There is a cut off of schedule for online registration. In case you missed it, the only option left is to personally visit our office during enrollment days.</li>
                        </ul>
                        <li>Evaluation</li>
                        <ul>
                            <li>The Office of the Registrar will assess the qualifications of the applicant based on the information provided.</li>
                            <li>Once Completed
                                <ul>
                                    <li>An email and sms containing the Applicant's verification code and a link to the Status Page will be sent. The Status Page will serve as a guide where progress of applicant can be monitored.</li>
                                </ul>
                            </li>
                            <li>Once Approved and Verified
                                <ul>
                                    <li>The applicant may proceed to login to the student portal (<a href="https://aims.ifsu.edu.ph/user_login">visit portal link here</a>) and access the student portal dashboard. Within the dashboard, the applicant can create their own schedules from the available class schedules prepared for the current period.</li>
                                    <li>Before beginning the process of creating a class schedule, students must ensure that their accounts are activated.</li>
                                </ul>
                            </li>
                            <li>If Denied
                                <ul>
                                    <li>An email will be sent to the applicant containing the reason for his/her denied application. Applicant may email the Registrar at <a href="mailto: ifsulamutdras@gmail.com">ifsulamutdras@gmail.com</a> or visit their office personally for further verification or information.</li>
                                </ul>
                            </li>
                        </ul>
                        <li>Payment</li>
                        <ul>
                            <li>After being notified of "Approved and Accepted" in Step 2, accepted applicant is required to settle the fees or down payment. The designated applicant reference number will have to be presented in settling fees.</li>
                        </ul>
                        <li>Submission of Original Documents</li>
                        <ul>
                            <li>After completing Step 3, applicant is required to submit original copies of the documents (the same documents that have been uploaded in Step 2) to what campus you would like to be admitted:

                                The Ifugao State University is operating at 6 satellite campuses in the province of Ifugao</li>
                        </ul>
                        <li>Full Access to Aims (Academic Information Management System)</li>
                        <ul>
                            <li>All successful applicants who have been confirmed are granted full access to the <a href="https://aims.ifsu.edu.ph/user_login">Academic Information Management System - Student Portal (AIMS)</a>. You can use your login credentials to open the portal. In the event that you forget your account password, please proceed to reset it by visiting the following link: <a href="https://aims.ifsu.edu.ph/user_account_reset_password_student">Reset Password</a>.
                                If you encounter any issues or require assistance, you may also reach out to the Office of the Registrar or send a request email to <a href="mailto:ifsulamutdras@gmail.com">ifsulamutdras@gmail.com</a>.
                                </li>
                        </ul>
                    </ol>

            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto:ifsurecordsmain@gmail.com">ifsurecordsmain@gmail.com</a></li>
                        <li>Telephone: 09171298310</li>
                        <li>Website: <a href="http://ifsu.edu.ph/">http://ifsu.edu.ph/</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>