<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logos/website/logo.png">
    <title>PamantasanPH</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/prototype.css"> <!-- WILL FINALIZE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="header"> <!--navigation div-->
        <div class="title">
            <img src="../static/images/logos/website/logo.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul id="navigation"> <!-- WILL FINALIZE -->
                <li><a id="home1" href="index.html">Home</a></li>
                <li><a id="univs1" href="univs.html">Universities</a></li>
                <li><a id="favs" href="favs.html">Favorites</a></li>
            </ul>
        </nav>
    </header>

    <section id="home"> <!--default 'page' div--> <!--  WILL FINALIZE -->
        <div class="container">
            <div class="slides"> <!-- content for the first slide -->
                <h1>Discover Universities in Metro!</h1>
                <p>Lorem ipsum dolor...</p> <!--  WILL FINALIZE -->
            </div>   
    
            <div class="slides"> <!-- content for the second slide -->
                <h1>About</h1>
                <p>PamanatasanPH commits to simplicity and convenience, this streamlines the search for universities within Manila, offering relevant details and a user-friendly experience for students, educators, parents or guardians, and/or officials.</p>
            </div>
            
            <div class="slides"> <!-- content for the third slide -->
                <div class="column">
                    <h3 class="text-with-border">Mission</h3>
                    <p>PamanatasanPH guides its users by offering information about universities around Manila, fostering personal growth and easing their advancements to educational and professional success.</p>
                </div>
                <div class="column">
                    <h3 class="text-with-border">Vision</h3>
                    <p>PamanatasanPH aims to become a proper and go-to platform for comprehensive university information, enhancing user experience or convenience in general.</p>
                </div>
            </div> 
        
            <button class="prev" onclick="plusSlides(-1)">&#10094;</button>  <!-- swipe buttons -->
            <button class="next" onclick="plusSlides(1)">&#10095;</button>
        </div>
    </section>

    <main id="univs" class="search-bar"> <!--search bar div--> <!--  WILL FINALIZE -->
        <div class="search">
            <div class="search-container">
                <label for="search-input" class="search-icon">
                    <i class="fas fa-search"></i>
                </label>
                <input type="text" id="search-input" class="search-input" placeholder="Search here">
                <button id="search-button" class="search-button">Search</button>
            </div>
            <div class="result-box"></div>
        </div>
    </main>

    <div class="newsletter"> <!--newsletter--> <!-- WILL FINALIZE, style -->
        <h2>Subscribe to our Newsletter!</h2>
        <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
        <form action="/newsletter" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter a valid email address" required>
            <br>
            <button type="submit" style="background-color: rgb(154, 40, 9); color: rgb(255, 255, 255); border-radius:4px; margin-block-start: 10px">Subscribe</button>
        </form>
    </div>

    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures stirct confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div> <!-- WILL FINALIZE -->
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>
    
    <!-- <script src="C:\Users\Jane\Documents\GitHub\PamantasanPH\code1\js\prototype.js" defer></script> -->
    <script src="{{ url_for('static', filename='js/prototype.js') }}"></script>
</body>
</html>