<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section>
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#admissionpol">Admission Policy</a>
                                    <a href="#programoffers">JHCSC Program offerings</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/jcscLOGO.png') }}" alt="JOSEFINA H. CERILLES STATE COLLEGE" class="univ-logo">
                    <h1>JOSEFINA H. CERILLES STATE COLLEGE</h1>
                    <h2 class="address">Address – Zamboanga del Sur, Zamboanga City, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
                    <div>
                        <h2 id="special" class="heading3">Requirements</h2>
                        <h3>Admission Requirements For Senior High School Graduating Students:</h3>
                        <ul>
                            <li>Report Card (Form 138-A) with complete grades in Grade 11 (First and Second Semesters) and Grade 12 (First Semester only)</li>
                            <li>Certification Letter from the School Principal/Registrar attesting that the applicant is currently a Grade 12 student and a candidate for graduation.</li>
                        </ul>
                        <h3>For Senior High School Graduates:</h3>
                        <ul>
                            <li>Report Card (Form 138-A) with complete grades in Grade 11 (First and Second Semesters) and Grade 12 (First and Second Semesters)</li>
                        </ul>
                        <h3>For Transferees:</h3>
                        <ul>
                            <li>Transcript of Records (TOR)</li>
                        </ul>
                        <h3>For ALS Passers:</h3>
                        <ul>
                            <li>Certificate of Rating and Certificate of Graduation</li>
                        </ul>
                        <h3>For All Applicants:</h3>
                        <ul>
                            <li>Security Paper (SECPA) of Certificate of Live Birth</li>
                            <li>Previous school identification (ID) card</li>
                            <li>Recent 2×2 identification picture in white background (Note: Selfie is not acceptable.)</li>
                        </ul>

                        <h2>University Specializations</h2>
                        <p>N/A</p>

                        <h2 id="undergrad" class="heading3">University Courses</h2>
                        <h3>Program Offerings MAIN CAMPUS</h3>
                        <ul>
                            <li>School of Agriculture, Forestry and Environmental Studies
                                <ul>
                                    <li>Master of Agricultural Development (MAgDev) major in Agricultural Extension</li>
                                    <li>Master of Science in Environmental Resources Management (MSERM)</li>
                                    <li>Bachelor of Science in Agriculture (BSA) major in
                                        <ul>
                                            <li>Crop Science</li>
                                            <li>Animal Science</li>
                                        </ul>
                                    </li>
                                    <li>Bachelor of Science in Forestry (BSF)</li>
                                    <li>Bachelor of Science in Environmental Science (BSES)</li>
                                </ul>
                            </li>
                            <li>School of Teacher Education
                                <ul>
                                    <li>Master of Arts in Education (MAED) major in
                                        <ul>
                                            <li>Educational Administration</li>
                                            <li>English</li>
                                            <li>Filipino</li>
                                            <li>Science</li>
                                            <li>Mathematics</li>
                                        </ul>
                                    </li>
                                    <li>Bachelor of Elementary Education (BEEd)</li>
                                    <li>Bachelor of Secondary Education (BSEd) major in
                                        <ul>
                                            <li>English</li>
                                            <li>Filipino</li>
                                            <li>Mathematics</li>
                                            <li>Science</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>School of Engineering and Technology
                                <ul>
                                    <li>Bachelor of Science in Civil Engineering (BSCE)</li>
                                    <li>Bachelor of Science in Agricultural and Biosystems Engineering (BSABE)</li>
                                    <li>Bachelor of Science in Information Technology (BSIT)</li>
                                </ul>
                            </li>
                            <li>School of Arts and Sciences
                                <ul>
                                    <li>Bachelor of Arts in English Language Studies (BaELS)</li>
                                    <li>Bachelor of Arts in Political Science (BaPolS)</li>
                                    <li id="application">Bachelor of Science in Mathematics (BS Math)</li>
                                    <li>Bachelor of Science in Social Works (BSSW)</li>
                                </ul>
                            </li>
                        </ul>
                        <h2  class="heading3">Application Process</h2>
                        <h3>Online Enrollment Procedure – No Admission Test</h3>
                        <ol>
                            <li>Create your new e-mail address following this format: lastname.firstname@gmail.com</li>
                            <li>Prepare scanned copies (in PDF) of the following documentary requirements:</li>
                            <li>Create your JHCSC Admission Account at online.jhcsc.edu.ph</li>
                            <li>Open your JHCSC Admission Account and provide all the indicated information.</li>
                            <li>Upload all your documentary requirements and wait for the confirmation which will be sent to your JHCSC Admission account.</li>
                            <li>Applicants who wish to take up Board Programs/Courses shall undergo scheduled virtual/phone interviews with the Program Chair and Senior Faculty.</li>
                        </ol>
                        <h2>College Admission Updates</h2>
                        <ol>
                            <li>Many applications are pending due to the following reasons:
                                <ol type="a">
                                    <li>Lack of documentary requirements;</li>
                                    <li>No requirements uploaded;</li>
                                    <li>Blurry/not clear documents uploaded (Please upload clear SCANNED COPY instead of picture taken documents); and</li>
                                    <li>No signature on the data consent form.</li>
                                </ol>
                                <p>Note: Please upload again the documents at your JHCSC Admission Account to comply with the lacking requirements.</p>
                            </li>
                            <li>Only those with GPA of 87% or GWA of 1.75 or higher are qualified to enroll in any of our Board Programs/Courses.</li>
                            <li>Applicants may send their complete name to our Campus/ Extension Class Personnel for the confirmation of the application. Contact numbers were posted in our previous post.</li>
                            <li>Applications with “Forbidden” remark were due to the following:
                                <ol type="a">
                                    <li>Slow internet connection; and/or</li>
                                    <li>WPS file was used instead of PDF.</li>
                                </ol>
                                <p>Note: Please use PDF for the documentary requirements to be uploaded and send it again in your Admission Account. Our system will reject all the other file formats.</p>
                            </li>
                        </ol>
                        <h2 id="admissionpol">ADMISSION POLICY</h2>
                        <h3>No Admission Test Policy</h3>
                        <p>The incoming students for the Academic Year 2020-2021 will no longer be required to take the College Admission Test (CAT) but will be enrolled based on their Grade Point Average (GPA)/ General Weighted Average (GWA).</p>
                        <h2 id="programoffers">JHCSC Program Offerings</h2>
                        <p>For students to qualify in the following Board Programs, GPA must be 87% or GWA of 1.75 or higher:</p>
                        <ul>
                            <li>Bachelor of Science in Nursing (BSN)</li>
                            <li>Bachelor of Science in Civil Engineering (BSCE)</li>
                            <li>Bachelor of Secondary Education (BSEd)</li>
                            <li>Bachelor of Elementary Education (BEEd)</li>
                            <li>Bachelor of Physical Education (BPEd)</li>
                            <li>Bachelor of Technical-Vocational Teacher Education (BTVTEd)</li>
                            <li>Bachelor of Technology and Livelihood Education (BTLEd)</li>
                            <li>Bachelor of Science in Social Work (BSSW)</li>
                            <li>Bachelor of Science in Agriculture (BSA)</li>
                            <li>Bachelor of Science in Forestry (BSF)</li>
                            <li>Bachelor of Science in Criminology (BSCrim)</li>
                            <li>Students with GPA below 87% or GWA OF 1.75 may enroll in any of the following Non-Board Programs:</li>
                            <ul>
                                <li>Bachelor of Arts in English Language Studies (BAELS)</li>
                                <li>Bachelor of Arts in Political Science (BAPols)</li>
                                <li>Bachelor of Science in Mathematics (BSM)</li>
                                <li>Bachelor of Science in Information Technology (BSIT)</li>
                                <li>Bachelor of Science in Industrial Technology (BSIndTech)</li>
                            </ul>
                            <h2>Walk-in Enrollees</h2>
                            <p>The JHCSC will accommodate walk-in enrollees at the Organic Campuses for the students with no internet access and gadgets for enrollment. However, wearing of face masks and other health and safety protocols shall be strictly observed and only 50% of the room capacity shall be allowed to enter to avoid crowding and maintain social distancing.</p>
                            <h3>The following steps shall be observed:</h3>
                            <ol>
                                <li>Secure a priority number available at the JHCSC Guard House.</li>
                                <li>Proceed to the JHCSC Computer Laboratory.</li>
                                <li>Enroll online using the available computers with the assistance of the Admission Officer/Staff.</li>
                                <li>Wait for further notice for the validation and confirmation of your enrollment.</li>
                            </ol>
                            <h3>The following offices will evaluate and confirm the application simultaneously. Confirmation of successful enrollment or advisory message shall be released within 3 days by the Office Admissions.</h3>
                            <ul>
                                <li>Admission Officer (Require all students to answer all the survey questions in the JHCSC Portal/Compute the GPA of new students and GWA of old students/transferees).</li>
                                <li>Adviser/Dean/APDs (Verify students’ GPA/GWA/Evaluation subjects to be taken)</li>
                                <li>Guidance Counselor (Filling up of Student Inventory form)</li>
                                <li>DSA (Filling up of Insurance Forms)</li>
                                <li>Registrar’s Office (Validate and confirm students’ enrollment)</li>
                            </ul>
                            <h2>Students with Disabilities</h2>
                            <p>Students with disabilities may be admitted even if they do not fully satisfy the entrance requirements provided that in the assessment of the Admission Officer, in consultation with the Dean of the concerned school, there are available slots and the student has the necessary skills and ability to pursue his/her studies profitably. They are given special priorities in admission services and are assisted by admission personnel in any transactions. A certificate of completion or official transcript of records shall be given to the student for satisfactory performance at the end of the semester.</p>
                            <h2>Promotion, Retention, Probationary and Dismissal Policy</h2>
                            <h3>Promotion</h3>
                            <p>A student will be promoted to the next higher level of his/her studies provided he/she earned the following ratings:</p>
                            <ul>
                                <li>For School of Teacher Education; Agriculture, Forestry and Environmental Studies; Law; Nursing; and Criminology programs:
                                    <ul>
                                        <li>Acquired a General Weighted Average of at least 85% or 2.00</li>
                                        <li>No grade below 80% or 2.50</li>
                                    </ul>
                                </li>
                                <li>For School of Arts and Sciences; Information Technology; Industrial Technology; and Hotel & Restaurant Management programs:
                                    <ul>
                                        <li>Acquired a General Weighted Average of at least 83% or 2.25</li>
                                        <li>No grade below 78% or 2.75</li>
                                    </ul>
                                </li>
                                <li>For Pre-baccalaureate Courses and Technical/Vocational programs:
                                    <ul>
                                        <li>Acquired a General Weighted Average of at least 80% or 2.50</li>
                                        <li>No grade below 75% or 3.00</li>
                                    </ul>
                                </li>
                            </ul>
                            <h3>Retention</h3>
                            <p>A student will be retained from the course officially enrolled provided he/she earned the following ratings:</p>
                            <ul>
                                <li>For School of Teacher Education; Agriculture, Forestry and Environmental Studies; Law; Nursing; and Criminology programs:
                                    <ul>
                                        <li>Acquired a General Weighted Average of at least 85% or 2.00</li>
                                        <li>Number of units to be enrolled in the next semester will be lessened equivalent to the number of subjects with grades below 80% or 2.50</li>
                                        <li>If on the next semester a student did not regain the required GWA, he/she will be advised to shift and take another course</li>
                                    </ul>
                                </li>
                                <li>For School of Arts and Sciences; Information Technology; Industrial Technology; and Hotel & Restaurant Management programs:
                                    <ul>
                                        <li>Acquired a General Weighted Average of 83% or 2.25</li>
                                        <li>Number of units to be enrolled in the next semester will be lessened equivalent to the number of subjects with grades below 78% or 2.75</li>
                                        <li>If on the next semester a student did not regain the required GWA, he/she will be advised to shift and take another course</li>
                                    </ul>
                                </li>
                            </ul>
                            <h3>Probationary Status</h3>
                            <p>A student will be under Probationary Status in the course under the following circumstances:</p>
                            <ul>
                                <li>For School of Teacher Education; Agriculture, Forestry & Environmental Studies; Law; Nursing; and Criminology programs:
                                    <ul>
                                        <li>General Weighted Average is less than 85% or 2.00</li>
                                        <li>With grade/s below 80% or 2.50 but not more than two (2) subjects within the semester</li>
                                        <li>Number of units to be enrolled in the next semester will be lessened equivalent to the number of subjects with grades below 80% or 2.50</li>
                                        <li>If on the next semester a student did not regain the required GWA, and still have below 80% or 2.50 grade/s, he/she will be advised to shift and take another course</li>
                                    </ul>
                                </li>
                                <li>For School of Arts and Sciences; Information Technology; Industrial Technology; and Hotel & Restaurant Management programs:
                                    <ul>
                                        <li>General Weighted Average is less than 83% or 2.25</li>
                                        <li>With grade/s below 78% or 2.75 but not more than two subjects within the semester</li>
                                        <li>Number of units to be enrolled in the next semester will be lessened equivalent to the number of subjects with grades below 78% or 2.75</li>
                                        <li>If on the next semester a student did not regain the required GWA, and still have below 78% or 2.75 grade/s, he/she will be advised to shift and take another course</li>
                                    </ul>
                                </li>
                            </ul>
                            <h3>Dismissal</h3>
                            <p>A student will be dismissed from the College under the following circumstances:</p>
                            <ul>
                                <li>For School of Teacher Education; Agriculture, Forestry & Environmental Studies; Law; Nursing; and Criminology programs:
                                    <ul>
                                        <li>General Weighted Average is less than 85% or 2.00 for two semesters</li>
                                        <li>With failing grades on three or more subjects within the semester</li>
                                    </ul>
                                </li>
                                <li>For School of Arts and Sciences; Information Technology; Industrial Technology; and Hotel & Restaurant Management programs:
                                    <ul>
                                        <li>General Weighted Average is less than 83% or 2.25 for two semesters</li>
                                        <li>With failing grades on three or more subjects within the semester</li>
                                    </ul>
                                </li>
                            </ul>
                            <h2>POLICIES FOR TRANSFEREES AND RETURNEES</h2>
                            <ol>
                                <li>Readmission of Returning Students
                                    <ul>
                                        <li>Students who desire to take a leave from studies in the College for a period of at least one semester must file a leave of absence with the Admission Officer who shall specify the time for the student to return. Failure to return on the specified time disqualifies them from leave. Leaves should not be more than one (1) year except under meritorious cases as may be determined by the Admission Officer in consultation with the Dean of the school concerned.</li>
                                        <li>The student must present clearance and grades of the subjects taken during the last semester of his attendance as certified by the Registrar.</li>
                                        <li>Students who are returning after five years of absence and whose curriculum has been revised shall be admitted under the revised curriculum.</li>
                                    </ul>
                                </li>
                                <li>Voluntary Shifting Within the College
                                    <ul>
                                        <li>A student may be allowed to shift from one school in the College to another upon the approval of the Dean of the school in which the student is currently enrolled. A permit to transfer shall be issued by the Dean of the school attended at least one (1) week before the enrollment period together with a complete report of the student’s grades. The application for shifting must then be approved by the receiving Dean concerned and the Admission Officer. Student shall secure shifting form from the Guidance Office.</li>
                                    </ul>
                                </li>
                                <li>Transferees
                                    <ul>
                                        <li>To apply registration and admission, a transferring student must present his/her transcript of records or an official copy of grades to the Admission Officer for evaluation purposes at least one week before enrollment time. A transferring student may be registered and admitted to the College on the following conditions:
                                            <ul>
                                                <li>The applicant passes the College Entrance Test;</li>
                                                <li>The applicant passes the screening of the school committee;</li>
                                                <li>A weighted grade point average of at least 85% shall be required of transferees from private higher education institutions. Applicants from state universities and colleges shall be given consideration.</li>
                                            </ul>
                                        </li>
                                        <li>The transfer courses shall be credited if these have the same description or content as that offered in the College; provided that the grade of 85% or better shall be credited except National Students Training Program (NSTP) or its equivalent. Subjects that have been previously credited for graduation from a course shall no longer be retaken and given credit.</li>
                                        <li>The allowable number of subjects for the transferee or returnee depends on the program load, his or her ability and previous academic record.</li>
                                        <li>Cross-Registration</li>
                                        <li>Second Courser</li>
                                        <li>Admission Status</li>
                                        <li>Foreign Students</li>
                                    </ul>
                                </li>
                            </ol>
                            <h2>CLASSIFICATION OF STUDENTS</h2>
                            <ol>
                                <li>According to admission status:
                                    <ul>
                                        <li>As Beginning Freshmen</li>
                                        <li>As Returning Students (Returnees)</li>
                                        <li>As Transferring Students (Transferee)</li>
                                        <li>Foreign Student</li>
                                    </ul>
                                </li>
                                <li>According to academic load:
                                    <ul>
                                        <li>Regular student</li>
                                        <li>Irregular student</li>
                                        <li>Special student</li>
                                    </ul>
                                </li>
                                <li>According to year level:
                                    <ul>
                                        <li>Freshman</li>
                                        <li>Sophomore</li>
                                        <li>Junior</li>
                                        <li>Senior</li>
                                    </ul>
                                </li>
                            </ol>
                            <h2>ACADEMIC LOAD</h2>
                            <ol>
                                <li>Regular load of students shall be in accordance with the curricular program enrolled by the student.</li>
                                <li>During summer term, the maximum load shall be nine (9) units</li>
                                <li>A student who is scholastically delinquent shall not be allowed to carry overload.</li>
                                <li>The load of a transferee shall be limited only to subject/s without prerequisites until such time that said subject shall have been validated/accredited.</li>
                            </ol>
                            <h2 id="contacts" class="heading3">Contact Information</h2>
                            <p>Email Address: <a href="mailto:admission@jhcsc.edu.ph">admission@jhcsc.edu.ph</a> / <a href="mailto:jastinjustin2016@gmail.com">jastinjustin2016@gmail.com</a></p>
                            <p>Phone Number: <a href="tel:+639531788997">09531788997</a> / <a href="tel:+639485381443">0948 538 1443</a></p>
                            <p>Facebook Page: <a href="https://www.facebook.com/p/JHCSC-Admission-and-Testing-Office-61555018581630/">J.H.Cerilles State College – Office of Admissions and Testing</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>