<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section>
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#grad">Graduate Programs</a>
                                    <a href="#degree">Degree Programs</a>
                                    <a href="#nondeg">Non-degree Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/PUPLogo.png') }}" alt="JOSE RIZAL MEMORIAL STATE UNIVERSITY - MAIN" class="univ-logo">
                    <h1>JOSE RIZAL MEMORIAL STATE UNIVERSITY - MAIN</h1>
                    <h2 class="address">Gov. Guading Adaza St., Sta. Cruz, Dapitan City, Zamboanga del Norte, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
                    <div>
                        <h3 class="heading3">Requirements</h3>
                    <ul>
                        <li>For SHS Graduate:
                            <ul>
                                <li>Photocopy and Original copy of Report Card</li>
                                <li>Photocopy and Original copy of PSA Birth Certificate</li>
                            </ul>
                        </li>
                        <li>For SHS Graduating:
                            <ul>
                                <li>Certificate of Enrollment as G12 student for S.Y. 2023-2024 signed by the School Principal or Guidance Counselor</li>
                                <li>Photocopy and Original copy of PSA Birth Certificate</li>
                            </ul>
                        </li>
                        <li>For TRANSFEREES:
                            <ul>
                                <li>Photocopy and Original copy of TOR OR Informative Copy (Higher year) OR Certificate of Enrollment signed by the School Registrar (1st year)</li>
                                <li id="special">Photocopy and Original copy of PSA Birth Certificate</li>
                            </ul>
                        </li>
                        <li>For ALS PASSERS:
                            <ul>
                                <li>Certificate of Rating or Certificate of Eligibility</li>
                                <li>Photocopy and Original copy of PSA Birth Certificate</li>
                            </ul>
                        </li>
                    </ul>
                    <h3  class="heading3">University Specializations</h3>
                    <p>N/A</p>
                    <h3 id="grad" class="heading3">University Courses</h3>
                    <ul>
                        <li>
                            <h4>GRADUATE PROGRAMS</h4>
                            <ul>
                                <li>Doctor of Education (Instruction)</li>
                                <li>Doctor of Education (Educational Management)</li>
                                <li>Doctor in Public Administration</li>
                                <li>Doctor in Public Administration (Major in Rural Development)</li>
                                <li>Master in Public Management</li>
                                <li>Master in Public Health</li>
                                <li>Master in Public Administration</li>
                                <li>Master of Arts in Nursing</li>
                                <li>Master of Arts in Mathematics</li>
                                <li>Master of Arts in Filipino</li>
                                <li>Master of Arts in English</li>
                                <li>Master of Arts in Biology</li>
                                <li>Master of Arts in General Science</li>
                                <li>Master of Arts in Social Science</li>
                                <li>Master of Arts in Physical Education</li>
                                <li>Master of Arts in Vocational Education</li>
                                <li>Master of Arts in Education (Educational Management, Special Education, Early Childhood Development)</li>
                                <li>Master of Science in Information Technology</li>
                                <li>Master in Business Administration</li>
                                <li>Master in Technological Education</li>
                                <li>Master of Science in Agriculture</li>
                                <li id="degree">Master of Science in Criminology Criminal Justice</li>
                            </ul>
                        </li>
                        <li>
                            <h4>DEGREE PROGRAMS</h4>
                            <ul>
                                <li>Bachelor of Arts (Majors in: English, Political Science, Psychology, Mass Communication)</li>
                                <li>Bachelor of Elementary Education (General Education, Early Childhood Development)</li>
                                <li>Bachelor of Laws</li>
                                <li>Bachelor of Secondary Education (Majors in: English, Filipino, Mathematics, Social Studies, MAPHE, Computer Education)</li>
                                <li>BS in Accountancy</li>
                                <li>BS in Accounting Technology</li>
                                <li>BS in Agribusiness</li>
                                <li>BS in Agribusiness Management</li>
                                <li>BS in Agricultural Education</li>
                                <li>BS in Agricultural Engineering</li>
                                <li>BS in Agricultural Technology</li>
                                <li>BS in Agriculture</li>
                                <li>BS in Civil Engineering</li>
                                <li>BS in Commerce (Majors in: Management Accounting, Business Management, Management Information System)</li>
                                <li>BS in Computer Engineering</li>
                                <li>BS in Computer Science</li>
                                <li>BS in Criminology</li>
                                <li>BS in Electronics & Communication Engineering</li>
                                <li>BS in Entrepreneurial Management</li>
                                <li>BS in Fisheries</li>
                                <li>BS in Forestry</li>
                                <li>BS in Hotel & Restaurant Management</li>
                                <li>BS in Industrial Education</li>
                                <li>BS in Industrial Technology</li>
                                <li>BS in Information Management</li>
                                <li>BS in Marine Biology</li>
                                <li>BS in Marine Engineering</li>
                                <li>BS in Marine Transportation</li>
                                <li>BS in Nursing</li>
                                <li id="nondeg">BS in Tourism</li>
                            </ul>
                        </li>
                        <li>
                            <h4>NON-DEGREE PROGRAMS</h4>
                            <ul>
                                <li>Associate in Computer Technology</li>
                                <li>Associate in Domestic Technology</li>
                                <li>Associate in Industrial Technology</li>
                                <li>Associate in Industrial Technology Midwifery</li>
                                <li>Associate in Medical-Dental Nursing Assistant</li>
                                <li>Basic Seaman Courses</li>
                                <li>Diploma of Agricultural Technology</li>
                                <li>Diploma of Technology</li>
                                <li>Midwifery</li>
                                <li>Two-Year Hotel & Restaurant Management</li>
                            </ul>
                        </li>
                    </ul>
                    <h3 id="application" class="heading3">Application Process</h3>
                    <ol>
                        <li>
                            <strong>Online Portal Pre-Ranking Guide to the Applicants</strong>
                            <p>STEP 1. Enter the information requested in order to log in. Specify the campus where you took the test, including your application number, then your first and last name. To log in, click the button.</p>
                            <p>STEP 2. Click the "Select Course" button after logging in.</p>
                            <p>STEP 3. Kindly provide the appropriate data, particularly the SHS General Average. Enter your first semester grade if you are a SHS graduating student.</p>
                            <p>STEP 4. Select 2 (two) courses based on your admission exam result.</p>
                            <p>STEP 5. This is the last part; but if you entered incorrect information by mistake, particularly about your grades, remove every course selected before choosing a new one.</p>
                        </li>
                    </ol>
                    <h3 id="contacts" class="heading3">Contact Information</h3>
                    <ul>
                        <li>Email Address: <a href="mailto:university.president@jrmsu.edu.ph">university.president@jrmsu.edu.ph</a> / <a href="mailto:main.registrar@jrmsu.edu.ph">main.registrar@jrmsu.edu.ph</a></li>
                        <li>Website Link(s): <a href="https://www.facebook.com/JRMSUOfficial">Facebook</a>, <a href="http://www.JRMSU.edu.ph">Official Website</a>, <a href="https://www.facebook.com/jrmsumain.registrar/">Registrar's Facebook Page</a></li>
                        <li>Phone / Landline Number:
                            <ul>
                                <li>0999 162 3171</li>
                                <li>(065) 908-8294</li>
                                <li>(065) 908 1349</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>    