<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#shs">SHS Graduates</a>
                                    <a href="#transfer">Transferees</a>
                                    <a href="#cross">Cross Enrolees</a>
                                    <a href="#trans">Transnational Students</a>
                                    <a href="#grad">Graduate Students</a>
                                    <a href="#law">Law Students</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#pre">Pre-Baccalaureate</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Kalinga State University -->
                <div id="shs" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/ksuLOGO.jpeg') }}" alt="Kalinga State Universitys" class="univ-logo">
                    <h1>Kalinga State University</h1>
                    <h2 class="address">Bulanao, Tabuk City, Kalinga</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="transfer" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ol>
                        <li>Form 138 or its equivalent</li>
                        <li>Certificate of Good Moral Character</li>
                        <li>NSO/PSA Authenticated Birth Certificate (Original)</li>
                        <li>NSO/PSA Authenticated Marriage Certificate (for married Women)</li>
                        <li>Permit to study in cases of employed students in the government or in private agencies</li>
                        <li>Must pass the qualifying examination (if any)</li>
                        <li>Latest 2x2 colored ID Picture with white background</li>
                    </ol>

                    <h4 id="cross">FOR TRANSFEREES</h4>
                    <ol>
                        <li>Certificate of Transfer Credential (Honorable Dismissal)</li>
                        <li>True Copy of Grades</li>
                        <li>Certificate of Good Moral Character</li>
                        <li>NSO/PSA Authenticated Birth Certificate (Original)</li>
                        <li>NSO/PSA Authenticated Marriage Certificate (for married female students)</li>
                        <li>Permit to study in cases of employed students in the government or in private agencies</li>
                        <li>Must pass the qualifying examination (if any)</li>
                        <li>Latest 2x2 colored ID Picture with white background</li>
                    </ol>

                    <h4 id="trans">FOR CROSS ENROLEES</h4>
                    <ol>
                        <li>Permit  to cross-enroll</li>
                        <li>Certificate of Good Moral Character</li>
                    </ol>

                    <h4 id="grad">FOR TRANSNATIONAL STUDENTS</h4>
                    <ol>
                        <li>Original Transcript of Records in English</li>
                        <li>Accomplish Personal Data Sheet</li>
                        <li>Alien Certificate of Registration</li>
                        <li>Student Visa</li>
                        <li>Original Passport</li>
                        <li>Affidavit of Financial Report</li>
                        <li>Latest 2x2 colored ID Picture with white background</li>
                        <li>Must meet all the requirements prescribed by the Department of Foreign Affairs and the Bureau of Immigration</li>
                        <li>Non-refundable application fee of one hundred US dollars (US$100.00)</li>
                    </ol>

                    <h4 id="law">FOR GRADUATE STUDENTS</h4>
                    <ol>
                        <li>Certificate of Transfer Credential (Honorable Dismissal)</li>
                        <li>True Copy of Grades</li>
                        <li>Certificate of Good Moral Character</li>
                        <li>NSO/PSA Authenticated Birth Certificate (Original)</li>
                        <li>NSO/PSA Authenticated Marriage Certificate (for married female students)</li>
                        <li>Latest 2x2 colored ID Picture with white background</li>
                        <li>Permit to study in cases of employed students in the government or in private agencies</li>
                        <li>Application letter address to the Dean with two (2) Letters of References from two recognized authorities in the discipline or superior/peer for MPA</li>
                        <li>Non-refundable application fee of one hundred pesos (100.00), subject to change as needed and approved by BOR</li>
                    </ol>

                    <h4 id="special">FOR LAW STUDENTS</h4>
                    <ol>
                        <li>Certificate of Transfer Credential (Honorable Dismissal)</li>
                        <li>True Copy of Grades</li>
                        <li>Certificate of Good Moral Character from the Dean of School previously attended</li>
                        <li>NSO/PSA Authenticated Birth Certificate (Original)</li>
                        <li>NSO/PSA Authenticated Marriage Certificate (for married Women)</li>
                        <li>Latest 2x2 colored ID Picture with white background</li>
                        <li>Permit to study in cases of employed students in the government or in private agencies</li>
                        <li>Police Clearance</li>
                        <li>NARCOM Clearance</li>
                        <li>Certificate of Eligibility to the Law Course</li>
                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li>Arts</li>
                        <li>Forestry</li>
                        <li>Social and Natural Sciences</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                            <h4 id="pre">UNDERGRADUATE PROGRAMS</h4>
                            <ul>
                                <li>Bachelor of Agricultural Technology
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Food Production Technology</li>
                                        <li>Animal Production Technology</li>
                                        <li>Crop Production Technology</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Arts in English Language</li>
                                <li>Bachelor of Arts in History</li>
                                <li>Bachelor of Arts in Political Science</li>
                                <li>Bachelor of Elementary Education</li>
                                <li>Bachelor of Science in Accountancy</li>
                                <li>Bachelor of Science in Agricultural Engineering</li>
                                <li>Bachelor of Science in Agriculture
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Crop Science</li>
                                        <li>Animal Science</li>
                                    </ul>
                                </li>
                                <li>Bachelor of Science in Agro-Forestry</li>
                                <li>Bachelor of Science in Biology</li>
                                <li>Bachelor of Science in Business Administration</li>
                                <li>Bachelor of Science in Civil Engineering</li>
                                <li>Bachelor of Science in Computer Engineering</li>
                                <li>Bachelor of Science in Criminology</li>
                                <li>Bachelor of Science in Development Communication</li>
                                <li>Bachelor of Science in Electrical Engineering</li>
                                <li>Bachelor of Science in Entrepreneurship</li>
                                <li>Bachelor of Science in Environmental Studies</li>
                                <li>Bachelor of Science in Forensic Science</li>
                                <li>Bachelor of Science in Forestry</li>
                                <li>Bachelor of Science in Hospitality Management</li>
                                <li>Bachelor of Science in Information Technology</li>
                                <li>Bachelor of Science in Mathematics</li>
                                <li>Bachelor of Science in Midwifery</li>
                                <li>Bachelor of Science in Office Administration</li>
                                <li>Bachelor of Science in Pharmacy</li>
                                <li>Bachelor on Physical Education</li>
                                <li>Bachelor of Science in Public Administration</li>
                                <li>Bachelor of Science in Public Health</li>
                                <li>Bachelor of Science in Social Work</li>
                                <li>Bachelor of Science in Tourism Management</li>
                                <li>Bachelor of Secondary Education
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Social Studies</li>
                                        <li>Mathematics</li>
                                        <li>Filipino</li>
                                        <li>English</li>
                                        <li>Biological Science</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h4 id="masters">PRE-BACCALAUREATE</h4>
                            <ul>
                                <li>Two-Year Midwifery Course</li>
                            </ul>
                        </li>

                        <li>
                            <h4 id="doctoral">MASTERAL PROGRAMS</h4>
                            <ul>
                                <li>Master of Arts in Education</li>
                                <li>Master of Arts in Education
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Educational Management</li>
                                        <li>English</li>
                                        <li>Mathematics</li>
                                        <li>Social Studies</li</li>
                                    </ul>
                                </li>
                                <li>Master in Public Administration major in Procurement Management</li>
                                <li>Master in Business Administration</li>
                                <li>Master of Science in Rural Development</li>
                            </ul>
                        </li>

                        <li>
                            <h4 id="application">DOCTORAL PROGRAMS</h4>
                            <ul>
                                <li>Doctor of Philosophy in Development Education</li>
                                <li>Doctor of Philosophy in Community Development</li>
                                <li>Juris Doctor (Non-thesis)</li>
                            </ul>
                        </li>

                    </ul>

            
                    <h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>Link to the video for application procedures:
                            <a href="https://www.facebook.com/share/v/FxkVt55NyQEptGge/?mibextid=oFDknk">https://www.facebook.com/share/v/FxkVt55NyQEptGge/?mibextid=oFDknk</a>
                             </li>
                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto:registrar@ksu.edu.ph">registrar@ksu.edu.ph</a></li>
                        <li>Website: <a href="https://ksu.edu.ph">https://ksu.edu.ph</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>