<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% if error_message %}
    <script>
        window.onload = function() {
            alert("{{ error_message }}");
        }
    </script>
    {% endif %}
</head>

<body> 
    <div class="container">
        <img src="{{ url_for('static', filename='images/logos/website/clipartsample.png') }}" alt="PamantasanPH Clipart">
        <h1>Welcome to PamantasanPH!</h1>
        <p>Login to your Account</p>

        <form action="{{ url_for('login') }}" method="POST">
            {{ form.hidden_tag() }}

            <div class="input-container">
                <i class="fas fa-envelope"></i>
                {{ form.email(class="form-control", placeholder="Email", autocomplete="username") }}
                {% for error in form.email.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="input-container">
                <i class="fas fa-lock"></i>
                {{ form.password(class="form-control", placeholder="Password", autocomplete="current-password") }}
                {% for error in form.password.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="checkbox-row">
                {{ form.remember(class="form-check-input") }}
                <label for="stay-logged-in">Stay logged in</label>
                <a href="{{ url_for('forgot_password') }}">Forgot Password</a>
            </div>
            <button type="submit" class="gradient-button">Sign In</button>
        </form>

        <p>Or sign in with</p>
        <div class="social-icons">
            <a href="{{ url_for('facebook_login') }}" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="{{ url_for('google_login') }}">
                <i class="fas fa-envelope"></i>
            </a>
        </div>

        <div class="signup-link">
            <p>Don't have an Account? <a href="{{ url_for('register') }}">Create One</a></p>
        </div>
    </div>
</body>
</html>
