<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\ALY\Downloads\PamantasanPH_LOGO.png">
    <title>PamantasanPH</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/login1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body> 
    <div class="container">
      <img src="C:\Users\ALY\Downloads\PamantasanPH_CLIPART_2.png" alt="PamantasanPH Clipart">
      <h1>Welcome to PamantasanPH!</h1> <!-- Header -->
      <p>Login to your Account</p> <!-- Sub Header -->

      <div class="input-container"> <!-- Email -->
        <i class="fas fa-envelope"></i>
        <input type="email" placeholder="Email" required>
      </div>
      <div class="input-container"> <!-- Password -->
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" required>
      </div>

      <div class="checkbox-row"> <!-- Log In -->
        <input type="checkbox" id="stay-logged-in">
        <label for="stay-logged-in">Stay logged in</label>
        <a href="forgotPassword.html">Forgot Password</a>
      </div>

      <button class="gradient-button">Sign In</button>
  
      <p>Or sign with</p> <!-- Other Ways to Log In -->
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank"> <!-- Facebook -->
          <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="mailto:your-email@example.com"> <!-- Email -->
          <i class="fa-solid fa-envelope"></i>
        </a>
      </div>
  
      <div class="signup-link"> <!-- Sign Up -->
        <p>Don't have an Account? <a href="login2.html">Create One</a></p>
      </div>
    </div>

    <!-- <script src="login1.js"></script> -->
  </body>
</html>