<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Branches</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#main">Bondoc Campus</a>
                                    <a href="#tadian">Tadian Campus</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#shs">SHS Graduates</a>
                                    <a href="#transfer">Transferees</a>
                                    <a href="#graduate">Graduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                    <a href="#online">Online</a>
                                    <a href="#walk-in">Walk-in</a>
                                    <a href="#old">Old Students</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Mountain Province State University -->
                <div id="shs" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/mpsuLOGO.jpeg') }}" alt="Mountain Province State University" class="univ-logo">
                    <h1>Mountain Province State University</h1>
                    <h2 class="address">Poblacion, Bontoc, Mountain Province</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <h4 id="transfer">FOR SHS GRADUATES</h4>
                    <ol>
                        <li>Career Guided Test Result</li>
                        <li>Form 138 or High School Card</li>
                        <li>ALS Report Card (for ALS passers)</li>
                        <li>Certificate of Good Moral Character
                        <li>Medical Certificate</li>
                        <li>PSA Birth Certificate (photocopy)</li>
                        <li>Marriage Certificate (for married female students)</li>
                        <li>Permit to study from the agency in cases of employed students (government or private)</li>
                    </ol>

                    <h4 id="graduate">FOR TRANSFEREES</h4>
                    <ol>
                        <li>Career Guided Test Result</li>
                        <li>Transfer Credential</li>
                        <li>Certificate of Good Moral Character</li>
                        <li>Medical Certificate</li>
                        <li>Photocopy of PSA Birth Certificate</li>
                        <li>Marriage Certificate (for married female student)</li>
                        <li>Permit to study from the agency in cases of employed students (government or private)</li>
                    </ol>

                    <h4>FOR GRADUATE PROGRAMS</h4>
                    <h5>Doctoral Program</h5>
                    <ol>
                        <li>Transcript of Records and Transfer Credentials</li>
                        <li>An addtional of 15 units from the major subjects of MAED program is required to non-MAED applicant seeking admission to the Ed.D. program.</li>
                        <li>Other Requirements from the schools with which MPSPC has consortium with.</li>
                    </ol>
                    <h5 id="special">Master Program</h5>
                    <ol>
                        <li>An applicant seeking admission to the MBA program and whose undergraduate course is not aligned to the degree sought should have earned 2 years relevant business experience to be determined by the advisory committee or shall be required to take 12 units of subjects from the following clusters: Principles of Management, Financial Management, Principles of Marketing, and Basic Finance.</li>
                        <li>Applicant seeking admission to the MAED program should have completed 2 years teaching experience. In addition to the two years teaching experience required, non-education graduate applicant is required to take 12 units of professional education subjects form the following clusters: Principles and Methods of Teaching, Assessment of Student Learning, Foundations of Education, and Curriculum Development.</li>
                        <li>An applicant seeking admission to the MASE and MTE programs must be a graduate of related or allied courses.</li>
                        <li>Permit to study from the agency in cases of employed students (Government or Private)</li>
                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li>Forestry and Agriculture</li>
                        <li>Teacher Education</li>
                        <li>Engineering and Technology</li>
                        <li>Arts and Sciences</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                            <h4 id="main">UNDERGRADUATE PROGRAMS</h4>
                            <ul>
                                <li>Bontoc Campus
                                    <ul>
                                        <li>Bachelor of Arts in Political Science</li>
                                        <li>Bachelor of Science in Accountancy</li>
                                        <li>Bachelor of Science in Business Administration</li>
                                        <li>Bachelor of Science in Criminology</li>
                                        <li>Bachelor of Early Childhood Education</li>
                                        <li>Bachelor of Special Needs Education</li>
                                        <li>Bachelor of Science in Elementary Education</li>
                                        <li>Bachelor of Science in Secondary Education</li>
                                        <li>Bachelor of Science in Information Technology</li>
                                        <li id="grad">Bachelor of Science in Nursing</li>
                                        <li>Bachelor of Science in Office Administration</li>
                                        <li>Bachelor of Science in Tourism Management</li>
                                        <li>Bachelor of Science in Hotel and Restaurant Management</li>
                                        <li>Associate of Arts in Hotel and Restaurant Management</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        
                        <li>
                            <h4 id="tadian">GRADUATE PROGRAMS</h4>
                            <ul>
                                <li>Doctor of Education</li>
                                <li>Master of Arts in Education</li>
                                <li>Master of Arts in Science Education</li>
                                <li>Master in Public Administration</li>
                                <li>Master in Business Administration</li>
                                <li>Master in Teaching English</li>
                                <li>Master in Rural Development & Indigenous Peoples Education</li>
                                <li>Master of Science in Criminal Justice, Major in Criminology</li>
                            </ul>
                        </li>

                        <li><strong>Tadian Campus</strong>
                            <ul>
                                <li>Bachelor of Elementary Education</li>
                                <li>Bachelor of Secondary Education</li>
                                <li>Bachelor in Technical Teacher Education</li>
                                <li>Bachelor of Science in Civil Engineering</li>
                                <li>Bachelor of Science in Electrical Engineering</li>
                                <li>Bachelor of Science in Geodetic Engineering</li>
                                <li id="application">Bachelor of Science in Agroforestry</li>
                                <li>Bachelor of Science in Forestry</li>
                                <li>Bachelor of Agricultural Technology</li>
                                <li>Diploma in Agricultural Technology</li>
                                <li>Bachelor of Science in Agribusiness</li>
                                <li>Bachelor of Science in Environmental Science</li>
                                <li>Bachelor of Science in Entrepreneurship</li>
                            </ul>
                        </li>
                    </ul>

                    
                    <h3 id="online" class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li id="walk-in">Online</li>
                        <ul>
                            <li>Student enrols online using Smart Phones or Personal Computers with internet connection.</li>
                            <li>Visit <a href="https://www.mpspc.edu.ph/studentportal">www.mpspc.edu.ph/studentportal</a> (for Bontoc Campus)</li>
                            <li>Click Student Registration Information System</li>
                            <li>Fill-up required information</li>
                            <li>Print unofficial copy of assessment OR just copy the reference number of the assessment (Note: Reservation of subjects is valid for 24 hours only)</li>
                            <li>Proceed to the personnel in-charge of registration for submission of requirements, validation and printing of official assessment</li>
                            <li>Proceed to the table of SSDO for processing and validation of school Identification Card</li>
                            <li>Proceed to the table of Scholarship and Grants Office/ Representative for processing of  scholarship and grants</li>
                        </ul>
                        <li id="old">Walk-in
                            <ul>
                                <li>Student enrols online using computers in the assigned area</li>
                                <li>Visit <a href="http://www.mpspc-studentportal.edu.ph/">www.mpspc-studentportal.edu.ph</a> (for Tadian Campus)</li>
                                <li>Visit <a href="http://www.mpspc.edu.ph/studentportal">www.mpspc.edu.ph/studentportal</a> (for Bontoc Campus)</li>
                                <li>Click Student Registration Information System</li>
                                <li>Fill-up required information</li>
                                <li>Print unofficial copy of assessment OR just copy the reference number of the assessment (Note: Reservation of subjects is valid for 24 hours only)</li>
                                <li>Proceed to the personnel in-charge of registration for submission of requirements, validation and printing of official assessment</li>
                                <li>Proceed to the table of SSDO for processing and validation of school Identification Card</li>
                                <li>Proceed to the table of Scholarship and Grants Office/ Representative for processing of scholarship and grants</li>
                                <li>REMINDERS:</li>
                                <ul>
                                    <li>For Person With Disabiity (PWD) and Pregnant Women, please proceed to the Area of  the Guidance Office to  process your enrolment.</li>
                                    <li>For Foreign Students, please proceed to the Alumni Relations and Job Placement Office to process your enrolment.</li>
                                </ul>
                            </ul>
                        </li>
                        <li id="contacts">Old Students
                            <ul>
                                <li>Pay SSC & TALA Fees</li>
                                <li>Secure Pro-Form from your Department</li>
                                <li>Accomplish and have it approved by the Department Chairperson</li>
                                <li>Proceed to NSTP Office (for those enrolling NSTP subject)</li>
                                <li>Proceed to the Registrar’s office for assessment/final copy</li>
                                <li>Pay Tuition Fee at Cashier’s Office</li>
                                <li>Proceed to Guidance Office</li>
                                <li>Proceed to SSDO</li>
                            </ul>
                        </li>
                    </ol>
                
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto:op@mpspc.edu.ph">op@mpspc.edu.ph</a></li>
                        <li>Telephone: (074) 602 1014</li>
                        <li>Website: <a href="https://mpspc.edu.ph">mpspc.edu.ph</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>