<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                    <a href="#transfer">Transferees</a>
                                    <a href="#foreign">Foreign Students</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#diploma">Diploma Courses</a>
                                    <a href="#grad">Graduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Mindanao State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/msuLOGO.jpeg') }}" alt="Mindanao State University" class="univ-logo">
                    <h1>Mindanao State University</h1>
                    <h2 class="address">Marawi City, Lanao del Sur</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <h4 id="transfer">GENERAL REQUIREMENTS</h4>
                    <ol>
                        <li>Original and one (1) photocopy of Form 138 (High School Card);</li>
                        <li>Original and one (1) photocopy of MSU-SASE Report of Rating;</li>
                        <li>Original and one (1) photocopy of Certificate of Good Moral Character issued by an official of the school previously attended;</li>
                        <li>Authenticated Copy of Birth Certificate from NSO (to be returned), and 1 photocopy of it;</li>
                        <li>Six (6) copies of ID pictures 1”x1” and one (1) 2”x2” size bust picture (recent and un-retouched);</li>
                        <li>Latest income tax return of the parents with one (1) photocopy of it (optional);</li>
                        <li>Certification from the principal if graduated as valedictorian or salutatorian in a school with at least sixty (60) graduates;</li>
                        <li>One (1) piece long brown envelope;</li>
                        <li>One (1) piece long white folder;</li>
                        <li>For MSU employees dependent:  Certification from HRMO;</li>
                        <li>For scholarships other than the MSU granted:  Notice of Scholarship Award issued by sponsoring agency (i.e. DOST, CHED, etc.).</li>
                    </ol>

                    <h4 id="foreign">FOR UNDERGRADUATE TRANSFER STUDENTS</h4>
                    <ol>
                        <li>Report of Rating  (MSU SASE);</li>
                        <li>Transfer Credential/ Honorable Dismissal;</li>
                        <li>Duly accomplished Program Slot Availability Certificate (PSAC)*;</li>
                        <li>Birth Certificate from NSO;</li>
                        <li>Two (2) copies ID pictures 1”x 1”;</li>
                        <li>One (1) copy ID picture 2”x2”;</li>
                        <li>One (1) piece long brown envelope;</li>
                        <li>One (1) piece long white folder; and</li>
                        <li>HRMO-issued certification of dependency (if dependent), or Notice of Award issued by sponsoring agency (if scholar).</li>
                    </ol>

                    <h4>FOR INTERNATIONAL UNDERGRADUATE STUDENTS</h4>
                    <ol>
                        <li>Duly Accomplished Application Form for foreign students:
                            <ul>
                                <li>Admission Form AFS-2007; and</li>
                                <li>Letter of Application.</li>
                            </ul>
                        </li>
                        <li>Authenticated Transcript of Records (or Scholastic Records);</li>
                        <li>Personal History Statement;</li>
                        <li>Affidavit of Support;</li>
                        <li>Institutional Requirements:</li>
                        <ul>
                            <li>TOEFL or Certificate of English Proficiency for students coming from countries where English is not their medium of instruction;</li>
                            <li>Police Clearance issued by the country where the student came from (Certificate of Good Moral Character (CGMC) by the school principal or guidance counselor);</li>
                            <li>Php150.00 Testing Fee;</li>
                            <li>Two (2) copies ID picture 1”x1”.</li>
                        </ul>
                        <li>Notice of Acceptance (from IIT Admissions Office);</li>
                        <li>Student Visa (Foreign Service Post);</li>
                        <li>Alien Certificate of Registration (ACR)*</li>
                        <li>Certificate of Residence for Temporary Students (CRTS)</li>
                        <li>Notes:
                            <ul>
                                <li>These are secured from the Bureau of Immigration, Manila.</li>
                                <li>Student who are not Filipino citizens nor permanent residents of the Philippines who wish to apply for Admission to MSU-IIT must apply with the Office of the Admissions.</li>
                                <li>In addition to the basic admission requirements established by the Institute, foreign students must:</li>
                            </ul>
                        </li>
                        <li>Provide evidence of English proficiency in the form of at least minimum passing score in TOEFL or other English proficiency test. In the case of a student seeking admission to the School of Graduate Studies but whose English proficiency is low, he/she will be advised to satisfy the English proficiency requirements before the studenct can be admitted as a regular student to the School of Graduate Studies.</li>
                        <li>Complete the sequence of preparatory studies required for university admission
                        <li>Request that each school they attended mail their academic records or transcript directly to the Registrar's Office. Transcripts must include the dates of attendance, level of study, list of subjects, studies and grades obtained, rank in class when possible, and the grading system used. Reports of examinations taken and a final average should be included. All these records must be official documents. Only certified copies or the originals will be accepted for review. These official documents must have an official seal and signed in ink by the appropriate official from the institution(s), such as the registrar. If the school(s) is unable to mail the original official documents, exact copies certified by an appropriate official from the institution may be sent.</li>                            
                        <li>Include an official English translation for documents that are written in another language. Transfer credits are awarded at the Institute's discretion. Be informed that all documents received become a part of the permanent student records at the MSU-Iligan Institute of Technology and cannot be released.</li>
                        <li>Pay all tuition and fees in full at the time of enrolment. Payment must be made in full in US dollars or equivalent.
                            <ul>
                                <li>Application Fee of $25 for graduate students $15 for undergraduate student</li>
                                <li>Tuition and other miscellaneous fees set by the Institute for all students. These fees vary by course enrolled in.</li>
                                <li>Alien student fee per semester:</li>
                                <ul>
                                    <li id="special">Non-resident: $500</li>
                                    <li>Resident: $250</li>
                                </ul>
                            </ul>
                        </li>

                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li>Business Administration</li>
                        <li>Criminology</li>
                        <li>Teacher Education</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                            <h4>UNDERGRADUATE PROGRAMS</h4>
                            <ul>
                                <li
                                <li>BACHELOR OF ARTS IN ENGLISH</li>
                                <li>BACHELOR OF SCIENCE IN PSYCHOLOGY</li>
                                <li>BACHELOR OF ARTS IN FILIPINO</li>
                                <li>BACHELOR OF ARTS IN HISTORY</li>
                                <li>BACHELOR OF ARTS IN POLITICAL SCIENCE</li>
                                <li>BACHELOR OF SCIENCE IN CIVIL ENGINEERING</li>
                                <li>BACHELOR OF SCIENCE IN MECHANICAL ENGINEERING</li>
                                <li>BACHELOR OF SCIENCE IN ELECTRICAL ENGINEERING</li>
                                <li>BACHELOR OF SCIENCE IN CERAMICS ENGINEERING</li>
                                <li>BACHELOR OF SCIENCE IN CHEMICAL ENGINEERING</li>
                                <li>BACHELOR OF SCIENCE IN COMPUTER ENGINEERING</li>
                                <li>BACHELOR OF SCIENCE IN ELECTRONICS & COMMUNICATIONS ENGINEERING</li>
                                <li>BACHELOR OF SCIENCE IN MINING ENG'G.</li>
                                <li>BACHELOR OF SCIENCE IN ENVIRONMENTAL ENGINEERING TECHNOLOGY</li>
                                <li>BACHELOR OF SCIENCE IN METALLURGICAL ENGINEERING</li>
                                <li>BACHELOR OF SCIENCE IN BIOLOGY (BOTANY)</li>
                                <li>BACHELOR OF SCIENCE IN CHEMISTRY</li>
                                <li>BACHELOR OF SCIENCE IN MATHEMATICS</li>
                                <li>BACHELOR OF SCIENCE IN PHYSICS</li>
                                <li>BACHELOR OF SCIENCE IN BIOLOGY (ZOOLOGY)</li>
                                <li>BACHELOR OF SCIENCE IN BIOLOGY (MARINE)</li>
                                <li>BACHELOR OF SCIENCE IN BIOLOGY (GENERAL)</li>
                                <li>BACHELOR OF SCIENCE IN STATISTICS</li>
                                <li>BACHELOR OF SCIENCE IN APPLIED STATISTICS</li>
                                <li>BACHELOR OF SECONDARY EDUCATION (BIOLOGY)</li>
                                <li>BACHELOR OF SCIENCE IN INDUSTRIAL EDUCATION (DRAFTING)</li>
                                <li>BACHELOR OF SECONDARY EDUCATION (CHEMISTRY)</li>
                                <li>BACHELOR OF SECONDARY EDUCATION (PHYSICS)</li>
                                <li>BACHELOR OF SECONDARY EDUCATION (MATHEMATICS)</li>
                                <li>BACHELOR OF SECONDARY EDUCATION (MAPEH)</li>
                                <li>BACHELOR OF SECONDARY EDUCATION (TLE)</li>
                                <li>BACHELOR OF SECONDARY EDUCATION (GENERAL SCIENCE)</li>
                                <li>BACHELOR OF ELEMENTARY EDUCATION (ENGLISH)</li>
                                <li>BACHELOR OF ELEMENTARY EDUCATION (SCIENCE AND HEALTH)</li>
                                <li>BACHELOR OF SCIENCE IN TECHNOLOGY TEACHER EDUCATION (INDUSTRIAL TECH)</li>
                                <li>BACHELOR OF SCIENCE IN TECHNOLOGY TEACHER EDUCATION (DRAFTING TECH)</li>
                                <li>BACHELOR OF SCIENCE IN BUSINESS ADMINISTRATION (BUSINESS ECONOMICS)</li>
                                <li>BACHELOR OF SCIENCE IN BUSINESS ADMINISTRATION (ECONOMICS)</li>
                                <li>BACHELOR OF SCIENCE IN BUSINESS ADMINISTRATION (ENTREPRENEURIAL MARKETING)</li>
                                <li>BACHELOR OF SCIENCE IN HOTEL AND RESTAURANT MANAGEMENT</li>
                                <li>BACHELOR OF SCIENCE IN ACCOUNTANCY</li>
                                <li>BACHELOR OF SCIENCE IN INFORMATION SYSTEMS</li>
                                <li>BACHELOR OF SCIENCE IN INFORMATION TECHNOLOGY</li>
                                <li>BACHELOR OF SCIENCE IN COMPUTER SCIENCE</li>
                                <li>BACHELOR OF SCIENCE IN ELECTRONICS AND COMPUTER TECHNOLOGY
                                    <p>Major in:</p>
                                    <ul>
                                        <li>EMBEDDED SYSTEMS</li>
                                        <li>COMMUNICATIONS SYSTEM</li>
                                    </ul>
                                </li>
                                <li id="diploma">BACHELOR OF SCIENCE IN INDUSTRIAL AUTOMATION & MECHATRONICS</li>
                                <li>BACHELOR OF SCIENCE IN ENGINEERING TECHNOLOGY MANAGEMENT</li>
                                <li>BACHELOR OF SCIENCE IN NURSING</li>>
                            </ul>
                        </li>

                        <li>
                            <h4>DIPLOMA COURSES</h4>
                            <ul>
                                <li>DIPLOMA IN CHEMICAL ENGINEERING TECHNOLOGY</li>
                                <li>DIPLOMA IN ELECTRONICS ENGINEERING TECH (Computer Electronics)</li>
                                <li>DIPLOMA IN ELECTRONICS TECHNOLOGY</li>
                                <li>DIPLOMA IN ELECTRONICS ENGINEERING TECH (Communication Electronics)</li>
                                <li>DIPLOMA IN INDUSTRIAL AUTOMATION MAINTENANCE TECHOLOGY</li>
                                <li>DIPLOMA IN MECHANICAL ENGINEERING TECHNOLOGY</li>
                                <li>DIPLOMA IN AUTOMOTIVE ENGINEERING TECHNOLOGY</li>
                                <li>DIPLOMA IN CIVIL ENGINEERING TECHNOLOGY</li>
                                <li id="grad">DIPLOMA IN ELECTRICAL ENGINEERING TECHNOLOGY</li>
                                <li>DIPLOMA IN MECHANICAL ENGINEERING TECHNOLOGY</li>
                                <li>MATERIAL SCIENCE & ENGINEERING TECHNOLOGY</li>
                                <li>DIPLOMA IN INDUSTRIAL AUTOMATION & CONTROL ENGINEERING TECHNOLOGY</li>
                                <li>DIPLOMA IN HEATING, VENTILATING, AIR-CONDITIONING & REFRIGERATION ENGINEERING TECHNOLOGY</li>
                            </ul>
                        </li>

                        <li>
                            <h4>GRADUATE PROGRAMS</h4>
                            <ul>
                                <li>MASTER OF SCIENCE IN PHYSICS</li>
                                <li>MASTER OF SCIENCE IN MARINE BIOLOGY</li>
                                <li>DOCTOR OF PHILOSOPHY IN CHEMISTRY</li>
                                <li>MASTER OF SCIENCE IN MATHEMATICS</li>
                                <li>MASTER OF SCIENCE IN CHEMISTRY</li>
                                <li>MASTER OF SCIENCE IN ENVIRONMENTAL SCIENCE</li>
                                <li>MASTER OF SCIENCE IN BIOLOGY</li>
                                <li>MASTER OF PHYSICS</li>
                                <li>DOCTOR OF PHILOSOPHY IN MATHEMATICS</li>
                                <li>MASTER OF MATHEMATICS</li>
                                <li>MASTER OF APPLIED STATISTICS</li>
                                <li>DOCTOR OF PHILOSOPHY IN PHYSICS</li>
                                <li>DOCTOR OF PHILOSOPHY MAJOR IN BIOLOGY</li>
                                <li>MASTER OF SCIENCE IN STATISTICS</li>
                                <li>MASTER OF SCIENCE IN ELECTRICAL ENGINEERING</li>
                                <li>DOCTOR IN SUSTAINABLE DEVELOPMENT STUDIES</li>
                                <li>MASTER OF SCIENCE IN INFORMATION TECHNOLOGY</li>
                                <li>MASTER OF SCIENCE IN MECHANICAL ENGINEERING</li>
                                <li>MASTER OF SCIENCE IN MATERIALS SCIENCE AND ENGINEERING</li>
                                <li>MASTER OF SCIENCE IN PHYSICAL EDUCATION</li>
                                <li>DOCTOR OF PHILOSOPHY IN SCIENCE EDUCATION</li>
                                <li>DOCTOR OF PHILOSOPHY IN FILIPINO</li>
                                <li>DOCTOR OF PHILOSOPHY IN LANGUAGE STUDIES</li>
                                <li>MASTER OF ARTS IN ENGLISH LANGUAGE STUDIES</li>
                                <li>MASTER OF ARTS IN EDUCATION (GUIDANCE AND COUNSELING)</li>
                                <li>MASTER OF ARTS IN FILIPINO</li>
                                <li>MASTER OF ARTS IN SOCIOLOGY</li>
                                <li>MASTER IN BUSINESS MANAGEMENT</li>
                                <li>MASTER IN HISTORY</li>
                                <li>MASTER IN SUSTAINABLE DEVELOPMENT STUDIES</li>
                                <li>MASTER IN INFORMATION TECHNOLOGY</li>
                                <li>MASTER OF ENGINEERING</li>
                                <li id="application">Master of Public Administration</li>
                                <li>MASTER OF SCIENCE IN COMPUTER APPLICATIONS</li>
                                <li>MASTER OF SCIENCE IN CIVIL ENGINEERING</li>
                                <li>DOCTOR OF ENGINEERING</li>
                                <li>MASTER IN SCIENCE EDUCATION</li>
                                <li>MASTER OF SCIENCE IN COMPUTER SCIENCE</li>
                            </ul>
                        </li>
                    </ul>


                    
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>Click Apply here</li>
                        <li>Fill out MSU SASE Registraton by supplying the following data:
                            <ul>
                                <li>Email Address</li>
                                <li>Password</li>
                                <li>Retype password</li>
                                <li>First name</li>
                                <li>Middle name</li>
                                <li>Last name</li>
                                <li>Date of birth</li>
                                <li>Gender</li>
                                <li>Preferred Campus</li>
                                <li>Out of school youth</li>
                                <li>Enter code shown below</li>
                                <li>Click Apply</li>
                            </ul>
                        </li>
                        <li>Upload your digital photo by clicking BROWSE then find your digital image from the directory; then click UPLOAD. (Note: Uploading of picture is optional)
                            <ul>
                                <li>STEP 1 Fill out Biographical Data Form then Click SAVE & CONTINUE STEP 2.</li>
                                <li>STEP 2 Fill out Educational Data Form then Click SAVE & CONTINUE STEP 3.</li>
                                <li>STEP 3 Fill out your Parents Informationthen Click SAVE & CONTINUE STEP 4.</li>
                                <li>STEP 4 Fill out Campus and Course Preference then Click SAVE & VIEW ALL INFO>>.</li>
                            </ul>
                        </li>
                        <li id="contacts">After filling out the online MSU SASE application form,
                            <ul>
                                <li>Go to the designated MSU SASE Test Center nearest you</li>
                                <li>Present the requirements and pay the P300.00 testing fee to Admissions Office/TC Coordinators or MSU SASE Examiner</li>
                                <li>Get the original copy of MSU SASE application form and fill out properly using #2 pencil (if you have not filled out any yet);</li>
                                <li>Submit duly accomplished form to the Admissions Office/ TC Coordinators or MSU SASE Examiner and</li>
                                <li>Claim your duly processed Examination Permit thereat.</li>
                            </ul>
                        </li>
                    </ol>


                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto:bor.sec@msumain.edu.ph">bor.sec@msumain.edu.ph</a></li>
                        <li>Telephone: 09635861196</li>
                        <li>Website: <a href="https://www.msumain.edu.ph">https://www.msumain.edu.ph</a></li>
                        <li>University Announcement: <a href="https://www.facebook.com/share/p/EYYV6WIDJXL6tVkg/?mibextid=oFDknk">https://www.facebook.com/share/p/EYYV6WIDJXL6tVkg/?mibextid=oFDknk</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>