<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section>
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Branches</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#main">Main Campus</a>
                                    <a href="#cagwait">Cagwait Campus</a>
                                    <a href="#lianga">Lianga Campus</a>
                                    <a href="#tagbina">Tagbina Campus</a>
                                    <a href="#sanmiguel">San Miguel Campus</a>
                                    <a href="#cantilan">Cantilan Campus</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#requirements">Admission Requirements</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#grad">Graduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- START -->
                <!-- Catanduanes State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/nemsuLOGO.png') }}" alt="North Eastern Mindanao State University" class="univ-logo">
                    <h1>North Eastern Mindanao State University</h1>
                    <h2 class="address">Rosario, Tandag City, Surigao del Sur</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">ON-GOING</span>
                    </div>

                    <h1  id="main" class="container">Main Campus</h1>
                    <h3 id="requirements" class="heading3">Admission Requirements</h3>
                    <ul>
                        <li>Admission Test Schedule:
                            <ol>
                                <li>Ballpen</li>
                                <li>Pencil</li>
                                <li>2pcs. Recent 1x1 Picture</li>
                            </ol>
                        </li>
                        <li>For freshmen:
                            <ul>
                                <li>Original Copy of Form 138/Report Card</li>
                                <li>Good Moral Certificate</li>
                                <li>Xerox Copy of PSA Birth Certificate</li>
                                <li>Medical Certificate</li>
                                <li>2 pcs. Passport size ID Picture</li>
                            </ul>
                        </li>
                        <li>For Transferees:
                            <ul>
                                <li>TOR/Honorable Dismissal</li>
                                <li>Good Moral Certificate</li>
                                <li>Xerox Copy of PSA Birth Certificate</li>
                                <li>Medical Certificate</li>
                                <li id="special">2 pcs. Passport size ID Picture</li>
                            </ul>
                        </li>
                    </ul>
                    <h3 id="grad" class="heading3">University Specializations</h3>
                    <p>Industrial technology, teacher education, agriculture, agribusiness, business administration, forestry, aqua-marine technology, environmental science, engineering, and technology</p>
                    <h3 class="heading3">University Courses</h3>
                    <h4>Graduate Studies</h4>
                    <ul>
                        <li>Master of Science in Teaching Social Sciences</li>
                        <li>Master of Science in Teaching Science Education</li>
                        <li>Master of Science in Teaching Mathematics</li>
                        <li>Master of Science in Teaching Home Economics</li>
                        <li>Master of Science in Computer Science</li>
                        <li>Master of Arts in Filipino Language Teaching</li>
                        <li>Master of Arts in English Language Teaching</li>
                        <li>Master of Arts in Education</li>
                        <li>Master in Public Administration</li>
                        <li>Master in Business Administration</li>
                        <li>Doctor of Philosophy - Science</li>
                        <li>Doctor of Philosophy - Mathematics</li>
                        <li id="undergrad" >Doctor in Education major in Educational Management</li>
                    </ul>
                    <h4>Undergraduate</h4>
                    <h5>College of Teacher Education</h5>
                    <ul>
                        <li>Diploma in Teaching</li>
                        <li>Bachelor of Secondary Education major in Science</li>
                        <li>Bachelor of Secondary Education major in Filipino</li>
                        <li>Bachelor of Secondary Education major in English</li>
                        <li>Bachelor of Physical Education</li>
                        <li>Bachelor of Early Childhood Education</li>
                    </ul>
                    <h5>College of Arts and Sciences</h5>
                    <ul>
                        <li>Batsilyer sa Sining ng Filipino</li>
                        <li>Bachelor of Science in Midwifery</li>
                        <li>Bachelor of Science in Mathematics</li>
                        <li>Bachelor of Science in Environmental Science</li>
                        <li>Bachelor of Science in Biology</li>
                        <li>Bachelor of Arts in Public Administration</li>
                        <li>Bachelor of Arts in Political Science</li>
                        <li>Bachelor of Arts in English</li>
                        <li>Bachelor of Arts in Economics</li>
                    </ul>
                    <h5>College of Business and Management</h5>
                    <ul>
                        <li>Bachelor of Science in Hospitality Management</li>
                        <li>Bachelor of Science in Business Administration major in Marketing Management</li>
                        <li>Bachelor of Science in Business Administration major in Human Resource Management</li>
                        <li>Bachelor of Science in Business Administration major in Financial Management</li>
                    </ul>
                    <h5>College of Information Technology Education</h5>
                    <ul>
                        <li>Bachelor of Science in Computer Science</li>
                    </ul>
                    <h5>College of Engineering and Technology</h5>
                    <ul>
                        <li>Bachelor of Science in Civil Engineering</li>
                    </ul>
                    <h5>College of Law</h5>
                    <ul>
                        <li>Bachelor of Laws</li>
                    </ul>
                
                    <h1 id="cagwait" class="container">Cagwait Campus</h1>
                    <h2 class="address">Poblacion, Cagwait, Surigao del Sur</h2>
                    <h3 class="heading3">University Specializations</h3>
                    <p>Industrial technology, hotel and restaurant management</p>
                    <h3 class="heading3">University Courses</h3>
                    <ul>
                        <li>Bachelor of Science in Industrial Technology major in Electrical Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Computer Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Civil Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Automotive Technology</li>
                        <li>Bachelor of Science in Hotel and Restaurant Management (BSHM)</li>
                    </ul>
             
                    <h1 id="lianga" class="container">Lianga Campus</h1>
                    <h2 class="address">P-3, Poblacion, Lianga, Surigao del Sur</h2>
                    <h3 class="heading3">University Specializations</h3>
                    <p>Teacher education, marine biology, hotel and restaurant management, business administration</p>
                    <h3 class="heading3">University Courses</h3>
                    <ul>
                        <li>Bachelor of Secondary Education major in Technology and Livelihood Education</li>
                        <li>Bachelor of Secondary Education major in Biological Science</li>
                        <li>Bachelor of Science in Marine Biology</li>
                        <li>Bachelor of Science in Hotel and Restaurant Management</li>
                        <li>Bachelor of Science in Fisheries</li>
                        <li>Bachelor of Science in Computer Science</li>
                        <li>Bachelor of Science in Business Administration major in Business Economics</li>
                        <li>Bachelor of Science in Business Administration major in Financial Management</li>
                        <li>Bachelor of Elementary Education</li>
                    </ul>

                    <h1 id="tagbina" class="container">Tagbina Campus</h1>
                    <h2 class="address">P-3, Poblacion, Tagbina, Surigao del Sur</h2>
                    <h3 class="heading3">University Specializations</h3>
                    <p>Teacher education, hospitality management, business administration</p>
                    <h3 class="heading3">University Courses</h3>
                    <ul>
                        <li>Bachelor of Secondary Education major in Biological Science</li>
                        <li>Bachelor of Science in Hospitality Management major in Hotel and Restaurant Management</li>
                        <li>Bachelor of Science in Computer Science</li>
                        <li>Bachelor of Science in Business Administration major in Human Resource Development Management</li>
                        <li>Bachelor of Science in Business Administration major in Financial Management</li>
                        <li>Bachelor of Elementary Education</li>
                        <li>Bachelor in Agricultural Technology</li>
                    </ul>
               
                    <h1  id="sanmiguel" class="container">San Miguel Campus</h1>
                    <h2 class="address">San Miguel, Surigao del Sur</h2>
                    <h3 class="heading3">University Specializations</h3>
                    <p>Teacher education, forestry, agriculture</p>
                    <h3 class="heading3">University Courses</h3>
                    <ul>
                        <li>Bachelor of Secondary Education Major in Technology and Livelihood Education</li>
                        <li>Bachelor of Science in Forestry</li>
                        <li>Bachelor of Science in Agriculture Major in Crop Science</li>
                        <li>Bachelor of Science in Agricultural Technology</li>
                    </ul>
               
                
                    <h1 id="cantilan" class="container">Cantilan Campus</h1>
                    <h2 class="address">Cantilan, Surigao del Sur</h2>
                    <h3 class="heading3">University Specializations</h3>
                    <p>Technical teacher education, industrial technology, business administration</p>
                    <h3 class="heading3">University Courses</h3>
                    <h4>Graduate School</h4>
                    <ul>
                        <li>Master in Teaching Technology Education</li>
                    </ul>
                    <h4>Undergraduate</h4>
                    <ul>
                        <li>Bachelor of Technical Teacher Education major in Welding and Fabrication</li>
                        <li>Bachelor of Technical Teacher Education major in Garments</li>
                        <li>Bachelor of Technical Teacher Education major in Electronics</li>
                        <li>Bachelor of Technical Teacher Education major in Electricity</li>
                        <li>Bachelor of Technical Teacher Education major in Civil</li>
                        <li>Bachelor of Technical Teacher Education major in Automotive</li>
                        <li>Bachelor of Technical Teacher Education major in Architectural Drafting</li>
                        <li>Bachelor of Secondary Education major in Technology &amp; Livelihood Education</li>
                        <li>Bachelor of Secondary Education major in Sciences</li>
                        <li>Bachelor of Secondary Education major in Mathematics</li>
                        <li>Bachelor of Science in Information Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Welding and Fabrication</li>
                        <li>Bachelor of Science in Industrial Technology major in Mechanical Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Hotel &amp; Restaurant Servicing</li>
                        <li>Bachelor of Science in Industrial Technology major in Garments Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Foods Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Electronics Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Electricity Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Civil Technology</li>
                        <li>Bachelor of Science in Industrial Technology major in Architectural Drafting</li>
                        <li>Bachelor of Science in Computer Science</li>
                        <li>Bachelor of Science in Computer Engineering</li>
                        <li>Bachelor of Science in Business Administration major in Human Resource Development Management</li>
                        <li>Bachelor of Science in Business Administration major in Financial Management</li>
                        <li>Bachelor of Science in Hotel and Restaurant Management</li>
                    </ul>
                
                    <h3 id="application" class="heading3">Application Process</h3>
                    <p>Pre-register at <a href="https://pre-enrollment.sdssu.edu.ph">https://pre-enrollment.sdssu.edu.ph</a></p>
                    <p>For new students, click "sign-up" and choose your student status to create a new SDSSU Account.</p>
                    <p>Read the instructions and fill up all the necessary information needed.</p>
                    <p>Upload a soft copy (PDF or image file) of:
                        <ul>
                            <li>SHS Report Card</li>
                            <li>Honorable Dismissal Transfer Credentials (Transferee)</li>
                            <li>Transcript of Record (Transferee)</li>
                            <li>PSA Birth Certificate</li>
                        </ul>
                    </p>
                    <p>Wait for an SMS notification after the screening of your application by the Program/Coordinators and/or Dean.</p>
                    <p>After the confirmation, you can log in back to add your subjects. You can wait for your official Certificate of Registration to be uploaded in your SDSSU Account.</p>
            
                    <h3 id="contacts" class="heading3">Contact Information</h1>
                        
                    <ul>
                        <li>Website: <a href="https://nemsu.edu.ph">https://nemsu.edu.ph</a></li>
                        <li>Email: <a href="mailto:records@nemsu.edu.ph">records@nemsu.edu.ph</a></li>
                        <li>Phone: 086-214-4221</p>
                    </ul>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
