<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li> 
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Negros Oriental State University - Main Campus -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/nosuLOGO.png') }}" alt="Negros Oriental State University - Main Campus" class="univ-logo">
                    <h1>Negros Oriental State University - Main Campus</h1>
                    <h2 class="address">8863+P9J, Capitol Area, Kagawasan Avenue, Dumaguete, 6200 Negros Oriental</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ul>
                        <h4>For Incoming Freshmen / First Year Students</h4>
                            <ul>
                                <li>NORSU Admission Test (NAT)</li>
                                <li>English Qualifying Exam</li>
                                <li>Form 138 or High School Report Card</li>
                                <li>Certificate of Good Moral Character signed by the High School Principal</li>
                                <li>2 copies of NSO Birth Certificate</li>
                                <li>Four 2" x 2" colored pictures with white background with name printed at the back</li>
                                <li>Mailing stamps worth Php 20 inserted in a long ordinary envelope</li>
                                <li>Three long-size brown envelopes to contain all the above</li>
                            </ul>
                        <h4>For Transferes</h4>
                            <ul>
                                <li>NORSU Admission Test (NAT)</li>
                                <li>English Qualifying Exam</li>
                                <li>Official Transcript of Records and Honorable Dismissal</li>
                                <li>Certificate of Good Moral Character signed by the High School Principal</li>
                                <li>2 copies of NSO Birth Certificate</li>
                                <li>Four 2" x 2" colored pictures with white background with name printed at the back</li>
                                <li>Mailing stamps worth Php 20 inserted in a long ordinary envelope</li>
                                <li>Three long-size brown envelopes to contain all the above</li>
                            </ul>
                        <h4>Admission Requirements for Foreign Nationals</h4>
                            <ul>
                                <li>Copy of unexpired Alien Certificate of Recognition (ACR) I-Card from the Bureau of Immigration</li>
                                <li>Copy of unexpired Student VISA</li>
                                <li>Letter of intent to study (indicating the course) at NORSU addressed to the University Registrar (email: norsuregistrar@yahoo.com)</li>
                                <li>Photocopies of :</li>
                                    <ul>
                                        <li>Valid Passport where the point of entry stamp is indicated</li>
                                        <li>Valid Passport where the personal information is indicated</li>
                                    </ul>
                                <li>Red Ribbon or Apostille Certificate (to be secured from the Philippine Department of Foreign Affairs) of the following:</li>
                                    <ul>
                                        <li>Affidavit of Support (if education is supported by parents, guardians)</li>
                                        <li>Transcript of Records for College Level or Secondary Certificate Completion (if applicable)</li>
                                        <li>Birth Certificate</li>
                                        <li>No Derogatory Record (NBI Clearance if already in the Philippines)</li>
                                    </ul>
                                <li>Personal History Statement (refer to Bureau of Immigration Form)</li>
                                <li>2 x 2 colored pictures with white background taken within 1 month (2 copies)</li>
                                <li>Location Map of Dumaguete City address, local contact number, local person of reference</li>
                            </ul>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <h4>College of Agriculture and Forestry</h4>
                            <ul>
                                <li>Bachelor of Science in Agriculture</li>
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Animal Science</li>
                                        <li>Agriculture Extension</li>
                                        <li>AgroForestry</li>
                                        <li>Horticulture</li>
                                    </ul>
                                <li>Bachelor of Science in Forestry</li>
                            </ul>
                        <h4>College of Arts and Sciences</h4>
                            <ul>
                                <li>Bachelor of Arts</li>
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Mass Communication</li>
                                        <li>Literature</li>
                                        <li>Political Science</li>
                                        <li>English</li>
                                        <li>Social Science</li>
                                        <li>History</li>
                                        <li>Mathematics</li>
                                    </ul>
                                <li>Bachelor of Science in Biology</li>
                                <li>Bachelor of Science in Chemistry</li>
                                <li>Bachelor of Science in Computer Science</li>
                                <li>Bachelor of Science in Geology</li>
                                <li>Bachelor of Science in Information Technology</li>
                                <li>Bachelor of Science in Mathematics</li>
                                <li>Bachelor of Science in Psychology</li>
                            </ul>
                        <h4>College of Criminal Justice</h4>
                            <ul>
                                <li>Bachelor of Science in Criminology</li>
                            </ul>
                        <h4>College of Business Administration</h4>
                            <ul>
                                <li>Bachelor of Science in Accountancy</li>
                                <li>Bachelor of Science in Business Administration</li>
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Management</li>
                                        <li>Marketing</li>
                                        <li>Business Finance Management</li>
                                    </ul>
                                <li>Bachelor of Science in Office Systems Management</li>
                                <li>Bachelor of Science in Hospitality Management</li>
                                <li>Bachelor of Science in Tourism</li>
                            </ul>
                        <h4>College of Education</h4>
                            <ul>
                                <li>Bachelor of Elementary Education</li>
                                    <p>Specializing in:</p>
                                    <ul>
                                        <li>Special Education</li>
                                        <li>Preschool</li>
                                        <li>General Curriculum</li>
                                    </ul>
                                <li>Bachelor of Secondary Education</li>
                                    <p>Major in:</p>
                                    <ul>
                                        <li>English</li>
                                        <li>Math</li>
                                        <li>Filipino</li>
                                        <li>Social Science</li>
                                        <li>Biological Science</li>
                                        <li>Physical Science</li>
                                        <li>TLE</li>
                                        <li>Values Education</li>
                                        <li>MAPE</li>
                                    </ul>
                            </ul>
                                                    <h4>College of Law</h4>
                            <ul>
                                <li>Bachelor of Laws</li>
                            </ul>
                        <h4>College of Engineering and Architecture</h4>
                            <ul>
                                <li>Bachelor of Science in Architecture</li>
                                <li>Bachelor of Science in Civil Engineering</li>
                                <li>Bachelor of Science in Computer Engineering</li>
                                <li>Bachelor of Science in Electrical Engineering</li>
                                <li>Bachelor of Science in Electronics and Communication Engineering</li>
                                <li>Bachelor of Science in Geodetic Engineering</li>
                                <li>Bachelor of Science in Geothermal Engineering</li>
                                <li>Bachelor of Science in Mechanical Engineering</li>
                            </ul>
                        <h4>College of Industrial Technology</h4>
                            <ul>
                                <li>Bachelor of Science in Aviation Management</li>
                                <li>Bachelor of Science in Industrial Technology</li>
                                    <p>Major in:</p>
                                    <ul>
                                        <li>Electrical</li>
                                        <li>Mechanical</li>
                                        <li>Automotive</li>
                                        <li>Electronics</li>
                                        <li>Architectural Drafting</li>
                                        <li>Civil</li>
                                        <li>Computer</li>
                                        <li>Garments</li>
                                        <li>Food</li>
                                        <li>Refrigeration & Air-Conditioning</li>
                                    </ul>
                                <li>Bachelor of Technological Education</li>
                                <li>Bachelor of Technology</li>
                            </ul>
                        <h4>College of Nursing, Pharmacy, and Allied Health Sciences</h4>
                            <ul>
                                <li>Bachelor of Science in Nursing</li>
                                <li>Bachelor of Science in Pharmacy</li>
                            </ul>
                    </ul>
                    
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <h4>First Year Students and Transferees</h4>
                            <li>Applicants will be advised on the program they shall enroll taking into consideration their First, Second and Third Priority Program.</li>
                            <li>Lifelong Learners shall be enrolled in BLOCK SECTIONS to get the maximum number of enrollees based on the Enrollment Capacity of the program.</li>
                            <li>Lifelong Learners shall undergo a two-semester post admission BRIDGING Program. * The Bridging and Enhancement Programs are embedded in the curriculum.</li>
                            <li>ALS passers Certification must bear the notation that they are "ELIGIBLE TO ENROLL IN COLLEGE"</li>
                        <h4>Off-Track Enhancement Program</h4>
                            <li>OFF-TRACK SHS Graduates shall enroll in at most four (4) credit-bearing subjects taken from the SHS specialization subjects or other requisite subjects (distributed in two semesters-part of the Off-Track Enhancement Program) aligned to the course that they are applying for.</li>
                            <li>The subjects under the Off-Track Enhancement Program shall be enrolled as overload subjects (on top of the regular loads of the students).</li>
                    </ol>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <p>522-5050</p>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>

