<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div id="navbar" class="heading-container"> 
                    <!-- Navigation -->
                    <nav>
                        <ul>                                                                                                                                                              
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <ul>
                                        <li><a href="#als">ALS</a></li>
                                        <li><a href="#trans">Transferees</a></li>
                                    </ul>                  
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <ul>
                                        <li><a href="#special">Specializations</a></li>
                                        <li><a href="#grad">Graduate Programs</a></li>
                                        <li><a href="#undergrad">Undergraduate Programs</a></li>
                                    </ul>                               
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <ul>
                                        <li><a href="#req">General</a></li>
                                    </ul>
                                </div>                                                            
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>  
            </section>
            
                                          
                
                
                <!-- Occidental Mindoro State College -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/omscLOGO.jpeg') }}" alt="Occidental Mindoro State College" class="univ-logo">
                    <h1>Occidental Mindoro State College</h1>
                    <h2 class="address">Labangan Poblacion, San Jose Occidental Mindoro</h2>
    
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">CLOSED</span>
                    </div>
            

                    <h3 class="heading3">Admission Requirements</h3> 
<!-- Admission Requirements -->
<div >
    <h4 id="als"><i>ALS Certificate</i></h4>         
    <ol>
        <li>One (1) recent 2x2 ID picture with name tag and white background</li>
        <li>Good Moral certificate with dry seal</li>
        <li>PSA Birth Certificate</li>
    </ol>

    <h4 id="trans"><i>Transferees</i></h4>
    <ol>
        <li>Transcript of Records (TOR) / Transfer Credential</li>
        <li>One (1) recent 2x2 ID picture with name tag and white background</li>
        <li>Honorable Dismissal</li>
        <li>Good Moral certificate with dry seal</li>
        <li>PSA Birth Certificate</li>
    </ol>
</div>

<h3 id="special" class="heading3">University Specializations</h3> <!-- University Specializations -->
<ul>
    <li>Agricultural Sciences</li>                                       
</ul>



            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    
                    <div id="grad">
                          <h4>GRADUATE SCHOOL</h4>                                                                                                                                 
                              <ul>
                                <li>Doctor of Philosophy in Crop Science (Main Campus)</li>
<li>Doctor of Education major in Educational Management (Main Campus)</li>
<li>Master of Arts in Education (Main Campus)</li>
<li>Master of Science in Agriculture (Main Campus)</li>
<ul>
<li>Major in: (1) Animal Science, (2) Crop Science</li>
</ul>
<li>Master in Business Administration (Main Campus)</li>
<li>Master in Public Administration (Main Campus)
</li></ul></div>

<div id=”undergrad”>
<h4>UNDERGRADUATE</h4>
<ul>
<li><h4><i>College of Agriculture and Allied Fields</i></h4></li>
<ul>
<li>Bachelor of Science in Agriculture (Main Campus)</li>
<li>Bachelor of Science in Horticulture (Main Campus)</li>
<li>Bachelor of Science in Agroforestry (Main Campus)</li>
</ul>

<li><h4><i>College of Arts and Sciences</i></h4></li>
<ul>
<li>Bachelor of Arts in English Language (Main & Calapan City Campus)</li>
<li>Bachelor of Arts in Psychology (Calapan City Campus)</li>
<li>Bachelor of Arts in Political Science (Bongabong Campus)</li>
<li>Bachelor of Science in Environmental Science (Main Campus)</li>
</ul>

<li><h4><i>College of Business and Management</i></h4></li>
<ul>
<li>Bachelor of Science in Entrepreneurship (Main Campus)</li>
<li>Bachelor of Science in Tourism Management (Main, Calapan City, & Bongabong Campus)</li>
<li>Bachelor of Science in Hospitality Management (Calapan City & Bongabong Campus)</li>
</ul>

<li><h4><i>College of Computer Studies</i></h4></li>
<ul>
<li>Bachelor of Science in Information Technology (Main, Calapan City & Bongabong Campus)</li>
<li>Bachelor of Science Computer Engineering (Bongabong Campus)</li>
</ul>

<li><h4><i>College of Criminal Justice Education</i></h4></li>
<ul>
<li>Bachelor of Science in Criminology (Calapan City & Bongabong Campus)</li>
</ul>

<li><h4><i>College of Teacher Education</i></h4></li>
<ul>
<li>Bachelor of Secondary Education (Main, Calapan City & Bongabong Campus)</li>
<li>Bachelor of Elementary Education (Main & Bongabong Campus)</li>
<li>Bachelor of Technical-Vocational Teacher Education (Calapan City Campus)</li>
</ul>

<li><h4><i>Institute of Agricultural and Biosystems Engineering </i></h4></li>
<ul>
<li>Bachelor of Agricultural and Biosystems Engineering (Main Campus)</li>
</ul>

<li><h4><i>Institute of Fisheries
</i></h4></li>
<ul>
<li>Bachelor of Science in Fisheries (Bongabong Campus)</li>
</ul>
</ul>
</div>

            

    <h3 id="req" class="heading3">Application Process</h3> <!-- Application Process -->                  
    <ul>
        <li>Visit this site for detailed admission process: <a href="https://www.omsc.edu.ph/articles/admission-process">https://www.omsc.edu.ph/articles/admission-process</a></li>
    </ul>        

    <h3 id="contacts" class="heading3">Contact Information</h3> <!-- Contact Information -->
    <ul>
        <li>Phone: (043) 457 0231</li>
        <li>Website: <a href="https://www.omsc.edu.ph">https://www.omsc.edu.ph</a></li>
        <li>Email: <a href="mailto:omsc_9747@yahoo.com">omsc_9747@yahoo.com</a></li>
        <li>University Announcement: <a href="https://www.facebook.com/share/p/5fMV8jeoBhb7Gvq4/?mibextid=oFDknk">https://www.facebook.com/share/p/5fMV8jeoBhb7Gvq4/?mibextid=oFDknk</a></li>
    </ul>
</section>

    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>



