<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#pccat">For PCCAT Examinees</a>
                        <a href="#enroll">For Enrollement</a>
                        <a href="#als">ALS Passers</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#undergrad">Undergraduate Programs</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

     <!-- Paranaque City College -->
	 <div id="pccat" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/PCCLogo.png') }}" alt="Paranaque City College" class="univ-logo">
		<h1>Paranaque City College</h1>
		<h2 class="address">Coastal Road, cor Victor Medina, Parañaque, 1700 Metro Manila</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

			<h3 id="enroll" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
			<ol>
				<li>
					<h4>FOR PCCAT EXAMINEE INITIAL REQUIREMENTS</h4>
					<ul>
						<li>Duly accomplished PCCAT Application Form (w/ 2x2 picture)</li>
						<li>Form 138 of Grade 11 and 12 (Photocopy)</li>
						<li>Voter’s certificate from COMELEC (must be a registered resident and voter of Paranaque City)</li>
					</ul>
				</li>
				<li>

					<h4 id="als">FOR ENROLLMENT</h4>
					<ul>
						<li>Duly accomplished admission form</li>
						<li>PSA birth certificate/ marriage certificate if married (original)</li>
						<li>Voter’s certificate from COMELEC (must be a registered resident and voter of Paranaque City, photocopy)</li>
						<li>certificate</li>
						<li>Diploma</li>
						<li>Form 138 (original)</li>
						<li>3 pcs. of 2x2 picture (with white background and printed name)</li>
						<li>2 pcs. of long brown and plastic envelope</li>
					</ul>
				</li>
				<li>

					<h4 id="special">FOR PASSERS OF ALS/PEPT</h4>
					<ul>
						<li>2pcs. of long brown and plastic envelope</li>
						<li id="undergrad">Unique learner identifier (ULI number)</li>
						<li>To get your ULI number visit: <a href="https://t2mis.tesda.gov.ph/Barangay">https://t2mis.tesda.gov.ph/Barangay</a></li>
					</ul>
				</li>
			</ol>

			<h3 class="heading3">University Specializations</h3> <!-- University Specializations -->
			<ul>
				<li>Business Administration</li>
			</ul>

			<h3 class="heading3">University Courses</h3> <!-- University Courses -->
			<h4 id="application">UNDERGRADUATE PROGRAMS</h4>
			<ul>
				<li>BS in Entrepreneurship</li>
				<li>Bachelor of Science in Tourism Management</li>
				<li>Bachelor in Public Administration</li>
				<li>Bachelor of Science in Accounting Information System</li>
				<li>Bachelor in Special Needs Education</li>
				<li>Bachelor in Technical- Vocational Teacher Education</li>
				<li>BS in Real Estate Management</li>
				<li>2-Year Hospitality Management Services</li>
				<li>Bookkeeping NC III</li>
				<li>Food and Beverage Services NC II</li>
				<li>Housekeeping NC II</li>
			</ul>

			<h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
			<p>Before registering online, please make sure that applicant has a scanned, clear and readable copy of the requirements mentioned above. (Document/s must be in PDF file or JPEG format)</p>
			<ol>
				<li>Access PCC Online Admission Form using this link: <a href="https://forms.gle/o2w2oVquGKNFsqxA9">https://forms.gle/o2w2oVquGKNFsqxA9</a>
					<ul>
						<li>(PCC Online Admission form will be open from Monday to Friday, 8:00am – 5:00am)</li>
					</ul>
				</li>
				<li>Fill-out the application and upload the required document/s.</li>
				<li>Once the application form has been successfully submitted, to view your response check your registered email (for editing purposes).</li>
				<li>PCC Admission Staff shall process and evaluate the submitted requirements.</li>
				<li>All qualified applicants will be scheduled for PCC entrance examination. Schedule of examinations will be posted on Paranaque City College FB Page.</li>
			</ol>
			<p>Important Note:</p>
			<ul>
				<li>NO multiple responses will be accommodated.</li>
				<li>Only applicants who have submitted initial requirements will be processed.</li>
			</ul>

		<h3 class="heading3">Contact Information</h3>
		<ul> 
			<li>Email: <a href="info@paranaquecitycollege.edu.ph">info@paranaquecitycollege.edu.ph</a></li>
			<li>Telephone: (+632) 826 9163 | (02) 519 8258</li>
			<li>Website: <a href="info@paranaquecitycollege.edu.ph">info@paranaquecitycollege.edu.ph</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/PCCOfficial22">https://www.facebook.com/PCCOfficial22</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>