<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#all">For All Applicants</a>
						<a href="#transferees">For Transferees</a>
                        <a href="#als">ALS Passers</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#undergrad">Undergraduate Programs</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

     <!-- Polytechnic College of the City of Meycauayan  -->
	 <div id="all" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/PCCMLogo.png') }}" alt="Polytechnic College of the City of Meycauayan" class="univ-logo"
		<h1>Polytechnic College of the City of Meycauayan</h1>
		<h2 class="address"> (Main) Pag-asa Street, Malhacan, City of Meycauayan, Bulacan, Philippines, 3020 | (Annex) Sitio Cabatuhan, Camalig, City of Meycauayan, Bulacan, Philippines, 3020</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
		<ol>
			<li>
				<h4 id="transferees">FOR ALL APPLICANTS</h4>  
				<ul>
					<li>Grade 12 report card with GWA or its Equivalent (SF-9/Form 138)- Photocopy</li>
					<li>Good Moral Certificate (Photocopy)</li>
					<li id="als">PSA Birth Certificate (Photocopy)</li>
					<li>Medical Certificate (Photocopy/Secure after Qualifying)</li>
					<li>Two (2) ID Pictures (2x2)</li>
					<li>One (1) Long Brown Envelope</li>
				</ul>
			</li>
			
			<li>
				<h4 id="special">FOR TRANSFEREES</h4>
				<ul>
					<li>TOR and Transfer Credentials</li>
				</ul>
			</li>
			
			<li>
				<h4 id="undergrad">FOR PASSERS OF ALS</h4>
				<ul>
					<li>Certificate of Eligibility for College Admission</li>
				</ul>
			</li>
		</ol>

		<h3 class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>Technology</li>
		</ul>

        <h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<ul>
			<li><strong>Teacher Education Program</strong>  
				<ul>
					<li>Bachelor of Secondary Education (BSEd) Major in English
					</li>
					<li>Bachelor of Secondary Education (BSEd) Major in Mathematics
					</li>
					<li>Bachelor of Secondary Education (BSEd) Major in Social Studies
					</li>
				</ul>
			</li>

			<li><strong>Hospitality Management Program</strong>  
				<ul>
					<li>Bachelor of Science in Hospitality Management (BSHM)
					</li>
				</ul>
			</li>

			<li><strong>Office Administration Program</strong>  
				<ul>
					<li>Bachelor of Science in Office Administration (BSOA)
					</li>
				</ul>
			</li>

			<li id="application"><strong>TESDA TVET Program</strong>  
				<ul>
					<li>Electrical Installation and Maintenance (EIM)
					</li>
					<li>Visual Graphics Design (VGD)
					</li>
				</ul>
			</li>
		</ul>

		<h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
				<ol>
					<li>Fill up the application form downloadable through the PCCM webpage or secure the application from the guidance office;</li>
					<li>Submit all the necessary documents to the assigned Guidance and/or Admission Officer.</li>
					<li>Secure the admission test at the assigned schedule.</li>
					<li>Submit to an interview to be administered by the Program Head or the College of Dean.</li>
					<li>See the list of college qualifiers that will be posted on the College bulletin Boards at the College or on the official PCCM webpage.</li>
					<li>For the admitted students, sign the Behavior/Contract waiver required and secure enrollment permit/follow enrollment procedures.</li>
				</ol>
		
		<h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="mailto:pccmguidance2020@gmail.com">pccmguidance2020@gmail.com</a></li>
			<li>Telephone: (044) 320 5653</li>
			<li>Website: <a href=" https://pccm.edu.ph/"> https://pccm.edu.ph/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/pccmeduph/">https://www.facebook.com/pccmeduph/</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>