<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- Palompon Institute of Technology -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/pitLOGO.png') }}" alt="Palompon Institute of Technology" class="univ-logo">
                    <h1>Palompon Institute of Technology</h1>
                    <h2 class="address">Evangelista Street, Palompon, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ul>
                        <li>(2in x 2in) latest ID picture (white background)</li>
                        <li>Birth Certificate (PSA Issued)</li>
                        <li>Original Certificate of Good Moral Character</li>
                        <li>Police Clearance (not expired or will not expire until the end of enrollment duration)</li>
                        <li>Eligibility to Enroll (Original Document)</li>
                        <li>Form 138 (High School Graduate)</li>
                        <li>or, Certificate of Completion (ALS Graduate)</li>
                        <li>or, Certificate of Transfer Credential (Transferee)</li>
                    </ul>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li>Technology and Engineering</li>
                        <li>Teacher Education</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <h4>College of Maritime Education</h4>
                            <ul>
                                <li>BS in Marine Transportation (BSMT)</li>
                                <li>BS in Marine Engineering (BSMarE)</li>
                            </ul>
                        <h4>College of Technology and Engineering</h4>
                            <ul>
                                <li>BS in Industrial Engineering (BSIE)</li>
                                <li>BS in Mechanical Engineering (BSME)</li>
                                <li>BS in Electrical Engineering (BSEE)</li>
                                <li>BS in Information Technology (BSIT)</li>
                                <li>BS in Industrial Technology (BSInT)</li>
                                    <ul>
                                        <li>Automotive</li>
                                        <li>Drafting</li>
                                        <li>Electronics</li>
                                        <li>Electricity</li>
                                        <li>Machine Shop</li>
                                        <li>Foods</li>
                                        <li>Power Plant</li>
                                        <li>Garments</li>
                                        <li>Refrigeration and Air-Conditioning</li>
                                        <li>Welding and Fabrication Technology</li>
                                    </ul>
                            </ul>
                        <h4>College of Teacher Education</h4>
                            <ul>
                                <li>Bachelor of Elementary Education (BEEd)</li>
                                <li>Bachelor of Secondary Education (BSEd)</li>
                                    <ul>
                                        <li>English</li>
                                        <li>Filipino</li>
                                        <li>Mathematics</li>
                                        <li>Social Science</li>
                                    </ul>
                                <li>Bachelor of Technology and Livelihood Education (BTLEd)</li>
                                    <ul>
                                        <li>Home Economics</li>
                                        <li>Industrial Arts</li>
                                    </ul>
                                <li>Bachelor of Technical-Vocational Teacher Education (BTVTEd)</li>
                                    <ul>
                                        <li>Automotive Technology</li>
                                        <li>Electrical Technology</li>
                                        <li>Food and Service Management</li>
                                        <li>Garments, Fashion and Design</li>
                                    </ul>
                                <li>Bachelor of Physical Education (BPEd)</li>
                            </ul>
                        <h4>College of Arts and Sciences</h4>
                            <ul>
                                <li>Bachelor of Arts in Communication (BACom)</li>
                                <li>Bachelor of Science in Hospitality Management (BSHM)</li>
                                <li>Bachelor of Science in Marine Biology (BSMarBio)</li>
                                <li>Bachelor of Science in Business Administration (BSBA) Major in Marketing Management</li>
                            </ul>
                    </ul>
            
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <p>Admission for AY 2024-2025</p>
                    <p>The admission of maritime programs for the AY 2024-2025 first semester is from Jan. 22, 2024 to Mar. 31, 2024, the other programs are from Mar. 4, 2024 to May 2024. The requirements will be displayed at the Admission System.</p>
                    <p>For admission concerns, contact the PIT-Guidance Office, you may send a message in their <a href="https://www.facebook.com/pitmainguidanceoffice">Facebook page</a>, call/message (053)555-9841 / 09198676255, or email <a href="mailto:online-admission@pit.edu.ph">online-admission@pit.edu.ph</a>. Don't forget to like and follow the PIT-Guidance Office page for proper guidance and future announcements regarding admissions.</p>
            
                    <h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Phone: (053) 555 9841</li>
                        <li>Email: <a href = "op@pit.edu.ph">op@pit.edu.ph</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
