<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#docu">Documentary Requirements</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#undergrad">Undergraduate Programs</a>
						<a href="#grad">Graduate Programs</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
						<a href="#residents">For Freshmen of Public and Private High Schools of Muntinlupa</a>
						<a href="#non-residents">For Non-Muntinlupa Residents</a>
						<a href="#returnees">For Returnee Students</a>
						<a href="#foreign">For Foreign Students</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
    
     <!-- Pamantasan ng Lungsod ng Muntinlupa -->
	 <div id="docu" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/PLMUNLogo.png') }}" alt="Pamantasan ng Lungsod ng Muntinlupa" class="univ-logo">
		<h1>Pamantasan ng Lungsod ng Muntinlupa</h1>
		<h2 class="address">University Road NBP Reservation Brgy. Poblacion, City of Muntinlupa. Philippines, 1776</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->  
		<h4 id="special">DOCUMENTARY REQUIREMENTS</h4>
		  <ol>
			<li>Certificate of Good Moral Character</li>
			<li>Form 138 (Incoming Freshmen Students) Official Transcript of Records (For Transferees)</li>
			<li>Copy of Grades and Honorable Dismissal (For Transferees)</li>
			<li>Barangay Clearance</li>
			<li>NSO/PSA Birth Certificate (Photocopy) Parent's Voter's ID (For Muntinlupa Residents)</li>
			<li>1 pc. 2x2 Recent Picture with White Background</li>
			<li id="undergrad">Marriage Certificate for Married students (Photocopy)</li>
			<li>Medical Certificate</li>
			<li>1 Long Brown Envelope with Plastic</li>
		  </ol>

		<h3 class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>College of Medicine</li>
		</ul>

        <h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<h4>UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li><strong>College of Arts and Sciences (CAS)</strong>
			<ul>
			  <li>Bachelor of Arts in Communication</li>
			  <li>Bachelor of Science in Psychology</li>
			</ul>
		  </li>
		  <li><strong>College of Business Administration (CBA)</strong>
			<ul>
			  <li>Bachelor of Science in Business Administration
				<p>Major in:</p>
				<ul>
					<li>Human Resource Development Management</li>
					<li>Marketing Management</li>
					<li>Operations Management</li>
				</ul>
			  </li>
			</ul>
		  </li>
		  <li><strong>College of Accountancy</strong>
			<ul>
			  <li>Bachelor of Science in Accountancy</li>
			</ul>
		  </li>
		  <li><strong>College of Criminal Justice (CCJ)</strong>
			<ul>
			  <li>Bachelor of Science in Criminology</li>
			</ul>
		  </li>
		  <li><strong>College of Information, Technology and Computer Studies (CITCS)</strong>
			<ul>
			  <li>Bachelor of Science in Computer Science</li>
			  <li>Bachelor of Science in Information Technology</li>
			  <li>Associate in Computer Technology</li>
			</ul>
		  </li>
		  <li id="grad"><strong>College Of Teacher Education</strong>
			<ul>
			  <li>Bachelor of Elementary Education (BEEd)
				<ul>
					<li>General Elementary Education</li>
				</ul>
			  </li>
			  <li>Bachelor of Secondary Education (BEEd)
				<p>Major in:</p>
				<ul>
					<li>Science</li>
					<li>English</li>
					<li>Social Science</li>
				</ul>
			  </li>
			</ul>
		  </li>
		  <li><strong>Institute of Public Policy and Governance</strong>
			<ul>
			  <li>Bachelor of Arts in Political Science</li>
			</ul>
		  </li>
        </ul>

		<h4>GRADUATE PROGRAMS</h4>
		<ul>
			<li>Master in Business Administration</li>
			<li>Master of Arts in Education
				<p id="application">Major in:</p>
				<ul>
					<li>Educational Management</li>
					<li>Guidance and Counseling</li>
				</ul>
			</li>
			  <li id="residents">Master in Security and Correctional Administration</li>
			  <li>Master in Information Technology</li>
			  <li>Master of Science in Criminology</li>
		</ul>
		  
        <h3 class="heading3">Application Process</h3> <!-- Application Process -->
		<h4>Admission Requirements and Procedures for Freshmen of Public and Private High Schools of Muntinlupa</h4>
		<ol>
		  <li>Submit to OUR (Office of the Registrar the following):
			<ul>
		  	  <li>Form 137/138 (at least with second grading period)</li>
			  <li>Barangay Clearance</li>
			  <li>Parent's Voter's I.D.</li>
			  <li>Birth Certificate (NSO/LCR)</li>
			  <li>2x2 Pictures 2 pieces (with white name and background)</li>
			</ul>
		  </li>
		  <li id="non-residents">Fill out the admission/examination permit form.</li>
		  <li>Pay Php200 to the Accounting Office then submit the OR back to the Guidance Division.</li>
		  <li>Get examination schedule.</li>
		  <li>On testing date, please present test permit and receipt./li>
		  <li>Wait for the posting of exam result posted in PLMun website (www.plmun.edu.ph).</li>
		  <li>Passers must secure and fill-out the Cumulative Record Form (CRF) from the Guidance Division.</li>
		  <li>Get the schedule of college interviews from the Guidance Division.</li>
		  <li>After the college interview, the accepted applicants must return the CRF to the Guidance Division and get the enrollment requirements and schedule.</li>
		</ol>

		<h4>Admission Requirements and Procedures for Non-Muntinlupa Residents</h4>
		<ol>
		  <li>Submit to OUR (Office of the Registrar the following):
			<ul>
				<li id="returnees">Form 137/138 (at least with second grading period)</li>
				<li>Barangay Clearance</li>
				<li>Parent's Voter's I.D.</li>
				<li>Birth Certificate (NSO/LCR)</li>
				<li>2x2 Pictures 2 pieces (with white name and background)</li>
			</ul>
		  </li>
		  <li>Fill out the admission/examination permit form.</li>
		  <li>Pay Php200 to the Accounting Office then submit the OR back to the Guidance Division.</li>
		  <li>Get examination schedule.</li>
		  <li>Present test permit and receipt on the testing date.</li>
		  <li>Wait for the Posting of Exam Result posted in PLMun website (www.plmun.edu.ph).</li>
		  <li>Passers must secure and fill-out the Cumulative Record Form (CRF) from the Guidance Division.</li>
		  <li>Get the schedule of college interviews from the Guidance Division.</li>
		  <li>After the college interview, the accepted applicants must return the CRF to the Guidance Division and get the enrollment requirements and schedule.</li>
		</ol>

		<h4 id="foreign">Admission Procedures for Returnee Students</h4>
		<ol>
		  <li>Secure clearance form from OUR.</li>
		  <li>Report to your college for advising and encoding of subjects.</li>
		  <li>Pay to the cashier.</li>
		  <li>Bring OR to OUR for COM (Certificate of Matriculation).</li>
		  <li>Photocopy of NSO Marriage Contract (if recently married).</li>
		</ol>

		<h4 id="contacts">Admission Procedures for Foreign Students</h4>
		<ol>
		  <li>Foreign students shall be admitted to PLMun subject to existing regulations of the Commission on HigherEducation (CHED). Other requirements are:</li>
		  <li>Student Visa (9-F Visa)</li>
		  <li>Letter of Acceptance from the College of His Choice (original and photocopy)</li>
		  <li>Affidavit of Support</li>
		  <li>Latest Passport</li>
		  <li>Authenticated Birth Certificate (original and photocopy).</li>
		</ol>

		<h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="plmuncomm@plmun.edu.ph">plmuncomm@plmun.edu.ph</a></li>
			<li>Website: <a href="https://www.plmun.edu.ph/index.php">https://www.plmun.edu.ph/index.php/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/plmunofficial">https://www.facebook.com/plmunofficial</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>