<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#qual">Qualifications</a>
						<a href="#transferees">For Transferees</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#undergrad">Undergraduate Programs</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

     <!-- Pamantasan ng Lungsod ng Pasig -->
	 <div id="qual" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/PLPLogo.png') }}" alt="Pamantasan ng Lungsod ng Pasig" class="univ-logo">
		<h1>Pamantasan ng Lungsod ng Pasig</h1>
		<h2 class="address">Alcalde Jose Street, Kapasigan, 1600 Pasig</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
		<h3 id="docu">Qualifications</h3>  
		  <ol>
			<li>At least 80% General Weighted Average (GWA)</li>
			<li>Graduate of Senior High School or ongoing Grade 12 SHS </li>
			<li>Applicant/Parents or Guardian should be residents of Pasig City for at least five years.</li>
		  </ol>

		<h4 id="transferees">DOCUMENTARY REQUIREMENTS</h4>
		  <ol>
			<li>Completely filled-out Application Form</li>
			<li>CTC Grade 11 Form 138 (for Graduating Senior HS)</li>
			<li>CTC F137 with remarks: For Evaluation Purposes only (for Senior Hs graduates)</li>
			<li>Any Government issued ID/School ID of applicant</li>
			<li>PSA Birth Certificate</li>
			<li>Two pcs. Passport size picture, white background with nameplate </li>
			<li>Any government-issued ID of Parents</li>
			<li>Proof of Income of Parents (ITR, DSWD Case Study, or DSWD Beneficiary ID, etc,)</li>
			<li>Notarized Affidavit of Guardianship (for applicants with guardians only)</li>
		  </ol>

		<h3>Qualifications for Transferees</h3>  
		  <ol>
			<li>Must be incoming 2nd-3rd Year ONLY from any CHED accredited college/university (must have taken at least 36 units)</li>
			<li>Graduated under the K12 Program</li>
			<li>GWA of 2.25 or higher</li>
			<li>No Failing, Dropped or Incomplete Grades</li>
			<li>No Shifting of Program</li>
			<li>Parents/Guardians or Applicants should be residents of Pasig City for at least five years.</li>
		  </ol>

		<h4 id="special">DOCUMENTARY REQUIREMENTS/h4>
		  <ol>
			<li>Completely filled-out Application Form</li>
			<li>CTC of TOR with remarks: For Evaluation Purposes only</li>
			<li>Any Government issued ID/School ID of applicant </li>
			<li>PSA Birth Certificate</li>
			<li>Certificate of Good Moral Character</li>
			<li>Two pcs. Passport size picture, white background with nameplate </li>
			<li>Any government-issued ID of Parents</li>
			<li>Proof of Income of Parents (ITR, DSWD Case Study, or DSWD Beneficiary ID, etc,)</li>
			<li id="undergrad">Notarized Affidavit of Guardianship (for applicants with guardians only)</li>
		  </ol>

		<h3 class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>College of Medicine</li>
		</ul>

        <h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<h4 id="grad">UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li><strong>Arts and Sciences</strong>
			<ul>
			  <li>Bachelor of Science in Mathematics with Computer (BSMATH)</li>
			</ul>
		  </li>
		  <li><strong>Education</strong>
			<ul>
			  <li>Bachelor of Arts in Secondary Education (BSED)
				<p>Major in:</p>
				<ul>
					<li>Englisht</li>
					<li>Filipino</li>
				  </ul>
			  </li>
			  <li>Bachelor of Arts in Elementary Education (BEEd)
				<ul>
					<li>Specialization in Early Childhood Education</li>
				  </ul>
			  </li>
			</ul>
		  </li>
		  <li><strong>Hospitality Management</strong>
			<ul>
			  <li>Bachelor of Science in Hospitality Management (BSHM)</li>
			</ul>
		  </li>
		  <li><strong>Business Administration</strong>
			<ul>
			  <li>Bachelor of Science in Accountancy (BSA)</li>
			  <li>Bachelor of Science in Business Administration (BSBA) major in Entrepreneurship</li>
			  <li>Bachelor of Science in Business Administration (BSBA) major in Marketing Management</li>
			</ul>
		  </li>
		  <li><strong>Computer Studies</strong>
			<ul>
			  <li>Bachelor of Science in Computer Science (BSCS)</li>
			  <li>Bachelor of Science in Information Technology (BSIT)</li>
			</ul>
		  </li>
		  <li><strong>Engineering</strong>
			<ul>
			  <li>Bachelor of Science in Electronics & Communications Engineering (BSECE)</li>
			</ul>
		  </li>
		  <li><strong>Nursing</strong>
			<ul>
			  <li>Bachelor of Science in Nursing (BSN)</li>
			  <li id="application">Master of Arts in Nursing (BSN)</li>
			</ul>
		  </li>
        </ul>

		<h4>GRADUATE PROGRAMS</h4>
		<ul>
		  <li><strong>Nursing</strong>
			<ul>
			  <li>Master of Arts in Nursing (BSN)</li>
			</ul>
		  </li>
		</ul>
		  
        <h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
		<h4>Admission Requirements and Procedures for Freshmen of Public and Private High Schools of Muntinlupa</h4>
		<ol>
		  <li>Online Application
			<ul>
				<li>Accomplish the Online Registration Application Form via Google Form</li>
			</ul>
		  </li>
		  <li>Email Notification
			<ul>
				<li>An email notification for the submission of documentary requirements will be sent via registered email. (You may visit the PLP Admission Office should you fail to receive an email within 2 weeks from online application)</li>
			</ul>
		  </li>
		  <li>Submission of Requirements
			<ul>
				<li>Submit all the necessary documents on the given schedule for validation and assessment.</li>
			</ul>
		  </li>
		  <li>Entrance Examination
			<ul>
				<li>Examination schedule will be sent via registered email.</li>
			</ul>
		  </li>
		  <li>College Assessment
			<ul>
				<li>College Assessment Schedule will be sent via registered email</li>
			</ul>
		  </li>
		  <li>Posting of Qualifiers
			<ul>
				<li>List of successful qualifiers will be posted in PLP campus and PLP Official Facebook Page.</li>
			</ul>
		  </li>
		  <li>Confirmation Slot
			<ul>
				<li>Qualified applicants are given 2 weeks from the day of posting to confirm their slot.</li>
			  </ul>
		  </li>
		</ol>

		<h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="plmuncomm@plmun.edu.ph">plmuncomm@plmun.edu.ph</a></li>
			<li>Website: <a href="https://www.plmun.edu.ph/index.php">https://www.plmun.edu.ph/index.php/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/plmunofficial">https://www.facebook.com/plmunofficial</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>