<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#quali">Qualifications</a>
                        <a href="#docu">Documentary</a>
                        <a href="#others">Others</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#undergrad">Undergraduate Programs</a>
						<a href="#grads">Graduate Programs</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

     <!-- Philippine Normal University Manila -->
	 <div id="quali" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/PNULogo.png') }}" alt="Philippine Normal University Manila" class="univ-logo">
		<h1>Philippine Normal University Manila</h1>
		<h2 class="address">104 Taft Ave, Ermita, Manila, 1000 Metro Manila</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
		<h3 id="docu">Qualifications</h3> 
		<ol>
			<li>Grade 12 students expected to graduate at the end of the academic year from DepED accredited schools</li>
			<li>Grade 12 graduates</li>
			<li>Completed middle school or its equivalent (e.g. Philippine Educational Placement Test, Alternative Learning System, or a Non-Formal Equivalency Test )</li>
		</ol>

		<h4>DOCUMENTARY REQUIREMENTS</h4> 
		<ol>
			<li>
				<h4>For Grade 12 Students</h4>
				<ul>
					<li>Certified true copy of Form 137 or Form 138 (Grade 10 and 11) with no grade below 80% across all subject areas and with a general weighted average (GWA) of at least 85% or its equivalent</li>
				</ul>
			</li>
			<li>
				<h4>For Grade 12 Graduates Who Have Not Taken Courses in College</h4>
				<ul>
					<li>Certified true copy of Form 137 or Form 138 (Grade 12) with no grade below 80% across all subject areas and with a GWA of at least 85% or its equivalent</li>
				</ul>
			</li>
			<li>
				<h4 id="others">For Grade 12 Graduates Who Have Taken Courses in College (Transferees)</h4>
				<ul>
					<li>OR or certification of grades and Honorable Dismissal</li>
				</ul>
			</li>
			<li>
				<h4>For Those Who Completed Middle School or Its Equivalent</h4>
				<ul>
					<li>Certification from PEPT, ALS, etc. certified by the DepED</li>
				</ul>
			</li>
		</ul>
		</ol>

		<h4 id="special">Other Requirements</h4>  
		<ol>
			<li>2”x2” colored ID picture taken within 6 months, with white background and nametag</li>
			<li>Certification from the school principal that the student is graduating from SHS/certification of enrollment/registration form</li>
			<li>Extra-curricular and leadership certifications</li>
			<li id="undergrad">Application essay</li>
			<li>Application Form</li>
			<li>Signed Data Privacy Consent Form</li>
			<li>Two recommendation letters</li>
		</ol>

		<h3 class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>Education</li>
		</ul>
		
		<h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<ul>
			<li>
				<h4>UNDERGRADUATE PROGRAMS</h4> 
				<ul>
					<li>Bachelor of Arts/Bachelor of Secondary Education (AB/BSE) 
						<p>Major in:</p>
						<ul>
							<li>Literature</li>
						</ul>
					</li>
					<li>Bachelor of Early Childhood Education (BECEd)</li>
					<li>Bachelor of Elementary Education (BEEd)</li>
					<li>Bachelor of Library and Information Science (BLIS)</li>
					<li>Bachelor of Science in Biology for Teachers (BSBT)</li>
					<li>Bachelor of Science in Chemistry for Teacher (BSCT)</li>
					<li>Bachelor of Science in Information Communication and Technology Education (BSICTE)</li>
					<li>Bachelor of Science in Mathematics for Teachers (BSMT)</li>
					<li>Bachelor of Science in Nutrition & Dietetics for Teachers (BSNDT)</li>
					<li>Bachelor of Science in Physics for Teachers (BSPT)</li>
					<li>Bachelor of Science in Psychology (BSP) - Guidance and Counseling Stream</li>
					<li>Bachelor of Secondary Education (BSE)
						<p>Major in:</p>
						<ul>
							<li>Biology</li>
							<li>Chemistry</li>
							<li>English</li>
							<li>Filipino</li>
							<li>General Science</li>
							<li>Mathematics</li>
							<li id="grads">Music Education</li>
							<li>Physical Education</li>
							<li>Physics BSE
								<p>Major in:</p>
								<ul>
									<li> Social Science</li>
								</ul>
							</li>
							<li>Speech & Theater Arts</li>
							<li>Values Education</li>
						</ul>
					</li>
				</ul>
			</li>

			<li>
				<h4>GRADUATE PROGRAMS</h4> 
				<ul>
					<li>Ed.D in Educational Administration</li>
					<li>MAEd Major in Auditory Disabilities</li>
					<li>MAEd Major in Bilingual Education</li>
					<li>MAEd Major in Child Study</li>
					<li>MAEd Major in Curriculum & Instruction</li>
					<li>MAEd Major in Drama Education & Theater Arts</li>
					<li>MAEd Major in Early Childhood Education</li>
					<li>MAEd Major in Educational Management</li>
					<li>MAEd Major in Educational Technology</li>
					<li>MAEd Major in Elementary Education</li>
					<li>MAEd Major in English Language Teaching</li>
					<li>MAEd Major in Guidance and Counseling</li>
					<li>MAEd Major in Health Education</li>
					<li>MAEd Major in History Teaching</li>
					<li>MAEd Major in Home Economics</li>
					<li>MAEd Major in Intellectual Disabilities</li>
					<li>MAEd Major in Intellectual Giftedness</li>
					<li>MAEd Major in Library & Information Science</li>
					<li>MAEd Major in Literature (English & Filipino Stream)</li>
					<li>MAEd Major in Mathematics Education</li>
					<li>MAEd Major in Measurement & Evaluation</li>
					<li>MAEd Major in Multilingual Education</li>
					<li>MAEd Major in Music Education</li>
					<li>MAEd Major in Non-Formal Education</li>
					<li>MAEd Major in Pagtuturo ng Filipino</li>
					<li>MAEd Major in Physical Education</li>
					<li>MAEd Major in Reading</li>
					<li>MAEd Major in School Psychology</li>
					<li>MAEd Major in Social Science Teaching</li>
					<li>MAEd Major in Special Education</li>
					<li>MAEd Major in Visual Disabilities</li>
					<li>Master in Educational Technology</li>
					<li>Master in Home Economics Education</li>
					<li>Master in Library and Information Science</li>
					<li>Master in Mathematics Education</li>
					<li>Master in Science Education</li>
					<li>Master of Arts in Library and Information Sciences</li>
					<li>Master of Arts in Linguistics</li>
					<li>Master of Arts in Science Education</li>
					<li>Master of Arts in Science Education major in Biology</li>
					<li>Master of Arts in Science Education major in Chemistry</li>
					<li>Master of Arts in Science Education major in General Science</li>
					<li>Master of Arts in Science Education major in Physics</li>
					<li>Master of Education in Child Study</li>
					<li>Master of Education in Drama Education & Theater Arts</li>
					<li>Master of Education in Educational Management</li>
					<li>Master of Education in Educational Measurement & Evaluation</li>
					<li>Master of Education in Elementary Education</li>
					<li>Master of Education in Guidance & Counseling</li>
					<li>Master of Education in History Teaching</li>
					<li>Master of Education in Music Education</li>
					<li>Master of Education in Non-Formal Education</li>
					<li>Master of Education in Physical Education</li>
					<li>Master of Education in School Psychology</li>
					<li>Master of Education in Social Science Teaching</li>
					<li>Master of Education in Special Education</li>
					<li>Master of Education in Values Education</li>
					<li id="application">Ph.D. in Bilingual Education</li>
					<li>Ph.D. in Curriculum and Instruction</li>
					<li>Ph.D. in Educational Management</li>
					<li>Ph.D. in Filipino</li>
					<li>Ph.D. in Guidance and Counseling</li>
					<li>Ph.D. in Linguistics (Applied Linguistics Stream, Filipino Linguistics & Literature Stream)</li>
					<li>Ph.D. in Literature (English and Filipino Stream)</li>
					<li>Ph.D. in Mathematics Education</li>
					<li>Ph.D. in Reading Education</li>
					<li>Ph.D. in Science Education</li>
				</ul>
			</li>
		</ul>

        <h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
		<ol>
            <li>Fill-out Application Form for Documents</li>
            <li>Present Request Form at the Accounting Office and secure order of payment</li>
            <li>For first-time applicants, a general clearance is required if documents applied for are any of the following: TOR, Diploma, and Evaluation of Grades in the Graduate Level. Secure General Clearance at the Accounting Office. *If not Applicable proceed to STEP 4</li>
            <li>Pay the indicated fee for the request and secure the official receipt of the payment at the Cashier’s Office</li>
            <li>Present Request Form with Official receipt at the Registrar’s Office</li>
        </ol>

		<h3 class="heading3">Contact Information</h3>
		<ul>
			<li>Email: <a href="admissions@pnu.edu.ph">admissions@pnu.edu.ph</a></li>
			<li>Telephone: 3171768 loc. 701/754</li>
			<li>Contact number: (+632) 5317 1768 loc. 753</li>
			<li>Website: <a href="https://www.pnu.edu.ph/">https://www.pnu.edu.ph/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/share/p/Sn9bXeNrrpHAqKbW/?mibextid=oFDknk">https://www.facebook.com/share/p/Sn9bXeNrrpHAqKbW/?mibextid=oFDknk</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>