<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
				<li class="dropdown">
                    <button class="dropbtn">Campuses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#vm">Villamor</a>
                        <a href="#fab">Fernando Air Base</a>
                        <a href="#mab">Mactan Air Base</a>
						<a href="#bab">Basa Air Base</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#shs">For SHS</a>
                        <a href="#transferees">For Transferees</a>
                        <a href="#others">Others</a>
						<a href="#grads">For Graduates</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#application">General</a>
                        <a href="#steps">Step-by-step Process</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Philippine State College of Aeronautics -->
	<div id="shs" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/PSCALogo.png') }}" alt="Philippine State College of Aeronautics" class="univ-logo">
		<h1>Philippine State College of Aeronautics</h1>
		<h2 class="address">Piccio Garden, Pasay, 1630 Metro Manila</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
		<ol>
			<li>
				<h4 id="transferees">FOR GRADUATING SHS STUDENTS</h4>
				<p>Bring the Photocopy of the following:</p>
				<ul>
					<li>Senior High School Card (Grade 11) and/or Recent Grading Period (Grade 12)</li>
					<li>Certificate of Good Moral Character</li>
					<li>2 pcs 1×1 latest colored picture</li>
				</ul>
			</li>
			
			<li>
				<h4 id="others">FOR TRANSFEREES</h4>
				<p>Bring the Photocopy of the following:</p>
				<ul>
					<li>Transcript of Records</li>
					<li>Honorable Dismissal</li>
					<li id="grads">Certificate of Good Moral Character</li>
					<li>2 pcs 1×1 latest colored picture</li>
				</ul>
			</li>
			
			<li>
				<h4>OTHER REQUIREMENTS</h4>
				<ul>
					<li>ISHIHARA Exam Results for InET Courses</li>
				</ul>
			</li>
			
			<li>
				<h4 id="special">GRADUATE PROGRAMS</h4>
				<ul>
					<li>For Admission examination, the applicant must submit/comply with the following requirements</li>
					<li>Certified Photocopy of High School Card of Last Grading Period (for Freshmen)</li>
					<li>Certified Photocopy of Transcript of Records (for transferees)</li>
					<li>Certified Photocopy of Certificate of Good Moral Character</li>
					<li>1 piece 1×1 Latest Colored Picture</li>
					<li>P300.00 Admission Test Fee</li>
					<li>A General Weighted Average of 85% is required for BSAeE (Bachelor of Science in Aeronautical Engineering) and BSAT (Bachelor of Science in Air Transportation) applicants; and without any grade requirement for all other courses.</li>
					<li>For transferees, A Weighted Average of 80% or above in the latest semester they have attended is required.</li>
				</ul>
			</li>
		</ol>

		<h3 class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>
				<h4>Aeronautical Engineering Courses</h4>
				<ul>
					<li id="vm">BS in Aeronautical Engineering.</li>
					<li>BS in Air Transportation Major in Advance Flying.</li>
					<li>BS in Aircraft Maintenance Technology.</li>
					<li>BS in Aviation Electronics Technology.</li>
					<li>Associate in Aircraft Maintenance Technology.</li>
					<li>Associate in Aviation Electronics Technology.</li>
				</ul>
			</li>
		</ul>

        <h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<ul>
			<li>
				<h4>Villamor Campus</h4> 
				<ul>
					<li><strong>Institute of Engineering and Technology</strong>
						<ul>
							<li>BS in Aeronautical Engineering</li>
							<li>BS in Air Transportation
								<p>Major in:</p>
								<ul>
									<li>Advanced Flying</li>
								</ul>
							</li>
							<li>BS in Aircraft Maintenance Technology</li>
							<li>BS in Aviation Electronics Technology</li>
							<li>Associate in Aircraft Maintenance Technology</li>
							<li>Associate in Aviation Electronics Technology</li>
						</ul>
					</li>

					<li><strong>Institute of Liberal Arts and Sciences</strong>
						<ul>
							<li>BS in Aviation Communication
								<p>Major in:</p>
								<ul>
									<li>Flight Operations</li>
								</ul>
							</li>
							<li>BS in Aviation Tourism
								<p>Major in:</p>
								<ul>
									<li>Travel Management</li>
								</ul>
							</li>
							<li>BS in Aviation Logistics</li>
							<li>BS in Aviation Safety and Security Management</li>
						</ul>
					</li>

					<li id="fab"><strong>Institute of Computer Studies</strong>
						<ul>
							<li>BS in Aviation Information Technology</li>
							<li>BS in Aviation Information System</li>
						</ul>
					</li>

					<li><strong>Institute of Graduate Studies</strong>
						<ul>
							<li>Master of Education in Aeronautical Management</li>
							<li>Master in Public Administration Major in Government and Airport Administration</li>
						</ul>
					</li>
				</ul>
			</li>

			<li>
				<h4 id="mab">Fernando Air Base Campus</h4>
				<ul>
					<li><strong>Institute of Engineering and Technology</strong>
						<ul>
							<li>Associate in Aircraft Maintenance Technology</li>
							<li>Associate in Aviation Electronics Technology</li>
							<li>BS in Aircraft Maintenance Technology</li>
							<li>BS in Aviation Electronics Technology</li>
						</ul>
					</li>
				</ul>
			</li>
			
			<li>
				<h4 id="bab">Mactan Air Base Campus</h4>
				<ul>
					<li><strong>Institute of Engineering and Technology</strong>
						<ul>
							<li>Associate in Aircraft Maintenance Technology</li>
							<li>Associate in Aviation Electronics Technology</li>
							<li>BS in Aircraft Maintenance Technology</li>
							<li>BS in Aviation Electronics Technology</li>
						</ul>
					</li>
				</ul>
			</li>
			
			<li>
				<h4 id="application">Basa Air Base Campus</h4>
				<ul>
					<li><strong>Institute of Engineering and Technology</strong>
						<ul>
							<li>Associate in Aircraft Maintenance Technology</li>
							<li>Associate in Aviation Electronics Technology</li>
							<li>BS in Aircraft Maintenance Technology</li>
							<li>BS in Aviation Electronics Technology</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
        
		<h3 id="steps" class="heading3">Application Process</h3> <!-- Application Process --> 
		<ol>
			<li>Accomplish the online application form.</li>
			<li>Prepare and scan all required documents.</li>
			<li>Submit the accomplished application form and scanned documents online.</li>
			<li>Wait for the email notification for the schedule of the admission test and interview.</li>
			<li>Take the admission test and interview.</li>
			<li>Wait for the admission decision.</li>
		</ol>
		
		<h3>Step by Step Application Process</h3>  
		<ul>
			<li>
				<h4>Step 1: Submission of Admission Requirements</h4>
				<p><strong>Freshmen</strong></p>  
				<ul>
					<li>Clear copy (jpeg/pdf) of the following documents (to be uploaded in the ISMS <a href="https://philsca.pinnacle.com.ph/aims">link</a>):
						<ul>
							<li>Senior High School card (Grade 11 & 1st Semester of Grade 12)</li>
							<li>Certificate of Good Moral Character</li>
							<li>1×1 Latest colored picture in white background</li>
						</ul>
					</li>
				</ul>

				<p><strong>Transferees</strong></p>  
				<ul>
					<li>Clear copy (jpeg/pdf) of the following documents (to be uploaded in the ISMS):
						<ul>
							<li>Transcript of Records (for evaluation purposes subject to existing policy on validation and accreditation of courses)</li>
							<li>Honorable Dismissal</li>
							<li>Certificate of Good Moral Character</li>
							<li>1×1 Latest colored picture in white background</li>
						</ul>
					</li>
				</ul>

				<p><strong>Reminder:</strong> An official list of qualified applicants for interview will be released. A notice for an interview will be sent to the applicant's email.</p> 
			</li>

			<li>
				<h4>Step 2: Interview Additional Requirements</h4>
				<p>During the interview, the following additional requirements must be submitted (to be uploaded in the ISMS) by applicants in the following programs:</p>
				<ul>
					<li>BS Air Transportation</li>
					<li>BS Aeronautical Engineering</li>
					<li>BS Aircraft Maintenance Technology</li>
					<li>BS Aviation Electronics Technology</li>
					<li>BS Aviation Communication major in Flight Operation</li>
				</ul>
				<p id="contacts">Additional requirements:</p>
				<ul>
					<li>An Ishihara Test (Negative for Colorblindness) from any DOH-Accredited Clinic or Hospital.</li>
					<li>Neuro-psychological Test result from any DOH Accredited Clinic or Hospital (with diagnosis) for applicants in the BS Air Transportation Program.</li>
				</ul>
				<p><strong>Reminder:</strong> A notice of Acceptance will be sent through e-mail to successful applicants.</p>
			</li>

			<li>
				<h4>Step 3: Enrollment</h4>
			</li>
		</ul>
	
		<h3 class="heading3">Contact Information</h3> <!-- Contact Information -->  
		<ul>
			<li>Email: <a href="mailto:opres.philsca@yahoo.com.ph">opres.philsca@yahoo.com.ph</a></li>
			<li>Villamor Campus - Contact No.: 0960-562-9180
				<ul>
					<li>Email: <a href="mailto:philscaadmission.villamor@gmail.com">philscaadmission.villamor@gmail.com</a></li>
				</ul>
			</li>
			<li>FAB Campus - Contact No.: 0997-267-1791
				<ul>
					<li>Email: <a href="mailto:osaphilscafab@gmail.com">osaphilscafab@gmail.com</a></li>
				</ul>
			</li>
			<li>Mactan & Medellin Campus - Contact No.: 0995-912-5834
				<ul>
					<li>Email: <a href="mailto:philscamactan.osa@gmail.com">philscamactan.osa@gmail.com</a></li>
				</ul>
			</li>
			<li>Website - <a href="https://www.philsca.edu.ph/">https://www.philsca.edu.ph/</a></li>
			<li>BASA Campus - Contact No.: 0968-551-6451
				<ul>
					<li>Email: <a href="mailto:admission.bab@philsca.edu.ph">admission.bab@philsca.edu.ph</a></li>
				</ul>
			</li>
		</ul>
	</div>

    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>