<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\ALY\Downloads\PamantasanPH_LOGO.png">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/regions.css">-->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='styles/regions.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header> <!-- Navigation -->
      <div class="logo">
        <!--<img src="C:\Users\ALY\Downloads\PamantasanPH_LOGO.png" alt="PamantasanPH Logo">-->
        <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
        <span>PamantasanPH</span>
      </div>
      <div class="search">
        <input type="text" placeholder="Search">
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="user">
          <i class="fa-solid fa-moon moon-icon"></i>
          <div class="gradient-container">
            <span>Username</span>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
        </div>
    </header>
  
    <main>
      <aside> <!-- Sidebar -->
        <div class="create-item">
          <span>Create New List</span>
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <div class="sidebar-item">
          <!--<a href="dashboard.html">-->
          <a href="{{ url_for('dashboard') }}">
            <i class="fa-solid fa-box-archive"></i>
            <span>Dashboard</span>
          </a>
        </div>
        <div id="univs" class="sidebar-item">
          <!--<a href="regions.html">-->
          <a href="{{ url_for('universities') }}">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Universities</span>
          </a>
        </div>
        <div class="sidebar-item">
          <!--<a href="map.html">-->
          <a href="{{ url_for('map') }}">
            <i class="fa-solid fa-map-location-dot"></i>
            <span>Map</span>
          </a>
        </div>
        <div class="sidebar-item">
          <!--<a href="compare.html">-->
          <a href="{{ url_for('compare') }}">
            <i class="fa-solid fa-code-compare"></i>
            <span>Compare</span>
          </a>
        </div>
        <div class="sidebar-item">
          <!--<a href="teams.html">-->
          <a href="{{ url_for('teams') }}">
            <i class="fa-solid fa-users-rectangle"></i>
            <span>Team</span>
          </a>
        </div>
        <div class="subscribe">
          <h3>Subscribe to our Newsletter!</h3>
          <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
          <input type="email" placeholder="Email">
          <button>Subscribe</button>
        </div>
        <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
      </aside>

          <div class="locations">
            <section>
              <h2>Choose your location</h2>
              <div class="region-grid">
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\ILOCOS.jpg" alt="Ilocos Region">
                      <span>Ilocos Region</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\CAGAYAN.jpg" alt="Cagayan Valley">
                      <span>Cagayan Valley</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\CENTRAL_LUZON.jpg" alt="Central Luzon">
                      <span>Central Luzon</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\CALABARZON.jpg" alt="CALABARZON">
                      <span>CALABARZON</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\MIMAROPA.jpg" alt="MIMAROPA">
                      <span>MIMAROPA</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\BICOL.jpg" alt="Bicol Region">
                      <span>Bicol Region</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\WESTERN_VISAYAS.jpg" alt="Western Visayas">
                      <span>Western Visayas</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\CENTRAL_VISAYAS.jpg" alt="Central Visayas">
                      <span>Central Visayas</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\EASTERN_VISAYAS.jpg" alt="Eastern Visayas">
                      <span>Eastern Visayas</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\ZAMBOANGA_PENINSULA.jpg" alt="Zamboanga Peninsula">
                      <span>Zamboanga Peninsula</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\NORTHERN_MINDANAO.jpg" alt="Northern Mindanao">
                      <span>Northern Mindanao</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\DAVAO.jpg" alt="Davao Region">
                      <span>Davao Region</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\SOCCSKSARGEN.jpg" alt="SOCCSKSARGEN">
                      <span>SOCCSKSARGEN</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\CARAGA.jpg" alt="Caraga">
                      <span>Caraga</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\NCR.jpg" alt="NCR">
                      <span>NCR</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\CAR.jpg" alt="CAR">
                      <span>CAR</span>
                  </div>
                  <div class="region-card">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\locs\BARMM.jpg" alt="BARMM">
                      <span>BARMM</span>
                  </div>
              </div>
            </section>
        </div>
      </main>
    </div>
</body>
</html>
