<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/regionsU.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
           </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <div class="container">
        <aside>
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <a href="{{ url_for('compare') }}">
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
        </aside>

        <main class="main-content">
            <div class="univs">
                <section>
                    <h2>MIMAROPA REGION (REGION 4-B)</h2>
                    <div class="universities-grid"> 
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='bcc') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/bccBG.JPG') }}" alt="Baco Community College">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">Baco Community College</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='ccc') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/cccBG.JPG') }}" alt="City College of Calapan">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">City College of Calapan</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='msc') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/msc1.jpg') }}" alt="Marinduque State College">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">Marinduque State College</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='msu') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/msuBG.jpg') }}" alt="Mindoro State University">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">Mindoro State University</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='omsc') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/omscBG.JPG') }}" alt="Occidental Mindoro State College">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">Occidental Mindoro State College</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='psu') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/psuBG.jpg') }}" alt="Palawan State University">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">Palawan State University</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='pcc') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/pccBG.JPG') }}" alt="Pola Community College">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">Pola Community College</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='rsu') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/rsuBG.JPG') }}" alt="Romblon State University">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">Romblon State University</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                        <div class="university-card">
                            <a href="{{ url_for('universityDeets', university_id='wmsu') }}">
                                <div class="bg-img">
                                    <img src="{{ url_for('static', filename='images/logos/bg_img/wpuBG.JPG') }}" alt="Western Philippines University">
                                </div>
                                <div class="overlay">
                                    <span class="school-name">Western Philippines University</span>
                                </div>
                            </a>
                            <button class="bookmark-btn">
                                <i class="fa-solid fa-bookmark"></i>
                            </button>
                        </div>
                    </div>                    
                </section>
            </div>
        </main> 
    </div>

    <script src="{{ url_for('static', filename='regionsU.js') }}"></script>
</body>
</html>
