<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logos/website/finallogo.png">
    <title>PamantasanPH</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/regions.css">
    <!-- <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='styles/regions.css') }}" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header> <!-- Navigation -->
        <div class="logo">
            <img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
           </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>Username</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <div class="container"> <!-- Main Container -->
        <aside> <!-- Sidebar -->
            <div class="create-item">
                <span>Create New List</span>
                <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="sidebar-item">
                <a href="dashboard.html">
                    <i class="fa-solid fa-box-archive"></i>
                    <span>Dashboard</span>
                </a>
            </div>
            <div id="regions" class="sidebar-item">
                <a href="regions.html">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <span>Universities</span>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="map.html">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <span>Map</span>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="compare.html">
                    <i class="fa-solid fa-code-compare"></i>
                    <span>Compare</span>
                </a>
            </div>
            <div class="sidebar-item">
                <a href="teams.html">
                    <i class="fa-solid fa-users-rectangle"></i>
                    <span>Team</span>
                </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <input type="email" placeholder="Email">
                <button>Subscribe</button>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
        </aside>
    
    <main class="main-content"> <!-- Main Content -->
      <div class="locations">
        <section>
          <h2>Choose your location</h2>
          <div class="region-grid">
            <a href="../templates/region1.html" class="region-card">
                <img src="../static/images/regions/ILOCOS.jpg" alt="Ilocos Region">
                <span>Ilocos Region</span>
            </a>
            <a href="../templates/region2.html" class="region-card">
                <img src="../static/images/regions/CAGAYAN.jpg" alt="Cagayan Valley">
                <span>Cagayan Valley</span>
            </a>
            <a href="../templates/region3.html" class="region-card">
                <img src="../static/images/regions/CENTRAL_LUZON.jpg" alt="Central Luzon">
                <span>Central Luzon</span>
            </a>
            <a href="../templates/region4a.html" class="region-card">
                <img src="../static/images/regions/CALABARZON.jpg" alt="CALABARZON">
                <span>CALABARZON</span>
            </a>
            <a href="../templates/region4b.html" class="region-card">
                <img src="../static/images/regions/MIMAROPA.jpg" alt="MIMAROPA">
                <span>MIMAROPA</span>
            </a>
            <a href="../templates/region5.html" class="region-card">
                <img src="../static/images/regions/BICOL.jpg" alt="Bicol Region">
                <span>Bicol Region</span>
            </a>
            <a href="../templates/region6.html" class="region-card">
                <img src="../static/images/regions/WESTERN_VISAYAS.jpg" alt="Western Visayas">
                <span>Western Visayas</span>
            </a>
            <a href="../templates/region7.html" class="region-card">
                <img src="../static/images/regions/CENTRAL_VISAYAS.jpg" alt="Central Visayas">
                <span>Central Visayas</span>
            </a>
            <a href="../templates/region8.html" class="region-card">
                <img src="../static/images/regions/EASTERN_VISAYAS.jpg" alt="Eastern Visayas">
                <span>Eastern Visayas</span>
            </a>
            <a href="../templates/region9.html" class="region-card">
                <img src="../static/images/regions/ZAMBOANGA_PENINSULA.jpg" alt="Zamboanga Peninsula">
                <span>Zamboanga Peninsula</span>
            </a>
            <a href="../templates/region10.html" class="region-card">
                <img src="../static/images/regions/NORTHERN_MINDANAO.jpg" alt="Northern Mindanao">
                <span>Northern Mindanao</span>
            </a>
            <a href="../templates/region11.html" class="region-card">
                <img src="../static/images/regions/DAVAO.jpg" alt="Davao Region">
                <span>Davao Region</span>
            </a>
            <a href="../templates/region12.html" class="region-card">
                <img src="../static/images/regions/SOCCSKSARGEN.jpg" alt="SOCCSKSARGEN">
                <span>SOCCSKSARGEN</span>
            </a>
            <a href="../templates/region13.html" class="region-card">
                <img src="../static/images/regions/CARAGA.jpg" alt="Caraga">
                <span>Caraga</span>
            </a>
            <a href="../templates/ncr.html" class="region-card">
                <img src="../static/images/regions/NCR.jpg" alt="NCR">
                <span>NCR</span>
            </a>
            <a href="../templates/cordillera.html" class="region-card">
                <img src="../static/images/regions/CAR.jpg" alt="CAR">
                <span>CAR</span>
            </a>
            <a href="../templates/bangsamoro.html" class="region-card">
                <img src="../static/images/regions/BARMM.jpg" alt="BARMM">
                <span>BARMM</span>
            </a>
        </div>
    </main>
    </div>

    <!-- <script src="../static/js/regionsU.js"></script> -->
</body>
</html>
