<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li> 
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 

    <div class="main-content">
        <div>
            <h2>Southern Philippines Agriculture, Business, Marine and Aquatic School of Technology</h2>
            <p>Digos City, Davao del Sur, Philippines</p>
            <div class="status">
                <i class="status-icon fa fa-circle" id="status-icon"></i>
                <span class="close" id="status-text">NOT YET OPENED</span>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Admission Requirements</h3>
            <ul>
                <li class="sub-section-title">FRESHMEN</li>
                <ul>
                    <li>Report Card (Form 137)</li>
                    <li>Birth Certificate (NSO Authenticated)</li>
                    <li>Good Moral Certificate</li>
                    <li>Four (4) 1×1 ID pictures</li>
                    <li>Medical Certificate</li>
                    <li>Entrance Examination Results</li>
                    <li>One (1) long brown folder</li>
                </ul>
                <li class="sub-section-title">TRANSFEREES</li>
                <ul>
                    <li>Certificate of transfer credential, preferably accompanied by an informative copy of the transcript of records</li>
                    <li>Good Moral Certificate from the previous school</li>
                    <li>Honorable Dismissal</li>
                    <li>Birth Certificate (NSO Authenticated)</li>
                    <li>Medical Certificate</li>
                    <li>Four (4) 1×1 ID pictures</li>
                    <li>Entrance Examination Results</li>
                    <li>One (1) long brown folder</li>
                </ul>
                <li class="sub-section-title">Returning Students (Returnees)</li>
                <ul>
                    <li>Shall be considered for readmission depending on their previous scholastic performance; must have complied with all other requirements for readmission.</li>
                </ul>
            </ul>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">University Specializations</h3>
            <p>N/A</p>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">University Courses</h3>
            <ul>
                <li class="sub-section-title">UNDERGRADUATE PROGRAMS</li>
                <ul>
                    <li>BSF Bachelor of Science in Fisheries</li>
                    <li>DFT Diploma in Fishery Technology</li>
                    <li>BSMB Bachelor of Science in Marine Biodiversity</li>
                    <li>BSES Bachelor of Science in Environmental Science</li>
                    <li>BSAB Bachelor of Science in Agribusiness</li>
                    <li>BAT Bachelor of Agricultural Technology</li>
                    <li>DAT Diploma in Agricultural Technology</li>
                    <li>BSA Bachelor of Science in Agriculture</li>
                    <li>BSABE Bachelor of Science in Agricultural and Biosystems Engineering</li>
                    <li>BSDC Bachelor in Development Communication</li>
                    <li>BSED Bachelor in Secondary Education - major in: Mathematics, Biological Science, Science</li>
                    <li>BSED Major in English</li>
                    <li>BEED Bachelor in Elementary Education</li>
                    <li>BTLED Bachelor in Technological Livelihood Education - major in: Agri-Fishery Arts, Home Economics</li>
                    <li>BPA Bachelor in Public Administration</li>
                    <li>BSIT Bachelor of Science in Information Technology</li>
                    <li>ACT Associate in Computer Technology</li>
                    <li>BSAIS Bachelor of Science in Accounting Information System</li>
                    <li>BSC Bachelor of Science in Criminology</li>
                    <li>BSSW Bachelor of Science in Social Work</li>
                    <li>BSOA Bachelor of Science in Office Administration</li>
                </ul>
                <li class="sub-section-title">GRADUATE STUDIES</li>
                <ul>
                    <li>MAEd-LT Master of Arts in Education</li>
                    <li>MAEd-MT Master of Arts in Education</li>
                    <li>MAEd-EM Master of Arts in Education</li>
                    <li>MAEd-ST Master of Arts in Education</li>
                    <li>MBA Master of Business Administration</li>
                    <li>MSF Master of Science in Fisheries</li>
                    <li>MSMB Master of Science in Marine Biodiversity</li>
                </ul>
            </ul>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Application Process</h3>
            <ul>
                <li class="sub-section-title">REGISTRATION / CROSS REGISTRATION</li>
                <ul>
                    <li>He/She has paid his/her tuition (in full or in installment) and other fees;</li>
                    <li>His/Her official receipt of payment had been validated;</li>
                    <li>He/She has submitted his/her fully accomplished registration certificate or green form and other requirements to the Registrar’s Office; and</li>
                    <li>The "Copy for Student" portion of his registration certificate or green form has been properly stamped Registered and initialed by the receiving clerk.</li>
                    <li>No student shall be registered later than the date specified in the enrollment period, except under reasonable and justifiable circumstances to be determined by the College Dean who then makes his/her recommendation to the Vice President for Academic Affairs.</li>
                    <li>A transferee student seeking enrollment in the college shall be given a temporary registration of 15-day period to comply the necessary requirements for enrollment. However, if not complied within the prescribed period, the student shall be denied from his/her registration in the college.</li>
                    <li>A student of the College may be authorized by the VP for Academic Affairs with the recommendation of the College Dean and the Department chairman to cross-register in another accredited institution of higher learning if the subject/s he/she needs to enroll in during a given term is/are not offered in the College. Provided that the total number of units of credit for which a student may enroll shall not exceed the maximum allowed by the rules on academic load.</li>
                    <li>A student may be authorized to enroll in other department of the college with the permission of the College Dean as recommended by the department chairman of the respective department in which the student is primarily enrolled. Provided that the total number of units of credit for which a student may enroll in other departments shall not exceed the maximum allowed by the rules on academic load.</li>
                    <li>A student who wants to cross-register in another accredited institution of higher learning, in another campus and in any department in the college shall fill out the CROSS-REGISTRATION FORM.</li>
                    <li>The written authorization for cross registration shall be recorded by the Registrar and shall specifically describe the subjects authorized.</li>
                </ul>
            </ul>
        </div>

        <div class="section">
            <h3 id="special" class="heading3">Contact Information</h3>
            <ul>
                <li>Email Address(es): <a href="mailto:op@spamast.edu.ph">op@spamast.edu.ph</a>, <a href="mailto:mc_ssc@spamast.edu.ph">mc_ssc@spamast.edu.ph</a></li>
                <li>Website(s): <a href="https://spamast.edu.ph/">https://spamast.edu.ph/</a>, <a href="https://www.facebook.com/SpamastAdmission/">https://www.facebook.com/SpamastAdmission/</a></li>
                <li>Phone / Landline Number:</li>
                <ul>
                    <li>(082) 553-8894</li>
                    <li>(082) 276-1234</li>
                </ul>
            </ul>
        </div>
    </div>
</body>
</html>
