<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section>
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#freshmen">Freshmen and Transferees</a>
                                    <a href="#old">Old Students</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#graduate">Graduate Programs</a>
                                    <a href="#postgraduate">Post-graduate Programs</a>
                                    <a href="#undergraduate">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#apply">General</a>
                                    <a href="#exam">Exam Requirements</a>
                                    <a href="#confirmation">Admission Confirmation</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- START -->
                <!-- Catanduanes State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/PUPLogo.png') }}" alt="Surigao del Norte State University" class="univ-logo">
                    <h1>Surigao del Norte State University</h1>
                    <h2 class="address">Narciso Street, Surigao CitSurigao del Norte</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">ON-GOING</span>
                    </div>

                    <h3 id="freshmen" class="heading3">Requirements for Freshmen and Transferees</h3>
                    <ul>
                        <li>High School Report Card (Form 138)</li>
                        <li>Certificate of Good Moral Character</li>
                        <li>Birth Certificate (PSA)</li>
                        <li>Health Certificate</li>
                        <li>1x1 ID Picture</li>
                        <li>Honorable Dismissal (for Transferees)</li>
                    </ul>
                    <p>Note: All above requirements must be submitted upon filling the application for admission. For more information please see campus registrar or Romy Jun A Sonico, DTE Campus Director.</p>
                
                    <h2 id="old">Requirements for Old Students</h2>
                    <p>Clearance</p>

                    <h3 id="special" class="heading3" >University Specializations</h3>
                    <p>N/A</p>
               
            
                    <h3 id="graduate" class="heading3">University Courses</h3>
                    <h3>Graduate Programs</h3>
                    <ul>
                        <li>DOCTOR PHILOSOPHY IN EDUCATION with specialization in Technology Management</li>
                        <li>MASTER IN INDUSTRIAL EDUCATION (MIE) Major in: Automotive Technology, Civil Technology, Electrical Technology, Mechanical Technology, Electronics Technology, Architectural Drafting Technology, Foods Technology, and Industrial Technology</li>
                        <li>MASTER OF ARTS IN MATHEMATICS EDUCATION</li>
                        <li>MASTER OF ARTS IN EDUCATION Major in: General Science, English, and Filipino</li>
                        <li>MASTER IN INFORMATION TECHNOLOGY</li>
                    </ul>
                
                    <h3 id="postgraduate" >Post-graduate Programs</h3>
                    <ul>
                        <li>Teacher Certificate Curriculum (TCC)</li>
                    </ul>
               
                    <h3  id="undergraduate">Undergraduate Programs</h3>
                    <ul>
                        <li>Bachelor of Science in Civil Engineering (BSCE)</li>
                        <li>Bachelor of Science in Electronics Engineering (BSECE)</li>
                        <li>Bachelor of Science in Electrical Engineering (BSEE)</li>
                        <li>Bachelor of Automotive Engineering Technology</li>
                        <li>Bachelor of Electrical Engineering Technology</li>
                        <li>Bachelor of Electronics Engineering Technology</li>
                        <li>Bachelor of Architectural Engineering Technology</li>
                        <li>Bachelor of Mechanical Engineering Technology with Concentration in: Mechanical Technology, Refrigeration and Air-Conditioning Technology, Welding and Fabrication Technology</li>
                        <li>Bachelor of Science in Hotel and Restaurant Management (BSHRM)</li>
                        <li>Bachelor of Science in Information System (BSIS)</li>
                        <li>Bachelor of Science in Information Technology (BS Info Tech)</li>
                        <li>Bachelor of Science in Computer Science (BSCS)</li>
                        <li>Bachelor of Technical Teacher Education (BTTE) Major: Architectural Drafting Technology, Automotive Technology, Foods and Services Management, Mechanical Technology, Refrigeration and Air- Conditioning Technology, Welding and Fabrication Technology</li>
                        <li>Bachelor of Secondary Education (BSED) Major: English, Filipino, Physical Science, Biological Science, Mathematics</li>
                        <li>Bachelor of Elementary Education (BEED)</li>
                        <li>Bachelor of Science in Environmental Science (BSES)</li>
                        <li>Bachelor of Science in Mathematics (BS Math)</li>
                        <li>Bachelor of Arts in English Languages and Literature (AB-ELL)</li>
                    </ul>
            
                    <h2 id="apply" class="container">Application Process</h2>
                    <p>Apply: <a href="https://admission.ssct.edu.ph">https://admission.ssct.edu.ph</a></p>
                    <p>Bring the necessary requirements</p>
                    <p>Prepare for the admission test</p>
                
                    <h2 id="exam" class="container">Exam Requirements</h2>
                    <ol>
                        <li>Application Confirmation - If applied ONLINE, please PRINT OUT your accomplished application permits sent to your email. If applied ONSITE/WALK-IN APPLICANTS, make sure to bring 1 pc. 1x1 formal ID picture with white background. (You will only be accommodated if there are vacant slots)</li>
                        <li>1 PC. 1x1 ID PICTURE with white background. (write your complete name at the back)</li>
                        <li>MONGOL #2 PENCIL (strictly NO other pencil allowed.)</li>
                        <li>ORDINARY BALLPEN</li>
                        <li>ERASER, GLUE, and SHARPENER</li>
                        <li>UMBRELLA AND WATER (for your convenience)</li>
                    </ol>
                    <p>FOR THOSE WHO DID NOT RECEIVED THEIR APPLICATION FORMS, YOU MAY ACCESS THEM THRU THIS URL: <a href="https://drive.google.com/drive/folders/18D1WtxORkvYTo27bz0Vcov6vfG4MjWR4?usp=sharing">https://drive.google.com/drive/folders/18D1WtxORkvYTo27bz0Vcov6vfG4MjWR4?usp=sharing</a> make sure to search for your names.</p>
                 
                    <h2 id="confirmation" class="container">Admission Confirmation</h2>
                    <p>To view your Final Admission Confirmation. The printed Admission Application Form will serve as your Admission Examination Permit.</p>
                    <p>FOLLOW THE STEPS BELOW FOR YOUR GUIDANCE:</p>
                    <p><strong>How to search for your name:</strong></p>
                    <ol>
                        <li>Locate the file (the file name is the date when you applied)</li>
                        <li>Open the file (you cannot search your name when the file is not opened)</li>
                        <li>Search your name (click the three dots on the upper right corner and click Find or Ctrl+F)</li>
                    </ol>
                    <p><strong>How to print:</strong></p>
                    <ol>
                        <li>Download the file (the file with your application)</li>
                        <li>Print only the page with your name</li>
                        <li>Print with short bond paper</li>
                    </ol>
                    <p><strong>Note:</strong> The printed form serves as your PERMIT upon taking the Admission Exam. However, please note that although blank forms have been provided, it does not imply that you should fill them out with a ballpoint pen (as we have not instructed you to do so) or attempt to "edit" them to input your information. Please adhere strictly to the provided instructions.</p>
                        <h3  id="contacts" class="heading3">Contact Information</h3>
                        <ul>
                            <li>Website: <a href="https://snsu.edu.ph">https://snsu.edu.ph</a></li>
                            <li>Email: <a href="mailto:ssctdc.studentaffairs@gmail.com">ssctdc.studentaffairs@gmail.com</a></li>
                        </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
