<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#quali">Qualifications</a>
                        <a href="#docu">Documentary</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#undergrad">Undergraduate Programs</a>
						<a href="#grads">Graduate Programs</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Taguig City University -->
	<div id="quali" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/TCULogo.png') }}" alt="Taguig City University" class="univ-logo">
		<h1>Taguig City University</h1>
		<h2 class="address">Address - Gen. Santos Avenue, Central Bicutan, 1631</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
		<h3 id="docu">Qualifications</h3> 
		  <ol>
			<li>Applicant must be a resident of Taguig City (including “EMBO” barangays) for at least three (3) years before the application</li>
			<li>With at least one parent a registered voter of the City (or EMBO)</li>
			<li>If the applicant is 18 years old or older, the applicant must be a registered voter of the City (including EMBO)</li>
			<li>Currently enrolled or graduate of public or private senior high school (SHS) in Taguig (or EMBO) or nearby and contiguous LGU in Metro Manila.</li>
		  </ol>

		<h4>DOCUMENTARY REQUIREMENTS</h4>
		<p>Prepare TWO (2) SETS in a long brown envelope</p>
		<ol>
		  <li>SET 1 (all photocopies) – to be submitted to TCU Admission Office</li>
		  <li>SET 2 (original copies) – for verification
			<ul>
				<li>Grade 11 Report Card duly signed by the School Principal</li>
				<li>Grade 12 Report Card (1st semester only for graduating students) duly signed by the School Principal</li>
				<li>Certificate of Good Moral Character issued after February 2024</li>
				<li>Recent two (2) pieces 2x2 picture in collared shirt with white background and name tag (Ex. Dela Crus, Juan Tan)</li>
				<li id="special">Birth certificate (issued by PSA)</li>
				<li>Voter’s certification issued by the COMELEC showing that one of the parents of the applicant is a registered voter of the city. Voter’s Certification of the applicant if eighteen (18) years old or olders. (Certification must be issued after May 2022)</li>
				<li>ALS Certificate (if ALS Graduate)</li>
				<li>Death Certificate (parents, if claimed to be deceased, issued by PSA)</li>
				<li>Work contract/Visa/ Passport (if any or both parents are OFWs)</li>
				<li>COMELEC Stub issued after May 2022 Elections (for applicants/ or parents who are newly registered or those who have applied for reactivation)</li>
			</ul>
		  </li>
		</ol>
		
		<h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>Criminology and Education</li>
		</ul>

        <h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<h4>UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li>Bachelor of Science in Business Administration major in Marketing Management</li>
		  <li>Bachelor of Science in Business Management</li>
		  <li>Bachelor of Science in Civil Engineering</li>
		  <li>Bachelor of Science in Computer Science</li>
		  <li>Bachelor of Science in Criminology</li>
		  <li>Bachelor of Science in Entrepreneurial Management</li>
		  <li>Bachelor of Science in Hotel and Restaurant Management</li>
		  <li>Bachelor of Science in Industrial Engineering</li>
		  <li>Bachelor of Science in Industrial Technology major in:
			<ul>
				<li>Automotive Technology</li>
				<li>Electrical Technology</li>
				<li>Electronics Technology</li>
				<li>Refrigeration and Air-conditioning Technology</li>
			</ul>
		  </li>
		  <li>Bachelor of Science in Mechanical Engineering</li>
		  <li>Bachelor of Science in Office Administration</li>
		  <li>Bachelor of Science in Office Management</li>
		  <li>Bachelor of Science in Psychology</li>
		  <li id="grads">Bachelor of Science in Public Administration</li>
		  <li>Bachelor of Science in Social Work</li>
		  <li>Bachelor of Science in Tourism Management</li>
		  <li>Bachelor of Science in Travel Management</li>
		  <li>Bachelor of Science Elementary Education</li>
		  <li>Bachelor of Science Secondary Education major in:
			<ul>
				<li>English</li>
				<li>Mathematics</li>
				<li>Physical Education</li>
				<li>Science</li>
			</ul>
		  </li>
		</ul>

		<h4 id="application">GRADUATE PROGRAMS</h4>
		<ul>
			<li>Master of Arts in Educational Management</li>
			<li>Master of Business Administration</li>
			<li>Master of Public Administration</li>
			<li>Master of Science in Criminal Justice</li>
		</ul>

        <h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
		<ol>
		  <li>Enter at TCU Gate 2 (in front of UBNHS). Show the screenshot of your Proof of Application to the Guard on duty</li>
		  <li>Go to the TCU Basement of the Academic Building. Check and verify your name in the masterlist ONLINE or its printed copy at the lobby. If you are NOT in the list, it means we did not receive your online application, and you will NOT be entertained. Then proceed to the Left Wing Auditorium to fill out the TCU Admission Application Checklist.</li>
		  <li>Proceed to the University Auditorium and present your original documents and its photocopies to the validator for evaluation and validation.</li>
		  <li>Once the documents have been validated and received by teh validators TEST PERMIT will be issued to you by the MIS Personnel.</li>
		</ol>

		<h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="taguigcityuniversity072220@gmail.com">taguigcityuniversity072220@gmail.com</a></li>
			<li>Telephone: 26358300 / (02) 8635 8300</li>
			<li>Mobile: 0961 887 2644</li> 
			<li>Website: <a href="https://tcu.edu.ph">https://tcu.edu.ph/</a></li>
			<li>University Announcement: <a href=" https://www.facebook.com/TaguigCityUniversity/"> https://www.facebook.com/TaguigCityUniversity/</a></li>
		</ul>
	</div>

	<footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>