<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#quali">Qualifications</a>
                        <a href="#docu">Documentary</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#undergrad">Undergraduate Programs</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Universidad de Manila -->
	<div id="quali" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/UDMLogo.png') }}" alt="Universidad de Manila" class="univ-logo">
		<h1>Universidad de Manila</h1>
		<h2 class="address">Cecilia Muñoz-Palma cor. Antonio J. Villegas Streets, Manila, Philippines</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
		<h4 id="docu">MUST BE:</h4>
		<ol>
			<li>Bona fide resident of Manila</li>
			<li>Graduates of 2019 (both SHS and Freshman)</li>
			<li>High School graduate on or before June 1, 2015 requires Bridging Programs for General Education</li>
			<li>Parent must be a REGISTERED VOTER OR TAXPAYER in MANILA</li>
			<li>Must be physically fit</li>
			<li>Must pass the UDM Admission Test</li>
		  </ol>

		<h4>REQUIREMENTS:</h4>
		<ol>
			<li>Fill out digital application forms at <a href="reg.udm.edu.ph/admission/college">reg.udm.edu.ph/admission/college</a> or <a href="reg.udm.edu.ph/shs">reg.udm.edu.ph/shs</a></li>
			<li>Send Copies of the following to (For incoming 1st year college):
				<ul>
					<li>admission-stem@udm.edu.ph</li>
					<li>admission-abm@udm.edu.ph</li>
					<li>admission-als@udm.edu.ph</li>
					<li>admission-ga@udm.edu.ph</li>
					<li>admission-he@udm.edu.ph</li>
					<li>admission-humss@udm.edu.ph</li>
					<li>admission-ict@udm.edu.ph</li>
					<li>admission-tvl@udm.edu.ph</li>
				</ul>
			</li>
			<li id="special">Birth Certificate (NSO/PSO)</li>
			<li>Parents latest ITR or Voter’s I.D. or Voter’s Affidavit</li>
			<li>Report Card – with 2nd quarter grades (for the 1st Batch) certified correct by the Guidance and/or</li>
			<li>Principal with GWA of 83%</li>
			<li id="undergrad">Report Card – with complete grades (for the 2nd-3rd Batch)</li>
			<li>Certification of Good Moral Character</li>
			<li>2 pcs. of 1 ½ X 1 ½ colored I.D. picture with name tag (white background)</li>
			<li>For PEPT, ALS, NFEA&E –Certificate of Passing and Report Card</li>
		</ol>

		<h3 class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>Criminology and Health Sciences Programs</li>
		</ul>

        <h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<h4>UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li><strong>College of Engineering & Technology</strong>
			<ul>
				<li>Bachelor in Electronics Engineering</li>
				<li>Bachelor of Science in Computer Engineering</li>
				<li>Bachelor in Information Technology with Specialization in Cybersecurity</li>
				<li>Bachelor in Information Technology with Specialization in Data Science</li>
				<li>Bachelor of Science in Information Technology</li>
			</ul>
		   </li>
		  <li><strong>College of Health Sciences</strong>
			<ul>
				<li>Bachelor of Science in Nursing</li>
				<li>Bachelor of Science in Physical Therapy</li>
			</ul>
		  </li>
		  <li><strong>College of Criminal Justice</strong>
			<ul>
				<li>Bachelor of Science in Criminology</li>
			</ul>
		  </li>
		  <li><strong>College of Education</strong>
			<li>Bachelor in Physical Education Major in School of Physical Education</li>
			<li>BSED Major in English</li>
			<li>BSED Major in General Science</li>
			<li>BSED Major in Mathematics</li>
			<li>BSED Major in Social Studies</li>
			<li>BTVTE Major in Automotive (2nd-4th Year)</li>
			<li>BTVTE Major in Computer Programming Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Electrical Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Electronics Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Food Service Management Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Garments Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Hotel and Restaurant Services Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Heating, Ventilation and Air Conditioning Technology (2nd-4th Year)</li>
		  </li>
		  <li><strong>College of Business Administration</strong>
			<ul>
				<li>Bachelor of Science in Accountancy</li>
				<li>Bachelor of Science in Accounting Information System</li>
				<li>BS in Business Administration Major in Economics</li>
				<li>BS in Business Administration Major in Human Resource Development Management</li>
				<li>BS in Business Administration Major in Marketing Management</li>
				<li>Bachelor of Science in Entrepreneurship</li>
			</ul>
		  </li>
		  <li><strong>College of Law</strong>
			<li>Juris Doctor</li>
		  </li>
		  <li><strong>College of Arts and Sciences</strong>
			<ul>
				<li>Bachelor of Arts in Communication</li>
				<li>Bachelor of Arts in Political Science</li>
				<li>Bachelor in Public Administration</li>
				<li>Bachelor in Public Administration – Special Program</li>
				<li>BS in Mathematics Major in Computer Science</li>
				<li>Bachelor of Science in Psychology</li>
				<li>Bachelor of Science in Social Work</li>
			</ul>
		  </li>
		  <li id="application"><strong>Institute of Graduate & Professional Studies</strong>
			<ul>
				<li>Master of Arts in Education (MAEd) major in Educational Administration</li>
				<li>Master in Business Administration (MBA)</li>
				<li>Master in Public Management and Governance (MPMG)</li>
				<li>Master of Science in Criminal Justice (MSCJ) with specialization in Criminology</li>
				<li>Doctor of Philosophy (PhD) major in Educational Policy and Administration</li>
			</ul>
		  </li>
		</ul>
		  
        <h3 id="contacts" class="heading3">Application Process</h3> <!-- Application Process -->
		<h4>PROCEDURES IN TAKING THE ADMISSION TEST</h4>
		<ol>
			<li>Wait for you examination permit on your registered email</li>
			<li>Print a copy of your examination permit</li>
			<li>Go to Universidad de Manila-Main campus on your designated room and schedule</li>
			<li>Don’t forget to bring the following:
				<ul>
					<li>Ballpen</li>
					<li>Test Permit</li>
					<li>School ID/Any valid ID/li>
					<li>Face mask, face shield, alcohol</li>
					<li>Pencil (at least 2 pcs.)</li>
				</ul>
			</li>
		</ol>

		<h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: 
				<ul>
					<li><a href="udmalumni.official@gmail.com">udmalumni.official@gmail.com</a></li>
					<li><a href="registrarsoffice@udm.edu.ph">registrarsoffice@udm.edu.ph</a></li>
					<li><a href="treasuryoffice@udm.edu.ph">treasuryoffice@udm.edu.ph</a></li>
				</ul>
			</li>
			<li>Telephone: +63 (2) 5 336 6554</li>  
			<li>Website: <a href="https://udmwebsite.udm.edu.ph/">https://udmwebsite.udm.edu.ph/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/UdM.Merlions?mibextid=ZbWKwL">https://www.facebook.com/UdM.Merlions?mibextid=ZbWKwL</a></li>
		</ul>
	</div>

	<footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>