<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div  id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- University of Eastern Philippines -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/website/universities/UEPLogo.png') }}" alt="University of Eastern Philippines" class="univ-logo">
                    <h1>University of Eastern Philippines</h1>
                    <h2 class="address">University Town, Catarman, 6400 Northern Samar</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
            
                    <h3 id="special" class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ul>
                        <li>Photocopy of Form 138</li>
                        <li>Photocopy of upper ten percent (10%) certification signed by the Principal</li>
                        <li>Photocopy of Certificate of Good Moral Character</li>
                        <li>Updated Service Record of parents (for children of UEP Faculty and Employees)</li>
                        <li>NSO Birth Certificate</li>
                    </ul>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <p>Education, Agriculture, Engineering, and Health Sciences</p>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <h4>College of Law</h4>
                            <ul>
                                <li>Bachelor of Laws</li>
                            </ul>
                        <h4>College of Agriculture, Fisheries, and Natural Resources</h4>
                            <ul>
                                <li>Bachelor of Science in Agribusiness</li>
                                <li>Bachelor of Science in Agriculture major in:</li>
                                <ul>
                                    <li>Agricultural Economics</li>
                                    <li>Animal Science</li>
                                    <li>Crop Protection</li>
                                </ul>
                                <li>Bachelor of Science in Fisheries</li>
                                <li>Bachelor of Science in Forestry</li>
                            </ul>
                        <h4>College of Arts and Communication</h4>
                            <ul>
                                <li>Bachelor of Arts in Literature and Cultural Studies</li>
                                <li>Bachelor of Arts in English Language Studies</li>
                                <li>Bachelor of Arts major in Political Science</li>
                                <li>Bachelor of Arts major in Public Administration</li>
                                <li>Bachelor of Arts major in Sociology</li>
                                <li>Bachelor of Science in Community Development</li>
                                <li>Bachelor of Science in Criminology</li>
                                <li>Bachelor of Science in Development Communication</li>
                            </ul>
                        <h4>College of Business Administration</h4>
                            <ul>
                                <li>Bachelor of Science in Accountancy</li>
                                <li>Bachelor of Science in Business Administration major in:</li>
                                <ul>
                                    <li>Business Economics</li>
                                    <li>Human Resources Management</li>
                                    <li>Marketing Management</li>
                                </ul>
                                <li>Bachelor of Science in Business Economics</li>
                                <li>Bachelor of Science in Entrepreneurship</li>
                                <li>Bachelor of Science in Hospitality Management</li>
                            </ul>
                        <h4>College of Education</h4>
                            <ul>
                                <li>Bachelor of Elementary Education</li>
                                <li>Bachelor of Secondary Education major in:</li>
                                <ul>
                                    <li>English</li>
                                    <li>Filipino</li>
                                    <li>Mathematics</li>
                                    <li>Science</li>
                                    <li>Social Studies</li>
                                    <li>Values Education</li>
                                </ul>
                                <li>Bachelor of Elementary Technology and Livelihood Education major in:</li>
                                <ul>
                                    <li>Agri-Fishery</li>
                                    <li>Arts</li>
                                    <li>Home Economics</li>
                                    <li>Industrial Arts</li>
                                </ul>
                            </ul>
                        <h4>College of Engineering</h4>
                            <ul>
                                <li>Bachelor of Science in Agricultural and Biosystems Engineering</li>
                                <li>Bachelor of Science in Civil Engineering</li>
                                <li>Bachelor of Science in Electrical Engineering</li>
                                <li>Bachelor of Science in Mechanical Engineering</li>
                                <li>Bachelor of Engineering Technology major in:</li>
                                <ul>
                                    <li>Automotive Technology</li>
                                    <li>Electrical Engineering</li>
                                </ul>
                            </ul>
                        <h4>College of Nursing and Allied Health Sciences</h4>
                            <ul>
                                <li>Bachelor of Science in Nursing</li>
                                <li>Bachelor of Science in Radiologic Technology</li>
                            </ul>
                        <h4>College of Science</h4>
                            <ul>
                                <li>Bachelor of Science in Biology</li>
                                <li>Bachelor of Science in Chemistry</li>
                                <li>Bachelor of Science in Environmental Science</li>
                                <li>Bachelor of Science in Information Technology</li>
                                <li>Bachelor of Science in Marine Biology</li>
                                <li>Bachelor of Science in Mathematics</li>
                            </ul>
                        <h4>College of Veterinary Medicine</h4>
                            <ul>
                                <li>Bachelor of Science in Meat Technology</li>
                            </ul>
                    </ul>
            
                    <h3 class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>NEW STUDENTS AND TRANSFEREES - Admission</li>
                        <ul>
                            <li>Applicant secures and fills up Application for Examination Form at the University Testing Center, Office of Student Affairs.</li>
                            <li>In-charge encodes the complete name (Last name, First name and Middle name) of the applicant to generate student number. Examination permit is given to the applicant.</li>
                            <li>Applicant proceeds to the Center for Computer Studies Laboratories to accomplish Profile Sheet in the system. Printout of the Profile Sheet is given to the applicant after encoding.</li>
                            <li>Applicants take entrance examinations on the given schedule at the University Testing Center.</li>
                            <li>Examination results are entered into the system.</li>
                            <li>Applicant claims examination results from the University Testing Center on
                                the scheduled date.</li>
                                <li>Applicants proceed to the college where they want to be admitted and presents to the Guidance Counselor or Department Chair the printout of the Profile Sheet and other admission requirements.</li>
                                <li>Applicants, whose programs require college entrance examinations and/or interviews, take the examinations and/or subject themselves to interviews at the venues designated by the College.</li>
                                <li>For transferees, the Department Chair encodes subjects from the Transcript of Record, credits subjects taken from other schools to subjects in the curriculum, prints evaluation report, and advises students on what subjects to take.</li>
                                <li>Guidance Counselor or Department Chair releases Admission Slip.</li>
                            </ul>
                            <li>OLD STUDENTS AND SHIFTEES - Admission and Enrolment</li>
                            <ul>
                                <li>Students secure a copy of grades or Evaluation of grades from the Department Chair.</li>
                                <li>The Department Chair evaluates student grades and advises students on what subjects to take. For shiftees, the department chair credits subjects of students taken from other courses in the University.</li>
                                <li>Students receive a plotting form and fill in subjects on schedule.</li>
                                <li>Students pay college/department/organization fees.</li>
                                <li>Department chair approves the plotting form.</li>
                                <li>Assigned encoders encode subjects indicated in the plotting form including Class IDs of NSTP, if necessary.</li>
                                <li>Assigned encoders print two (2) copies of the Certificate of Registration (COR).</li>
                                <li>The College Dean approves the Certificate of Registration.</li>
                                <li>Student receives, inspects, and signs the Certificate of Registration and returns one (1) copy of the COR to the Department Chair for the signature of the Registrar’s Office.</li>
                            </ul>
                        </ol>
                
                        <h3 id="contacts" class="heading3">Contact Information</h3> <!-- Contact Information -->
                        <p>Phone: 09851668851</p>
                    </div>
                </section>
            </div>
        </main>
        <!-- <script src="scriptProto.js"></script> -->
    </body>
</html>
    