<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../static/images/logos/website/logo.png">
    <title>PamantasanPH</title>
    <link rel="stylesheet" type="text/css" href="({{ url_for('static', filename = 'styles/univs.css') }})">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header class="header"> <!--navigation div-->
        <div class="title">
            <img src="../static/images/logos/website/logo.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul id="navigation">
                <li><a id="home" href="{{ url_for('home') }}">Home</a></li>
                <li><a id="univs" href="{{ url_for('universities') }}">Universities</a></li>
                <li><a id="favs" href="{{ url_for('bookmarks') }}">Bookmarks</a></li>  
            </ul>
        </nav>
    </header>

    <div class="heading-container">
        <h1 class="dynamic-heading">Universities</h1>
        <p>Discover Public Universities in Metro Manila That Best Suit You</p>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/cmu-standard-scale-2_00x-gigapixel.jpg" alt="City of Malabon University">  
            <div class="overlay">
                <p><a href="../templates/univs/cmu.html">City of Malabon University</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div> 
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/dr.fil-gigapixel-standard-height-1080px.jpg" alt="Dr. Filemon C. Aguilar Memorial College of Las Pinas">  
            <div class="overlay">
                <p><a href="../templates/univs/dr.fil.html">Dr. Filemon C. Aguilar Memorial College of Las Pinas</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/earist-gigapixel-standard-height-1080px.jpg" alt="Eulogio "Amang" Rodriguez Institute of Science & Technology">  
            <div class="overlay">
                <p><a href="../templates/univs/earist.html">Eulogio "Amang" Rodriguez Institute of Science & Technology</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img"> 
            <img src="../static/images/logos/bg_img/mpc-gigapixel-standard-height-1080px.jpg" alt="Marikina Polytechnic College"> 
            <div class="overlay">
                <p><a href="../templates/univs/mpc.html">Marikina Polytechnic College</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/npc-gigapixel-standard-height-1080px.jpg" alt="Navotas Polytechnic College">  
            <div class="overlay">
                <p><a href="../templates/univs/npc.html">Navotas Polytechnic College</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/plmar-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Marikina">  
            <div class="overlay">
                <p><a href="../templates/univs/plmar.html">Pamantasan ng Lungsod ng Marikina</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img"> 
            <img src="../static/images/logos/bg_img/plm-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Maynila">  
            <div class="overlay">
                <p><a href="../templates/univs/plm.html">Pamantasan ng Lungsod ng Maynila</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container"> 
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/plmun-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Muntinlupa">  
            <div class="overlay">
                <p><a href="../templates/univs/plmun.html">Pamantasan ng Lungsod ng Muntinlupa</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/plp-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Pasig">  
            <div class="overlay">
                <p><a href="../templates/univs/plp.html">Pamantasan ng Lungsod ng Pasig</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/plv-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Valenzuela">  
            <div class="overlay">
                <p><a href="../templates/univs/plv.html">Pamantasan ng Lungsod ng Valenzuela</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/pcc-gigapixel-standard-height-1080px.jpg" alt="Paranaque City College">  
            <div class="overlay">
                <p><a href="../templates/univs/pcc.html">Paranaque City College</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/pnu-gigapixel-standard-height-1080px.jpg" alt="Philippine Normal University Manila">  
            <div class="overlay">
                <p><a href="../templates/univs/pnu.html">Philippine Normal University Manila</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/psca-gigapixel-standard-height-1080px.jpg" alt="Philippine State College of Aeronautics">  
            <div class="overlay">
                <p><a href="../templates/univs/psca.html">Philippine State College of Aeronautics</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/pccm-gigapixel-standard-height-1080px.jpg" alt="Polytechnic College of the City of Meycauayan">  
            <div class="overlay">
                <p><a href="../templates/univs/pccm.html">Polytechnic College of the City of Meycauayan</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/pup-gigapixel-standard-height-1080px.jpg" alt="Polytechnic University of the Philippines"> 
            <div class="overlay">
                <p><a href="../templates/univs/pup.html">Polytechnic University of the Philippines</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/qcu-gigapixel-standard-height-1080px.jpg" alt="Quezon City University">  
            <div class="overlay">
                <p><a href="../templates/univs/qcu.html">Quezon City University</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/tcu-gigapixel-standard-height-1080px.jpg" alt="Taguig City University">  
            <div class="overlay">
                <p><a href="../templates/univs/tcu.html">Taguig City University</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/tup-gigapixel-standard-height-1080px.jpg" alt="Technological University of the Philippines">  
            <div class="overlay">
                <p><a href="../templates/univs/tup.html">Technological University of the Philippines</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/udm-gigapixel-standard-height-1080px.jpg" alt="Universidad de Manila">  
            <div class="overlay">
                <p><a href="../templates/univs/udm.html">Universidad de Manila</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/um-gigapixel-standard-height-1080px.jpg" alt="University of Makati">  
            <div class="overlay">
                <p><a href="../templates/univs/um.html">University of Makati</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bookmark-icon">
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="bg-img">  
            <img src="../static/images/logos/bg_img/up-gigapixel-standard-height-1080px.jpg" alt="University of The Philippines"> 
            <div class="overlay">
                <p><a href="../templates/univs/up.html">University of The Philippines</a></p>
            </div>
        </div>
    </div>

	<footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures stirct confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div> 
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename = 'js/forunivs.js') }}"></script>
</body>
</html>