<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PamantasanPH</title>
    <!-- <link rel="stylesheet" href="prototype.css"> -->
</head>
<body>
	<div class="container">
		<img src="static/images/universities/PUPLogo.png" alt="Polytechnic University of the Philippines logo" class="logo">
		<h2>Polytechnic University of the Philippines</h2>
		<p>1016 Anonas, Sta. Mesa, Maynila, Kalakhang Maynila</p>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span id="status-text"></span>
		</div>
		<h3>List of Requirements</h3>
		<ol>
			<li>Passed PUP College Entrance Exam Test (PUPCET)</li>
			<li>Confirmation Requirements</li>
			<li>High School Graduate</li>
			<li>High School Card (Form 138)</li>
			<li>Form 137-A</li>
			<li>Medical Clearance from PUP Medical Clinic</li>
			<li>Certification of Good Moral Character duly signed by the high school principal/guidance counselor of the school last attended.</li>
			<li>NSO authenticated copy of Birth Certificate/ Certificate of Live Birth</li>
		</ol>
		<h3>University Specialization</h3>
		<ul>
			<li>Education</li>
			<li>Information Technology</li>
			<li>Management</li>
			<li>Marketing</li>
		</ul>
		<h3>Steps to Follow</h3>
		<ol>
			<li>Take the PUP College Entrance Exam Test (PUPCET)</li>
			<li>Wait for the results of the exam</li>
			<li>Submit the required documents</li>
			<li>Pay the necessary fees</li>
			<li>Attend the orientation</li>
		</ol>
		<h3>Programs Offered</h3>
		<ul>
			<li>Bachelor of Science in Business Administration</li>
			<li>Bachelor of Science in Computer Science</li>
			<li>Bachelor of Science in Electronics and Communications Engineering</li>
			<li>Bachelor of Science in Elementary Education</li>
			<li>Bachelor of Science in Secondary Education</li></ul>
		<h3>Campus Branches</h3>
		<ul>
			<li>Manila</li>
			<li>Sta. Mesa</li>
			<li>Taguig</li>
			<li>Quezon City</li>
			<li>San Juan</li>
		</ul>
		<p>Contact Information:</p>
		<ul>
			<li>Email: <a href="mailto:emo@pup.edu.ph">emo@pup.edu.ph</a></li>
			<li>Telephone: (+632) 5335-1787 or 5335-1777 local 176</li>
			<li>Website: <a href="https://www.pup.edu.ph">https://www.pup.edu.ph</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/share/p/EYYV6WIDJXL6tVkg/?mibextid=oFDknk">https://www.facebook.com/share/p/EYYV6WIDJXL6tVkg/?mibextid=oFDknk</a></li>
		</ul>
	</div>
    <!-- <script src="univs.js" defer></script> -->
</body>
</html>