<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\ALY\Downloads\PamantasanPH_LOGO.png">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univs.css">-->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='styles/univs.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header> <!-- Navigation -->
        <div class="logo">
            <img src="C:\Users\ALY\Downloads\PamantasanPH_LOGO.png" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>Username</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>
    <div class="container">
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

        <!-- Main Content -->
        <div class="main-content">
            <section>
                <h1>NCR - Metro Manila</h1>
                <div class="universities-grid"> <!-- ADJUST THE A TAGS AND SPAN, PUT THE SPAN INSIDE THE A TAGS -->
                    <!-- Each university -->
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\cmu-standard-scale-2_00x-gigapixel.jpg" alt="City of Malabon University">
                      </div>
                      <div class="overlay">
                        <a href="cmu.html"><span class="school-name">City of Malabon University</span></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\dr.fil-gigapixel-standard-height-1080px.jpg" alt="Dr. Filemon C. Aguilar Memorial College">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Dr. Filemon C. Aguilar Memorial College</span>
                          <a href="drfil.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\earist-gigapixel-standard-height-1080px.jpg" alt="Eulogio Amang Rodriguez Institute of Science and Technology">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Eulogio Amang Rodriguez Institute of Science and Technology</span>
                          <a href="earist.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\mpc-gigapixel-standard-height-1080px.jpg" alt="Manila Polytechnic College">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Manila Polytechnic College</span>
                          <a href="mpc.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\npc-gigapixel-standard-height-1080px.jpg" alt="Navotas Polytechnic College">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Navotas Polytechnic College</span>
                          <a href="npc.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\pcc-gigapixel-standard-height-1080px.jpg" alt="Pasay City College">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Pasay City College</span>
                          <a href="pcc.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\pccm-gigapixel-standard-height-1080px.jpg" alt="Pasay City College of Medicine">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Pasay City College of Medicine</span>
                          <a href="pccm.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\plm-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Maynila">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Pamantasan ng Lungsod ng Maynila</span>
                          <a href="plm.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\plmar-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Marikina">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Pamantasan ng Lungsod ng Marikina</span>
                          <a href="plmar.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\plmun-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Muntinlupa">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Pamantasan ng Lungsod ng Muntinlupa</span>
                          <a href="plmun.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\plp-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Pasig">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Pamantasan ng Lungsod ng Pasig</span>
                          <a href="plp.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\plv-gigapixel-standard-height-1080px.jpg" alt="Pamantasan ng Lungsod ng Valenzuela">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Pamantasan ng Lungsod ng Valenzuela</span>
                          <a href="plv.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\pnu-gigapixel-standard-height-1080px.jpg" alt="Philippine Normal University">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Philippine Normal University</span>
                          <a href="pnu.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\pup-gigapixel-standard-height-1080px.jpg" alt="Polytechnic University of the Philippines">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Polytechnic University of the Philippines</span>
                          <a href="pup.html"></a>
                      </div>
                  </div>
                    <div class="university-card bg-container">
                      <div class="bg-img">
                          <img src="C:\Users\ALY\Downloads\UIUX\pages\qcu-gigapixel-standard-height-1080px.jpg" alt="Quezon City University">
                      </div>
                      <div class="overlay">
                          <span class="school-name">Quezon City University</span>
                          <a href="qcu.html"></a>
                      </div>
                  </div>
                  <div class="university-card bg-container"> <!-- PUT THE NAME OF THE SCHOOL ON ALT AND SPAN-->
                    <div class="bg-img">
                        <img src="C:\Users\ALY\Downloads\UIUX\pages\tcu-gigapixel-standard-height-1080px.jpg" alt="#">
                    </div>
                    <div class="overlay">
                        <span class="school-name">#</span>
                        <a href="tcu.html"></a>
                    </div>
                </div>
                <div class="university-card bg-container">
                  <div class="bg-img">
                      <img src="C:\Users\ALY\Downloads\UIUX\pages\tup-gigapixel-standard-height-1080px.jpg" alt="#">
                  </div>
                  <div class="overlay">
                      <span class="school-name">#</span>
                      <a href="tup.html"></a>
                  </div>
              </div>
              <div class="university-card bg-container">
                <div class="bg-img">
                    <img src="C:\Users\ALY\Downloads\UIUX\pages\udm-gigapixel-standard-height-1080px.jpg" alt="#">
                </div>
                <div class="overlay">
                    <span class="school-name">#</span>
                    <a href="udm.html"></a>
                </div>
              </div>
              <div class="university-card bg-container">
                <div class="bg-img">
                    <img src="C:\Users\ALY\Downloads\UIUX\pages\um-gigapixel-standard-height-1080px.jpg" alt="#">
                </div>
                <div class="overlay">
                    <span class="school-name">#</span>
                    <a href="um.html"></a>
                </div>
              </div>
              <div class="university-card bg-container">
                <div class="bg-img">
                    <img src="C:\Users\ALY\Downloads\UIUX\pages\up-gigapixel-standard-height-1080px.jpg" alt="#">
                </div>
                <div class="overlay">
                    <span class="school-name">#</span>
                    <a href="up.html"></a>
                </div>
              </div>
              </div>
            </section>
        </div>
    </main>
</body>
</html>
