<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

	<div  id="navbar" class="heading-container">
        <nav>
            <ul>
                <li class="dropdown">
                    <button class="dropbtn">Requirements</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#min">Minimum Requirements</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Courses</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
						<a href="#special">Specializations</a>
                        <a href="#baguio">UP Baguio</a>
						<a href="#cebu">UP Cebu</a>
						<a href="#pampanga">UP Pampanga</a>
						<a href="#diliman">UP Diliman</a>
						<a href="#visayas">UP Visayas</a>
						<a href="#losbanos">UP Los Banos</a>
						<a href="#manila">UP Manila</a>
						<a href="#tacloban">UP Tacloban</a>
						<a href="#mindanao">UP Mindanao</a>
						<a href="#upou">UP Open University</a>
                    </div>
                </li>
				<li class="dropdown">
                    <button class="dropbtn">Application</button>
					<i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        <a href="#application">General</a>
                    </div>
                </li>
				<li class="dropdown">
                    <a href="#contacts" class="dropbtn">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>

   <!-- University of The Philippines  -->
	<div id="min" class="container">
		<img src="{{ url_for('static', filename='images/logos/website/universities/UPLogo.png') }}" alt="University of the Philippines" class="univ-logo">
		<h1>University of The Philippines</h1>
		<h2 class="address">Kalaw cor. Quirino Ave., UP Diliman, Quezon City 1101 Philippines</h2>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span class="close" id="status-text">NOT YET OPENED</span>
		</div>

		<h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
		<h4 id="special">MINIMUM REQUIREMENTS</h4>
		<ol>
			<li>Senior high school student expecting to graduate before SY 2025-2026 from a DepEd-accredited high school or an accredited secondary school abroad; OR</li>
			<li>Graduate of a DepEd-accredited high school or accredited secondary school abroad; AND</li>
			<li>Must have final grades for Grade 8, 9, 10 and Grade 11</li>
			<li>Must not have taken any college subject/s prior to the opening of SY 2025-2026</li>
			<li>Must not have taken the UP College Admission Test before; AND</li>
			<li>Must not have applied and completed the UP College Application for either the AY 2021-2022 (UPCA 2021), AY 2022-2023 (UPCA 2022), AY 2023-2024 (UPCA 2023)</li>
		</ol>
		  
		<h3 id="baguio" class="heading3">University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>UP Diliman - biggest and most comprehensive unit, excelling in various fields</li>
			<li>UP Manila - health sciences</li>
			<li>UPLB - agriculture, forestry and related sciences in Asia</li>
			<li>UPV - fisheries</li>
			<li>UPB - arts and humanities</li>
			<li>UP Cebu - information technology and business programs</li>
			<li>UPOU -  beyond the boundaries of a conventional university (i.e. through distance learning)</li>
		</ul>

        <h3 class="heading3">University Courses</h3> <!-- University Courses -->
		<h4 id="cebu">UNDERGRADUATE PROGRAMS</h4>
		<ol>
		  <li><strong>UP BAGUIO</strong>
			<ul>
				<li>BS Biology</li>
				<li>BA Communication</li>
				<li>BS Computer Science</li>
				<li>B Fine Arts</li>
				<li>BA Language & Literature</li>
				<li>BS Management Economics</li>
				<li>BS Mathematics</li>
				<li>BS Physics</li>
				<li>BA Social Sciences (Anthropology)</li>
				<li>BA Social Sciences (Economics)</li>
				<li>BA Social Sciences (History)</li>
			</ul>
		  </li>

		  <li id="pampanga"><strong>UP CEBU</strong>
			<ul>
				<li>BS Biology</li>
				<li>BA Communication</li>
				<li>BS Computer Science</li>
				<li>B Fine Arts</li>
				<li id="diliman">BS Management</li>
				<li>BS Mathematics</li>
				<li>BA Political Science</li>
				<li>BA Psychology</li>
				<li>BS Statistics</li>
			</ul>
		  </li>

		  <li><strong>UP PAMPANGA</strong>
			<ul>
				<li>BA Applied Psychology</li>
				<li>BA Business Economics</li>
				<li>BS Business Management</li>
			</ul>
		  </li>

		  <li><strong>UP DILIMAN</strong>
			<ul>
				<li>BA Anthropology</li>
				<li>BS Applied Physics</li>
				<li>BS Architecture</li>
				<li>BA Art Studies</li>
				<li>BS Biology</li>
				<li>BA Broadcast Media Arts and Studies</li>
				<li>BS Business Administration</li>
				<li>BS Business Administration and Accountancy</li>
				<li>BS Business Economics</li>
				<li>BS Chemical Engineering</li>
				<li>BS Chemistry</li>
				<li>BS Civil Engineering</li>
				<li>BS Clothing Technology</li>
				<li>BA Communication Research</li>
				<li>BS Community Development</li>
				<li>BS Community Nutrition</li>
				<li>BA Comparative Literature</li>
				<li>BS Computer Engineering</li>
				<li>BS Computer Science</li>
				<li>BA Creative Writing</li>
				<li>BS Economics</li>
				<li>BS Electrical Engineering</li>
				<li>BS Electronics Engineering</li>
				<li>B Elementary Education</li>
				<li>BA English Studies</li>
				<li>BA European Languages</li>
				<li>BS Family Life and Child Development</li>
				<li>BA Filipino at Panitikan ng Pilipinas</li>
				<li>BA Film</li>
				<li>B Fine Arts</li>
				<li>BS Food Technology</li>
				<li>BS Geodetic Engineering</li>
				<li>BS Geography</li>
				<li>BS Geology</li>
				<li>BA History</li>
				<li>BS Home Economics</li>
				<li>BS Hotel, Restaurant and Institution Management</li>
				<li>BS Industrial Engineering</li>
				<li>BS Interior Design</li>
				<li>BA Journalism</li>
				<li>B Landscape Architecture</li>
				<li>B Library and Information Science</li>
				<li>BA Linguistics</li>
				<li>BA Malikhaing Pagsulat sa Filipino</li>
				<li>BS Materials Engineering</li>
				<li>BS Mathematics</li>
				<li>BS Mechanical Engineering</li>
				<li>BS Metallurgical Engineering</li>
				<li>BS Mining Engineering</li>
				<li>BS Molecular Biology and Biotechnology</li>
				<li>B Music</li>
				<li>BA Philippine Studies</li>
				<li>BA Philosophy</li>
				<li>B Physical Education</li>
				<li>BS Physics</li>
				<li>BA Political Science</li>
				<li>BA Psychology</li>
				<li id="visayas">BS Psychology</li>
				<li>B Public Administration</li>
				<li>B Secondary Education</li>
				<li>BS Social Work</li>
				<li>BA Sociology</li>
				<li>BA Speech Communication</li>
				<li>B Sports Science</li>
				<li>BS Statistics</li>
				<li>BA Theater Arts</li>
				<li>BS Tourism</li>
			</ul>
		  </li>

		  <li><strong>UP VISAYAS</strong>
			<ul>
				<li>BS Accountancy</li>
				<li>BS Applied Mathematics</li>
				<li>BS Biology</li>
				<li>BS Business Administration (Marketing)</li>
				<li>BS Chemical Engineering</li>
				<li>BS Chemistry</li>
				<li>BA Communication and Media Studies</li>
				<li>BA Community Development</li>
				<li>BS Computer Science</li>
				<li id="losbanos">BS Economics</li>
				<li>BS Fisheries</li>
				<li>BS Food Technology</li>
				<li>BA History</li>
				<li>BA Literature</li>
				<li>BS Management</li>
				<li>BA Political Science</li>
				<li>BA Psychology</li>
				<li>BS Public Health</li>
				<li>BA Sociology</li>
				<li>BS Statistics</li>
			</ul>
		  </li>

		  <li><strong>UPLB</strong>
			<li>BS Accountancy</li>
			<li>BS Agribusiness Management and Entrepreneurship</li>
			<li>BS Agricultural and Applied Economics</li>
			<li>BS Agricultural and Biosystems Engineering</li>
			<li>BS Agricultural Biotechnology</li>
			<li>BS Agricultural Chemistry</li>
			<li>BS Agriculture</li>
			<li>BS Applied Mathematics</li>
			<li>BS Applied Physics</li>
			<li>BS Biology</li>
			<li>BS Chemical Engineering</li>
			<li>BS Chemistry</li>
			<li>BS Civil Engineering</li>
			<li>BA Communication Arts</li>
			<li>BS Computer Science</li>
			<li>BS Development Communication</li>
			<li>BS Economics</li>
			<li>BS Electrical Engineering</li>
			<li>BS Food Science and Technology</li>
			<li>BS Forestry</li>
			<li>BS Human Ecology</li>
			<li id="manila">BS Industrial Engineerin</li>
			<li>BS Materials Engineering</li>
			<li>BS Mathematics</li>
			<li>BS Mathematics and Science Teaching</li>
			<li>BS Mechanical Engineering</li>
			<li>BS Nutrition</li>
			<li>BA Philosophy</li>
			<li>BA Sociology</li>
			<li>BS Statistics</li>
			<li>D Veterinary Medicine</li>
		  </li>

		  <li><strong>UP MANILA</strong>
			<ul>
				<li>BS Applied Physics</li>
				<li>BA Behavioral Sciences</li>
				<li>BS Biochemistry</li>
				<li>BS Biology</li>
				<li>BS Computer Science</li>
				<li>D Dental Medicine</li>
				<li>BA Development Studies</li>
				<li>BS Nursing</li>
				<li id="tacloban">BS Occupational Therapy</li>
				<li>BA Organizational Communication</li>
				<li>BS Pharmaceutical Sciences</li>
				<li>BS Pharmacy</li>
				<li>BA Philippine Arts</li>
				<li>BS Physical Therapy</li>
				<li>BA Political Science</li>
				<li>BS Public Health</li>
				<li>BA Social Sciences (Area Studies)</li>
				<li>BS Speech Pathology</li>
			</ul>
		  </li>

		  <li id="mindanao"><strong>UP TACLOBAN</strong>
			<ul>
				<li>BS Accountancy</li>
				<li>BS Applied Mathematics</li>
				<li>BS Biology</li>
				<li>BS Computer Science</li>
				<li>BS Economics</li>
				<li>BA Literature</li>
				<li>BS Management</li>
				<li>BA Media Arts</li>
				<li>BA Political Science</li>
				<li>BA Psychology</li>
			</ul>
		  </li>

		  <li id="upou"><strong>UP MINDANAO</strong>
			<ul>
				<li>BS Agribusiness Economics</li>
				<li>BS Anthropology</li>
				<li>BS Applied Mathematics</li>
				<li>BS Architecture</li>
				<li>BS Biology</li>
				<li>BA Communication and Media Arts</li>
				<li>BS Computer Science</li>
				<li id="application">BS Data Science</li>
				<li>BA English</li>
				<li>BS Food Technology</li>
				<li>B Sports Science</li>
			</ul>
		  </li>

		  <li><strong>UPOU</strong>
			<ul>
				<li>B Education Studies</li>
				<li>BA Multimedia Studies</li>
			</ul>
		  </li>
		</ol>
		  
        <h3 class="heading3">Application Process</h3> <!-- Application Process -->
		<ol>
			<li>STEP 1. Fill out application Form 1. Online application opens by April 15, 2024. (Manual application will only be available in selected regional areas.) For ONLINE application: Go to <a href="https://upcat2025online.up.edu.ph">https://upcat2025online.up.edu.ph</a>
			<p>You will need a valid email address for logging on to your application account and for receiving notifications about your application status and results. Please make sure that you correctly encode your full name and date of birth as shown in your birth certificate, and your school name. If your school is not in the choices provided, please send an email to upcollegeapplications.oadms@up.edu.ph.&nbsp;You will need a valid email address for logging on to your application account and for receiving notifications about your application status and results. Please make sure that you correctly encode your full name and date of birth as shown in your birth certificate, and your school name. If your school is not in the choices provided, please send an email to <a href="upcollegeapplications.oadms@up.edu.ph.">upcollegeapplications.oadms@up.edu.ph.</a></p>
			<ul>
				<li>We encourage use of a personal email address (not school-related email address) to facilitate application and access of results.</li>
				<li>We strongly encourage the use of secured e-mail accounts preferably with two-step verification to better protect your right to data privacy.</li>
				<li>Do not create multiple accounts as these will cause much delay in accessing your application forms.</li>
				<li>You are required to read the UP Privacy Notice for Applicants for First Year Admissions Academic Year 2025-2026 before creating your account and filling out Form 1.</li>
				<li>Make sure you have a stable internet connection.</li>
				<li>Fill out Form 1 completely and accurately.</li>
			</ul>
			</li>
			<li>STEP 2. For schools with an existing valid email address in our database, the Online portal shall automatically forward a request to your high school principal/school head to fill out Form 2A (High School Profile).
				<ul>
					<li>Only a duly authorized school official may fill out this form.</li>
					<li>You will be notified accordingly once your high school has accomplished Form 2A.</li>
					<li>For updates in the school email address in our database, the authorized school official must send a request to <a href="upcollegeapplications.oadms@up.edu.ph">upcollegeapplications.oadms@up.edu.ph</a> for the correct email format.</li>
				</ul>
			</li>
			<li>STEP 3. FOR NON-FILIPINO APPLICANTS ONLY: Pay the Application fee. The non-refundable Application Fee is:
				<ul>
					<li>P450 for resident foreign applicants studying in the Philippines</li>
					<li>US$50 for non-resident foreign applicants</li>
				</ul>
				<p>MODES OF PAYMENT: The application fee may be paid through any of the following:</p>
				<ul>
					<li>Land Bank (LBP) Account No. 1462-1013-64 (only for online peso payments)</li>
					<li>Land Bank (LBP) Account No. 1462-2220-13 (only for over-the-counter peso payments)</li>
					<li>Land Bank (LBP) Account No. 3074-0029-26 (for US dollar payments)</li>
					<li>Account Name: UPS Trust (UPCAT)
						<ul>
							<li>Swift Code TLBPPHMM with Address:</li>
							<li>Landbank UP Diliman Branch</li>
							<li>2nd Floor PNB Bldg. Apacible Street</li>
							<li>UP Campus Diliman Quezon City Philippines
								<p>NOTE:</p>
								<ul>
									<li>Landbank will be charging a service fee of P25 for every application;</li>
									<li>Different banks have also set their own fees for the purchase of Manager's Checks and Cashier's Checks.</li>
									<li>Indicate the name of the applicant in the proof of payment and send a picture or scanned copy to <a href="upcollegeapplications.oadms@up.edu.ph.">upcollegeapplications.oadms@up.edu.ph.</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>STEP 4. Receive your Test Permit.
				<ul>
					<li>You will be notified by email if your Test Permit is already available.</li>
					<li>Download your Test Permit from the online application portal.</li>
					<li>You will need to print the test permit and bring it on your assigned test date for presentation and submission to the Proctor.</li>
					<li>Follow the instructions carefully on how to print your test permit.</li>
					<li>You will still need to bring your School ID or any government-issued ID on your assigned test date.</li>
					<li>Applicants who were allowed to submit their applications using paper based forms will receive their test permits from duly authorized UP personnel. Kindly await the advisory of the UP Office of Admissions regarding this.</li>
				</ul>
			</li>
			<li>STEP 5. Take the UP College Admission Test (UPCAT) scheduled on August 10-11, 2024.&nbsp;Go to your designated Test Center on the date specified in your Test Permit: August 10 or 11, 2024. Be there by 6:30am (morning session) or 12nn (afternoon session).
				<ul>
					<li>Bring only your Test Permit, School ID or any valid government-issued ID card, 2 good quality pencils, sharpener, rubber eraser and snacks.</li>
					<li>The test administration will last about five hours.</li>
				</ul>
				<p>The use of cellphones, calculating devices, and/or cameras during the test is strictly prohibited.&nbsp;Applicants are strongly encouraged to observe minimum public health standards at all times.&nbsp;If you are a member of an Indigenous Cultural Community (Indigenous People's Group), please obtain an official certification (i.e., National Commission on Indigenous Peoples, National Commission on Muslim Filipinos) and submit to your proctor when you take the UPCAT during your assigned test date.
					APPLICATION WILL NOT BE PROCESSED AND NO ADMISSION SCORE WILL BE COMPUTED FOR APPLICANTS WHO DID NOT TAKE THE TEST.
				</p>
			</li>
			<li id="contacts">STEP 6. Fill out Form 2B within August 12 to September 15, 2024.&nbsp;Do this once you receive a copy of your High School Records and your final grades in Grades 8 to 11 are complete. Go to <a href="https://upcat2025online.up.edu.ph">https://upcat2025online.up.edu.ph</a>
				<p> You will need the email address and password you used for signing up in the application portal to log on to your application account.</p>
				<ul>
					<li>You are required to read the UP Privacy Notice for Applicants for First Year Admissions Academic Year 2025-2026 before filling out Form 2B.</li>
					<li>Make sure you have a stable internet connection.</li>
					<li>Fill out Form 2B completely and accurately.</li>
				</ul>
				<p>APPLICATION WILL NOT BE PROCESSED AND NO ADMISSION SCORE WILL BE COMPUTED FOR UPCAT-TAKERS WHO DID NOT FILL OUT FORM 2B.</p>
			</li>
			<li>STEP 7. Check if the completed Forms 1 and 2B are uploaded in the Online Portal.
				<ul>
					<li>You will be notified by email regarding the status of your application.</li>
					<li>You may also monitor the status of your application by logging on to your UP College Application online account <a href="https://upcat2025online.up.edu.ph">(https://upcat2025online.up.edu.ph)</a></li>
				</ul>
			</li>
		</ol>

		<h3 class="heading3">Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="upcollegeapplications.oadms@up.edu.ph">upcollegeapplications.oadms@up.edu.ph</a></li>
			<li>Telephone: +63 2 8981-8500</li>
			<li>Telefax: +63 2 89274561</li>
			<li>Website: <a href="https://upcat.up.edu.ph">https://upcat.up.edu.ph</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/share/p/oAGLKoKbshmQ4ECz/?mibextid=qi2Omg">https://www.facebook.com/share/p/oAGLKoKbshmQ4ECz/?mibextid=qi2Omg</a></li>
		</ul>
	</div>

	<footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures strict confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>

            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <p>Connect with us today and be a part of our growing community!</p>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL" target="_blank" class="social-links" aria-label="Facebook" rel="noopener"><i class="fab fa-facebook-square"></i></a>
                    <a href="mailto:pamantasanph@gmail.com" target="_blank" class="social-links" aria-label="Email" rel="noopener"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/" target="_blank" class="social-links" aria-label="LinkedIn" rel="noopener"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <script src="{{ url_for('static', filename='js/forunivs21.js') }}" defer></script>
</body>
</html>