<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li> 
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#undergrad">Undergraduate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 

<div class="main-content">
            <div>
                <h2>University of Southern Mindanao - Main</h2>
                <p>Kabacan, Cotabato, Philippines</p>
                <div class="status">
                    <i class="status-icon fa fa-circle" id="status-icon"></i>
                    <span class="close" id="status-text">NOT YET OPENED</span>
                </div>

                <div class="section">
                    <h3 id="special" class="heading3">Admission Requirements</h3>
                    <ul>
                        <li class="sub-section-title">INCOMING FRESHMEN:</li>
                        <ul>
                            <li>Upon online Pre-registration (Scanned)</li>
                            <li>Photocopy of Grade 12 Report of Grades (1st Semester)</li>
                            <li>Original PSA Birth Certificate. If not yet available, <a href="#">download the Commitment Form</a></li>
                            <li>Grade 12 Card</li>
                            <li>Certificate of Good Moral Character</li>
                            <li>For BS Midwifery, BS Nursing, BS Pharmacy:</li>
                            <ul>
                                <li>For Female: Hepatitis B Test Result, Chest X-Ray and Pregnancy Test</li>
                                <li>For Male: Hepatitis B Test Result, and Chest X-Ray</li>
                            </ul>
                            <li>For BS Hospitality Management, BS Nutrition and Dietetics, BS Food Technology:</li>
                            <ul>
                                <li>Hepatitis B Test Result</li>
                            </ul>
                        </ul>
                        <li class="sub-section-title">TRANSFEREES:</li>
                        <ul>
                            <li>Upon online Pre-registration (Scanned)</li>
                            <li>Transcript of Records for evaluation</li>
                            <li>Honorable Dismissal</li>
                            <li>Certificate of Good Moral Character</li>
                            <li>Original PSA Birth Certificate. If not yet available, <a href="#">download the Commitment Form</a></li>
                            <li>For BS Midwifery, BS Nursing, BS Pharmacy:</li>
                            <ul>
                                <li>For Female: Hepatitis B Test Result, Chest X-Ray and Pregnancy Test</li>
                                <li>For Male: Hepatitis B Test Result, and Chest X-Ray</li>
                            </ul>
                            <li>For BS Hospitality Management, BS Nutrition and Dietetics, BS Food Technology:</li>
                            <ul>
                                <li>Hepatitis B Test Result</li>
                            </ul>
                        </ul>
                    </ul>
                </div>

                <div class="section">
                    <h3 id="special" class="heading3">University Courses</h3>
                    <ul>
                        <li class="sub-section-title">COLLEGE OF AGRICULTURE</li>
                        <ul>
                            <li>BS Agriculture</li>
                            <li>BS Fisheries</li>
                            <li>BS Agricultural Technology</li>
                        </ul>
                        <li class="sub-section-title">COLLEGE OF ARTS & SOCIAL SCIENCES</li>
                        <ul>
                            <li>AB Psychology</li>
                            <li>AB English Language</li>
                            <li>AB Political Science</li>
                            <li>AB Philosophy (Pre-Law)</li>
                            <li>BS Criminology</li>
                        </ul>
                            <li class="sub-section-title">COLLEGE OF EDUCATION</li>
                        <ul>
                            <li>Bachelor of Elementary Education</li>
                            <li>Bachelor of Secondary Education - major in: English, Filipino, Social Studies, Science, Mathematics</li>
                        </ul>
                            <li class="sub-section-title">COLLEGE OF ENGINEERING AND INFORMATION TECHNOLOGY</li>
                        <ul>
                            <li>BS Agricultural and Biosystems Engineering</li>
                            <li>BS Civil Engineering</li>
                            <li>BS Computer Engineering</li>
                            <li>BS Computer Science</li>
                            <li>BS Electronics Engineering</li>
                            <li>BS Information Systems</li>
                            <li>Bachelor of Library & Information Science</li>
                        </ul>
                            <li class="sub-section-title">COLLEGE OF HUMAN ECOLOGY AND FOOD SCIENCES</li>
                        <ul>
                            <li>BS Food Technology</li>
                            <li>BS Hospital Management</li>
                            <li>BS Nutrition and Dietetics</li>
                            <li>BS Tourism Management</li>
                        </ul>
                        <li class="sub-section-title">COLLEGE OF INDUSTRY AND TECHNOLOGY</li>
                        <ul>
                            <li>Bachelor of Technical Vocational Teacher Education - major in: Automotive Technology, Drafting Technology, Electrical Technology, Electronics Technology</li>
                            <li>BS Industrial Technology - major in: Architectural Drafting Technology, Automotive Technology, Electronics Technology, Electrical Technology</li>
                        </ul>
                            <li class="sub-section-title">COLLEGE OF HEALTH SCIENCES</li>
                        <ul>
                            <li>BS Nursing</li>
                        </ul>
                            <li class="sub-section-title">COLLEGE OF BUSINESS, DEVELOPMENT ECONOMICS AND MANAGEMENT</li>
                        <ul>
                            <li>BS Accountancy</li>
                            <li>BS Management Accounting</li>
                            <li>BS Agribusiness</li>
                            <li>BS Agricultural Economics</li>
                            <li>BS Development Management</li>
                            <li>BS Business Administration</li>
                        </ul>
                            <li class="sub-section-title">INSTITUTE OF MIDDLE EAST & ASIAN STUDIES</li>
                        <ul>
                            <li>BS International Relations</li>
                            <li>Bachelor of Arts in Islamic Studies</li>
                        </ul>
                            <li class="sub-section-title">INSTITUTE OF PHYSICAL EDUCATION AND RECREATION</li>
                        <ul>
                            <li>Bachelor of Physical Education</li>
                            <li>BS Exercise and Sports Sciences - major in: Fitness and Sports Coaching, Fitness and Sports Management</li>
                        </ul>
                            <li class="sub-section-title">COLLEGE OF SCIENCE & MATHEMATICS</li>
                        <ul>
                            <li>BS Chemistry</li>
                            <li>BS Biology</li>
                            <li>BS Development Communication</li>
                            <li>BS Applied Mathematics</li>
                        </ul>
                            <li class="sub-section-title">COLLEGE OF VETERINARY MEDICINE</li>
                        <ul>
                            <li>Doctor of Veterinary Medicine</li>
                            <li>BS Veterinary Technology</li>
                            <li>Veterinary Aide (1 year)</li>
                        </ul>
                    </ul>
                </div>

                <div class="section">
                    <h3 id="special" class="heading3">Application Process</h3>
                <h4>Pre-Registration Process</h4>
                    <ul>
                        <li>Registration of students shall be only on the regular registration period indicated in the academic calendar; Provided, that this may be extended for grace period of five (5) working days                 after the last day of the registration schedule, subject to the approval of Vice President for Academic Affairs and upon payment of fine for late registration, as required.</li>
                        <li>A student shall be deemed officially registered in order to receive credit course work when he has paid his tuition and other school fees duly validated by the Admission and Records Office.</li>
                        <li>Registration of a returning student shall be dependent on previous scholastic standing; Provided, that an admission slip, clearance, and a certified copy of his transcript of records, among other things, shall be required as credentials for the enrollment.</li>
                        <li>A student shall not be allowed to enroll in more than one course at a time during his stay at the University.</li>
                        <li>The rules of sequencing of subjects in the curriculum of the course being taken must be observed and followed in enrollment. Enrolling and attendance in a subject without it passing its prerequisite shall earn the student no academic credit on the same.</li>
                        <li>In meritorious cases, however, a student who has previously enrolled and fully attended a course that is pre-requisite to another may be allowed to enroll and attend in the latter course for credit without having passed or earned credit for the prerequisite course; Provided, that no permission shall be granted on waiver of prerequisites except upon application by the student; and provided, that the application shall be accompanied by a certification from the student’s instructors in the prerequisite course that the student had fully attended said course; and provided, furthermore, that the application shall be accompanied by a certification from the Director Of Student Affairs that the students failure to pass or earn credit in the prerequisite course was not due to disciplinary action imposed upon him.</li>
                        <li>The dean of the college/institute concerned shall authorized to grant the permission on waiver of prerequisite course/subject and shall act through a committee created by the dean, to include the college secretary, among others, to decide on the merit of the application.</li>
                        <li>The student who is granted permission mentioned in the two preceding sections shall be required to enroll in the prerequisite course simultaneously with the course to which the former is a prerequisite, or immediately in the next semester.</li>
                        <li>Graduating students shall be allowed to take the prerequisite subject and the higher subject simultaneously upon the approval of the dean and confirmation of the Vice President for the Academic Affairs; Provided, that, if the student should fail in the prerequisite subject, the higher subject shall not be given credit.</li>
                    </ul>
                
                    <h4>Registration / Enrollment</h4>
                    <ul>
                        <li>Registration of students shall be only on the regular registration period indicated in the academic calendar; Provided, that this may be extended for grace period of five (5) working days after the last day of the registration schedule, subject to the approval of Vice President for Academic Affairs and upon payment of fine for late registration, as required.</li>
                        <li>A student shall be deemed officially registered in order to receive credit course work when he has paid his tuition and other school fees duly validated by the Admission and Records Office.</li>
                        <li>Registration of a returning student shall be dependent on previous scholastic standing; Provided, that an admission slip, clearance, and a certified copy of his transcript of records, among other things, shall be required as credentials for the enrollment.</li>
                        <li>A student shall not be allowed to enroll in more than one course at a time during his stay at the University.</li>
                        <li>The rules of sequencing of subjects in the curriculum of the course being taken must be observed and followed in enrollment. Enrolling and attendance in a subject without it passing its prerequisite shall earn the student no academic credit on the same.</li>
                        <li>In meritorious cases, however, a student who has previously enrolled and fully attended a course that is pre-requisite to another may be allowed to enroll and attend in the latter course for credit without having passed or earned credit for the prerequisite course; Provided, that no permission shall be granted on waiver of prerequisites except upon application by the student; and provided, that the application shall be accompanied by a certification from the student’s instructors in the prerequisite course that the student had fully attended said course; and provided, furthermore, that the application shall be accompanied by a certification from the Director Of Student Affairs that the students failure to pass or earn credit in the prerequisite course was not due to disciplinary action imposed upon him.</li>
                        <li>The dean of the college/institute concerned shall authorized to grant the permission on waiver of prerequisite course/subject and shall act through a committee created by the dean, to include the college secretary, among others, to decide on the merit of the application.</li>
                        <li>The student who is granted permission mentioned in the two preceding sections shall be required to enroll in the prerequisite course simultaneously with the course to which the former is a prerequisite, or immediately in the next semester.</li>
                        <li>Graduating students shall be allowed to take the prerequisite subject and the higher subject simultaneously upon the approval of the dean and confirmation of the Vice President for the Academic Affairs; Provided, that, if the student should fail in the prerequisite subject, the higher subject shall not be given credit.</li>
                    </ul>
                
                    <h4>Cross Registration / Enrollment</h4>
                    <ul>
                        <li>Cross enrollment may be allowed; Provided, that this shall be done within the period of registration set forth by the Admission and Records Office.</li>
                        <li>No student shall be registered in any other college of the University without the permission of the Dean of the colleges on which he is primarily enrolled.</li>
                        <li>The total number of units of credit for which a student may register in two or more colleges in the University shall not exceed the maximum allowed by the rules on academic load.</li>
                        <li>No student of another institution shall be admitted to cross-enroll in the University without a written permit from Dean or Registrar of his mother school. The permit shall state the total number of units for which the student is registered and the subjects that he is authorized to cross-register, subject to the availability of slots, in the University.</li>
                        <li>Students enrolled in any curricular level in the University may be allowed to cross-register in another institution; Provided, that the subjects involved are not offered in the University at the time, must have the same course description and number of units in the institution sought to cross-enroll in, and must not be major course; and Provided, further, that there is an immediate need for the cross-registration to clear out academic deficiencies, such as the case of graduating students.</li>
                        <li>Cross-enrollment of subjects outside the University shall have the approval of the Dean and authorized by the Admission and Records Office for the subjects involved to be given credits by the University; Provided, that no student shall be allowed to cross-register in more than one school outside the University.</li>
                        <li>Transfer credits shall be given to courses taken by a student in another recognized institution on the recommendation of the authorized official in the other school concerned, subjects to the approval by the Dean of the college/institute concerned in the University to which credits are transferred and the provisions of existing rules and regulations of the University governing the same.</li>
                        <li>The University reserves the right to deny admission to a student who seeks to cross-register in the institution.</li>
                    </ul>
                
                    <h4>Admission of Freshmen and Transfer Students</h4>
                    <ul>
                        <li>Performance in the University of Southern Mindanao College Entrance Examination (USMCEE) is required for admission of high school graduates.</li>
                        <li>Compliance with other requirements prescribed by the colleges concerned and/or the University.</li>
                    </ul>
                
                    <h4>Scholarship Privileges</h4>
                    <ul>
                        <li>Qualified applicants can avail of USM-sponsored Scholarships, Government-funded Scholarships, and Private-funded Scholarships.</li>
                    </ul>
                
                    <p><strong>NOTE:</strong> Enrollment process details to be uploaded soon!</p>
                </div>

                <div class="section">
                    <h3 id="special" class="heading3">Contact Information</h3>
                    <ul>
                        <li>Email Address(es): <a href="mailto:op@usm.edu.ph">op@usm.edu.ph</a>, <a href="mailto:usvmorde@usm.edu.ph">usvmorde@usm.edu.ph</a></li>
                        <li>Website(s):</li>
                        <ul>
                            <li><a href="https://www.usm.edu.ph/">https://www.usm.edu.ph/</a></li>
                            <li><a href="https://www.facebook.com/theUSMofficial/">https://www.facebook.com/theUSMofficial/</a></li>
                        </ul>
                        <li>Phone / Landline Number:</li>
                        <ul>
                            <li>(064) 572 2138</li>
                            <li>(064) 248 2638</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>