<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section>
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#univcourse">Univeristy Courses</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- START -->
                <!-- Catanduanes State University -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/PUPLogo.png') }}" alt="University of Southeastern Philippines" class="univ-logo">
                    <h1>University of Southeastern Philippines</h1>
                    <h2 class="address">Brgy. Maharlika, Scaling Bislig City Surigao Del Sur</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">ON-GOING</span>
                    </div>
                
                    <!-- Requirements -->
                    
                    <h3 class="heading3">Admission Requirements</h3>
                    <ul>
                        <li>
                            <h4>Freshmen</h4>
                            <ul>
                                <li>
                                    <h5>1.1 Baccalaureate Degree Programs</h5>
                                    <ul>
                                        <li>High School final grades of not less than 85% in mathematics, science and english or approval of the dean</li>
                                        <li>Passing the entrance examination and interview conducted by the college</li>
                                        <li>Medical Certificate from the university physician</li>
                                        <li>Birth Certificate (original and photocopy)</li>
                                        <li>Passport size picture with name tag</li>
                                    </ul>
                                </li>
                                <li>
                                    <h5>1.2 Diploma / Certificate / Associate Programs</h5>
                                    <ul>
                                        <li>GPA of at least 83% or approval of the Dean</li>
                                        <li>Passing the entrance examination and interview</li>
                                        <li>Medical Certificate from the university physician</li>
                                        <li>Birth Certificate (original and photocopy)</li>
                                        <li>Passport size picture with name tag</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4>Upper Classmen</h4>
                            <ul>
                                <li>Clearance duly signed by concerned authorities</li>
                                <li>Student Handbook or College Passbook with Scholastic Record duly signed by subject teachers</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Transfer Students</h4>
                            <ul>
                                <li>
                                    A transfer student may be admitted provided that:
                                    <ul>
                                        <li>The admission of transfer students shall be on probation basis until such time when he/she shall have validated or repeated the required courses outside the university in accordance with the rules (*) below, which are required for the course;</li>
                                        <li>He/she must have obtained an average of 2.0, 86%, B, or better, in all the collegiate academic units he has earned outside; and</li>
                                        <li>He/she will have to complete in this university no less than 50% of the units required for the course;</li>
                                    </ul>
                                </li>
                                <li>An admitted transfer student may not be allowed to enroll in the subject or subjects the prerequisite of which taken elsewhere have not been validated or repeated;</li>
                                <li>
                                    * An admitted transfer student must validate all the subjects he/she is offering for advanced credits at the rate of at least 15 units a semester within a period not exceeding four semesters from the date of his/her admission. Failure to comply with this requirement shall be a sufficient ground for the cancellation of his/her registration privileges; and
                                    <ul>
                                        <li>Any of all of the above rules may be set aside in exceptional cases upon the recommendation of the Committee on Admission in units where admission of students is passed upon by this Committee or of the Dean concerned.</li>
                                    </ul>
                                </li>
                                <li>Transfer students must comply with the following requirements:
                                    <ul>
                                        <li>Copy of the Transcript of Records</li>
                                        <li>Certificate of the Eligibility to Transfer</li>
                                        <li>Certificate of Good Moral Character from the former school</li>
                                        <li>Medical Certificate from the university physician</li>
                                        <li>Passing the qualifying examination and interview</li>
                                        <li>Birth Certificate (original and photocopy)</li>
                                        <li>Passport size picture with name tag</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Cross Enrollees
                            <ul>
                                <li>No student registered in any other institution shall be admitted to the university without a written permit from his dean or the registrar, stating the total number of units for which the student is registered and the subjects that he/she is authorized to take in the university.</li>
                            </ul>
                        </li>
                        <li>Former Students
                            <ul>
                                <li>Students who have entered another institution since their previous enrolment in the university must submit an official transcript of record from that institution before they can be considered for readmission.</li>
                                <li>A student who has financial obligations to the university must secure clearance before being considered for readmission.</li>
                            </ul>
                        </li>
                        <li>Foreign Students
                            <ul>
                                <li>Foreign students who want to enroll in the university must meet the academic standards for admission as those required of native students. They are also subject to evaluation of the Commission on Higher Education.</li>
                                <li>The substantial equivalent of courses completed with those prescribed by the University shall be considered, if courses were taken in an institution of recognized standing.</li>
                            </ul>
                        </li>
                    </ul>
                    
                    <h3 id="special" class="heading3" >University Specializations</h3>
                    <p>Teacher Education courses</p>
                  
                    <h3 id="univcourse" class="heading3">University Courses</h3>
                    <p>Bislig Campus</p>
                    <ul>
                        <li>Bachelor of Technical-Vocational Teacher Education</li>
                        <ul>
                            <li>Major in Automotive Technology</li>
                            <li>Electrical Technology</li>
                            <li>Civil and Construction Technology</li>
                        </ul>
                        <li>Bachelor of Science in Forestry</li>
                        <li>Bachelor of Science in Mechanical Engineering</li>
                    </ul>
                   
                    <h3 id="application" class="heading3" >Application Process</h3>
                    <p>STEP 1. Register online at <a href="http://register.usep.edu.ph/">http://register.usep.edu.ph/</a> and submit online clear scanned copies of the following requirements:
                    <ul>
                        <li>Permanent Record in Grade 11 with a Grade Point Average (GPA) of at least 85%</li>
                        <li>A recent Passport size I.D. picture with name tag</li>
                        <li>PSA-Authenticated Birth Certificate</li>
                        <li>Income Tax Return (ITR)/ Certificate of Low Income of Parents/Guardians from the Barangay</li>
                        <li>Transcript of Records with GWA (for transferees only)</li>
                    </ul>
                    <p>STEP 2. After seven (7) days from the date of filing the application, log in again to the same registration link to view the result of the application. If found to be qualified to take the test, download from the system the Permit to Take the Test, print a copy of it and attach a recent Passport size I.D. picture with name tag.</p>
                    <p>STEP 3. Report to the assigned testing center during the scheduled date and time of the examination. Present the hardcopy of the Permit to Take the Test with a recent Passport size I.D. picture with name tag to the room examiner.</p>
                    <p>Reminders:
                        <ul>
                            <li>The applicants must take note of the REGISTRATION CODE assigned to them by the system upon access. They shall use the said code to log in again later to view the individual results of their applications.</li>
                            <li>Applicants for admission to the undergraduate programs are advised to constantly monitor the official USeP Website and Official Facebook page for the announcement of the release of the individual results of the application.</li>
                        </ul>
                    </p>
                    <p>Should you have further inquiries, please do not hesitate to email: <a href="mailto:admissionsunit@usep.edu.ph">admissionsunit@usep.edu.ph</a></p>
                    
                    <h3 id="contacts" class="heading3">Contact Information</h3>
                    <ul>
                        <li>Website: <a href="https://www.usep.edu.ph">https://www.usep.edu.ph</a></li>
                        <li>Email: <a href="mailto:admissionsunit@usep.edu.ph">admissionsunit@usep.edu.ph</a>, <a href="mailto:pad@usep.edu.ph">pad@usep.edu.ph</a></li>
                        <li>Phone: (082) 227 8192</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
