<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section>
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#universitycourse">Univeristy Courses</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/USTPLogo.png') }}" alt="University of Science and Technology of Southern Philippines" class="univ-logo">
                    <h1>University of Science and Technology of Southern Philippines</h1>
                    <h2 class="address">Alubijid, Misamis Oriental, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">NOT YET OPENED</span>
                    </div>
                    <h3 id="special" class="heading3">Admission Requirements</h3>
                    <ul>
                        <li>College Level - Prepare the following documentary requirements:
                            <ul>
                                <li>Scanned copy of all pages of Form 138 (Report card) with current grades in Grade 12 saved in PDF format (for College Freshmen)</li>
                                <li>Scanned copy of all pages of Certificate of Grades/Transcript of Records (TOR) (for Transferee and 2nd Courser)</li>
                                <li>Scanned copy or photo of previous School ID (front and back part) or Certificate of Registration or Enrollment (for College Freshmen, Transferee, 2nd Courser)</li>
                                <li>2x2 photo in white background</li>
                                <li>Scanned copy of all pages of PSA Birth Certificate</li>
                                <li>Scanned copy of Parent's Income Tax Return (ITR) or Affidavit of No Income</li>
                            </ul>
                        </li>
                        <li>SHS Level - Prepare the following documentary requirements:
                            <ul>
                                <li>Scanned copy of all pages of Form 138 (Report Card) with current grades in Grade 10 saved in PDF format</li>
                                <li>Scanned copy or photo of previous School ID (front and back part) or Certificate of Registration or Enrollment</li>
                                <li>2x2 photo in white background</li>
                                <li>Scanned copy of all pages of PSA Birth Certificate</li>
                                <li>Scanned copy of Parent's Income Tax Return (ITR) or Affidavit of No Income</li>
                            </ul>
                        </li>
                    </ul>
                    <h3 id="universitycourse" class="heading3">University Specializations</h3>
                    <p>N/A</p>
                    <h3 class="heading3">University Courses</h3>
                    <ul>
                        <li>
                            <h4>Teacher Education</h4>
                            <ul>
                                <li>Bachelor of Elementary Education - major in Special Education</li>
                                <li>Bachelor of Technical Teacher Education</li>
                                <li>Bachelor of Technology and Livelihood Education</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Professional & Technical Courses</h4>
                            <ul>
                                <li>BS in Automotive Mechanical Technology - major in Automotive Technology, Mechanical Technology</li>
                                <li>BS in Autotronics - major in Autotronics</li>
                                <li>BS in Electrical and Technology Management</li>
                                <li>BS in Electro-Mechanical Technology - major in Mechatronics and Robotics</li>
                                <li>BS in Electronics Technology - major in Electronics Systems, Multimedia Systems Technology, Telecommunications and Network</li>
                                <li>BS in Energy Systems and Management - major in Electrical Machines Control and Maintenance, Power System Distribution with Eco-design</li>
                                <li>BS in Food Technology</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Science</h4>
                            <ul>
                                <li>BS in Applied Mathematics</li>
                                <li>BS in Applied Physics</li>
                                <li>BS in Chemistry</li>
                                <li>BS in Environmental Science</li>
                                <li>BS in Mathematics Education</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Engineering</h4>
                            <ul>
                                <li>BS in Civil Engineering</li>
                                <li>BS in Computer Engineering</li>
                                <li>BS in Electrical Engineering</li>
                                <li>BS in Electro-Mechanical Technology - major in Mechatronics and Robotics</li>
                                <li>BS in Electronics Engineering</li>
                                <li>BS in Electronics and Communications Technology</li>
                                <li>BS in Manufacturing Engineering</li>
                                <li>BS in Manufacturing Engineering Technology - major in Mechanical Design and Fabrication</li>
                                <li>BS in Mechanical Engineering</li>
                            </ul>
                        </li>
                        <li>
                            <h4>IT, Computer Science & Programming</h4>
                            <ul>
                                <li>BS in Computer Engineering</li>
                                <li>BS in Data Science</li>
                                <li>BS in Information Technology</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Administration</h4>
                            <ul>
                                <li>Bachelor of Public Administration</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Architecture</h4>
                            <ul>
                                <li>BS in Architecture</li>
                            </ul>
                        </li>
                        <li>
                            <h4>Business</h4>
                            <ul>
                                <li>BS in Technology Communication Management</li>
                            </ul>
                        </li>
                    </ul>
                    <h3 id="application" class="heading3">Application Process</h3>
                    <p>USTP CDO Admission and Testing Procedure</p>
                    
                    <h4>College Level</h4>
                    <ol>
                        <li>CREATE A NEW E-MAIL ADDRESS FOLLOWING THIS FORMAT LASTNAME.FIRSTNAME@GMAIL.COM
                            <ul>
                                <li>For those who have multiple first names, use only either one or two of it (e.g. Rizal.JuanMiguel@gmail.com).</li>
                                <li>Take note of your new e-mail address, its username, and password as this will be used as our primary means of communication to you for instructions and updates.</li>
                            </ul>
                        </li>
                        <li>PREPARE THE FOLLOWING DOCUMENTARY REQUIREMENTS
                            <ul>
                                <li>Scanned copy of all pages of Form 138 (Report card) with current grades in Grade 12 saved in PDF format (for College Freshmen)</li>
                                <li>Scanned copy of all pages of Certificate of Grades/Transcript of Records (TOR) (for Transferee and 2nd Courser)</li>
                                <li>Scanned copy or photo of previous School ID (front and back part) or Certificate of Registration or Enrollment (for College Freshmen, Transferee, 2nd Courser)</li>
                                <li>2x2 photo in white background</li>
                                <li>Scanned copy of all pages of PSA Birth Certificate</li>
                                <li>Scanned copy of Parent's Income Tax Return (ITR) or Affidavit of No Income</li>
                            </ul>
                        </li>
                        <li>COMPLETELY FILL-OUT THE ONLINE APPLICATION FORM AT PRISMS.USTP.EDU.PH/PADMISSION
                            <ul>
                                <li>Choose examination type: onsite (for residents near the school campus) or homebased (for residents who are far from the school campus or have travel restrictions)</li>
                                <li>Choose the desired academic year and term</li>
                                <li>Choose the desired school campus</li>
                                <li>Choose the appropriate application type
                                    <ul>
                                        <li>Freshman - a student applicant who is incoming 1st year level of either college or graduate level academic program</li>
                                        <li>Transferee - a student applicant who wishes to transfer from other schools and enroll in USTP</li>
                                        <li>Cross-Enrollee - a student applicant from another university who wishes to cross-enroll in USTP</li>
                                        <li>Returnee - a student applicant who withdrew from the program or was granted a Leave of Absences (LOA) or who went on Absence Without Leave (AWOL) for one semester or more and wishes to re-enroll in the university.</li>
                                        <li>2nd Courser - a student applicant who is a 4-year degree holder and who wishes to enroll in a 4-year academic program in USTP</li>
                                        <li>Earning Units - a student applicant who wishes to enroll in Certificate of Teaching (COT).</li>
                                    </ul>
                                </li>
                                <li>Choose the appropriate department: College</li>
                                <li>Attach all documentary requirements</li>
                            </ul>
                        </li>
                        <li>SUBMITTED DOCUMENTARY REQUIREMENTS FOR INCOMING FRESHMEN WILL BE EVALUATED BY THE ADMISSION OFFICER WHILE TOR FOR TRANSFEREE AND SECOND COURSERS WILL BE EVALUATED BY THE ACADEMIC PROGRAM CHAIR.</li>
                        <li>IF INCOMPLETE AND INACCURATE DOCUMENTS ARE SUBMITTED, E-MAIL OF FOLLOW-UP WILL BE SENT WHILE E-MAIL OF ACCEPTED APPLICATION WITH EXAM PERMIT, TESTING SCHEDULE AND TEST INSTRUCTIONS WILL BE SENT TO YOUR NEW E-MAIL ADDRESS IF APPLICATION IS DEEMED IN ORDER.</li>
                        <li>ACCEPTED ONSITE TEST TAKER
                            <ul>
                                <li>Get Evaluation Slip from the Admission and Scholarship Office (Ground Flr, Room 1, ITB Building)</li>
                                <li>Pay testing fee of Php 450 (for 2nd Courser) at the Cashier</li>
                                <li>Present your official receipt of payment to the Admission and Scholarship Office to claim your Permit to Take the Entrance Examination with signature and fill out our logbook</li>
                            </ul>
                        </li>
                        <li>ACCEPTED HOMEBASED TEST TAKER
                            <ul>
                                <li>Download Exam Permit embedded in the e-mail of accepted application</li>
                                <li>For 2nd Courser student applicants, payment of testing fee of Php 450 will be charged upon further notice</li>
                            </ul>
                        </li>
                        <li>TAKE THE ADMISSION TEST AS SCHEDULED</li>
                        <li>WAIT UNTIL TEST RESULTS ARE RELEASED</li>
                    </ol>
                    
                    <h4>Senior High School Level</h4>
                    <ol>
                        <li>CREATE A NEW E-MAIL ADDRESS FOLLOWING THIS FORMAT LASTNAME.FIRSTNAME@GMAIL.COM
                            <ul>
                                <li>For those who have multiple first names, use only either one or two of it (e.g. Rizal.JuanMiguel@gmail.com).</li>
                                <li>Take note of your new e-mail address, its username, and password as this will be used as our primary means of communication to you for instructions and updates.</li>
                            </ul>
                        </li>
                        <li>PREPARE THE FOLLOWING DOCUMENTARY REQUIREMENTS
                            <ul>
                                <li>Scanned copy of all pages of Form 138 or Report Card with current grades in Grade 10 saved in PDF format.</li>
                                <li>Scanned copy or photo of previous School ID (front and back part) or Certificate of Registration or Enrollment.</li>
                                <li>2x2 photo in white background.</li>
                                <li>Scanned copy of all pages of PSA Birth Certificate</li>
                                <li>Scanned copy of Parent's Income Tax Return (ITR) or Affidavit of No Income</li>
                            </ul>
                        </li>
                        <li>COMPLETELY FILL-OUT THE ONLINE APPLICATION FORM AT PRISMS.USTP.EDU.PH/PADMISSION
                            <ul>
                                <li>Choose examination type: onsite (for residents near the school campus) or home-based (for residents who are far from the school campus or have travel restrictions)</li>
                                <li>Choose the desired academic year and term</li>
                                <li>Choose the desired school campus</li>
                                <li>Choose the appropriate application type: Freshman - a student applicant who is incoming 1st year level of either senior high, college or graduate level academic program</li>
                                <li>Choose the appropriate department: Senior High Level</li>
                                <li>Attach all documentary requirements</li>
                            </ul>
                        </li>
                        <li>SUBMITTED DOCUMENTARY REQUIREMENTS FOR INCOMING SENIOR HIGH WILL BE EVALUATED BY THE ADMISSION OFFICER</li>
                        <li>IF INCOMPLETE AND INACCURATE DOCUMENTS ARE SUBMITTED, E-MAIL OF FOLLOW-UP WILL BE SENT WHILE E-MAIL OF ACCEPTED APPLICATION WITH EXAM PERMIT, TESTING SCHEDULE AND TEST INSTRUCTIONS WILL BE SENT TO YOUR NEW E-MAIL ADDRESS IF APPLICATION IS DEEMED IN ORDER.</li>
                        <li>TAKE THE ADMISSION TEST AS SCHEDULED</li>
                        <li>WAIT UNTIL TEST RESULTS ARE RELEASED</li>
                    </ol>
                    <h3 id="contacts" class="heading3">Contact Information</h3>
                    <ul>
                        <li>Email Address(es): <a href="mailto:ustep@ustp.edu.ph">ustep@ustp.edu.ph</a>, <a href="mailto:president.office@ustp.edu.ph">president.office@ustp.edu.ph</a></li>
                        <li>Website(s): <a href="https://www.ustp.edu.ph/">https://www.ustp.edu.ph/</a>, <a href="https://www.facebook.com/ustp2016">https://www.facebook.com/ustp2016</a>, <a href="https://www.ustp.edu.ph/contact-us/">https://www.ustp.edu.ph/</a></li>
                        <li>Phone Number(s): (088) 856-4696, (088) 856-1739, (088) 856-1738</li>
                        <li>Address: Alubijid, Misamis Oriental, Philippines</li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
