<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>

            <section> 
                <div id="navbar" class="heading-container"> <!-- Navigation -->
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#gen">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#undergrad">Undergraduate Programs</a>
                                    <a href="#doctoral">Doctoral Programs</a>
                                    <a href="#masters">Master Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div> 
                
                <!-- West Visayas State University - Calinog Campus -->
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/WVSUCCLogo.png') }}" alt="West Visayas State University - Calinog Campus" class="univ-logo">
                    <h1>West Visayas State University - Calinog Campus</h1>
                    <h2 class="address">Brgy. Simsiman Calinog, Iloilo, Iloilo City, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">CLOSED</span>
                    </div>
            
                    <h3 class="heading3">Admission Requirements</h3> <!-- Admission Requirements -->
                    <ol>
                        <li id="special">Certified True Copy of Grade 12 Report Card or DepEd Form 138 that reflects the grades in the 1st Quarter OR Certification from the School Principal that the applicant is graduating this AY 2023-2024</li>
                        <li> One (1) recent passport size (35 mm x 45 mm) ID photo</li>
                    </ol>
            
                    <h3 id="undergrad" class="heading3">University Specializations</h3> <!-- University Specializations -->
                    <ul>
                        <li id="openuni">Agriculture</li>
                    </ul>
            
                    <h3 class="heading3">University Courses</h3> <!-- University Courses --> 
                    <ul>
                        <li>
                          <h4>UNDERGRADUATE PROGRAMS</h4>
                          <ul>
                            <li>Bachelor of Elementary Education major in General Education</li>
                            <li>Bachelor of Science in Information Technology</li>
                            <li>Bachelor of Science in Hotel and Restaurant Management</li>
                            <li>Bachelor of Science in Industrial Technology Major In Food Technology</li>
                            <li>Bachelor of Science in Office Administration</li>
                            <li>Bachelor of Secondary Education</li>
                            <p>Major in:</p>
                                <ul>
                                    <li>English</li>
                                    <li>Mathematics</li>                                    
                                </ul>
                            <li>Bachelor of Science in Agriculture</li> 
                            <p>Major in:</p>
                                <ul>
                                    <li>Crop Science</li>
                                    <li>Animal Science</li>                                    
                                </ul>
                          </ul>
                        </li>

                        <li>
                            <h4 id="doctoral">DOCTORAL PROGRAMS</h4>
                            <ul>
                                <li>Doctor in Philosophy in Education</li>
                            </ul>
                        </li>
            
                        <li>
                            <h4 id="masters">MASTER PROGRAMS</h4>
                            <ul>
                                <li>Master of Arts in Education major in Educational Management</li>
                                <li>Master of Public Administration</li>
                            </ul>
                        </li>
                    </ul>

                    <h3 id="application" class="heading3">Application Process</h3> <!-- Application Process -->
                    <ol>
                        <li>Go to https://iuis-calinog.wvsu.edu.ph/</li>
                        <li>Click Online Application then Apply Here.</li>
                        <li>Fill out all text fields with correct information and select the campus. Make sure to supply the correct email address, You will need that for confirmation later.</li>
                        <li>Click Create Account.</li>
                        <li>Check your registered email address for your Email Verification Code.</li>
                        <li>Fill out the verification code and click Verify Code.</li>
                        <li>Tick the privacy consent checkbox and click Agree and Continue.</li>
                        <li>An email confirmation will be sent to your inbox together with your temporary login details. Click Continue to proceed to your application.</li>
                        <li>Complete Steps 1 to 5 by filling all necessary fields in the application form. Make sure to provide correct details and N check each entry for errors. If a field is required and data is not available, write “Not Applicable” or “NA”.</li>
                        <li>Upload the image files of your ID photo and the required documents.</li>
                        <li>Click Upload and Submit.</li>
                        <li>Click Okay to process the uploading of your files.</li>
                        <li>Read the information in the Applicant Certification field and click the Submit Application after reviewing your form.</li>
                        <li>The system will send your Application login credentials to your email. You can login and view the notification board and your applicant data.</li>
                        <li>Be sure to logout from the Online Application Module.</li>
                        <li>Check your email regularly for notification emails from the Registrar or College(s) of the course(s) that you applied for.</li>
                    </ol>
            
                    <h3 id="contacts" class="heading3">Contact Information</h3> <!-- Contact Information -->
                    <ul>
                        <li>Email: <a href="mailto:calinog@wvsu.edu.ph">calinog@wvsu.edu.ph</a></li>
                        <li>Telephone: (033) 330 1634</li>
                        <li>Website: <a href="https://calinog.wvsu.edu.ph/">https://calinog.wvsu.edu.ph/</a></li>
                        <li>University Announcement: <a href="https://www.facebook.com/share/p/QLakXRQWcHChShwg/">https://www.facebook.com/share/p/QLakXRQWcHChShwg/</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
