<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" href="../static/images/logos/website/finallogo.png">-->
    <link rel="icon" href="{{ url_for('static', filename='/images/logos/website/finallogo.png') }}">
    <title>PamantasanPH</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/styles/univsDetails2.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/univsDetails2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--<img src="../static/images/logos/website/finallogo.png" alt="PamantasanPH Logo">-->
            <img src="{{ url_for('static', filename='images/logos/website/finallogo.png') }}" alt="PamantasanPH Logo">
            <span>PamantasanPH</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="user">
            <i class="fa-solid fa-moon moon-icon"></i>
            <div class="gradient-container">
                <span>{{ current_user.username }}</span>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <!-- Sidebar -->
            <div class="create-item">
              <span>Create New List</span>
              <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div id="dashboard" class="sidebar-item">
              <!--<a href="dashboard.html">-->
              <a href="{{ url_for('dashboard') }}">
                <i class="fa-solid fa-box-archive"></i>
                <span>Dashboard</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="regions.html">-->
              <a href="{{ url_for('regions') }}">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>Universities</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="map.html">-->
              <a href="{{ url_for('map') }}">
                <i class="fa-solid fa-map-location-dot"></i>
                <span>Map</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="compare.html">-->
              <a href="{{ url_for('compare') }}">          
                <i class="fa-solid fa-code-compare"></i>
                <span>Compare</span>
              </a>
            </div>
            <div class="sidebar-item">
              <!--<a href="teams.html">-->
              <a href="{{ url_for('teams') }}">
                <i class="fa-solid fa-users-rectangle"></i>
                <span>Team</span>
              </a>
            </div>
            <div class="subscribe">
                <h3>Subscribe to our Newsletter!</h3>
                <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                <form action="{{ url_for('newsletter') }}" method="post">
                    {% if csrf_token %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% endif %}
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <p class="copyright">© 2024 PamantasanPH, All rights reserved</p>
          </aside>
            <section>
                <div id="navbar" class="heading-container">
                    <nav>
                        <ul>
                            <li class="dropdown">
                                <button class="dropbtn">Requirements</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#docreq">General</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Courses</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#special">Specializations</a>
                                    <a href="#grad">Graduate Programs</a>
                                    <a href="#bac">Baccalaureate Programs</a>
                                    <a href="#nondeg">Non-degree and Certificate Programs</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <button class="dropbtn">Application</button>
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="dropdown-content">
                                    <a href="#application">Application Process</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#contacts" class="dropbtn">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="gen" class="container">
                    <img src="{{ url_for('static', filename='images/logos/universities/WMSULogo.png') }}" alt="ZAMBOANGA STATE COLLEGE OF MARINE SCIENCES AND TECHNOLOGY" class="univ-logo">
                    <h1>ZAMBOANGA STATE COLLEGE OF MARINE SCIENCES AND TECHNOLOGY</h1>
                    <h2 class="address"> Fort Pilar, Zamboanga City, Philippines</h2>
                    <div class="status">
                        <i class="status-icon fa fa-circle" id="status-icon"></i>
                        <span class="close" id="status-text">Admission Ongoing</span>
                    </div>
                    <h3  id="docreq" class="heading3">Requirements</h3>
                    <ol>
                        <li>Accomplished and Printed On-line Application form for college.</li>
                        <li>Two (2) Pieces Recent 2×2 ID Pictures with Applicants' Name Tag (Surname, First Name, Middle Initial)</li>
                        <li id="special">Photocopy of Grade 12 Report Card (For Senior High School Graduates)</li>
                        <li>Photocopy of Transcript of Records (For Transferee/Second Coursers)</li>
                        <li>Photocopy of NSO/PSA Birth Certificate.</li>
                    </ol>
                    <p>Reminder: Please bring original documents for verification. All submitted documents in compliance with the College Admission Test (CAT) requirements shall become property of ZSCMST and are not to be returned to the applicant.</p>
                    <h3 class="heading3">University Specializations</h3>
                    <p>This campus specializes in Maritime Courses.</p>
                    <h3 id="grad" class="heading3">University Courses</h3>
                    <h4>FOR GRADUATE PROGRAMS</h4>
                    <ul>
                        <li>Master of Science in Marine Biodiversity</li>
                        <li>Master of Fisheries Management major in Aquaculture Technology</li>
                        <li>Master of Arts in Teaching English for Specific Purposes</li>
                        <li>Master of Arts in Education Major in Alternative Learning System</li>
                        <li>Master in Maritime Management</li>
                        <li>Master of Arts in Teaching Marine Transportation</li>
                        <li>Master in Public Management</li>
                        <li id="bac">Master of Arts in Home Economics</li>
                    </ul>
                    <h4>FOR BACCALAUREATE PROGRAMS</h4>
                    <ul>
                        <li>Bachelor of Science in Marine Transportation</li>
                        <li>Bachelor of Science in Marine Engineering</li>
                        <li>Bachelor of Science in Hospitality Management</li>
                        <li>Bachelor of Science in Fisheries</li>
                        <li>Bachelor of Science in Fisheries-Post Harvest Technology (Ladderized)</li>
                        <li>Bachelor of Science in Aquaculture</li>
                        <li>Bachelor of Science in Food Technology</li>
                        <li>Bachelor of Science in Marine Biology</li>
                        <li>Bachelor of Science in Environmental Science</li>
                        <li>Bachelor of Science in Marine Technology</li>
                        <li id="nondeg">Bachelor of Secondary Education - majors in: Sciences, English, Filipino, Mathematics</li>
                        <li>Bachelor in Technology Livelihood Education - major in: Home Economics, Agri-Fishery Arts, Information and Communication Technology</li>
                    </ul>
                    <h4>FOR NON-DEGREE AND CERTIFICATE PROGRAMS</h4>
                    <ul>
                        <li>Professional Education Certificate</li>
                        <li>Diploma in Marine Electronics and Communications Technology</li>
                    </ul>
                    <h3 id="application" class="heading3">Application Process</h3>
                    <ol>
                        <li>Freshmen-applicant must apply online for the College Admission Test (CAT)</li>
                        <li>Freshmen-applicant must report to the Testing, Admission and Scholarship Center (TASC) to submit accomplished downloaded application form with complete admission requirements.
                            <ul>
                                <li>Senior High School Card</li>
                                <li>Residency Verification Form (From Accounting Office)</li>
                            </ul>
                        </li>
                        <li id="contacts">Pay 250 pesos admission fee and secure the examination schedule and permit from the College Admission Office.</li>
                        <li>Freshmen-applicant must take the CAT based on the given schedule of examination.</li>
                        <li>Secure the Notice of Admission based on the schedule given by College Admission Office</li>
                        <li>Qualified applicant should be tagged on the academic program of his/her choice based on the academic grade required by the college/center.</li>
                        <li>Issuance of College Admission Notice and password for online Enrollment.</li>
                        <li>Proceed for the online enrolment of the academic program of his/her choice.</li>
                    </ol>
                    <h3 class="heading3">Contact Information</h3>
                    <ul>
                        <li>Email Address(es): zscmstpico@gmail.com, helpdesk@zscmst.edu.ph</li>
                        <li>Websites:
                            <ul>
                                <li><a href="https://zscmst.edu.ph/" target="_blank">https://zscmst.edu.ph/</a></li>
                                <li><a href="https://www.facebook.com/ZSCMSTPICO/" target="_blank">https://www.facebook.com/ZSCMSTPICO/</a></li>
                            </ul>
                        </li>
                        <li>Phone / Landline Number:
                            <ul>
                                <li>(062) 991-0777</li>
                                <li>(062) 992-3092</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>
    <!-- <script src="scriptProto.js"></script> -->
</body>
</html>
