/* WILL FINALIZE */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root { /* global styling */
    --maroon: #722828; /* main color */
    --pale-gray: #FBEEEE; /* bg color */
    --white: #FFFFFF; /* nav bg color */
    --dark-blue: #092334; /* secondary color */
    --red: #FF0000; /* accent color_1 */
    --green: #00FF00; /* accent color_2 */
    --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* box shadow */
}

*, /* resets default browser styling */
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
    font-family: 'Inter', sans-serif; 
}

body {
    margin: 0;
    padding-bottom: 0;
}

/* Header and navigation styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background-color: var(--white);  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  padding: 0 1rem;
}

.logo img {
  height: 100%;
  width: auto;
}

.title {
  display: flex;
  align-items: center;
}

.title p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--maroon);  
  margin-left: 10px;
}

.title span {
  color: var(--dark-blue);  
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 2rem;
}

nav a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--maroon); 
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: var(--dark-blue);  
  text-decoration: underline;
} 

/* Page indicator styling */
#home {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .title {
    margin-bottom: 1rem;
  }

  nav {
    margin-top: 1rem;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
  
#home {
  background-color: #FFFFFF;
  padding: 200px 0 200px; /* adjust the top padding to match the height of the nav */
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slides {
  flex: 1;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slides.active {
  opacity: 1;
}

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
}

.slides h1,
.slides p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.slides h1 {
  font-size: 48px;
  font-weight: bold;
  color: #722828;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
}

.slides p {
  font-size: 18px;
  color: #092334;
  text-align: left;
  max-width: 500px;
  margin-left: 100px;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 36px;
  color: #722828;
  cursor: pointer;
  outline: none;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 36px;
  color: #722828;
  cursor: pointer;
  outline: none;
}

.prev:hover,
.next:hover {
  color: #092334;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.column h1 {
  margin-bottom: 20px;
}

.column p {
  margin-bottom: 20px;
}

.text-with-border {
  border-bottom: 2px solid #722828; /* will modify */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.prev,
.next {
  background-color: transparent;
  border: none;
  font-size: 36px;
  color: #722828; /* will modify */
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px; /* modidfied */
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  color: #092334; 
  animation: arrowAnimation 0.5s ease; /* apply animation on hover */
}

.slides.slide-1 {
  opacity: 1;
}

#univs.search-bar {
  background-color: #FBEEEE; /* modified */
  padding: 20px;
  border: 1px solid #FBEEEE;  /* modified */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #092334;
  border: 1px solid #092334;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.search-icon {
  color: #FBEEEE; /* modified */
  font-size: 18px;
  cursor: pointer;
}

.search-input {
  background-color: transparent;
  border: none;
  color: #FBEEEE;
  font-size: 14px;
  flex: 1;
  margin: 0 10px;
}

.search-input::placeholder {
  color: #FBEEEE; 
  font-size: 14px; 
}

.search-button {
  background-color: #FBEEEE;
  border: none;
  color: #722828;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
  padding: 5px 10px;
}

.search-button:hover {
  background-color: #722828;
  color: #FBEEEE;
}

.univ-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #FBEEEE; /* modified */
}

.univ-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.univ-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.univ-details {
  flex: 1;
}

.univ-name {
  text-decoration: none;
  color: #092334;
  font-weight: bold;
  font-size: 18px;
}

.univ-desc {
  margin-bottom: 10px;
  font-size: 16px;
}

footer { /* footer styling */
  background-color: #722828;
  color: #FBEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBoxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin: 0 20px;
}

.footerBox {
  flex: 1 1 calc(30% - 40px); /* adjusted width for three boxes in one row */
  margin-top: 5px; /* decreased margin to lessen space above */
  padding: 20px; 
}

.footerBox h3 {
  font-size: 1rem; 
  font-weight: bold;
  margin-bottom: 10px;
}

.footerBox p {
  font-size: 0.6rem; 
  text-align: justify;
  color: #FBEEEE; 
  margin-bottom: 10px;
}

.social-links {
  align-items: center;
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
}

.social-links img {
  width: 32px;
  height: 32px;
}

.newsletter {
  /* insert properties */
}

.splitter {
  width: 95%; 
  height: 1px;
  background-color: #FBEEEE; 
  margin: 10px 0; 
}

.copy-right {
  font-size: 0.6rem;
  text-align: right; 
  margin-bottom: 0.8rem;
  width: 95%; 
}

@media (max-width: 768px) {
  .footerBox {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .footerBox {
    flex: 1 1 100%;
  }
}