<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PamantasanPH</title>
    <!-- <link rel="stylesheet" href="univs.css"> -->
</head>

<body>
	<header class="header"> <!--navigation div-->
        <div class="title">
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\sw_logo\logo_1.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a class="active" href="#univs">Universities</a></li>
            </ul>
        </nav>
    </header>

    <!-- City of Malabon University -->
	<div class="container">
		<h2>City of Malabon University</h2>
		<p>Pampano cor., Maya-Maya Sts., Longos City of Malabon</p>
		<div class="status">
		  <i class="status-icon fa fa-circle" id="status-icon"></i>
		  <span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>Admission Requirements</h3> <!-- Admission Requirements -->
		<h4>FOR GRADUATING SHS STUDENTS</h4>
		<ol>
		  <li>Certified True Copy of Grade 11 SHS Final Report Card</li>
		  <li>CMU Recommendation Form accomplished and signed by the Class Adviser, School Principal, and Guidance Counselor</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background</li>
		</ol>

		<h4>FOR GRADUATES OF PREVIOUS SCHOOL YEARS</h4>
		<ol>
		  <li>Certified True Copy of Grade 11 SHS Final Report Card</li>
		  <li>CMU Recommendation Form accomplished and signed by the Class Adviser, School Principal, and Guidance Counselor</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background</li>
		</ol>

		<h4>PASSERS OF ALS</h4>
		<ol>
		  <li>Certified True Copy of ALS Report Card with 100% percentile rating or better</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background</li>
		</ol>

		<h4>FOR TRANSFEREES/RETURNEES</h4>
		<ol>
		  <li>Photocopy (CTC) of Transcript of Record</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background (Computer generated pictures are not allowed)</li>
		</ol>

		<h4>EXEMPTION FROM UNDERGRAD ADMISSION TEST AND ADMISSION FEE</h4>
		<p>SHS Graduating Honor Students (With Highest Honors) and Student-Athletes are eligible to apply for EXEMPTION from taking the Undergrad Admission Test and paying the admission fee. Such exemptions may be granted upon submission of the following documents:</p>
		<ol>
		  <li>Certified True Copy of Grade 11 SHS Final Report Card</li>
		  <li>CMU Recommendation Form accomplished and signed by the Class Adviser, School Principal, and Guidance Counselor</li>
		  <li>Certificate of Good Moral Character signed by the Guidance Counselor/ Prefect of Discipline and School Principal</li>
		  <li>Applicant’s or Parent’s/ Guardian/s Certificate of Voter’s Registration from COMELEC Malabon</li>
		  <li>Barangay certificate of Indigency</li>
		  <li>1pc. 2x2 picture with white background</li>
		  <li>Certification from the School Principal</li>
		</ol>
		<ul>
		  <li>For Honor Students: With Highest Honors</li>
		  <li>For Student-Athletes: Participation in National and International Sports Competitions</li>
		</ul>

		<h3>University Specialization</h3> <!-- University Specialization -->
		<ul>
			<li>Business Administration</li>
			<li>Accountancy</li>
		</ul>

		<h3>University Courses</h3> <!-- University Courses -->
		<ul>
		  <li>Bachelor of Arts in Journalism</li>
		  <li>Bachelor of Arts in Political Science</li>
		  <li>Bachelor of Public Administration</li>
		  <li>Bachelor of Science in Social Work</li>
		  <li>Bachelor of Science in Criminology</li>
		  <li>Bachelor of Science in Business Administration (B.S.B.A) 
			<p>Major in:</p> 
			<ul>
				<li>Financial Management</li>
		  		<li>Human Resource Management</li>
		  		<li>Marketing Management</li>
			</ul>
		  </li>
		  <li>Bachelor of Science in Accountancy (B.S.A)</li>
		  <li>Bachelor of Science in Management Accounting (B.S.M.A)</li>
		  <li>Bachelor of Science in Information Technology (BSIT)</li>
		  <li>Bachelor in Elementary Education (BEED)</li>
		  <li>Bachelor in Secondary Education (BSE)
			<p>Major in:</p>
			<ul>
				<li>English</li>
				<li>Mathematics</li>
				<li>Social Studies</li>
			  </ul>
		  </li>
		  <li>Bachelor of Early Childhood Education (BECED)</li>
		  <li>Doctor of Educational Management (DEM)</li>
		  <li>Doctor of Business Administration (DBA)</li>
		  <li>Doctor of Public Administration (DPA)</li>
		  <li>Master of Arts in Educational Management (MAEM)</li>
		  <li>Master in Business Administration (MBA)</li>
		  <li>Master in Public Administration (MPA)</li>
		</ul>

		<h3>Application Process</h3> <!-- Application Process -->
		<ol>
			<li>Accomplishment of the Online Admission Application Form</li>
			<li>Pay the admission fee at the Finance Office</li>
			<li>Take the CMU Undergraduate Admission Examination</li>
			<li>Pass the Academic Interview</li>
			<li>Receive the Acceptance Notice</li>
			<li>Sign the scholarship contract and receive the scholarship certificate</li>
			<li>Enroll onsite</li>
		</ol>

		<h3>Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: 
				<ul>
					<li><a href="u.admissions@cityofmalabonuniversity.edu.ph">u.admissions@cityofmalabonuniversity.edu.ph</a></li>
					<li><a href="ro@cityofmalabonuniversity.edu.ph">ro@cityofmalabonuniversity.edu.ph</a></li>
				</ul>
			</li>
			<!-- <li>Telephone: (+632) 5335-1787 or 5335-1777 local 176</li> --> <!-- WILL FINALIZE -->
			<li>Website: <a href="https://cityofmalabonuniversity.edu.ph/">https://cityofmalabonuniversity.edu.ph/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/cityofmalabonuniversity">https://www.facebook.com/cityofmalabonuniversity</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div>
                    <a href="https://www.facebook.com/"><img src="images\social\facebook.png" target="_blank" class="social-links" alt="Facebook"></a>
                    <a href=""><img src="" target="_blank" class="social-links" alt="Email"></a> <!--[SUGGESTION] +1 feature where user will enter their email to be updated with the faqs & updates about the web app-->
                    <a href="https://www.linkedin.com/"><img src="images\social\linkedin.png" target="_blank" class="social-links" alt="LinkedIn"></a>
                </div>
                
                <div class="newsletter"> <!--newsletter--> 
                    <h3>Stay Updated!</h3>
                    <p>Subscribe to our newsletter to receive updates and FAQs about PamantasanPH.</p>
                    <form action="subscribe.py" method="POST">
                        <label for="email">Enter your email:</label>
                        <input type="email" id="email" name="email" placeholder="Your email address" required>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <!-- <script src="univs.js" defer></script> -->
</body>
</html>