<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PamantasanPH</title>
    <!-- <link rel="stylesheet" href="univs.css"> -->
</head>

<body>
	<header class="header"> <!--navigation div-->
        <div class="title">
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\sw_logo\logo_1.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a class="active" href="#univs">Universities</a></li>
            </ul>
        </nav>
    </header>

    <!-- Dr. Filemon C. Aguilar Memorial College of Las Pinas -->
	<div class="container">
		<h2>Dr. Filemon C. Aguilar Memorial College of Las Pinas</h2>
		<p>Golden Gate Subdivision, Talon III, Las Piñas, 1747 Metro Manila</p>
		<div class="status">
		  <i class="status-icon fa fa-circle" id="status-icon"></i>
		  <span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>Admission Requirements</h3> <!-- Admission Requirements -->
		<ol>
		  <li>Application to the Dr. Filemon C. Aguilar Memorial College of Las Piñas College Admission Test is done Online Pre-Registration</li>
		  <li>Senior High School graduates currently enrolled in Grade 12 may apply for DFCAMCLP College Admission Test (DCAT)</li>
		  <li>The following are the requirements for the DCAT: a. Preferably must be a graduate of the K-12 Program, specifically:
			<ul>
				<li>Accountancy, Business, and Management (ABM) strands for Business and Accountancy</li>
				<li>Science, Technology, Engineering and Mathematics (STEM) strands for Computer Engineering</li>
				<li>All strands for Information Systems</li>
				<li>Priority will be given to the graduates of Senior High School with no grades lower than 83% in all learning areas</li>
				<li>Must have at least 80% correct answers in the DCAT and/or within the cut-off score set by the Management for Academic Year 2024-2025</li>
			</ul>
		  </li>
		  <li>
		  <p>Application Requirements in addition to the foregoing criteria:</p>
			<ol>
				<li>BSA and BSBA College applicants must submit their requirements personally (Onsite) to the Guidance and Counseling Services Office (GCSO) of DFCAMCLP Main Campus, Golden Gate Subdivision, Talon Tres, Las Pinas City.</li>
				<li>BSCPE and BSIS Applicants must submit their requirements to the Guidance and Counseling Services Office at the DFCAMCLP-Satellite Campus.</li>
				<li>List of Requirements: 
				<p>(Hard copy of requirement in long folder, plastic, and brown envelope):</p>
					<ul>
						<li>Duly accomplished Admission Application Form for College Admission Test (DCAT), can be downloaded through this link: <a href="https://drive.google.com/file/d/1D3UBlu3q1x23zEJua28vDQIJK07BT5yh/view?usp=dirve link">https://drive.google.com/file/d/1D3UBlu3q1x23zEJua28vDQIJK07BT5yh/view?usp=dirve link</a></li>
						<li>Photocopy of Senior High School Report Card Form 138 of Grade 11, AND Grade 12 First Semester.</li>
						<li>Photocopy of Certification of Good Moral Character duly signed by the school principal or guidance counselor with the school's dry seal;</li>
						<li>Photocopy of Birth Certificate (PSA/NSO);</li>
						<li>2 pcs. 2x2 ID Picture with white background and with signature over the printed name;</li>
						<li>Voters ID of applicants (registered voters of Las Piñas)</li>
						<li>Passing the DCAT is not the sole basis for admission to College. The applicants for Bachelor of Science in Accountancy (BSA) program are required to take additional qualifying assessments.</li>
					</ul>
				</li>
			</ol>
		  </li>
		  <li>The following are grounds for disqualification, and forfeiture of slot:
			<ul>
				<li>Misrepresentation of the information entered in the application form; and</li>
				<li>Violation of the application instructions of the College.</li>
			</ul>
		  </li>
		  <li>Application period starts on March 18, 2024 to May 24, 2024.</li>
		  <li>The List of Qualified Applicants with complete requirements will be POSTED thru the Official DFCAMCLP Facebook Page.</li>
		  <li>Applicants are advised to regularly visit the DFCAMCLP Office of the President Facebook Page for announcement and updates. <a href="https://www.facebook.com/officialDFCAMCLPPresident">https://www.facebook.com/officialDFCAMCLPPresident</a></li>
		  <li>Feel free to email us at <a href="guidance.office@dfcamclp.edu.ph">guidance.office@dfcamclp.edu.ph</a> for query and clarifications.</li>
		</ol>

		<h3>University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>Business Management</li>
		</ul>

		<h3>University Courses</h3> <!-- University Courses -->
		<h4>UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li>Bachelor of Science in Accountancy (BA)</li>
		  <li>Bachelor of Science in Business Administration (BSA)</li>
		  <li>Bachelor of Science in Information Systems (BSIS)</li>
		  <li>Bachelor of Science in Business Administration
			<p>Major in:</p>
			<ul>
				<li>Marketing Management (MKT)</li>
				<li>Financial Management (FM)</li>
				<li>Human Resource Management (HRM)</li>
			</ul>
		  </li>
		  <li>Bachelor of Science in Computer Engineering (BSCPE)</li>
		</ul>

		<h3>Application Process</h3> <!-- Application Process -->
		<ol>
			<li>Visit the DFCAMCLP-Office of the President Facebook Page and scan the QR Code for Pre-Admission Registration Form.</li>
			<li>Fill-out the DFCAMCLP College Admission Application Form.</li>
			<li>Submit the complete requirements (onsite) at the Guidance and Counseling Services of Main Campus for BSA and BSBA Applicants (Every Monday & Tuesday).&nbsp;Submit the complete requirements (onsite) at the Guidance and Counseling Services of Satellite Campus for BSCPE and BSIS Applicants (Every Wednesday & Thursday).</li>
			<li>Check the schedule and the list of Qualified Examinees at the Official DFCAMCLP Facebook Page.</li>
			<li>Report to DFCAMCLP-Satellite Campus for the College Admission Test on the scheduled date and time.</li>
			<li>Wait for the announcement of DCAT Passers.</li>
			<li>Proceed to the schedule of enrollment.</li>
		</ol>

		<h3>Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: 
				<ul>
					<li><a href="dfcamclp.sc@gmail.com">dfcamclp.sc@gmail.com</a></li>
					<li><a href="dfcamclp.osa@gmail.com">dfcamclp.osa@gmail.com</a></li>
					<li><a href="guidance.office@dfcamclp.edu.ph">guidance.office@dfcamclp.edu.ph</a></li>
					<li><a href="ocr.main@dfcamclp.edu.ph">ocr.main@dfcamclp.edu.ph</a></li>
				</ul>
			</li>
			<li>Telephone: 282522172</li> 
			<!-- <li>Website: <a href=""></a></li> WILL FINALIZE --> 
			<li>University Announcement: <a href="https://www.facebook.com/officialDFCAMCLPPresident">https://www.facebook.com/officialDFCAMCLPPresident</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div>
                    <a href="https://www.facebook.com/"><img src="images\social\facebook.png" target="_blank" class="social-links" alt="Facebook"></a>
                    <a href=""><img src="" target="_blank" class="social-links" alt="Email"></a> 
                    <a href="https://www.linkedin.com/"><img src="images\social\linkedin.png" target="_blank" class="social-links" alt="LinkedIn"></a>
                </div>
                
                <div class="newsletter"> <!--newsletter--> 
                    <h3>Stay Updated!</h3>
                    <p>Subscribe to our newsletter to receive updates and FAQs about PamantasanPH.</p>
                    <form action="subscribe.py" method="POST">
                        <label for="email">Enter your email:</label>
                        <input type="email" id="email" name="email" placeholder="Your email address" required>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <!-- <script src="univs.js" defer></script> -->
</body>
</html>