<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PamantasanPH</title>
    <!-- <link rel="stylesheet" href="univs.css"> -->
</head>

<body>
	<header class="header"> <!--navigation div-->
        <div class="title">
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\sw_logo\logo_1.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a class="active" href="#univs">Universities</a></li>
            </ul>
        </nav>
    </header>

     <!-- Polytechnic College of the City of Meycauayan  -->
	 <div class="container">
		<h2>Polytechnic College of the City of Meycauayan</h2>
		<p> (Main) Pag-asa Street, Malhacan, City of Meycauayan, Bulacan, Philippines, 3020 | (Annex) Sitio Cabatuhan, Camalig, City of Meycauayan, Bulacan, Philippines, 3020</p>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>Admission Requirements</h3> <!-- Admission Requirements -->
		<ol>
			<li>
				<h4>FOR ALL APPLICANTS</h4>  
				<ul>
					<li>Grade 12 report card with GWA or its Equivalent (SF-9/Form 138)- Photocopy</li>
					<li>Good Moral Certificate (Photocopy)</li>
					<li>PSA Birth Certificate (Photocopy)</li>
					<li>Medical Certificate (Photocopy/Secure after Qualifying)</li>
					<li>Two (2) ID Pictures (2x2)</li>
					<li>One (1) Long Brown Envelope</li>
				</ul>
			</li>
			
			<li>
				<h4>FOR TRANSFEREES</h4>
				<ul>
					<li>TOR and Transfer Credentials</li>
				</ul>
			</li>
			
			<li>
				<h4>FOR PASSERS OF ALS</h4>
				<ul>
					<li>Certificate of Eligibility for College Admission</li>
				</ul>
			</li>
		</ol>

		<h3>University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>Technology</li>
		</ul>

        <h3>University Courses</h3> <!-- University Courses -->
		<ul>
			<li><strong>Teacher Education Program</strong>  
				<ul>
					<li>Bachelor of Secondary Education (BSEd) Major in English
					</li>
					<li>Bachelor of Secondary Education (BSEd) Major in Mathematics
					</li>
					<li>Bachelor of Secondary Education (BSEd) Major in Social Studies
					</li>
				</ul>
			</li>

			<li><strong>Hospitality Management Program</strong>  
				<ul>
					<li>Bachelor of Science in Hospitality Management (BSHM)
					</li>
				</ul>
			</li>

			<li><strong>Office Administration Program</strong>  
				<ul>
					<li>Bachelor of Science in Office Administration (BSOA)
					</li>
				</ul>
			</li>

			<li><strong>TESDA TVET Program</strong>  
				<ul>
					<li>Electrical Installation and Maintenance (EIM)
					</li>
					<li>Visual Graphics Design (VGD)
					</li>
				</ul>
			</li>
		</ul>

		<h3>Application Process</h3> <!-- Application Process -->
				<ol>
					<li>Fill up the application form downloadable through the PCCM webpage or secure the application from the guidance office;</li>
					<li>Submit all the necessary documents to the assigned Guidance and/or Admission Officer.</li>
					<li>Secure the admission test at the assigned schedule.</li>
					<li>Submit to an interview to be administered by the Program Head or the College of Dean.</li>
					<li>See the list of college qualifiers that will be posted on the College bulletin Boards at the College or on the official PCCM webpage.</li>
					<li>For the admitted students, sign the Behavior/Contract waiver required and secure enrollment permit/follow enrollment procedures.</li>
				</ol>
		
		<h3>Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: <a href="mailto:pccmguidance2020@gmail.com">pccmguidance2020@gmail.com</a></li>
			<li>Telephone: (044) 320 5653</li>
			<li>Website: <a href=" https://pccm.edu.ph/"> https://pccm.edu.ph/</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/pccmeduph/">https://www.facebook.com/pccmeduph/</a></li>
		</ul>
	</div>
    
    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div>
                    <a href="https://www.facebook.com/"><img src="images\social\facebook.png" target="_blank" class="social-links" alt="Facebook"></a>
                    <a href=""><img src="" target="_blank" class="social-links" alt="Email"></a> 
                    <a href="https://www.linkedin.com/"><img src="images\social\linkedin.png" target="_blank" class="social-links" alt="LinkedIn"></a>
                </div>
                
                <div class="newsletter"> <!--newsletter--> 
                    <h3>Stay Updated!</h3>
                    <p>Subscribe to our newsletter to receive updates and FAQs about PamantasanPH.</p>
                    <form action="subscribe.py" method="POST">
                        <label for="email">Enter your email:</label>
                        <input type="email" id="email" name="email" placeholder="Your email address" required>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <!-- <script src="univs.js" defer></script> -->
</body>
</html>