<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PamantasanPH</title>
    <!-- <link rel="stylesheet" href="univs.css"> -->
</head>

<body>
	<header class="header"> <!--navigation div-->
        <div class="title">
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\sw_logo\logo_1.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a class="active" href="#univs">Universities</a></li>
            </ul>
        </nav>
    </header>

     <!-- Pamantasan ng Valenzuela -->
	 <div class="container">
		<h2>Pamantasan ng Valenzuela</h2>
		<p>Valenzuela City Hall Complex, Cecilio Santos St.,Barangay Malinta, Valenzuela City Metro Manila, Philippines 1440</p>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>Admission Requirements</h3> <!-- Admission Requirements -->
		<h4>ENTRANCE EXAM REQUIREMENTS</h4>
		<ol>
			<li>Photocopy of Report Card / Transcript of Records / Certification of Grades</li>
			<li>Two (2) pieces of 1”x1” picture</li>
			<li>Entrance Exam Fee</li>
			<li>Voter’s ID (Parent/Applicant)</li>
			<li>For Valenzuela City residents only</li>
		  </ol>

		<h4>CERTIFICATE IN TEACHING PROGRAM & GRADUATE STUDIES</h4>
		<ol>
			<li>Original TOR / Transfer Credentials</li>
			<li>Birth Certificate (NSO Authenticated)</li>
			<li>Medical Certificate</li>
			<li>Two (2) pieces of recent ID picture (1”x1”)</li>
			<li>Two (2) pieces of long brown envelope</li>
			<li>Recommendation letter from employer</li>
		</ol>

		<h3>University Specializations</h3> <!-- University Specializations -->
		<ul>
			<li>Teacher Education</li>
		</ul>

        <h3>University Courses</h3> <!-- University Courses -->
		<h4>UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li>Bachelor of Science in Electrical Engineering</li>
		  <li>Bachelor of Science in Civil Engineering</li>
		  <li>Bachelor of Science in Information Technology</li>
		  <li>Bachelor of Science in Accountancy</li>
		  <li>Bachelor of Science in Accounting Technology</li>
		  <li>Bachelor of Science in Business Administration Major in Financial Management</li>
		  <li>Bachelor of Science in Business Administration Major in Marketing Management</li>
		  <li>Bachelor of Science in Business Administration Major in Human Resource Development Management</li>
		  <li>Bachelor of Science in Public Administration</li>
		  <li>Bachelor of Science in Psychology</li>
		  <li>Bachelor of Science in Social Work</li>
		  <li>Bachelor of Elementary Education Major in Pre-School Education
			<p>Major in:</p>
			<ul>
				<li>English</li>
				<li>Filipino</li>
				<li>Mathematics</li>
				<li>General Science</li>
				<li>Social Studies</li>
			</ul>
		  </li>
		</ul>
		  
        <h3>Application Process</h3> <!-- Application Process -->
		<h4>Admission Requirements and Procedures for Freshmen of Public and Private High Schools of Muntinlupa</h4>
		<ol>
			<li>Visit the link <a href="http://tinyurl.com/PLVCAT2024">http://tinyurl.com/PLVCAT2024.</a> Download and accomplish the PLV-CAT Application Form 2024 and complete the documentary requirements.</li>
			<li>Submit the fully accomplished PLV-CAT Application Form 2024 and Documentary Requirements at the office of the University Registrar (OUR, 2nd Floor, Student Center Building, PLV Maysan Campus.</li>
			<li>Secure the Examination Permit.</li>
			<li>Take the PLV admission Test</li>
			<li>View the result of the PLV-CAT 2024</li>
		</ol>

		<h3>Contact Information</h3> <!-- Contact Information -->
		<ul>
			<!-- <li>Email: <a href=""></a></li> WILL FINALIZE --> 
			<li>Telephone:  (02) 277 6495</li>
			<li>Website: <a href="plv.edu.ph">plv.edu.ph</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/PamantasanNgLungsodNgValenzuelaOfficialAccount/?locale=tl_PH">https://www.facebook.com/PamantasanNgLungsodNgValenzuelaOfficialAccount/?locale=tl_PH</a></li>
		</ul>
	</div>

    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div>
                    <a href="https://www.facebook.com/"><img src="images\social\facebook.png" target="_blank" class="social-links" alt="Facebook"></a>
                    <a href=""><img src="" target="_blank" class="social-links" alt="Email"></a> 
                    <a href="https://www.linkedin.com/"><img src="images\social\linkedin.png" target="_blank" class="social-links" alt="LinkedIn"></a>
                </div>
                
                <div class="newsletter"> <!--newsletter--> 
                    <h3>Stay Updated!</h3>
                    <p>Subscribe to our newsletter to receive updates and FAQs about PamantasanPH.</p>
                    <form action="subscribe.py" method="POST">
                        <label for="email">Enter your email:</label>
                        <input type="email" id="email" name="email" placeholder="Your email address" required>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <!-- <script src="univs.js" defer></script> -->
</body>
</html>