<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content_purposes</title>
</head>
<body>
     <!-- Polytechnic University of the Philippines -->
	<div class="container">
		<h2>Polytechnic University of the Philippines</h2>
		<p>1016 Anonas, Sta. Mesa, Maynila, Kalakhang Maynila</p>
		<ul>
			<li><strong>Branches</strong></li>
			<li>Taguig City</li>
			<li>Quezon City</li>
			<li>San Juan City</li>
			<li>Parañaque</li>
			<li>Bataan</li>
			<li>Sta. Maria Bulacan</li>
			<li>Pulilan, Bulacan</li>
			<li>Cabiao, Nueva Ecija</li>
			<li>Lopez, Quezon</li>
			<li>Mulanay, Quezon</li>
			<li>Unisan, Quezon</li>
			<li>Ragay, Camarines Sur</li>
			<li>Sto. Tomas, Batangas</li>
			<li>Maragondon, Cavite</li>
			<li>Calauan, Laguna</li>
			<li>Sta. Rosa, Laguna</li>
			<li>San Pedro, Laguna</li>
			<li>Biñan, Laguna</li>
			<li>Sablayan, Occidental Mindoro</li>
			<li>Bansud, Occidental Mindoro</li>
		</ul>
		
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span id="status-text">NOT YET OPENED</span>
		</div>
		<h3>List of Requirements</h3>
		<ol>
			<li>Passed PUP College Entrance Exam Test (PUPCET)</li>
			<li>Confirmation Requirements</li>
			<li>High School Graduate</li>
			<li>High School Card (Form 138)</li>
			<li>Form 137-A</li>
			<li>Medical Clearance from PUP Medical Clinic</li>
			<li>Certification of Good Moral Character duly signed by the high school principal/guidance counselor of the school last attended.</li>
			<li>NSO authenticated copy of Birth Certificate/ Certificate of Live Birth</li>
		</ol>
		<h3>University Specialization</h3>
		<ul>
			<li>Education</li>
			<li>Information Technology</li>
			<li>Management</li>
			<li>Marketing</li>
		</ul>
        <h3>University Courses</h3>
		<ul>
			<li><strong>Programs</strong>
			  <ul>
				<li>Open Uni
				  <ul>
					<li>Doctor in Business Administration (DBA)</li>
					<li>Doctor in Engineering Management (D.Eng)</li>
					<li>Doctor of Philsophy in Education Management (PhDEM)</li>
					<li>Doctor in Public Administration (DPA)</li>
					<li>Master in Communication (MC)</li>
					<li>Master in Business Administration (MBA)</li>
					<li>Master of Arts in Education Management  (MAEM)</li>
					<li>Master in Information Technology (MIT)</li>
					<li>Master in Public Administration (MPA)</li>
					<li>Master of Science in Construction Management (MSCM)</li>
					<li>Post Baccalaureate Diploma in Information Technology (PBDIT)</li>
					<li>Bachelor of Science in Entrepreneurship (BSENTREP)</li>
					<li>Bachelor of Arts in Broadcasting (BABR)</li>
					<li>Bachelor of Science in Business Administration major in Human Resource Management (BSBAHRM)</li>
					<li>Bachelor of Science in Business Administration major in Marketing Management (BSBAMM)</li>
					<li>Bachelor of Science in Office Administration (BSOA)</li>
					<li>Bachelor of Science in Tourism Management (BSTM)</li>
					<li>Bachelor of Public Administration (BPA)</li>
				  </ul>
				</li>
				<li>Main
				  <ul>
					<li>Diploma in Civil Engineering Technology (DCvET)</li>
					<li>Diploma in Computer Engineering Technology (DCET)</li>
					<li>Diploma in Electrical Engineering Technology (DEET)</li>
					<li>Diploma in Electronics Engineering Technology (DECET)</li>
					<li>Diploma in Information Communication Technology (DICT)</li>
					<li>Diploma in Mechanical Engineering Technology (DMET)</li>
					<li>Diploma in Office Management Technology (DOMT)</li>
					<li>Diploma in Railway Engineering Technology (DRET)</li>
					<li>Bachelor of Science in Accountancy (BSA)</li>
					<li>Bachelor of Science in Business Administration Major in Financial Management (formerly Bachelor of Science in Banking and Finance) (BSBAFM)</li>
					<li>Bachelor of Science in Management Accounting (BSMA)</li>
					<li>Bachelor of Science in Architecture (BS-ARCH)</li>
					<li>Bachelor of Science in Interior Design (BSID)</li>
					<li>Bachelor of Science in Environmental Planning (BSEP)</li>
					<li>Bachelor of Arts in English Language Studies (formerly Bachelor of Arts in English) (ABELS)</li>
					<li>Bachelor of Arts in Filipinology (ABF)</li>
					<li>Bachelor of Arts in Literary and Cultural Studies (ABLCS)</li>
					<li>Bachelor of Arts in Philosophy (AB-PHILO)</li>
					<li>Bachelor of Performing Arts major in Theater Arts (formerly BA Theater Arts) (BPEA)</li>
					<li>Bachelor of Science in Business Administration major in Human Resource Management (formerly Bachelor of Science in Human Resource Development Management) (BSBAHRM)</li>
					<li>Bachelor of Science in Business Administration major in Marketing Management (BSBA-MM)</li>
					<li>Bachelor of Science in Entrepreneurship (BSENTREP)</li>
					<li>Bachelor of Science in Office Administration (BSOA)</li>
					<li>Bachelor in Advertising and Public Relations (BADPR)</li>
					<li>Bachelor of Arts in Broadcasting (BA Broadcasting)</li>
					<li>Bachelor of Arts in Communication Research (BACR)</li>
					<li>Bachelor of Arts in Journalism (BAJ)</li>
					<li>Bachelor of Science in Computer Science (BSCS)</li>
					<li>Bachelor of Science in Information Technology (BSIT)</li>
					<li>Bachelor of Technology and Livelihood Education (BTLEd) major in:
					  <ul>
						<li>Home Economics</li>
						<li>Industrial Arts</li>
						<li>Information and Communication Technology</li>
					  </ul>
					</li>
					<li>Bachelor of Secondary Education (BSEd) major in:
					  <ul>
						<li>English</li>
						<li>Mathematics</li>
						<li>Science</li>
						<li>Filipino</li>
						<li>Social Studies</li>
					  </ul>
					</li>
					<li>Bachelor of Library and Information Science (BLIS)</li>
					<li>Bachelor of Elementary Education (BEEd)</li>
					<li>Bachelor of Early Childhood Education (BECEd)</li>
					<li>Bachelor of Science in Civil Engineering (BSCE)</li>
					<li>Bachelor of Science in Computer Engineering (BSCpE)</li>
					<li>Bachelor of Science in Electrical Engineering (BSEE)</li>
					<li>Bachelor of Science in Electronics Engineering (BSECE)</li>
					<li>Bachelor of Science in Industrial Engineering (BSIE)</li>
					<li>Bachelor of Science in Mechanical Engineering (BSME)</li>
					<li>Bachelor of Science in Railway Engineering (formerly Bachelor of Science in Railway Engineering and Management) (BSRE)</li>
					<li>Bachelor of Physical Education (BPE)</li>
					<li>Bachelor of Science in Exercises and Sports (BSESS)</li>
					<li>Bachelor of Arts in Political Science (BAPS)</li>
					<li>Bachelor of Arts in Political Economy (BAPE)</li>
					<li>Bachelor of Arts in International Studies (BAIS)</li>
					<li>Bachelor of Public Administration (BPA)</li>
					<li>Bachelor of Arts in History (BAH)</li>
					<li>Bachelor of Arts in Sociology (formerly Bachelor of Science in Sociology) (BAS)</li>
					<li>Bachelor of Science in Cooperatives (formerly Bachelor in Cooperatives) (BSC)</li>
					<li>Bachelor of Science in Economics (BSE)</li>
					<li>Bachelor of Science in Psychology (BSPSY)</li>
					<li>Bachelor of Science Food Technology (BSFT)</li>
					<li>Bachelor of Science in Applied Mathematics (BSAPMATH)</li>
					<li>Bachelor of Science in Biology (BSBIO)</li>
					<li>Bachelor of Science in Chemistry (BSCHEM)</li>
					<li>Bachelor of Science in Mathematics (BSMATH)</li>
					<li>Bachelor of Science in Nutrition and Dietetics (BSND)</li>
					<li>Bachelor of Science in Physics (BSPHY)</li>
					<li>Bachelor of Science in Statistics (formerly Bachelor in Applied Statistics) (BSSTAT)</li>
					<li>Bachelor of Science in Hospitality Management (BSHM)</li>
					<li>Bachelor of Science in Tourism Management (BSTM)</li>
					<li>Bachelor of Science in Transportation Management (formerly Bachelor in Transportation Management) (BSTRM)</li>
				  </ul>
				</li>
			  </ul>
			</li>
			<li><strong>Doctorate Degree Programs</strong>
				<ul>
					<li>Doctor of Philosophy in Communication (PhD Com)</li>
					<li>Doctor of Philosophy in Economics (PhD Econ)</li>
					<li>Doctor of Philosophy in English Language Studies (PhD ELS)</li>
					<li>Doctor of Philosophy in Filipino (PhD Fil)
						<ul>
							<li>Major in:
								<ul>
									<li>Wika</li>
									<li>Panitikan</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Doctor of Philosophy in Psychology (PhD Psy)</li>
				</ul>
			</li>
			<li><strong>Master's Degree Programs</strong>
				<ul>
					<li>Master in Applied Statistics (MAS)
						<ul>
							<li>Specializations:
								<ul>
									<li>Data Analytics</li>
									<li>Official Statistics</li>
									<li>Statistical Methods</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Master of Arts in Communication (MAC)</li>
					<li>Master of Arts in English Language Studies (MAELS)</li>
					<li>Master of Arts in Filipino (MAF)
						<ul>
							<li>Major in:
								<ul>
									<li>Wika</li>
									<li>Panitikan</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Master of Arts in Philippine Studies (MAPhilS)</li>
					<li>Master of Arts in Philosophy (MAPhilo)</li>
					<li>Master of Arts in Psychology (MAP)
						<ul>
							<li>Major in:
								<ul>
									<li>Clinical Psychology</li>
									<li>Industrial Psychology</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Master of Arts in Sociology (MASocio)</li>
					<li>Master of Science in Biology (MSBio)</li>
					<li>Master of Science in Civil Engineering (MSCE)
						<ul>
							<li>Specializations:
								<ul>
									<li>Structural Engineering</li>
									<li>Transport Engineering</li>
									<li>Geotechnical Engineering</li>
									<li>Water Resources Engineering</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Master of Science in Computer Engineering (MSCpE)
						<ul>
							<li>Specializations:
								<ul>
									<li>Applied Security and Digital Forensics</li>
									<li>Data Science and Engineering</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Master of Science in Economics (MSEcon)</li>
					<li>Master of Science in Electronics Engineering (MSEcE)
						<ul>
							<li>Specializations:
								<ul>
									<li>Artificial Intelligence and Automation</li>
									<li>Telecommunications</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Master of Science in Industrial Engineering (MSIE)</li>
					<li>Master of Science in Information Technology (MSIT)
						<ul>
							<li>Specializations:
								<ul>
									<li>Data Analytics</li>
									<li>Information Security</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Master of Science in International Tourism and Hospitality Management (MSITHM)
						<ul>
							<li>Specializations:
								<ul>
									<li>Hotel Operations</li>
									<li>Travel and Tourism Operations</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Master of Science in Mathematics (MSMath)</li>
					<li>Master of Science in Mechanical Engineering (MSME)</li>
					<li>Master of Science in Nutrition and Dietetics (MSND)</li>
					<li>Professional Science Masters in Railway Engineering Management (PSMREM)</li>
				</ul>
			</li>
			<li><strong>Graduate Diploma in Project Management (GDipPM)</strong></li>
				<li><strong>Bachelor of Technology and Livelihood Education (BTLEd) major in:</strong>
					<ul>
						<li>Home Economics</li>
						<li>Industrial Arts</li>
						<li>Information and Communication Technology</li>
					</ul>
				</li>
			<li><strong>Bachelor of Library and Information Science (BLIS)</strong></li>
				<li><strong>Bachelor of Secondary Education (BSEd) major in:</strong>
					<ul>
						<li>English</li>
						<li>Mathematics</li>
						<li>Science</li>
						<li>Filipino</li>
						<li>Social Studies</li>
					</ul>
				</li>
			<li><strong>Bachelor of Elementary Education (BEEd)</strong></li>
				<li><strong>Bachelor of Early Childhood Education (BECEd)</strong></li>
			
				<li><strong>Graduate Diploma Program</strong>
					<ul>
						<li>Graduate Diploma in Project Management (GDipPM)</li>
						<li>Bachelor of Technology and Livelihood Education (BTLEd) major in:
							<ul>
								<li>Home Economics</li>
								<li>Industrial Arts</li>
								<li>Information and Communication Technology</li>
							</ul>
						</li>
						<li>Bachelor of Library and Information Science (BLIS)</li>
						<li>Bachelor of Secondary Education (BSEd) major in:
							<ul>
								<li>English</li>
								<li>Mathematics</li>
								<li>Science</li>
								<li>Filipino</li>
								<li>Social Studies</li>
							</ul>
						</li>
						<li>Bachelor of Elementary Education (BEEd)</li>
						<li>Bachelor of Early Childhood Education (BECEd)</li>
					</ul>
				</li>
			
				<li><strong>College of Engineering (CE)</strong>
					<ul>
						<li>Bachelor of Science in Civil Engineering (BSCE)</li>
						<li>Bachelor of Science in Computer Engineering (BSCpE)</li>
						<li>Bachelor of Science in Electrical Engineering (BSEE)</li>
						<li>Bachelor of Science in Electronics Engineering (BSECE)</li>
						<li>Bachelor of Science in Industrial Engineering (BSIE)</li>
						<li>Bachelor of Science in Mechanical Engineering (BSME)</li>
						<li>Bachelor of Science in Railway Engineering (formerly Bachelor of Science in Railway Engineering and Management) (BSRE)</li>
					</ul>
				</li>
			
				<li><strong>College of Human Kinetics (CHK)</strong>
					<ul>
						<li>Bachelor of Physical Education (BPE)</li>
						<li>Bachelor of Science in Exercises and Sports (BSESS)</li>
					</ul>
				</li>
			
				<li><strong>College of Law (CL)</strong>
					<ul>
						<li>Juris Doctor (JD)</li>
					</ul>
				</li>
			
				<li><strong>College of Political Science and Public Administration (CPSPA)</strong>
					<ul>
						<li>Doctor in Public Administration (DPA)</li>
						<li>Master in Public Administration (MPA)</li>
						<li>Bachelor of Arts in Political Science (BAPS)</li>
						<li>Bachelor of Arts in Political Economy (BAPE)</li>
						<li>Bachelor of Arts in International Studies (BAIS)</li>
						<li>Bachelor of Public Administration (BPA)</li>
					</ul>
				</li>
			
				<li><strong>College of Social Sciences and Development (CSSD)</strong>
					<ul>
						<li>Bachelor of Arts in History (BAH)</li>
						<li>Bachelor of Arts in Sociology (formerly Bachelor of Science in Sociology) (BAS)</li>
						<li>Bachelor of Science in Cooperatives (formerly Bachelor in Cooperatives) (BSC)</li>
						<li>Bachelor of Science in Economics (BSE)</li>
						<li>Bachelor of Science in Psychology (BSPSY)</li>
					</ul>
				</li>
			
				<li><strong>College of Science (CS)</strong>
					<ul>
						<li>Bachelor of Science Food Technology (BSFT)</li>
						<li>Bachelor of Science in Applied Mathematics (BSAPMATH)</li>
						<li>Bachelor of Science in Biology (BSBIO)</li>
						<li>Bachelor of Science in Chemistry (BSCHEM)</li>
						<li>Bachelor of Science in Mathematics (BSMATH)</li>
						<li>Bachelor of Science in Nutrition and Dietetics (BSND)</li>
						<li>Bachelor of Science in Physics (BSPHY)</li>
						<li>Bachelor of Science in Statistics (formerly Bachelor in Applied Statistics) (BSSTAT)</li>
						<li>Bachelor of Science in Accountancy (BSA)</li>
						<li>Bachelor of Science in Computer Engineering (BSCpE)</li>
						<li>Bachelor of Science in Entrepreneurship (BSENTREP)</li>
						<li>Bachelor of Science in Hospitality Management (BSHM)</li>
						<li>Bachelor of Science in Information Technology (BSIT)</li>
						<li>Bachelor of Secondary Education major in English (BSEDEN)</li>
						<li>Bachelor of Secondary Education major in Mathematics (BSEDMT)</li>
						<li>Diploma in Office Management Technology- Legal Office Management (DOMTLOM)</li>
					</ul>
				</li>
				<li><strong>Pulilan, Bulacan (Campus)</strong>
					<ul>
						<li>Bachelor of Science in Entrepreneurship (BSENTREP)</li>
						<li>Bachelor of Public Administration major in Public Financial Management (BPAPFM)</li>
					</ul>
				</li>
			
				<li><strong>Cabiao, Nueva Ecija (Campus)</strong>
					<ul>
						<li>Bachelor in Elementary Education (BEED)</li>
						<li>Bachelor of Science in Business Administration major in Marketing Management (BSBA-MM)</li>
					</ul>
				</li>
			
				<li><strong>South Luzon, Lopez, Quezon (Branch)</strong>
					<ul>
						<li>Bachelor of Public Administration (BPA)</li>
						<li>Bachelor of Science in Accountancy (BSA)</li>
						<li>Bachelor of Science in Agricultural Business Management (BSAM)</li>
						<li>Bachelor of Science in Architecture (BS-ARCHI)</li>
						<li>Bachelor of Science in Business Administration major in Marketing Management (BSBA-MM)</li>
						<li>Bachelor of Science in Civil Engineering (BSCE)</li>
						<li>Bachelor of Science in Electrical Engineering (BSEE)</li>
						<li>Bachelor of Science in Hospitality Management (BSHM)</li>
						<li>Bachelor of Science in Information Technology (BSIT)</li>
						<li>Bachelor of Science in Office Administration (BSOA)</li>
						<li>Bachelor of Public Administration major in Public Financial Management (BPAPFM)</li>
						<li>Bachelor of Secondary Education major in Mathematics (BSEDMT)</li>
						<li>Diploma in Electrical Engineering Technology (DEET)</li>
						<li>Diploma in Information Communication Technology (DICT)</li>
						<li>Diploma in Office Management Technology (DOMT)</li>
					</ul>
				</li>
			
				<li><strong>Master of Arts in Education Management (Open University)</strong>
					<ul>
						<li>Master in Public Administration (Open University)</li>
						<li>Bachelor of Science in Information Technology (BSIT)</li>
						<li>Bachelor of Public Administration major in Public Financial Management (BPAPFM)</li>
						<li>Bachelor of Secondary Education major in English (BSEDEN)</li>
						<li>Bachelor of Secondary Education major in Mathematics (BSEDMT)</li>
					</ul>
				</li>
			
				<li><strong>Sablayan, Occidental Mindoro (Branch)</strong>
					<ul>
						<li>Master in Educational Management (MEM, Open University System)</li>
						<li>Master in Public Administration (MPA, Open University System)</li>
						<li>Bachelor in Cooperatives (BCOOP)</li>
						<li>Bachelor in Secondary Education major in Mathematics (BSEDMT)</li>
						<li>Bachelor of Science in Entrepreneurship (BSENTREP)</li>
						<li>Associate Degree Associate in Tourism Management (ATM)</li>
					</ul>
				</li>
			
				<li><strong>Biñan, Laguna (Campus)</strong>
					<ul>
						<li>Bachelor in Elementary Education (BEED)</li>
						<li>Bachelor of Science in Accountancy (BSA)</li>
						<li>Bachelor of Science in Business Administration major in Human Resource Management (BSBA-HRM)</li>
						<li>Bachelor of Science in Computer Engineering (BSCpE)</li>
						<li>Bachelor of Science in Industrial Engineering (BSIE)</li>
						<li>Bachelor of Science in Information Technology (BSIT)</li>
						<li>Bachelor of Secondary Education major in English (BSEDEN)</li>
						<li>Bachelor of Secondary Education major in Social Studies (BSEDSS)</li>
						<li>Diploma in Computer Engineering Technology (DCET)</li>
						<li>Diploma in Information Communication Technology (DICT)</li>
					</ul>
				</li>
			
				<li><strong>San Pedro, Laguna (Campus)</strong>
					<ul>
						<li>Bachelor of Science in Accountancy (BSA)</li>
						<li>Bachelor of Science in Business Administration major in Human Resource Management (BSBA-HRM)</li>
						<li>Bachelor of Science in Business Administration major in Marketing Management (BSBA-MM)</li>
						<li>Bachelor of Science in Entrepreneurship (BSENTREP)</li>
						<li>Bachelor of Science in Information Technology (BSIT)</li>
						<li>Bachelor of Secondary Education major in English (BSEDEN)</li>
						<li>Bachelor of Secondary Education major in Mathematics (BSEDMT)</li>
					</ul>
				</li>
			
				<li><strong>Sta. Rosa, Laguna (Campus)</strong>
					<ul>
						<li>Bachelor of Business Technology and Livelihood Education (BBTLE)</li>
						<li>Bachelor of Science in Accountancy (BSA)</li>
						<li>Bachelor of Science in Business Administration major in Human Resource Management (BSBA-HRM)</li>
						<li>Bachelor of Science in Business Administration major in Marketing Management (BSBA-MM)</li>
						<li>Bachelor of Science in Electronics Engineering (BS-ECE)</li>
						<li>Bachelor of Science in Industrial Engineering (BSIE)</li>
						<li>Bachelor of Science in Information Technology (BSIT)</li>
						<li>Bachelor of Science in Psychology (BSPSY)</li>
						<li>Bachelor of Secondary Education major in English (BSEDEN)</li>
						<li>Bachelor of Secondary Education major in Filipino (BSEDFL)</li>
						<li>Bachelor of Secondary Education major in Mathematics (BSEDMT)</li>
					</ul>
				</li>
			
				<li><strong>Calauan, Laguna (Campus)</strong>
					<ul>
						<li>Bachelor of Business Technology and Livelihood Education major in Home Economics (BBTLEDHE-CL)</li>
						<li>Bachelor of Science in Entrepreneurship (BSENTREP-UN)</li>
						<li>Bachelor of Science in Information Technology (BSIT)</li>
					</ul>
				</li>
		  </ul>
        <h3>Application Process</h3>
		<ol>
			<li>Go to the PUP iApply for PUPCET page (<a href="https://www.pup.edu.ph/iapply/pupcet">https://www.pup.edu.ph/iapply/pupcet</a>) and read the information provided</li>
			<li>Click Apply Now. This will take you to PUP iApply</li>
			<li>Click Register Here to create your account</li>
			<li>Read the service agreement and click the I have read... button then, on the next page, select PUPCET to begin creating an account</li>
			<li>Answer the prequalification questions to determine if you qualify for PUPCET, then click Next</li>
			<li>Fill up the registration form. Type or select the required information in the form:
				<ul>
					<li>Be sure that the information (particularly your name and date of birth) in the application is the same as indicated in your PSA birth certificate</li>
					<li>Make sure the e-mail address that you will provide in this application is active and correct. This is the e-mail address you must use in this transaction</li>
					<li>Those who have previously applied but did not pursue college studies shall create new e-mail for new application.</li>
					<li>Use a very strong password (characters, numbers, capital letters, special characters) and remember it always. You can only have one (1) account per application</li>
				</ul>
			</li>
			<li>NOTE: Any misrepresentations (or giving false/incorrect information) in your online application will automatically invalidate your admission in the University</li>
			<li>Click Submit to create your account and sign in again</li>
			<li>Upon successful signing in, you will be taken to the PUP iApply Applicant's page where you can have the following options:
				<ul>
					<li>Application Form (Here you fill up, update, or complete your application form
						<ul>
							<li>Complete your online application by typing and selecting the required information in the form</li>
							<li>Type the characters in the Digital Security Code.</li>
							<li>Type your complete name in the Digital Signature</li>
							<li>Check the Yes, I have read and understood... box</li>
							<li>Finalize Application. If you have finished updating your online application form, click this option to lock the form and submit your application for evaluation by the University Admission and Registration Services</li>
							<li>Print ePermit. If your online application form is finalized, click this option to download your system-generated ePermit and print. This printed ePermit shall be presented on your scheduled examination date. Please allow six to twenty (6-20) working days after finalizing your application to download and print your ePermit.</li>
						</ul>
					</li>
					<li>You might encounter the following messages from the system:
						<ul>
							<li>Application Successful. If you see this message, you may download your system-generated ePermit. Click Save or Open when your browser asks you. This will download your ePermit that you will print in color.</li>
							<li>Your photo or document was disapproved. If you see this message, the photo or report card you uploaded did not meet the required format:
								<ul>
									<li>Click the link provided. This will take you to the Upload page.</li>
									<li>Choose a new photo or report card with the correct format and click the Submit button. This will upload your new photo/report card to the system, which will be reviewed by an Admission Officer.</li>
									<li>Due to large number of applications, again, please allow six to twenty (6-20) working days for photo/document validation. Then sign-in to your account to check whether your application is approved.Once approved, proceed to downloading and printing of ePermit.</li>
								</ul>
							</li>
							<li>Note: To avoid inconvenience and further delays, please upload a clear scanned copy of your photo or report card in the correct format.</li>
							<li>Check PUPCET Results. This link will appear only during official release of test results. Please regularly check announcements in the PUP website on PUPCET results.</li>
							<li>Sign out. Always sign out from the PUP iApply after using it for security purposes. Use your email address and password to sign in to your account again.</li>
						</ul>
					</li>
				</ul>
			</li>
		</ol>
		<p>Contact Information:</p>
		<ul>
			<li>Email: <a href="mailto:emo@pup.edu.ph">emo@pup.edu.ph</a></li>
			<li>Telephone: (+632) 5335-1787 or 5335-1777 local 176</li>
			<li>Website: <a href="https://www.pup.edu.ph">https://www.pup.edu.ph</a></li>
			<li>University Announcement: <a href="https://www.facebook.com/share/p/EYYV6WIDJXL6tVkg/?mibextid=oFDknk">https://www.facebook.com/share/p/EYYV6WIDJXL6tVkg/?mibextid=oFDknk</a></li>
		</ul>
	</div>
</body>
</html>