<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>content_purposes</title>
</head>
<body>
    <!-- Universidad de Manila -->
	<div class="container">
		<h2>Universidad de Manila</h2>
		<p>Cecilia Muñoz-Palma cor. Antonio J. Villegas Streets, Manila, Philippines</p>
		<div class="status">
			<i class="status-icon fa fa-circle" id="status-icon"></i>
			<span id="status-text">NOT YET OPENED</span>
		</div>

		<h3>Admission Requirements</h3> <!-- Admission Requirements -->
		<h4>MUST BE:</h4>
		<ol>
			<li>Bona fide resident of Manila</li>
			<li>Graduates of 2019 (both SHS and Freshman)</li>
			<li>High School graduate on or before June 1, 2015 requires Bridging Programs for General Education</li>
			<li>Parent must be a REGISTERED VOTER OR TAXPAYER in MANILA</li>
			<li>Must be physically fit</li>
			<li>Must pass the UDM Admission Test</li>
		  </ol>

		<h4>REQUIREMENTS:</h4>
		<ol>
			<li>Fill out digital application forms at <a href="reg.udm.edu.ph/admission/college">reg.udm.edu.ph/admission/college</a> or <a href="reg.udm.edu.ph/shs">reg.udm.edu.ph/shs</a></li>
			<li>Send Copies of the following to (For incoming 1st year college):
				<ul>
					<li>admission-stem@udm.edu.ph</li>
					<li>admission-abm@udm.edu.ph</li>
					<li>admission-als@udm.edu.ph</li>
					<li>admission-ga@udm.edu.ph</li>
					<li>admission-he@udm.edu.ph</li>
					<li>admission-humss@udm.edu.ph</li>
					<li>admission-ict@udm.edu.ph</li>
					<li>admission-tvl@udm.edu.ph</li>
				</ul>
			</li>
			<li>Birth Certificate (NSO/PSO)</li>
			<li>Parents latest ITR or Voter’s I.D. or Voter’s Affidavit</li>
			<li>Report Card – with 2nd quarter grades (for the 1st Batch) certified correct by the Guidance and/or</li>
			<li>Principal with GWA of 83%</li>
			<li>Report Card – with complete grades (for the 2nd-3rd Batch)</li>
			<li>Certification of Good Moral Character</li>
			<li>2 pcs. of 1 ½ X 1 ½ colored I.D. picture with name tag (white background)</li>
			<li>For PEPT, ALS, NFEA&E –Certificate of Passing and Report Card</li>
		</ol>

		<h3>University Specialization</h3> <!-- University Specialization -->
		<ul>
			<li>Criminology and Health Sciences Programs</li>
		</ul>

        <h3>University Courses</h3> <!-- University Courses -->
		<h4>UNDERGRADUATE PROGRAMS</h4>
		<ul>
		  <li><strong>College of Engineering & Technology</strong>
			<ul>
				<li>Bachelor in Electronics Engineering</li>
				<li>Bachelor of Science in Computer Engineering</li>
				<li>Bachelor in Information Technology with Specialization in Cybersecurity</li>
				<li>Bachelor in Information Technology with Specialization in Data Science</li>
				<li>Bachelor of Science in Information Technology</li>
			</ul>
		   </li>
		  <li><strong>College of Health Sciences</strong>
			<ul>
				<li>Bachelor of Science in Nursing</li>
				<li>Bachelor of Science in Physical Therapy</li>
			</ul>
		  </li>
		  <li><strong>College of Criminal Justice</strong>
			<ul>
				<li>Bachelor of Science in Criminology</li>
			</ul>
		  </li>
		  <li><strong>College of Education</strong>
			<li>Bachelor in Physical Education Major in School of Physical Education</li>
			<li>BSED Major in English</li>
			<li>BSED Major in General Science</li>
			<li>BSED Major in Mathematics</li>
			<li>BSED Major in Social Studies</li>
			<li>BTVTE Major in Automotive (2nd-4th Year)</li>
			<li>BTVTE Major in Computer Programming Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Electrical Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Electronics Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Food Service Management Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Garments Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Hotel and Restaurant Services Technology (2nd-4th Year)</li>
			<li>BTVTE Major in Heating, Ventilation and Air Conditioning Technology (2nd-4th Year)</li>
		  </li>
		  <li><strong>College of Business Administration</strong>
			<ul>
				<li>Bachelor of Science in Accountancy</li>
				<li>Bachelor of Science in Accounting Information System</li>
				<li>BS in Business Administration Major in Economics</li>
				<li>BS in Business Administration Major in Human Resource Development Management</li>
				<li>BS in Business Administration Major in Marketing Management</li>
				<li>Bachelor of Science in Entrepreneurship</li>
			</ul>
		  </li>
		  <li><strong>College of Law</strong>
			<li>Juris Doctor</li>
		  </li>
		  <li><strong>College of Arts and Sciences</strong>
			<ul>
				<li>Bachelor of Arts in Communication</li>
				<li>Bachelor of Arts in Political Science</li>
				<li>Bachelor in Public Administration</li>
				<li>Bachelor in Public Administration – Special Program</li>
				<li>BS in Mathematics Major in Computer Science</li>
				<li>Bachelor of Science in Psychology</li>
				<li>Bachelor of Science in Social Work</li>
			</ul>
		  </li>
		  <li><strong>Institute of Graduate & Professional Studies</strong>
			<ul>
				<li>Master of Arts in Education (MAEd) major in Educational Administration</li>
				<li>Master in Business Administration (MBA)</li>
				<li>Master in Public Management and Governance (MPMG)</li>
				<li>Master of Science in Criminal Justice (MSCJ) with specialization in Criminology</li>
				<li>Doctor of Philosophy (PhD) major in Educational Policy and Administration</li>
			</ul>
		  </li>
		</ul>
		  
        <h3>Application Process</h3> <!-- Application Process -->
		<h4>PROCEDURES IN TAKING THE ADMISSION TEST</h4>
		<ol>
			<li>Wait for you examination permit on your registered email</li>
			<li>Print a copy of your examination permit</li>
			<li>Go to Universidad de Manila-Main campus on your designated room and schedule</li>
			<li>Don’t forget to bring the following:
				<ul>
					<li>Ballpen</li>
					<li>Test Permit</li>
					<li>School ID/Any valid ID/li>
					<li>Face mask, face shield, alcohol</li>
					<li>Pencil (at least 2 pcs.)</li>
				</ul>
			</li>
		</ol>

		<h3>Contact Information</h3> <!-- Contact Information -->
		<ul>
			<li>Email: 
				<ul>
					<li><a href="udmalumni.official@gmail.com">udmalumni.official@gmail.com</a></li>
					<li><a href="registrarsoffice@udm.edu.ph">registrarsoffice@udm.edu.ph</a></li>
					<li><a href="treasuryoffice@udm.edu.ph">treasuryoffice@udm.edu.ph</a></li>
				</ul>
			</li>
			<!-- <li>Telephone: </li> --> <!-- WILL FINALIZE-->
			<!-- <li>Website: <a href=""></a></li> --> <!-- WILL FINALIZE-->
			<li>University Announcement: <a href="https://www.facebook.com/UdM.Merlions?mibextid=ZbWKwL">https://www.facebook.com/UdM.Merlions?mibextid=ZbWKwL</a></li>
		</ul>
	</div>
</body>
</html>