<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PamantasanPH</title>
    <link rel="stylesheet" href="C:\Users\Jane\Documents\GitHub\PamantasanPH\code1\styles\prototype_1.css">
</head>

<body>
    <header class="header"> <!--navigation div-->
        <div class="title">
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\sw_logo\logo_1.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a class="active" href="#univs">Universities</a></li>
            </ul>
        </nav>
    </header>

    <section id="home"> <!--default 'page' div-->
        <div class="container">
            <div class="slides"> <!-- content for the first slide -->
                <h1>Discover Universities in Metro!</h1>
                <p>Lorem ipsum dolor...</p>
            </div>   
    
            <div class="slides"> <!-- content for the second slide -->
                <h1>About</h1>
                <p>Lorem ipsum dolor...</p>
            </div>
            
            <div class="slides"> <!-- content for the third slide -->
                <div class="column">
                    <h3 class="text-with-border">Mission</h3>
                    <p>Lorem ipsum dolor...</p>
                </div>
                <div class="column">
                    <h3 class="text-with-border">Vision</h3>
                    <p>Lorem ipsum dolor...</p>
                </div>
            </div> 
        
            <button class="prev" onclick="plusSlides(-1)">&#10094;</button>  <!-- swipe buttons -->
            <button class="next" onclick="plusSlides(1)">&#10095;</button>
        </div>
    </section>

    <main id="univs" class="search-bar"> <!--search bar div-->
        <div class="search">
            <div class="search-container">
                <label for="search-input" class="search-icon">
                    <i class="fas fa-search"></i>
                </label>
                <input type="text" id="search-input" class="search-input" placeholder="Search here">
                <button id="search-button" class="search-button">Search</button>
            </div>
            <div class="result-box"></div>

        <article>
            <div class="univ-info">
                <div class="univ-logo">
                    <img src="" alt="University Logo">
                </div>
                <div class="univ-details">
                    <a href="#" class="univ-name">University Name</a><p class="univ-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <span class="spacer"></span>
                    <p class="univ-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </article>
        </div>
    </main>

    <footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div>
                    <a href="https://www.facebook.com/"><img src="images\social\facebook.png" target="_blank" class="social-links" alt="Facebook"></a>
                    <a href=""><img src="" target="_blank" class="social-links" alt="Email"></a> <!--[SUGGESTION] +1 feature where user will enter their email to be updated with the faqs & updates about the web app-->
                    <a href="https://www.linkedin.com/"><img src="images\social\linkedin.png" target="_blank" class="social-links" alt="LinkedIn"></a>
                </div>
                
                <div class="newsletter"> <!--newsletter--> 
                    <h3>Stay Updated!</h3>
                    <p>Subscribe to our newsletter to receive updates and FAQs about PamantasanPH.</p>
                    <form action="subscribe.py" method="POST">
                        <label for="email">Enter your email:</label>
                        <input type="email" id="email" name="email" placeholder="Your email address" required>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>
    
    <script src="C:\Users\Jane\Documents\GitHub\PamantasanPH\code1\js\prototype.js" defer></script>
</body>
</html>