<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PamantasanPH</title>
    <link rel="stylesheet" href="C:\Users\Jane\Documents\GitHub\PamantasanPH\code1\styles\univs.css">
</head>

<body>
	<header class="header"> <!--navigation div-->
        <div class="title">
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\sw_logo\logo.png" alt="PamantasanPH" class="logo">
            <p>Pamantasan<span>PH</span></p>
        </div>
        <nav> 
            <ul id="navigation">
                <li><a id="home" href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\index.html">Home</a></li>
                <li><a id="univs" href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs.html">Universities</a></li>
                <li><a id="favs" href="#favs">Favorites</a></li> <!-- WILL FINALIZE -->
            </ul>
        </nav>
    </header>

    <h1>List of Universities</h1>
    <hr class="list">
	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\cmu.jpg" alt="City of Malabon University"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\cmu.html">City of Malabon University</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\dr.fil.jpg" alt="Dr. Filemon C. Aguilar Memorial College of Las Pinas"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\dr.fil.html">Dr. Filemon C. Aguilar Memorial College of Las Pinas</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\earist.jpg" alt="Eulogio "Amang" Rodriguez Institute of Science & Technology"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\earist.html">Eulogio "Amang" Rodriguez Institute of Science & Technology</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img"> 
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\mpc.jpg" alt="Marikina Polytechnic College"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\mpc.html">Marikina Polytechnic College</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\npc.jpg" alt="Navotas Polytechnic College"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\npc.html">Navotas Polytechnic College</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\plmar.jpg" alt="Pamantasan ng Lungsod ng Marikina"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\plmar.html">Pamantasan ng Lungsod ng Marikina</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img"> 
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\plm.jpg" alt="Pamantasan ng Lungsod ng Maynila"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\plm.html">Pamantasan ng Lungsod ng Maynila</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container"> 
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\plmun.jpg" alt="Pamantasan ng Lungsod ng Muntinlupa"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\plmun.html">Pamantasan ng Lungsod ng Muntinlupa</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\plp.jpg" alt="Pamantasan ng Lungsod ng Pasig"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\plp.html">Pamantasan ng Lungsod ng Pasig</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\plv.jpg" alt="Pamantasan ng Valenzuela"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\plv.html">Pamantasan ng Valenzuela</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\pcc.jpg" alt="Paranaque City College"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\pcc.html">Paranaque City College</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\pnu.jpg" alt="Philippine Normal University Manila"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\pnu.html">Philippine Normal University Manila</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\psca.jpg" alt="Philippine State College of Aeronautics"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\psca.html">Philippine State College of Aeronautics</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\pccm.jpg" alt="Polytechnic College of the City of Meycauayan"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\pccm.html">Polytechnic College of the City of Meycauayan</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\pup.jpg" alt="Polytechnic University of the Philippines"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\pup.html">Polytechnic University of the Philippines</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\qcu.jpg" alt="Quezon City University"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\qcu.html">Quezon City University</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\tcu.jpg" alt="Taguig City University"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\tcu.html">Taguig City University</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\tup.jpg" alt="Technological University of the Philippines"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\tup.html">Technological University of the Philippines</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\udm.jpg" alt="Universidad de Manila"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\udm.html">Universidad de Manila</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\um.jpg" alt="University of Makati"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\um.html">University of Makati</a></p>
            </div>
        </div>
    </div>

	<div class="bg-container">  
        <div class="bg-img">  
            <img src="C:\Users\Jane\Documents\GitHub\PamantasanPH\assets\bg_img\up.jpg" alt="University of The Philippines"> <!-- insert univ -->
            <div class="overlay">
                <p><a href="C:\Users\Jane\Documents\GitHub\PamantasanPH\templates\univs\up.html">University of The Philippines</a></p>
            </div>
        </div>
    </div>

	<footer> <!--footer div-->
        <div class="footerBoxes">
            <div class="footerBox">
                <h3>Privacy Policy</h3> 
                <p>PamantasanPH ensures stirct confidentiality of the user's privacy, only collecting necessary information to provide a consistent user experience. The user's privacy is protected and for reassurance, we, as the creators will not share without the consent of the user.</p>
            </div>
            <div class="footerBox"> 
                <h3>Terms of Service</h3>
                <p>By agreeing to use PamantasanPH for educational and lawful means, shall refrain from unathorized use or modification of content as PamantasanPH reserves its rights to modify content indefinitely. Other things like review session and other activities ultimately depends on the user.</p>
            </div>
            <div class="footerBox"> 
                <h3>Help and Support</h3> 
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61558938243853&mibextid=ZbWKwL"><img src="images\social\facebook.png" target="_blank" class="social-links" alt="Facebook"></a>
                    <a href=""><img src="" target="_blank" class="social-links" alt="Email"></a> <!-- WILL FINALIZE -->
                    <a href="https://www.linkedin.com/in/pamantasan-ph-1b2045307/"><img src="images\social\linkedin.png" target="_blank" class="social-links" alt="LinkedIn"></a>
                </div>
                
                <<div class="newsletter"> <!--newsletter--> <!-- WILL FINALIZE, style -->
                    <h2>Subscribe to our Newsletter!</h2>
                    <p>To be updated with all the latest news, articles, and FAQs about PamantasanPH.</p>
                    <form action="subscribe.py" method="POST">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter a valid email address" required>
                        <br>
                        <button type="submit" style="background-color: rgb(154, 40, 9); color: rgb(255, 255, 255); border-radius:4px; margin-block-start: 10px">Subscribe</button>
                    </form>
                </div>

            </div>
        </div>
        <hr class="splitter"> 
        <p class="copy-right"> &copy; 2024 PamantasanPH, All rights reserved</p> <!--copy-right-->
    </footer>

    <!-- <script>
        window.onload = function() {
            var navigation = document.getElementById("navigation");
             var links = navigation.getElementsByTagName("a");
            var currentPage = window.location.href;
    
            for (var i = 0; i < links.length; i++) {
                var href = links[i].getAttribute("href");

                if (currentPage.indexOf(href) !== -1) {
                    links[i].classList.add("active"); 
                    break; 
                }
            }
        };

        function setActive(element) {
            var navigation = document.getElementById("navigation");
            var links = navigation.getElementsByTagName("a");

            for (var i = 0; i < links.length; i++) {
                links[i].classList.remove("active");
            }

            element.classList.add("active");
        }
    </script> -->
</body>
</html>