@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root { /* global styling */
    --white: #FFFFFF; /* main color */
    --gray: #EEEEEE; /* bg color */
    --black: #000000; /* secondary color */
    --green: #39811D; /* accent color */
    --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* box shadow */
}

*, /* resets default browser styling */
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #189c33;
    color: black;
    border-radius: 10%;
   
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #ab0707;
    color: wheat;
    border-radius: 10%;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: down;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #af9b9b;
    }
  }

a {
    text-decoration: none; 
}

ol, ul, li {
    list-style: none; 
}

html {
    font-size: 62.5%; 
}

html:focus-within {
    scroll-behavior: smooth; 
}
  

img, picture {
    max-width: 100%; 
}

article, aside, footer, header, nav, section {
	display: block; 
}

/* navigation styling */

nav { /* navigation bar styles */
    display: flex;
    position: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: var(--box-shadow);
    position: fixed;
}

.logo {
    position: absolute;
    top: 16px; /* Adjust this value to change vertical position */
    left: 10px; /* Adjust this value to change horizontal position */
    height: 50px; /* Adjust this value as needed */
    width: auto;
    border-radius: 100%;
    
}

nav p { /* navigation text styles */
    font-size: 25px;
    font-weight: bold;
    color: #990909;  
    cursor: pointer;
    transition: color 0.3s ease;  
    
}


nav p span { /* navigation span styles */
    color: #000000;
    transition: color 0.3s ease;
    margin-left: 50px;
}


nav ul { /* navigation list styles */
    display: flex;
    gap: 16px; 
    font-size: 16px;
    z-index: 1; 
    margin-left: auto;  
}

nav ul li { /* navigation list item styles */
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease; 
    background-color: #FFFFFF;  
}

nav ul li:hover { /* navigation list item hover styles */
    background-color: #39811D;
    color: #FFFFFF;
}

nav ul li a { /* navigation list item anchor styles */
    color: #000000;
    font-weight: normal;
    transition: color 0.3s ease; 
}

nav ul li:hover > a { /* navigation list item anchor hover styles */
    color: #FFFFFF;
    transition: color 0.3s ease; 
}


section:nth-child(1){
    background-color: #006aff;
}

section:nth-child(2){
    background-image: url('pup-campus.jpg');
    background-size : cover;
    background-position: center left;
    
    
}

section:nth-child(3){
    background-color: #c3ff00;
}
section:nth-child(4){
    background-color: #c300ff;
}

section h1 {
    font-size: 5em;
}

section p {
    margin-top: -50px;
    line-height: 30px;
    width: 85%;
    text-align: justify;
}
* {
    box-sizing: border-box;
  }
  

.column {
    flex: 1; /* Each column takes up equal space */
    padding: 15px;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
}

.text-with-border {
    color: white; /* Set the text color */
    -webkit-text-stroke: 1px black; /* Add a black stroke around the text */
    
}

  /* Position the image container (needed to position the left and right arrows) */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    transform: translateY(70%);
    width: 30px;
    padding: 15px 0;
    margin-top: -50px;
    color: rgb(12, 2, 2);
    font-weight: bold;
    font-size: 45px;
    border-radius: 0 1x 1px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


@media only screen and (max-width: 880px) { /* responsive styles for navigation */
    nav {
        margin: 0 auto; 
    }
}

@media only screen and (max-width: 700px) { /* responsive styles for hidden navigation on small screens */
    nav ul {
        display: none; 
    }
}

/* slider section styling */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(30%);
    position: relative;
    background-color: #39811D;
    height: 25vh;
    overflow: hidden;
    margin-top: -5px;
    margin-bottom: 5px;
}

section h1 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: forestgreen;
    text-align: center;
    padding-top: 0;
    width: 100%;
    box-sizing: border-box;
    transform: translateY(50%);
}

section h3 {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 1px;
    color: #FFFFFF;
    text-align: center;
    transform: translateY(50%);
    width: 50%;
    box-sizing: border-box;
}

section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;
    color: black;
    transform: translateY(30%);
    text-align: center;
    padding-top: 5vh;
    width: 100%;
    box-sizing: border-box;
}


.additional-div {
    position: relative; /* Change from absolute to relative */
    z-index: 1; /* Ensure it's above other content */
    margin-bottom: 100px; /* Add margin to create space between the additional div and the footer */
}


body{
background-color: beige;
color: #333;
}

.search-box {
    width: 600px;
    background: #fff;
    position: fixed; /* Set position to fixed */
    top: 380px; /* Adjust as needed to position the search box */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other content */
    border-radius: 25px;
    height: 60px;
    background-color: #000000;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #ffffff;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid {
    width: 25px;
    color:white;
    font-size: 22px;
    cursor: pointer;
   
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
    margin-top: 60px; /* Adjust as needed to create space between search box and results */
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 10px 20px; /* Adjust padding for the items */
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
}

.result-box ul li:hover {
    background: #e9f3ff;
}
.result-box {
    max-height: 300px;
    overflow-y: scroll;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 12px;
}
@media only screen and (max-width: 300px) {
    .content h2 {
        font-size: 28.8px; 
    }
    
    .content p {
        font-size: 16px;
        display: none; 
    }
}


/* footer styling */

.container footer {
    position: fixed; /* Set position to fixed */
    bottom: 0; /* Align footer to the bottom */
    left: 0; /* Align footer to the left */
    width: 100%; /* Make footer full width */
    z-index: 1000; /* Ensure it's above other content */
    background-color:rgb(157, 10, 10);
    color: #000000; 
}

.container footer .footerBoxes { /* footer boxes container styles */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    padding: 0px 0;
    margin: 0px;
}

@media only screen and (max-width: 1000px) { /* responsive styles for footer boxes container */
    .container footer .footerBoxes {
        padding: 10px 0; 
    }
}

@media only screen and (max-width: 600px) { /* responsive styles for footer boxes container (mobile) */
    .container footer .footerBoxes {
        flex-direction: column; 
    }
}

.container footer .footerBoxes .footerBox { /* footer box styles */
    flex: 1;
    text-align: center; 
    flex-basis: calc(30% - 40%);
    margin: 0 20px;
}

.container footer .footerBoxes .footerBox h3 { /* footer box heading styles */
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin: 20px 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.container footer .footerBoxes .footerBox hr { /* footer box divider styles */
    height: 1px;
    width: 100%;
    background: #000000;
    border: none;
    margin-bottom: 20px; 
}

.container footer .footerBoxes .footerBox p { /* footer box text styles */
    font-size: 13px;
    color: #FFFFFF; 
    margin: 20px 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-width: 25px;
}

.container footer .splitter { /* footer splitter styles */
    height: 1px;
    width: 95%;
    margin: 20px 20px;
    background: #FFFFFF;
    border: none;
    margin-bottom: 10px; 
}

.copy-right { /* copy-right text styles */
    font-size: 10px;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    padding: 10px 10px; 
    color: #FFFFFF;
    background-color: rgb(157, 10, 10);;
    display: flex;
    align-items: center;
    justify-content: center;
}

br {
    margin-left: 10px; /* Adjust this value as needed */
}